<div class="breadcrum">
       <p>
        <a href="#">Pemeriksaan Dokter</a><span></span>
        <a href="{$config->site_url('medis/rawat_jalan/')}">Rawat Jalan</a><span></span>
        <small>Cetak Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('medis/rawat_jalan/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-info" width="100%">
        <tr class="headrow">
            <th colspan="4">Data Pasien</th>
        </tr>
        <tr>
        <td width='15%'>No RM</td>
        <td width='35%'>{$result.NO_MR}</td>
        <td width='15%'>Nama</td>
        <td width='35%'>{$result.NAMA_PASIEN|default:''}</td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>{$result.ALAMAT|default:''}</td>
        <td>Tanggal Lahir</td>
        <td>{$result.TGL_LAHIR|default:''}</td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>{if $result.JENIS_KELAMIN eq 'P'}
            Perempuan
            {else}
            Laki-Laki
            {/if}</td>
        <td></td>
        <td></td>
    </tr>
    </table>
<table class="table-info" width="100%">
        <tr class="headrow">
            <th colspan="4">Resume Pemeriksaan</th>
        </tr>
        <tr>
            <td width='15%'>Anamnesa (S)</td>
            <td width='40%'>{$medis.FS_ANAMNESA}</td>
            <td width='10%'></td>
            <td width='35%'></td>
        </tr>
         <tr>
            <td>Pemeriksaan Fisik (O)</td>
            <td>{$medis.FS_CATATAN_FISIK}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Diagnosa (A)</td>
            <td>{$medis.FS_DIAGNOSA}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Daftar Masalah</td>
            <td>{$medis.FS_DAFTAR_MASALAH}</td>
            <td></td>
            <td></td>
        </tr> 
        <tr>
            <td>Tindakan (P)</td>
            <td>{$medis.FS_TINDAKAN}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Terapi</td>
            <td>{$medis.FS_TERAPI}</td>
            <td></td>
            <td></td>
        </tr>
        
    <tr class="submit-box">
        <td colspan="4" align="center">
            <br />
            <!--<a href="javascript:void(0);" class="button-approve" onclick="window.open('{$config->site_url('medis/rawat_jalan/cetak_rm/'|cat:$result.FS_KD_REG|cat:'/'|cat:$medis.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')">
                <img src="{$BASEURL}resource/doc/images/icon/printer-icon.png"> CETAK RM
            </a>
            &nbsp;&nbsp;&nbsp
            <a class="button-approve" href="javascript:void(0);" onclick="window.open('{$config->site_url('medis/rawat_jalan/cetak_resep/'|cat:$result.FS_KD_REG|cat:'/'|cat:$medis.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')">
                <img src="{$BASEURL}resource/doc/images/icon/printer-icon.png"> CETAK RESEP
            </a>
            &nbsp;&nbsp;&nbsp;
            <a class="button-approve" href="javascript:void(0);" onclick="window.open('{$config->site_url('medis/rawat_jalan/cetak_skdp/'|cat:$result.FS_KD_REG|cat:'/'|cat:$medis.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')">
                <img src="{$BASEURL}resource/doc/images/icon/printer-icon.png"> CETAK SKDP
            </a>
            &nbsp;&nbsp;&nbsp;
            <a class="button-approve" href="javascript:void(0);" onclick="window.open('{$config->site_url('medis/rawat_jalan/cetak_prb/'|cat:$result.FS_KD_REG|cat:'/'|cat:$medis.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')">
                <img src="{$BASEURL}resource/doc/images/icon/printer-icon.png"> CETAK PRB
            </a>-->
            <br />
            <br />
        </td>
    </tr>
</table>