<script>
    tinymce.init({
    selector: "textarea",
            theme: "modern",
            plugins: [
            ],
            external_plugins: {
//"moxiemanager": "/moxiemanager-php/plugin.js"
            },
            content_css: "css/development.css",
            add_unload_trigger: false,
            toolbar: "bold italic",
            image_advtab: true,
            setup: function (ed) {
            /*ed.on(
             'Init PreInit PostRender PreProcess PostProcess BeforeExecCommand ExecCommand Activate Deactivate ' +
             'NodeChange SetAttrib Load Save BeforeSetContent SetContent BeforeGetContent GetContent Remove Show Hide' +
             'Change Undo Redo AddUndo BeforeAddUndo', function(e) {
             console.log(e.type, e);
             });*/
            },
            spellchecker_callback: function (method, data, success) {
            if (method == "spellcheck") {
            var words = data.match(this.getWordCharPattern());
                    var suggestions = {};
                    for (var i = 0; i < words.length; i++) {
            suggestions[words[i]] = ["First", "second"];
            }

            success();
            }

            if (method == "addToDictionary") {
            success();
            }
            }
    });</script>
<div class="breadcrum">
    <p>
        <a href="#">Catatan Rawat Inap</a><span></span>
        <a href="{$config->site_url('inap/hhc/')}">HHC</a><span></span>
        <small>Add Evaluasi</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('inap/hhc/add_evaluasi_process')}" method="post">
        <input name="FS_KD_TRS" type="hidden" value="{$FS_KD_TRS}"/>
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Add HHC</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.fs_mr}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
        </table>
        <div class="notification red">
            <p><strong>High Risk :</strong> {$rs_pasien.FS_HIGH_RISK|default:'-'} </p>
            <p><strong>Alergi :</strong> {$rs_pasien.FS_ALERGI|default:'-'} ({$rs_pasien.FS_REAK_ALERGI|default:'-'})</p>
            <div class="clear"></div>
        </div>
        <table class="table-input" width="100%">
            <tr>
                <th colspan="2">Tambah Data</th>
            </tr>
            <tr>
                <td width="25%">Tindakan</td>
                <td width="75%">
                    <textarea rows="2" cols="50" name="FS_NM_TINDAKAN">
Akidah :  <br>
Akhlak :  <br>
Ibadah :  <br>
Muammalah :  <br>
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>Evaluasi</td>
                <td>
                    <textarea rows="2" cols="50" name="FS_NM_EVALUASI">
                        Akidah :  <br>
Akhlak :  <br>
Ibadah :  <br>
Muammalah :  <br>
                    </textarea>
                </td>
            </tr>
            <tr class="submit-box">
                <td colspan="2">
                     <div style="font-weight: bold;">
                    *Bismillahirohmanirrohim, saya dengan sadar dan penuh tanggung jawab mengisikan formulir ini dengan data yang benar
                </div>
                <br>
                    <input type="submit" name="save" value="Simpan" class="edit-button" >
                </td>
            </tr>
        </table>
    </form>
</div>