<!-- include javascript -->
{include file="inap/cppt/add_script_js.html"}
<!-- end of include javascript-->
<script>
    tinymce.init({
    selector: "textarea",
            theme: "modern",
            plugins: [
            ],
            external_plugins: {
//"moxiemanager": "/moxiemanager-php/plugin.js"
            },
            content_css: "css/development.css",
            add_unload_trigger: false,
            toolbar: "bold italic",
            image_advtab: true,
            setup: function (ed) {
            /*ed.on(
             'Init PreInit PostRender PreProcess PostProcess BeforeExecCommand ExecCommand Activate Deactivate ' +
             'NodeChange SetAttrib Load Save BeforeSetContent SetContent BeforeGetContent GetContent Remove Show Hide' +
             'Change Undo Redo AddUndo BeforeAddUndo', function(e) {
             console.log(e.type, e);
             });*/
            },
            spellchecker_callback: function (method, data, success) {
            if (method == "spellcheck") {
            var words = data.match(this.getWordCharPattern());
                    var suggestions = {};
                    for (var i = 0; i < words.length; i++) {
            suggestions[words[i]] = ["First", "second"];
            }

            success();
            }

            if (method == "addToDictionary") {
            success();
            }
            }
    });</script>
<div class="breadcrum">
    <p>
        <a href="#">Catatan Rawat Inap</a><span></span>
        <a href="{$config->site_url('inap/cppt/')}">CPPT</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('inap/cppt/edit_process')}" method="post">
        <input name="FS_KD_TRS" type="hidden" value="{$result.FS_KD_TRS}" />
        <input name="FS_KD_REG" type="hidden" value="{$result.FS_KD_REG}" />

        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Add CPPT</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.fs_mr}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr>
                <th colspan="4">CPPT</th>
            </tr>
            <tr>
                <td>S / A</td>
                <td>
                    <textarea name="FS_CPPT_S" rows="3" cols="75">{$result.FS_CPPT_S}</textarea>
                </td>
                <td>O / D</td>
                <td>
                    <textarea name="FS_CPPT_O" rows="3" cols="75">{$result.FS_CPPT_O}</textarea>
                </td>
            </tr>
            <tr>
                <td>A / I</td>
                <td>
                    <textarea name="FS_CPPT_A" rows="3" cols="75">{$result.FS_CPPT_A}</textarea>
                </td>
                <td>P / ME</td>
                <td>
                    <textarea name="FS_CPPT_P" rows="3" cols="75">{$result.FS_CPPT_P}</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Resep</td>
                <td>
                    <textarea name="FS_CPPT_TERAPI" rows="3" cols="75">{$result.FS_CPPT_TERAPI}</textarea>
                </td>
            </tr>

            <tr class="submit-box">
                <td colspan="4">
                    <input type="submit" name="save" value="Edit" class="edit-button"/>
                </td>
            </tr>
        </table>
    </form>
</div>