<!-- include javascript -->
{include file="mutu/reaksi/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Mutu</a><span></span>
        <a href="{$config->site_url('mutu/reaksi/cari')}">Laporan Kejadian Reaksi</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('mutu/reaksi/edit_process')}" method="post">
        <input type="hidden" name="FS_KD_TRANS_DARAH" value="{$result.FS_KD_TRANS_DARAH}"/>
                <input name="FS_KD_REG" type="hidden" value="{$result.FS_KD_REG}" />

        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Identitas Pasien</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$result.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$result.fs_mr}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$result.FD_TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$result.FS_ALM_PASIEN}</td>
            </tr>
            <tr>
                <td>TANGGAL MASUK</td>
                <td>{$result.fd_tgl_masuk|date_format:"%d %b %Y"}</td>
            </tr>
            <tr>
                <td>TANGGAL KELUAR</td>
                <td>{$result.fd_tgl_keluar|date_format:"%d %b %Y"}</td>
            </tr>
            <tr>
                <td>LAYANAN AKHIR</td>
                <td>
                    {$result.layanan_akhir}
                </td>
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Laporan Kejadian Reaksi</th>
            </tr>
            <tr>
                <td>Kejadian Reaksi</td>
                <td colspan="2">
                    <select name="FS_KEJADIAN_REAKSI" id="surat_dari" class="select2" style="width: 400px;">
                        <option value=""></option>
                        <option value="1" {if {$result.FS_KEJADIAN_REAKSI} eq '1'}selected="selected"{/if}>KEJADIAN REAKSI TRANSFUSI DARAH</option>
                        <option value="2" {if {$result.FS_KEJADIAN_REAKSI} eq '2'}selected="selected"{/if}>KEJADIAN REAKSI OBAT</option>
                        <option value="3" {if {$result.FS_KEJADIAN_REAKSI} eq '3'}selected="selected"{/if}>KEJADIAN REAKSI SEDASI MODERATE ATAU DALAM</option>
                        <option value="4" {if {$result.FS_KEJADIAN_REAKSI} eq '4'}selected="selected"{/if}>KEJADIAN REAKSI ANESTESI</option>
                    </select>
                    <em>* wajib diisi</em>
                </td>
            </tr>
            <tr>
                <td>Tanggal Kejadian</td>
                <td>
                    <input name="FD_TGL_KEJADIAN" type="text" size="10" maxlength="10" value="{$result.FD_TGL_KEJADIAN|default:''}" class="tanggal" readonly="readonly" style="text-align: center;" />
                    <em>* wajib diisi</em>
                </td>
            </tr>
            <!--<tr>
                <td>Nama Pasien</td>
                <td colspan="2">
                     <select name="FS_KD_REG" id="surat_dari" class="select2" style="width: 400px;">
                        <option value=""></option>
                        {foreach from=$rs_pasien item=data}
                        <option value="{$data.fs_kd_reg}"{if {$result.FS_KD_REG} eq {$data.fs_kd_reg}}selected="selected"{/if}>{$data.fs_mr}-{$data.fs_nm_pasien}</option>
                        {/foreach}
                    </select>
                    <em>* wajib diisi</em>
                </td>
            </tr>-->
            <tr>
                <td>Nama Obat</td>
                <td><textarea cols="50" name="FS_NM_OBAT">{$result.FS_NM_OBAT}</textarea></td>
            </tr>
            <tr>
                <td>Efek Yang Timbul</td>
                <td><textarea cols="50" name="FS_JENIS_REAKSI">{$result.FS_JENIS_REAKSI}</textarea></td>
            </tr>
            <tr>
                <td>Tindak Lanjut</td>
                <td><textarea cols="50" name="FS_TINDAKAN_TRANS">{$result.FS_TINDAKAN_TRANS}</textarea></td>
            </tr>
            <tr>
                <td>Kesudahan Efek</td>
                <td><textarea cols="50" name="FS_ANALISIS">{$result.FS_ANALISIS}</textarea></td>
            </tr>
            <tr class="submit-box">
                <td colspan="2">
                    <input type="submit" name="save" value="Edit" class="edit-button" />
                </td>
            </tr>
        </table>
    </form>
</div>