<!-- include javascript -->
{include file="mutu/reaksi/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Farmasi</a><span></span>
        <a href="{$config->site_url('mutu/reaksi/cari')}">Laporan Kejadian Reaksi</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('mutu/reaksi/')}" class="active">Add Data</a></li>
            <li><a href="{$config->site_url('mutu/reaksi/lap_rekap')}">Rekap Data</a></li>
            <li><a href="{$config->site_url('mutu/reaksi/lap_detil')}">Detil Data</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <div class="search-box">
        <h3><a href="#">Search</a></h3>
        <form action="{$config->site_url('mutu/reaksi/cari_process')}" method="post">
            <table class="table-search" width="100%">
                <tr>
                    <th width="10%">NO MR</th>
                    <td width="10%">
                        <input type="text" size="15" name="FS_MR">
                    </td>
                    <td width="80%">
                        <input name="save" type="submit" value="Tampilkan" />
                        <input name="save" type="submit" value="Reset" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>