<!-- include javascript -->
{include file="inap/hhc/add_script_js.html"}
<!-- end of include javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        score();
        $("#op1").change(function () {
            var sc = $(this).val();
            $("#sc1").html(sc);
            score();
        });
        $("#op2").change(function () {
            var sc = $(this).val();
            $("#sc2").html(sc);
            score();
        });
        $("#op3").change(function () {
            var sc = $(this).val();
            $("#sc3").html(sc);
            score();
        });
        $("#op4").change(function () {
            var sc = $(this).val();
            $("#sc4").html(sc);
            score();
        });
        $("#op5").change(function () {
            var sc = $(this).val();
            $("#sc5").html(sc);
            score();
        });
        $("#op6").change(function () {
            var sc = $(this).val();
            $("#sc6").html(sc);
            score();
        });
    });
</script>
<script type="text/javascript">
    function score() {
        var sc = parseInt($("#sc1").text()) + parseInt($("#sc2").text()) + parseInt($("#sc3").text());
        $("#totalsc").html(sc);
        if (sc >= 1 && sc <= 8) {
            var scd = parseInt($("#sc4").text()) + parseInt($("#sc5").text()) + parseInt($("#sc6").text()) ;
            $("#totalscd").html(scd);
            if (scd >= 1 && scd <= 8) {
                $("#rjtkesimpulan").html("SORROW <br><br>Pasien yang mengalami masalah pada aspek penghayatan psikologi (Acceptance) maupun spiritual (Obedient)<br><br>Intervensi :<br><br>-Relaksasi<br>-Mengembangkan Kesadaran diri<br>-Bimbingan Ibadah<br>-Pendalaman agama");
            } else if (scd >= 9) {
                $("#rjtkesimpulan").html("REVIVE <br><br> Pasien yang tidak mengalami masalah pada aspek penghayatan psikologi (Acceptance) namun mengalami masalah spiritual (Obedient)<br><br>Intervensi :<br><br>-Relaksasi<br>-Mengembangkan Kesadaran diri");
            }
        }else{
           var scd = parseInt($("#sc4").text()) + parseInt($("#sc5").text()) + parseInt($("#sc6").text());
            $("#totalscd").html(scd);
            if (scd >= 1 && scd <= 8) {
                $("#rjtkesimpulan").html("GUIDE <br><br> Pasien yang mengalami masalah pada aspek penghayatan psikologi (Acceptance) dan tidak mengalami masalah spiritual (Obedient)<br><br>Intervensi :<br><br>-Bimbingan Ibadah<br>-Motivasi doa<br>-Pendalaman agama");
            } else if (scd >= 9){
                $("#rjtkesimpulan").html("NIRVANA <br><br> Pasien yang tidak mengalami masalah pada aspek penghayatan psikologi (Acceptance) dan tidak mengalami masalah spiritual (Obedient)<br><br>Intervensi :<br><br>-Pengaturan motivasi");
            }
        }
    }
</script>
<div class="breadcrum">
    <p>
        <a href="#">Catatan Rawat Inap</a><span></span>
        <a href="{$config->site_url('inap/hhc/')}">HHC</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('inap/hhc/add_process')}" method="post">
        <input name="FS_KD_REG" id="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />

        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Add HHC</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.fs_mr}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
        </table>
        <div class="notification red">
            <p><strong>High Risk :</strong> {$rs_pasien.FS_HIGH_RISK|default:'-'} </p>
            <p><strong>Alergi :</strong> {$rs_pasien.FS_ALERGI|default:'-'} ({$rs_pasien.FS_REAK_ALERGI|default:'-'})</p>
            <div class="clear"></div>
        </div>
        <table class="table-input" width="101%">
            <tr>
                <td><b>ASSESMENT AWAL</b></td>
            </tr>
            <tr>
                <td width='20%'>Apa yg dipikirkan oleh bapak/ibu/saudara saat ini? </td>
                <td width='30%'>
                    <select name="FS_PARAM_1" class="select2" style="width: 250px;">
                        <option value="">--Pilih Data--</option>
                        <option value="1">Sakit</option>
                        <option value="2">Masalah Lingkungan keluarga</option>
                        <option value="3">Anak &amp; Keluarga yg belum membesuk</option>
                        <option value="4">Biaya</option>
                    </select>
                </td>
                <td width='20%'>Kesimpulan</td>
                <td width='30%' rowspan="4"><b><span id="rjtkesimpulan"></span></b></td>
            </tr>
            <tr>
                <td><b>ACCEPTANCE</b></td>
            </tr>
            <tr>
                <td>Bagaimana anggapan/pandangan bapak/ibu/saudara terhadap sakit yang diderita?</td>
                <td>
                    <select name="FS_PARAM_2" class="select2" style="width: 250px;" id="op1">
                        <option value="">--Pilih Data--</option>
                        <option value="1">Sakit sebagai hal biasa</option>
                        <option value="2">Sakit sebagai ketidak adilan Allah</option>
                        <option value="3">Sakit sebagai takdir, bukan kutukan, bukan guna-guna</option>
                        <option value="4">Sakit sebagai cobaan, peringatan & rahmat</option>
                    </select>
                    <span id="sc1"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Bagaimana perasaan  bapak/ibu/saudara terhadap sakit?</td>
                <td>
                    <select name="FS_PARAM_3" class="select2" style="width: 250px;" id="op2">
                        <option value="">--Pilih Data--</option>
                        <option value="1">Tidak menerima</option>
                        <option value="2">Marah</option>
                        <option value="3">Sedih</option>
                        <option value="4">Menerima</option>
                    </select>
                    <span id="sc2"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Bagaimana pendangan  bapak/ibu/saudara terhadap masa depan?</td>
                <td>
                    <select name="FS_PARAM_4" class="select2" style="width: 250px;" id="op3">
                        <option value="">--Pilih Data--</option>
                        <option value="1">Pesimis</option>
                        <option value="2">Diam</option>
                        <option value="3">Optimis tapi ragu dgn kondisi sakit</option>
                        <option value="4">Optimis karena Allah</option>
                    </select>
                    <span id="sc3"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><b>OBEDIENT</b></td>
            </tr>
            <tr>
                <td>Bagaimana ibadah bapak/ibu/saudara selama sehat dan sakit?</td>
                <td>
                    <select name="FS_PARAM_5" class="select2" style="width: 250px;" id="op4">
                        <option value="">--Pilih Data--</option>
                        <option value="1">Tidak pernah sholat baik sehat atau sakit</option>
                        <option value="2">Kadang sholat, kadang tidak</option>
                        <option value="3">Sholat saat sehat / Tidak saat sakit</option>
                        <option value="4">Selalu sholat baik sehat maupun sakit</option>
                    </select>
                    <span id="sc4"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hal apa yg bisa membantu mencapai kesembuhan bapak/ibu/saudara?</td>
                <td>
                    <select name="FS_PARAM_6" class="select2" style="width: 250px;" id="op5">
                        <option value="">--Pilih Data--</option>
                        <option value="1">Tidak tau</option>
                        <option value="2">Motivasi keluarga</option>
                        <option value="3">Dokter</option>
                        <option value="4">Usaha, doa dan dukungan dari semua pihak</option>
                    </select>
                    <span id="sc5"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Apa makna agama bagi bapak/ibu/saudara?</td>
                <td>
                    <select name="FS_PARAM_7" class="select2" style="width: 250px;" id="op6">
                        <option value="">--Pilih Data--</option>
                        <option value="1">Tidak Ada</option>
                        <option value="2">Tidak Adil</option>
                        <option value="3">Mengikat dan mengatur</option>
                        <option value="4">Melindungi penuh kasih sayang</option>
                    </select>
                    <span id="sc6"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <!--<tr>
                <td><b>INTERVENSI</b></td>
                <td>
                     <select name="tujuan[]" multiple id="tujuan" style="width:300px">
                            <option></option>
                    </select>
                </td>
            </tr>-->
            <tr class="submit-box">
                <td colspan="4">
                    <div style="font-weight: bold;">
                        *Bismillahirohmanirrohim, saya dengan sadar dan penuh tanggung jawab mengisikan formulir ini dengan data yang benar
                    </div>
                    <br>
                    <input type="submit" name="save" value="Simpan" class="edit-button"/>
                </td>
            </tr>
        </table>
    </form>
    
    <table class="table-view" width="100%">
    <tr class="headrow">
        <th colspan="6">List Data Asesmen HHC</th>
    </tr>
    <tr>
        <th width="7%">Tanggal</th>
        <th width="12%">Asesmen Awal</th>
        <th width="25%">Deskripsi</th>
        <th>Intervensi</th>
        <th>Implementasi dan Evaluasi</th>
        <th width="7%">Aksi</th>
    </tr>
    {foreach $rs_result as $data}
    <!--{assign var=rs_intervensi value=$m_hhc->get_hhc_intervensi_by_id(array($data.FS_KD_TRS))}
    {assign var=rs_evaluasi value=$m_hhc->get_hhc_evaluasi_by_id(array($data.FS_KD_TRS))}-->
    <tr>
        <td>{$data.mdd_date}/{$data.mdd_time|date_format:'%H:%M'}</td>
        <td>
            {if $data.FS_PARAM_1 eq '1'}
            Sakit
            {elseif $data.FS_PARAM_1 eq '2'}
            Masalah Lingkungan keluarga
            {elseif $data.FS_PARAM_1 eq '3'}
            Anak &amp; Keluarga yg belum membesuk
            {elseif $data.FS_PARAM_1 eq '4'}
            Biaya
            {/if}
        </td>
        <td>
            
            {assign var="hhc" value="{$data.FS_PARAM_2+$data.FS_PARAM_3+$data.FS_PARAM_4}"}
            {assign var="hhc2" value="{$data.FS_PARAM_5+$data.FS_PARAM_6+$data.FS_PARAM_7}"}
            {if $hhc >= 1 && $hhc <= '8'}
                {if $hhc > 0 && $hhc2 <= '8'}
                SORROW <br><br> 
                Pasien yang mengalami masalah pada aspek penghayatan psikologi (Acceptance) maupun spiritual (Obedient)
                {elseif $hhc >= '9'}
                REVIVE <br><br> Pasien yang tidak mengalami masalah pada aspek penghayatan psikologi (Acceptance) namun mengalami masalah spiritual (Obedient)
                {/if}
            {else}
                {if $hhc >= 1 && $hhc2 <= '8'}
                GUIDE <br><br> Pasien yang mengalami masalah pada aspek penghayatan psikologi (Acceptance) dan tidak mengalami masalah spiritual (Obedient)
                {elseif $hhc >= '9'}
                NIRVANA <br><br> Pasien yang tidak mengalami masalah pada aspek penghayatan psikologi (Acceptance) dan tidak mengalami masalah spiritual (Obedient)
                {/if}
            {/if}
        </td>
        <td>
              {if $hhc >= 1 && $hhc <= '8'}
                {if $hhc > 0 && $hhc2 <= '8'}
                -Relaksasi<br>
                -Mengembangkan Kesadaran diri<br>
                -Bimbingan Ibadah<br>
                -Pendalaman agama
                {elseif $hhc >= '9'}
                -Relaksasi<br>
                -Mengembangkan Kesadaran diri
                {/if}
            {else}
                {if $hhc >= 1 && $hhc2 <= '8'}
                -Bimbingan Ibadah<br>
                -Motiasi doa<br>
                -Pendalaman agama
                {elseif $hhc >= '9'}
                 -Pengaturan Motivasi
                {/if}
            {/if}
        </td>
        <td>
             {foreach $rs_evaluasi as $data3}
            Tanggal  : {$data3.mdd_date}/{$data3.mdd_time|date_format:'%H:%M'}<br> 
            Tindakan : {$data3.FS_NM_TINDAKAN}<br>
            Evaluasi : {$data3.FS_NM_EVALUASI}<br>
            Petugas : {$data3.FS_NM_PEG}<br><hr>
            {/foreach}
        </td>
        <td>
            <a href="{$config->site_url('inap/hhc/add_evaluasi/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}" class="button-edit" title="Add">Evaluasi</a>
                    
           <!-- <a href="" id="opendialogpengirim" style="font-size: 12px;" data="{}"><img src="{$BASEURL}/resource/doc/images/icon/add-icon.png" style="height:15px;" alt="Tambah Diagnosis" />Evaluasi</a>  
            <a href="{$config->site_url('inap/cppt/delete_process/'|cat:$cppt.FS_KD_REG|cat:'/'|cat:$cppt.FS_KD_TRS)}" onclick="return confirm('Apakah Anda Yakin Akan Menghapus?');" class="button-hapus">Hapus</a> --> 
        </td>
    </tr>
    {/foreach}
    </table>