
<div class="breadcrum">
    List Data BHP OK
        <div class="clear"></div>
    </div>
    
    <div class="navigation">
        <div class="pageRow">
            <div class="pageNav">
                <ul>
                    <li class="info"></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="navigation-button">
         <!--    <ul>
                <li><a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/resume/'|cat:$result.NO_MR)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> Resume Rawat Jalan</a></li>
            </ul> -->
        </div>
        <div class="clear"></div>
    </div>
    <table class="table-view" width="100%" border="0">
        <thead>
            <tr>
                <th width='10%'>Kode Register</th>
                <th>NO MR</th>
                <th>Nama Pasien</th>
                <th>Alamat</th>
                <th>Nama Operasi</th>
                <th>Tanggal Operasi</th>
                <th>Dokter</th>
                <th width='7%'>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$listbhp item=data}
        <tr>
            <td>{$data.FS_KD_REG}</td> 
            <td>{$data.No_MR}</td> 
            <td>{$data.Nama_Pasien}</td> 
            <td>{$data.Alamat}</td> 
            <td>{$data.nmtindakan}</td> 
            <td>{$data.TGL_OP}</td> 
            <td>{$data.Nama_Dokter}</td> 
            <td>
                <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_alat_habis_pakai2/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.idoperasi|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
         </td>
        </tr>
    {/foreach}
    </tbody>
    </table>
    