 
 
 
<!-- notification template --> 
<!-- end of notification template-->
 


 
    <input type="hidden" name="FS_KD_REG" value="{$FS_KD_REG}" />
<!--     <input type="hidden" name="FS_KD_REG" value="{$FS_KD_REG2}" /> -->
    <input type="hidden" name="FS_KD_LAYANAN" value="{$result.SPESIALIS}" />
    <input type="hidden" name="FS_KD_PETUGAS_MEDIS" value="{$result.KODE_DOKTER}" />
    <input type="hidden" name="FS_MR" value="{$result.NO_MR}" />
    {foreach from=$rs_pasien item=result}
    <table class="table-info" width="100%" style="font-size: 14px;">
        <tr class="headrow">
            <th colspan="4">Data Pasien</th>
        </tr>
        <tr>
            <td width='15%'>Kode Reg</td>
            <td>{$result.NO_REG|default:''}</td>
            <td width='15%'>Nama operasi</td>
            <td width='35%'>{$rs_op.nmtindakan}</td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>{$result.NAMA_PASIEN|default:''}</td>
            <td>Alamat</td>
            <td>{$result.ALAMAT|default:''}</td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td>{$result.TGL_LAHIR|default:''}</td>
            <td>Jenis Kelamin</td>
            <td>
                {if $result.JENIS_KELAMIN eq 'P'}
                Perempuan
                {else}
                Laki-Laki
                {/if}
            </td>
        </tr>
      
    </table> 
    {/foreach}
  

    <table class="table-view" width="100%" border="0" style="font-size: 14px;">
        <thead>
            <tr>
                <th WIDTH="4%">No</th>
                <th WIDTH="44%">Nama Berkas</th> 
                <th WIDTH="34%">Aksi</th> 
                <th></th> 
            </tr>
        </thead>
        <tbody>
             
            
          <tr>
                <td>1</td>
                <td>      Data Umum Pra Operasi   </td>  
                <td>
                   
                    {if $rolenya eq 'Perawat OK'||$rolenya eq 'Perawat Anestesi'} 
                    <a href="{$config->site_url('op/umumpra/edit/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                    {/if}
               
                    {if $cek_umum_pra neq 0}
                    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_data_umum_pra2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                    {/if}
                </td> </tr>
           <tr>
                <td>2</td>
                <td>     Asuhan Keperawatan Peri Operatif  </td>  
                <td>   {if $rolenya eq 'Perawat OK'||$rolenya eq 'Perawat Anestesi'} 
                       <a href="{$config->site_url('op/asuhan/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                       {/if}

                       {if $cek_askep neq 0}
                       <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_asuhan_kep_op2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                       {/if}
                  
                   </td> </tr>
    
        <tr>
            <td>3</td>
            <td>    Check List keselamtan Operasi
            </td>  
            <td>   {if $rolenya eq 'Perawat OK'||$rolenya eq 'Perawat Anestesi'} 
                   <a href="{$config->site_url('op/checklist/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                   {/if}

                   {if $cek_checklist neq 0}
                   <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_checklist2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                   {/if}
              
               </td> </tr>
     
            <tr>
            <td>4</td>
            <td>     Asesmen Pra Anestesi
            </td>  
            <td>    {if $username eq '130'} 
                   <a href="{$config->site_url('op/praanestesi/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                   {/if}
              
                   {if $cek_ases_pra_anes neq 0}
                   <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_ases_pra_anes2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                   {/if}
               </td> </tr> 
     
            <tr>
            <td>5</td>
            <td>       Asesmen Pra Bedah
            </td>  
            <td>   
                 {if $rolenya eq 'Dokter' && $username neq '130'} 
                <a href="{$config->site_url('op/prabedah/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                {/if}

                {if $rolenya eq 'Perawat OK'} 
                <a href="{$config->site_url('op/prabedah/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                {/if}
                

                
                {if $cek_ases_pra_op neq 0}
                <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_ases_pra_bedah2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                {/if}
            </td> </tr>

      <tr>
            <td>6</td>
            <td>     Laporan Anestesi
            </td>  
            <td> 
                <form method="post" id="make_pdf" action="{$config->site_url('op/jadwal/create_pdf')}">
                    <input type="hidden" name="hidden_html" id="hidden_html"/> 
                

                    {if $username eq '130'||$rolenya eq 'Perawat Anestesi'}  
                    <a href="{$config->site_url('op/laporananes/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                    {/if}
                    
                    {if $cek_lap_anes neq 0}
                    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_lap_anes2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                    {/if}
    
                    <a href="{$config->site_url('op/jadwal/entry_progress/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Grafik Anestesi</a>
                    <a href="{$config->site_url('op/jadwal/entry_rr/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Recovery Room</a>
                 
                    <!-- <button type="button" name="create_pdf" class="button-edit" id="create_pdf" >Grafik</button> -->

                </form>
              
             

            </td> </tr>

     <tr>
            <td>7</td>
            <td>      Laporan Operasi
            </td>  
            <td>    {if $rolenya eq 'Dokter' && $username neq '130'} 
                <a href="{$config->site_url('op/laporan/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                {/if}
                
                {if $cek_lap_op neq 0}
                <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_lap_op2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                {/if}
            </td> </tr>

     <tr>
            <td>8</td>
            <td>   Rencana Medis Pra Operasi
            </td>  
            <td>  {if $rolenya eq 'Dokter' && $username neq '130'} 
                <a href="{$config->site_url('op/pascabedah/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                {/if}

                {if $cek_rencana_post_op neq 0}
                <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_rencana_medis_post_op2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                {/if}
                
            </td> </tr>
                
            
    <tr>
            <td>9</td>
            <td>   Data Umum Post Operasi
            </td>  
            <td>    {if $rolenya eq 'Perawat OK'||$rolenya eq 'Perawat Anestesi'} 
                <a href="{$config->site_url('op/umumpost/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                {/if}
                
                {if $cek_umum_post neq 0}
                <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_data_umum_post2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                {/if}
            </td> </tr>
                   
      <tr>
            <td>10</td>
            <td>     Pemakaian Alat Habis Pakai
            </td>  
            <td>  {if $rolenya eq 'Perawat OK'||$rolenya eq 'Perawat Anestesi'} 
                <a href="{$config->site_url('op/alatpakai/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                {/if}

                {if $cek_alat_habis_pakai neq 0}
                <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_alat_habis_pakai2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                {/if}
                
            </td> </tr>


            <tr>
                <td>11</td>
                <td>     Pemantauan Anestesi Lokal
                </td>  
                <td>   
                    <a href="{$config->site_url('op/anestesi_lokal/detail/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}" class="button-edit">Entry</a>
                   
    
                    {if $cek_anestesi_lokal neq 0}
                    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_alat_habis_pakai2/'|cat:$FS_RG|cat:'/'|cat:$id|default:'')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download"> Cetak </a>
                    {/if}
                    
                   
                    
                </td> </tr>

        </tbody>
        </table>
        <script>
            $(document).ready(function(){
                $('#create_pdf').click(function(){
                    $('#hidden_html').val($('#chart').html());
                    $('#make_pdf').submit();
                    // alert($('#hidden_html'));
                });
            });
        </script>