{include file="inap/konsul_medis/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Catatan Rawat Inap</a><span></span>
        <small>Konsul Medis</small>
    </p>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="head-content">
            <div class="head-content-nav">
                <ul>
                    <li><a href="{$config->site_url('inap/konsul_medis')}" class="active">Permintaan Konsultasi</a></li>
                    <li><a href="{$config->site_url('inap/konsul_medis/jawaban')}">Jawaban Konsultasi</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
<div class="dashboard-container">
    <table class="table-view" width="100%" border="0">
        <thead>
            <tr>
                <th width='5%'>Nomor</th>
                <th>No MR</th>
                <th>Nama Pasien</th>
                <th>Alamat</th>
                <th>Bed</th>
                <th>Status</th>
                <th width='11%'>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$rs_pasien item=data}
            
            <tr {if ($no++ % 2) <> 1}class="blink-row"{/if}>
                <td>{$no2++}</td>
                <td>{$data.fs_mr}</td>
                <td>
                    {$data.fs_nm_pasien}
                </td>
                <td>{$data.fs_alm_pasien}</td> 
                <td>{$data.fs_nm_bed}</td> 
                <td>
                    {if $data.FS_STATUS eq '0'}
                    <img src="{$BASEURL}resource/doc/images/icon/icon.waiting.png" alt="" />
                    Terkirim
                    {elseif $data.FS_STATUS eq '1'}
                     <img src="{$BASEURL}resource/doc/images/icon/icon.approve.png" alt="" />
                     Jawab
                    {/if}
                </td> 
                <td>
                    <a href="{$config->site_url('inap/konsul_medis/add/'|cat:$data.fs_kd_reg)}" class="button-edit">Konsultasi</a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>
