<script type="text/javascript">
    $(document).ready(function () {
        $(".opendialogadd").click(function () {
            $("#ModalAdd").dialog('open');
        });

        $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
        });

        $("#ModalAdd").dialog({
            autoOpen: false,
            resizable: false,
            height: 440,
            width: 700,
            modal: true
        });


        $("#ModalHapus").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 400,
            modal: true
        });

        $("#loading").hide();
        $("#loading-hapus").hide();

        var FS_KD_REG2 = $('#FS_KD_REG').val();
        tampil_rekon(FS_KD_REG2);

        function tampil_rekon(FS_KD_REG2) {
            $.ajax({
                type: "POST",
                url: '{$config->site_url("farmasi/rekon/list_rekon")}',
                async: false,
                data: '&FS_KD_REG2=' + FS_KD_REG2,
                dataType: 'json',
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    var html = '';
                    var i;
                    var status;
                    var tindaklanjut;
                    for (i = 0; i < data.length; i++) {
                        if (data[i].FS_STATUS == 1) {
                            status = "Admisi";
                        } else if (data[i].FS_STATUS == 2) {
                            status = "Transfer";
                        } else if (data[i].FS_STATUS == 3) {
                            status = "Discharge";
                        } else if (data[i].FS_STATUS == 0) {
                            status = "Tidak menggunakan obat sebelum masuk RS";
                        }
                        if (data[i].FS_TINDAK_LANJUT == 1) {
                            tindaklanjut = "Lanjut Aturan Pakai Sama";
                        } else if (data[i].FS_TINDAK_LANJUT == 2) {
                            tindaklanjut = "Lanjut Aturan Pakai Berubah";
                        } else if (data[i].FS_TINDAK_LANJUT == 3) {
                            tindaklanjut = "Stop";
                        }
                        html += '<tr>' +
                                '<tr>' +
                                '<td>' + data[i].mdd + '</td>' +
                                '<td><center>' + status + '</center></td>' +
                                '<td><center>' + data[i].LAYANAN_AWAL + '</center></td>' +
                                '<td><center>' + data[i].LAYANAN_AKHIR + '</center></td>' +
                                '<td>' + data[i].FS_NM_BARANG + data[i].FS_KD_OBAT2+ '</td>' +
                                '<td><center>' + data[i].FS_DOSIS + '</center></td>' +
                                '<td><center>' + data[i].FS_KD_SATUAN + '</center></td>' +
                                '<td><center>' + data[i].FS_FREKUENSI + '</center></td>' +
                                '<td><center>' + data[i].FS_CARA_PEMBERIAN + '</center></td>' +
                                '<td><center>' + tindaklanjut + '</center></td>' +
                                '<td><center>' + data[i].FS_PERUBAHAN + '</center></td>' +
                                '<td><center>' +
                                '<a href="javascript:;" class="btn-red item_hapus" data="' + data[i].FS_KD_TRS + '">Hapus</a>' +
                                '</center></td>' +
                                '</tr>';
                    }
                    $('#show_data').html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }

            });
        }

        $("#FS_KD_OBAT").change(function () {
            var FS_KD_BARANG = $("#FS_KD_OBAT").val();

            var dataString = '&FS_KD_BARANG=' + FS_KD_BARANG;

            $.ajax({
                type: "POST",
                url: '{$config->site_url("farmasi/rekon/SatBarang")}',
                data: dataString,
                async: false,
                dataType: 'json',
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    var html = '';
                    var i;
                    for (i = 0; i < data.length; i++) {
                        html +=
                                '<input id="FS_KD_SATUAN" name="FS_KD_SATUAN" value="' + data[i].FS_KD_SAT_JUAL + '" class="form-control" type="text" disabled="disabled">' +
                                '<input id="FS_NM_BARANG" name="FS_NM_BARANG" value="' + data[i].FS_NM_BARANG + '" type="hidden">';

                    }
                    $("#show_data_obat").html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }
            });
        });

        $("#btn-add").click(function () {
            $("#loading").show();
            //Simpan Barang
            var FS_KD_REG = $('#FS_KD_REG').val();
            var FS_KD_OBAT = $('#FS_KD_OBAT').val();
            var FS_DOSIS = $('#FS_DOSIS').val();
            var FS_KD_SATUAN = $('#FS_KD_SATUAN').val();
            var FS_FREKUENSI = $('#FS_FREKUENSI').val();
            var FS_CARA_PEMBERIAN = $('#FS_CARA_PEMBERIAN').val();
            var FS_TINDAK_LANJUT = $('#FS_TINDAK_LANJUT').val();
            var FS_PERUBAHAN = $('#FS_PERUBAHAN').val();
            var FS_STATUS = $('#FS_STATUS').val();
            var FS_KD_OBAT2 = $('#FS_KD_OBAT2').val();
            var FS_KD_LAYANAN_ASAL = $('#FS_KD_LAYANAN_ASAL').val();
            var FS_KD_LAYANAN_AKHIR = $('#FS_KD_LAYANAN_AKHIR').val();

            var dataString =
                    '&FS_KD_REG=' + FS_KD_REG +
                    '&FS_KD_OBAT=' + FS_KD_OBAT +
                    '&FS_DOSIS=' + FS_DOSIS +
                    '&FS_KD_SATUAN=' + FS_KD_SATUAN +
                    '&FS_FREKUENSI=' + FS_FREKUENSI +
                    '&FS_CARA_PEMBERIAN=' + FS_CARA_PEMBERIAN +
                    '&FS_TINDAK_LANJUT=' + FS_TINDAK_LANJUT +
                    '&FS_PERUBAHAN=' + FS_PERUBAHAN +
                    '&FS_STATUS=' + FS_STATUS +
                    '&FS_KD_OBAT2=' + FS_KD_OBAT2+
                    '&FS_KD_LAYANAN_ASAL=' + FS_KD_LAYANAN_ASAL+
                    '&FS_KD_LAYANAN_AKHIR=' + FS_KD_LAYANAN_AKHIR;

            $.ajax({
                type: "POST",
                url: "{$config->site_url('farmasi/rekon/add_process')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loading").hide();
                    $('#ModalAdd').dialog('close');                    
                    $('[name="FS_DOSIS"]').val("");
                    $('[name="FS_KD_SATUAN"]').val("");
                    $('[name="FS_FREKUENSI"]').val("");
                    $('[name="FS_CARA_PEMBERIAN"]').val("");
                    $('[name="FS_PERUBAHAN"]').val("");
                    $('[name="FS_KD_OBAT2"]').val("");
                    
                    tampil_rekon(FS_KD_REG2);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }
            });
        });

        $('#show_data').on('click', '.item_hapus', function () {
            var id = $(this).attr('data');
            $("#ModalHapus").dialog('open');
            $('[name="FS_KD_TRS"]').val(id);
        });

        $('#btn_hapus').on('click', function () {
            $("#loading-hapus").show();
            var kode = $('#FS_KD_TRS').val();
            var dataString = '&kode=' + kode
            $.ajax({
                type: "POST",
                url: "{$config->site_url('farmasi/rekon/delete_process')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loading-hapus").hide();
                    $('#ModalHapus').dialog('close');

                    tampil_rekon(FS_KD_REG2);
                }
            });
        });
    });
</script>