 
<div class="breadcrum">
    <p>
        <a href="#">Catatan IGD</a><span></span>
        <small></small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <!--<ul>
            <li><a href="{$config->site_url('inap/cppt/')}" class="active">Cari Data</a></li>
            <li><a href="{$config->site_url('inap/cppt/cari2')}">Cari History</a></li>
        </ul>-->
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('igd/neonatus/cari_process')}" method="post">
        <!--<input name="masuk_id" type="hidden" value="{$result.masuk_id|default:''}" />-->
        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">Asesmen Neonatus IGD</th>
            </tr>
            <tr>
                <td>NO MR</td>
                <td colspan="3">
                     <select name="FS_RG" id="surat_dari" class="select2" style="width: 400px;">
                        <option value=""></option>
                        {foreach from=$rs_pasien item=data}
                        <option value="{$data.NO_REG}">{$data.NO_MR}|{$data.NAMA_PASIEN}|{$data.NAMA_RUANG}</option>
                        {/foreach}
                    </select>
                    <em>* wajib diisi</em>
                </td>
            </tr>
            <tr class="submit-box">
                <td colspan="4">
                    <input type="submit" name="save" value="Cari" class="edit-button" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="dashboard-container">
    <table class="table-view" width="100%" border="0" style="font-size: 12px;">
        <thead>
            <tr>
                <th width='2%'>No</th>
                <th>No MR</th>
                <th>Nama Pasien</th>
                <th>Alamat</th> 
                <th>Petugas</th> 
                <th>Status</th>
                <th width='18%'>Detail</th>
            </tr>
        </thead>
        <tbody>{$no=1}
            {foreach from=$rs_ases_neonatus item=data}
            <tr>
                <td>{$no++}</td>
                <td>{$data.No_MR}</td>
                <td>{$data.Nama_Pasien}</td>
                <td>{$data.Alamat}</td>  
                <td>{$data.MDB}</td>  
                <td>{if $data.No_MR neq ''} <p style="color:green"><b> Selesai Asasmen</b> </p> {else} <b>Belum </b>{/if}</td>  
                <td>
                     <a href="{$config->site_url('igd/neonatus/edit/'|cat:$data.FS_KD_REG)}" class="button-edit">Edit</a>
<!--                      
                               {if $rad neq ''}
                          <a  href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/berkas_igd/cetak_rujukan_rad/'|cat:$data.NO_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">Radiologi</a>
                          {else}
                          {/if} -->
 
                               
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
 </div>
<script>
     $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
        });
</script>