
 
<div class="breadcrum">
    <p>
        <a href="#">Operasi</a><span></span>
        <a href="{$config->site_url('inap/cppt/')}">Booking Operasi</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div> 
<div class="content-entry" style="margin:20px">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('operasi/booking_operasi/add_process')}" method="post" onkeypress="return event.keyCode != 13">
        <input name="FS_KD_REG" id="FS_KD_REG" type="hidden" value="{$rs_pasien.NO_REG}" />
        <input name="FS_MR" type="hidden" value="{$rs_pasien.NO_MR}" />
        <!-- <input name="FS_KD_LAYANAN" type="hidden" value="{$rs_pasien.KODE_BANGSAL}" />
        <input name="FS_KD_PETUGAS_MEDIS" type="hidden" value="{$rs_pasien.fs_kd_medis}" />
        <input type="hidden" name="status_cppt" value="{$rs_ruangan}" /> -->

      
        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="4">Identitas Pasien</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.NAMA_PASIEN}
                </td>
            
                <td>NO MR</td>
                <td>
                    {$rs_pasien.NO_MR}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
           
                <td>ALAMAT</td>
                <td>{$rs_pasien.ALAMAT}</td>
            </tr>
            <tr>
                <td>UMUR</td>
                <td>{$rs_pasien.fn_umur} tahun</td>
            </tr>
        </table>
      
        <table class="table-input" width="100%" style="text-align: justify;">
           <tr>
                <th colspan="4">Booking Operasi</th>
            </tr>

            <tr>
                <td>Nama Ruangan</td>
                <td>
                    <select name="ruangan_id" class="select2" style="width:300px">
                        <option value="">pilih ruangan</option>
                        {foreach from=$ruangan item=ruang}
                        <option value="{$ruang.id}">{$ruang.nama_ruang}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Nama Dokter</td>
                <td>
                    <select name="kode_dokter" class="select2" style="width:300px">
                        <option value="" disabled selected>pilih dokter</option>
                        {foreach from=$dokters item=dokter}
                        <option value="{$dokter.Kode_Dokter}">{$dokter.Nama_Dokter}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Nama Operasi</td>
                <td>
                    <input type="text" name="nama_tindakan" size="70" value="" style="width:300px" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Tanggal</td>
                <td>
                    <input type="date" name="tanggal" size="70" value="" style="width:300px" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Jam Mulai</td>
                <td>
                    <input type="time" name="jam_mulai" size="70" value="" class="form-control" >
                </td>
            </tr>
            <tr>
                <td>Jam Selesai</td>
                <td>
                    <input type="time" name="jam_selesai" size="70" value="" class="form-control">
                </td>
            </tr>

        <tr class="submit-box">
            <td colspan="4">
                <div style="font-weight: bold;">
                    *Bismillahirohmanirrohim, saya dengan sadar dan penuh tanggung jawab mengisikan formulir ini dengan data yang benar
                </div>
                <br>
                <input type="submit" name="save" value="Simpan" class="edit-button"/>
            </td>
        </tr>
        </table>
    </form>
</div>

<script>
    $(".select2").select2({
         placeholder: "Pilih",
         allowClear: true
     });
</script>
