<!-- include javascript -->
{include file="inap/ass_awal/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <ul>
        <a href="#">Data Arsip</a><span></span>
        <a href="{$config->site_url('inap/ass_awal/cari')}">Asesmen Awal Rawat Inap</a><span></span>
        <small>Add Data</small>
    </ul>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
        <table class="table-view" width="100%">
            <tr>
                <th>NOMOR MR</th>
                <th>NOMOR REG</th>
                <th>NAMA</th>
                <th>TGL MASUK</th>
                <th>TGL KELUAR</th>
                <th>LAYANAN</th>
                <th width="18%"></th>
            </tr>
            {foreach from=$rs_pasien item=data}
            {assign var=rs_ass_awal value=$m_ass_awal->get_all_ass_awal(array($data.FS_KD_REG))}
            <tr>
                <td>{$data.fs_mr}</td>
                <td>{$data.FS_KD_REG}</td>
                <td>{$data.FS_NM_PASIEN}</td>
                <td>{$data.fd_tgl_masuk}</td>
                <td>{$data.fd_tgl_keluar}</td>
                <td>{$data.FS_NM_LAYANAN}</td>
                <td>
                    {if $data.FS_KD_REG eq $rs_ass_awal.FS_KD_REG}
                    <a href="{$config->site_url('inap/ass_awal/edit/'|cat:$data.FS_KD_REG)}" class="button-edit" title="Edit Asesmen Awal">Edit</a>
                    <a href="{$config->site_url('inap/ass_awal/verif/'|cat:$data.FS_KD_REG)}" class="button-edit" title="Verifikasi Data">Veirikasi</a>
                    <a href="{$config->site_url('inap/ass_awal/selesai/'|cat:$data.FS_KD_REG)}" class="button-download" title="Cetak Asesmen Awal">Print</a>
                    {elseif $data.FS_KD_REG neq $rs_ass_awal.FS_KD_REG}
                    <a href="{$config->site_url('inap/ass_awal/add/'|cat:$data.FS_KD_REG)}" class="button-edit" title="Tambah Asesmen Awal">Add</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </table>
    </form>
</div>