<!-- include javascript -->
{include file="inap/rm10/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="{$config->site_url('inap/rm10/cari')}">Catatan Edukasi</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
        <table class="table-view" width="100%">
            <tr>
                <th>NOMOR MR</th>
                <th>NOMOR REG</th>
                <th>NAMA</th>
                <th>TGL MASUK</th>
                <th>TGL KELUAR</th>
                <th>LAYANAN</th>
                <th width="12%"></th>
            </tr>
            {foreach from=$rs_pasien item=data}
            {assign var=rs_resume value=$m_rm10->get_all_resume(array($data.FS_KD_REG))}
            <tr>
                <td>{$data.fs_mr}</td>
                <td>{$data.FS_KD_REG}</td>
                <td>{$data.FS_NM_PASIEN}</td>
                <td>{$data.fd_tgl_masuk}</td>
                <td>{$data.fd_tgl_keluar}</td>
                <td>{$data.FS_NM_LAYANAN}</td>
                <td>
                    {if $data.FS_KD_REG eq $rs_resume.FS_KD_REG}
                    <a href="{$config->site_url('inap/rm10/edit/'|cat:$data.FS_KD_REG)}" class="button-edit" title="Edit Asesmen Awal">Edit</a>
                    <a href="{$config->site_url('inap/rm10/selesai/'|cat:$data.FS_KD_REG)}" class="button-download" title="Cetak Asesmen Awal">Print</a>
                    
                    {else}
                    <a href="{$config->site_url('inap/rm10/add/'|cat:$data.FS_KD_REG)}" class="button-edit" title="Tambah Asesmen Awal">Add</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </table>
    </form>
</div>