{include file="inap/aplusan/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Data Arsip</a><span></span>
        <a href="{$config->site_url('surat/aplusan')}">Aplusan</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('inap/aplusan/add_process')}" method="post">
        <input type="hidden" name="FS_KD_REG" value="{$rs_pasien.fs_kd_reg}" />
        <input type="hidden" name="FS_KD_LAYANAN" value="{$rs_pasien.fs_kd_layanan}" />
        <input type="hidden" name="FS_MR" value="{$rs_pasien.fs_mr}" />
        <input type="hidden" name="FS_KD_TRS" value="{$cppt.FS_KD_TRS}" />
         <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Aplusan</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.fs_mr}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.fd_tgl_lahir|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$rs_pasien.fs_alm_pasien}</td>
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Apulsan</th>
            </tr>
            <tr>
                <td>Shift</td>
                <td>
                    <select name="FS_SHIFT" id="surat_dari" class="select2" style="width: 400px;">
                        <option value=""></option>
                        <option value="1">PAGI</option>
                        <option value="2">SORE</option>
                        <option value="3">MALAM</option>
                    </select>
                    <em>* wajib diisi</em>
                </td>
            </tr>
            <tr>
                <td>Kondisi Pasien</td>
                <td>
                    <textarea cols="50" name="FS_KONDISI_PASIEN">{$cppt.FS_CPPT_S|strip_tags},{$cppt.FS_CPPT_O|strip_tags},{$cppt.FS_CPPT_A|strip_tags},{$cppt.FS_CPPT_P|strip_tags}</textarea>
                </td>
            </tr>
            <tr>
                <td>Catatan Lainnya</td>
                <td>
                    <textarea cols="50" name="FS_CATATAN"></textarea>
                </td>
            </tr>
            <tr class="submit-box">
                <td colspan="2">
                    <input type="submit" name="save" value="Simpan" class="edit-button" />
                </td>
            </tr>
        </table>
    </form>
</div>