{include file="medis/rawat_jalan/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Pemeriksaan Medis</a><span></span>
        <small>History Pasien</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('nurse/fisio/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-info" width="100%">
    <tr class="headrow">
        <th colspan="4">Data Pasien</th>
    </tr>
    <tr>
        <td width='15%'>No RM</td>
        <td width='35%'>{$result.FS_MR}</td>
        <td width='15%'>Nama</td>
        <td width='35%'>{$result.FS_NM_PASIEN|default:''}</td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>{$result.FS_ALM_PASIEN|default:''}</td>
        <td>Tanggal Lahir</td>
        <td>{$result.FD_TGL_LAHIR|default:''}</td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>{if $result.FS_JNS_KELAMIN eq '1'}
            Perempuan
            {else}
            Laki-Laki
            {/if}</td>
        <td></td>
        <td></td>
    </tr>
</table>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/resume/'|cat:$result.FS_MR)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> Profil Ringkas Medis Rawat Jalan</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<table class="table-view" width="100%" border="0">
    <thead>
        <tr>
            <th width='10%'>Tanggal Kunjungan</th>

            <th>Dokter</th>
            <th>Layanan</th>
            <th>Catatan</th>
            <th>Status</th>
            <th width='20%'>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$rs_pasien item=data}
        <!--{assign var=cek_lab value=$m_rawat_jalan->get_data_cek_lab(array($data.FS_KD_REG))}
        {assign var=cek_rad value=$m_rawat_jalan->get_data_cek_radiologi(array($data.FS_KD_REG))}
        {assign var=cek_resep value=$m_rawat_jalan->get_data_cek_resep(array($data.FS_KD_REG))}
        {assign var=form_rm value=$m_rawat_jalan->get_berkas_by_rg(array($data.FS_KD_REG))}
        {assign var=cek_ases_perawat value=$m_rawat_jalan->cek_ases_perawat_by_rg(array($data.FS_KD_REG))}
        -->
        <tr {if ($no++ % 2) <> 1}class="blink-row"{/if}>
            <td>{$data.FD_TGL_MASUK|date_format :"%d %B %Y"}</td>
            
            <td>
                {$data.FS_NM_PEG}<br>
                {$data.DOK2}
            </td> 
            <td>
                {$data.FS_NM_LAYANAN}<br>
                {$data.LAYANAN2}
            </td> 
            <td>
                {if $cek_lab >= '1'}
                - Hasil Laboratorium <br>
                {/if}
                {if $cek_rad >= '1'}
                - Hasil Radiologi <br>
                {/if}
                {if $cek_resep >= '1'}
                - Resep
                {/if}
            </td>
            <td>
    <center>
        <b>
            {if $data.FS_KD_JENIS_REG eq '0'}
            <div style="color: blue;">Rawat Jalan</div>
            {elseif $data.FS_KD_JENIS_REG eq '1'}
            <div style="color: green;">Rawat Inap</div>
            {elseif $data.FS_KD_JENIS_REG eq '3'}
            <div style="color: red;">Rawat Darurat</div>
            {/if}
        </b>
    </center>
</td> 
<td>
    
    {if $form_rm.att_name neq ''}
    <a href="{$config->site_url('rm/upload/download/'|cat:$form_rm.att_name)}" class="button-download" target="_blank">Operasi</a>  
    {/if}
    {if $data.FS_KD_JENIS_REG eq '0'}
    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_rm/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_FORM)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download">RM</a>
    {elseif $data.FS_KD_JENIS_REG eq '1'}
    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_rm/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download">RM</a>  
    {elseif $data.FS_KD_JENIS_REG eq '3'}
    {/if}
    
    
                    {if $data.FS_CARA_PULANG == '2'}
                    <a  href="javascript:void(0);" onclick="window.open('{$config->site_url('medis/rawat_jalan/cetak_skdp/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">SKDP</a>
                    {else}
                    {/if}
                    {if $data.FS_CARA_PULANG == '1'}
                    <a  href="javascript:void(0);" onclick="window.open('{$config->site_url('medis/rawat_jalan/cetak_prb/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">PRB</a>
                    {else}
                    {/if}
                    {if $data.FS_CARA_PULANG eq '4'}
                    <a  href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_rujukan/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">Rujukan RS</a>
                    {else}
                    {/if}
                    {if $data.FS_TERAPI eq '' OR $data.FS_TERAPI eq '<p>-</p>'}
                    {else}
                    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('medis/rawat_jalan/cetak_resep/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">Resep</a>
                    {/if}
                    
    
    {if $data.FD_TGL_KELUAR <> '3000-01-01'}
    {else}
    {if $cek_ases_perawat eq '0'}
    <a href="{$config->site_url('nurse/fisio/add/'|cat:$data.FS_KD_REG|cat:'/'|cat:$FS_KD_MEDIS|cat:'/'|cat:'A')}" class="button-edit">Awal</a>
                   <a href="{$config->site_url('nurse/fisio/add/'|cat:$data.FS_KD_REG|cat:'/'|cat:$FS_KD_MEDIS|cat:'/'|cat:'L')}" class="button-edit">Lanjut</a>
                    {else}
    <a href="{$config->site_url('nurse/fisio/edit/'|cat:$data.FS_KD_REG|default:'')}" class="button-edit">Edit</a>
                    
    {/if}
    {/if}
</td>
</tr>
{/foreach}
</tbody>
</table>
<script type="text/javascript">
                function view(data) {
                    var att_name = data;
                    $.getJSON("{$BASEURL}index.php/rm/upload/view_file/" + data, function(result) {
                        var output = "<embed src='{$BASEURL}" + result['file'] + "#toolbar=0&navpanes=0&zoom=100' width='100%' height='750' />";
                        document.getElementById("result").innerHTML = output;
                    });
                }
</script>
