{include file="nurse/rawat_jalan/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Surat Keterangan Medis</a><span></span>
        <a href="{$config->site_url('surat/sehat/')}">Surat Keterangan</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('surat/sehat/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('surat/sehat/edit2_process')}" method="post">
    <input type="hidden" name="FS_KD_TRS" value="{$FS_KD_TRS}" />
        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Surat</th>
            </tr>
            <tr>
                <td>Nama</td>
                <td>
                    {$rs_pasien.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>No RM</td>
                <td>
                    {$rs_pasien.fs_mr}
                </td>
            </tr>
            <tr>
                <td>Tanggal Lahir</td>
                <td>
                    {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"} ({$rs_pasien.fs_umur})
                </td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>{$rs_pasien.FS_ALM_PASIEN}</td>
            </tr>
            <tr>
                <td>Status Sosial / Pekerjaan / Pendidikan</td>
            <td>
                {$rs_pasien.FS_NM_PEKERJAAN_DK} / {$rs_pasien.FS_NM_PENDIDIKAN_DK}
            </td>
            </tr>
            <tr>
                <td>Agama</td>
            <td>
                {$rs_pasien.FS_NM_AGAMA}
            </td>
            </tr>
        </table>
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Data Surat</th>
        </tr>
        <tr>
            <td>Dokter</td>
            <td>
                <select name="FS_KD_MEDIS" id="surat_dari" class="select2" style="width: 350px;">
                    <option value=""></option>
                    {foreach from=$rs_medis item=data}
                    <option value="{$data.FS_KD_PEG}" {if $result.FS_KD_MEDIS eq $data.FS_KD_PEG} selected="" {/if}>{$data.FS_NM_PEG}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>Tanggal pengambilan specimen</td>
            <td>
                <input name="FD_TGL_KET1" class="tanggal" size="11" readonly="" value="{$result.FD_TGL_KET1}"/>
            </td>
        </tr>
        <tr>
            <td>Hasil</td>
            <td>
                <select name="FS_KETERANGAN1" id="surat_dari" class="select2" style="width: 350px;">
                    <option value=""></option>
                    <option value="Terdeteksi" {if $result.FS_KETERANGAN1 eq 'Terdeteksi'} selected="" {/if}>Terdeteksi</option>
                    <option value="Tidak Terdeteksi" {if $result.FS_KETERANGAN1 eq 'Tidak Terdeteksi'} selected="" {/if}>Tidak Terdeteksi</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Dinyatakan</td>
            <td>
                <select name="FS_KETERANGAN2" id="surat_dari" class="select2" style="width: 350px;">
                    <option value=""></option>
                    <option value="Negatif" {if $result.FS_KETERANGAN2 eq 'Negatif'} selected="" {/if}>Negatif</option>
                    <option value="Positif" {if $result.FS_KETERANGAN2 eq 'Positif'} selected="" {/if}>Positif</option>
                </select>
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="edit-button" /> 
            </td>
        </tr>
    </table>
</form>