{include file="surat/sehat/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Surat Keterangan Medis</a><span></span>
        <a href="{$config->site_url('surat/sehat/')}">Surat Keterangan</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('surat/sehat/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('surat/sehat/edit_process')}" method="post">
    <input type="hidden" name="FS_KD_TRS" value="{$FS_KD_TRS}"/>
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Data Surat</th>
        </tr>
        <tr>
            <td>Nomor RG</td>
            <td>
                <input type="text" name="FS_KD_REG" maxlength="10" value="{$result.FS_KD_REG}" readonly="" />
                
            </td>
        </tr>
        <tr>
            <td>Jenis Surat</td>
            <td>
                <select name="FN_JENIS_SURAT" id="surat_dari" class="select2" style="width: 350px;">
                    <option value=""></option>
                    {foreach from=$rs_jenis_surat item=data}
                    <option value="{$data.FS_KD_TRS}" {if $result.FN_JENIS_SURAT eq $data.FS_KD_TRS} selected="" {/if}>{$data.FS_NM_JENIS_SURAT}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="edit-button" /> 
            </td>
        </tr>
    </table>
</form>