{include file="surat/sehat/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Surat Medis Dokter</a><span></span>
        <small>Surat Sehat</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('surat/sehat/proses_cari')}" method="post">
        <table class="table-search" width="100%">
            <tr>
                <th width="7%" aligh="left">Periode</th>
                <td width="15%">
                    <input name="FD_TGL_MASUK" value="{$search.FD_TGL_MASUK}" class="tanggal" size="10" style="text-align: center;"/>
                </td>
                <th width="5%" aligh="left">Jenis Surat</th>
                <td width="78%">
                    <select name="FN_JENIS_SURAT" id="surat_dari" class="select2" style="width: 250px;">
                        <option value=""></option>
                        {foreach from=$rs_jenis_surat item=data}
                        <option value="{$data.FS_KD_TRS}" {if $search.FN_JENIS_SURAT eq $data.FS_KD_TRS} selected="" {/if}>{$data.FS_NM_JENIS_SURAT}</option>
                        {/foreach}
                    </select>
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('surat/sehat/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="dashboard-container">
    <table class="table-view" width="100%" border="0">
        <thead>
            <tr>
                <th>No</th>
                <th>Nomor Transaksi</th>
                <th>No MR</th>
                <th>Nama Psien</th>
                <th>Alamat</th>
                <th>Jenis Surat</th>
                <th width='15%'>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$rs_pasien item=data}
            <tr>
                <td>{$no++}</td>
                <td>{$data.FS_KD_TRS}</td>
                <td>{$data.FS_MR}</td>
                <td>{$data.FS_NM_PASIEN}</td>
                <td>{$data.FS_ALM_PASIEN}</td> 
                <td>
                    {foreach from=$rs_jenis_surat item=data2}
                    {if $data2.FS_KD_TRS eq $data.FN_JENIS_SURAT}
                    {$data2.FS_NM_JENIS_SURAT}
                    {/if}
                    {/foreach}
                </td> 
                <td>
                    <a href="{$config->site_url('surat/sehat/edit/'|cat:$data.FS_KD_TRS)}" class="button-edit">Edit</a>
                    <!--<a href="{$config->site_url('surat/sehat/delete_process/'|cat:$data.FS_KD_TRS)}" onclick="return confirm('Apakah anda akan menghapus???');" class="button-hapus">Hapus</a>-->
                    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('surat/sehat/surat_sehat/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FN_JENIS_SURAT)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download">Print</a>

                    {if $data.FN_JENIS_SURAT eq '103'}
                    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('surat/sehat/surat_sehat/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FN_JENIS_SURAT|cat:'/'|cat:'1')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download">PDF</a>  
                    {/if}

                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>
