<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>Data Instansi</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('pengaturan/instansi/proses_cari')}" method="post">
        <table class="table-search" width="100%">
            <tr>

                <th width="10%">Nama Instansi</th>
                <td width="20%">
                    <input name="instansi_name" type="text" value="{$search.instansi_name|default:''}" size="25" maxlength="50" />
                </td>
                <td width="70%">
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"><strong>{$pagination.total|default:0}</strong> Data Klasifikasi&nbsp;</li>{$pagination.data|default:''}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/instansi/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="4%">No</th>
        <th width="25%">Nama Instansi</th>
        <th width="5%">Kode Instansi</th>
        <th width="15%">Telpon Instansi</th>
        <th width="15%">Fax Instansi</th>
        <th width="25%">Alamat Instansi</th>
        <th width="11%"></th>
    </tr>
    {foreach from=$rs_id item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td>{$result.instansi_name|upper}</td>
        <td>{$result.instansi_kode|upper}</td>
        <td>{$result.instansi_telp|upper}</td>
        <td>{$result.instansi_fax|upper}</td>
        <td>{$result.instansi_alamat|upper}</td>
        <td align="center">
            <a href="{$config->site_url('pengaturan/instansi/edit/'|cat:$result.instansi_id|default:'')}" class="button-edit">Edit</a>
            <a href="{$config->site_url('pengaturan/instansi/delete/'|cat:$result.instansi_id|default:'')}" class="button-hapus">Hapus</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="5">Data not found!</td>
    </tr>
    {/foreach}
</table>
