<div class="head-content">
  <div class="head-content-nav">
    <ul>
      <!-- <li><a href="{$config->site_url('nurse/tf/index/'|cat:$rs_pasien.NO_REG)}" >Pasien Masuk</a></li> -->
      <li>
        <a
          href="{$config->site_url('nurse/tf/out/'|cat:$rs_pasien.NO_REG)}"
          class="active"
          >Pasien Keluar</a
        >
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

<div class="content-entry">
  <form
    action="{$config->site_url('igd/transfer_pasien/transfer')}"
    method="post"
  >
    <!--<input name="masuk_id" type="hidden" value="{$result.masuk_id|default:''}" />-->
    <table class="table-input" width="100%">
      <tr class="headrow">
        <th colspan="7">Tambah Pasien Transfer Keluar</th>
      </tr>
      <tr>
        <td>NO MR</td>
        <td colspan="3">
          <select
            name="FS_KD_REG"
            id="surat_dari"
            class="select2"
            style="width: 400px"
          >
            <option value=""></option>
            {foreach from=$rs_pasien item=data}
            <option value="{$data.NO_REG}">
              {$data.NO_MR} | {$data.NAMA_PASIEN}
            </option>
            {/foreach}
          </select>

          <input type="submit" name="save" value="Tambah" class="edit-button" />
        </td>
      </tr>
    </table>
  </form>

  <br />
  <br />

  <h4><b> Data Transfer Pasien Keluar </b></h4>
  <div class="dashboard-container">
    <table class="table-view" width="100%" style="font-size: 12px">
      <thead>
        <tr>
          <th width="2%">No</th>
          <th style="padding: 5px">No MR</th>
          <th style="padding: 5px">Nama Pasien</th>
          <th style="padding: 5px" width="20%">Alamat</th>
          <th style="padding: 5px">Jenis</th>
          <th style="padding: 5px">Pengirim</th>
          <th style="padding: 5px">Tujuan</th>
          <th style="padding: 5px">Status Transfer</th>
          <!-- <th style="padding:5px">DPJP</th>    -->
          <th width="18%">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {$no=1} {foreach from=$tf item=data}
        <tr>
          <td>{$no++}</td>
          <td>{$data.No_MR}</td>
          <td>{$data.Nama_Pasien}</td>
          <td>{$data.Alamat}</td>
          <td>{$data.MEDIS}</td>
          <td>{$data.RUANG1} oleh {$data.PENGIRIM}</td>
          <td>{$data.Nama_Ruang}</td>
          <td>
            {IF $data.STATUS_TF eq 'Diterima'}
            <img
              src="{$BASEURL}resource/doc/images/icon/icon.approve.png"
              alt=""
            />
            Diterima oleh {$data.PENERIMA} {else} {$data.STATUS_TF} {/if}
          </td>
          <!-- <td>{$data.Nama_Dokter}</td>   -->
          <td>
            <a
              href="javascript:void(0);"
              onclick="window.open('{$config->site_url('nurse/tf/cetak_tf_pasien/'|cat:$data.id|cat:'/'|cat:$data.FS_KD_REG)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')"
              class="button-download"
            >
              Cetak
            </a>
            {IF $data.STATUS_TF neq 'Diterima'} {if $data.FS_KD_REG neq ''} {if
            $rolenya neq 'Dokter'}
            <a
              href="{$config->site_url('nurse/tf/edit_transfer/'|cat:$data.FS_KD_REG|cat:'/'|cat:$id|default:'')}"
              class="button-edit"
              >Edit</a
            >
            {/if} {/if} {/if}
          </td>
        </tr>
        {/foreach}
      </tbody>
    </table>
  </div>
</div>

<script>
  $(".select2").select2({
    placeholder: "Pilih",
    allowClear: true,
  });
</script>
