{include file="nurse/rawat_jalan/edit_script_js.html"}


<div class="breadcrum">
    <p>
        <a href="#">IGD</a><span></span>
         <small>Form Transfer Internal Antar Unit </small>
    </p>
    <div class="clear"></div>
</div> 
<div class="content-entry">
    <!-- notification template -->
     <!-- end of notification template-->
    <form action="{$config->site_url('igd/transfer_pasien/transfer_process')}" method="post" onkeypress="return event.keyCode != 13">
        <input name="FS_KD_REG" id="FS_KD_REG" type="hidden" value="{$rs_pasien.NO_REG}" />
        <input name="FS_MR" type="hidden" value="{$rs_pasien.NO_MR}" />
        <input name="id" type="hidden" value="{$perawat.id}" />
        <input name="FS_KD_LAYANAN" type="hidden" value="{$rs_pasien.KODE_BANGSAL}" />
        <input name="FS_KD_PETUGAS_MEDIS" type="hidden" value="{$rs_pasien.fs_kd_medis}" />

        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="4"></th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.NAMA_PASIEN}
                </td>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.NO_MR}
                </td>
                 <td>ALAMAT</td>
                <td>{$rs_pasien.ALAMAT}</td>
            </tr>
        </table>
        <table class="table-input" width="100%">
           

       </table>
       <input type="hidden" name="CARA_MASUK" value="{$perawat.CARA_MASUK}" > 
       <input type="hidden" name="ASAL_MASUK" value="{$perawat.ASAL_MASUK}" > 
        
        <table class="table-input" width="100%">

            <tr>
                <td>DPJP </td>
                <td colspan="3">
                    <select name="KD_DOKTER_DPJP" id="surat_dari" class="select2" style="width: 400px;">
                        <option value=""></option>
                        {foreach from=$rs_dokter item=data}
                        {if $rs_pasien.KODE_DOKTER eq $data.NAMAUSER}
                        <option value="{$data.NAMAUSER}" selected>{$data.NAMALENGKAP} </option>
                        {else}
                        <option value="{$data.NAMAUSER}">{$data.NAMALENGKAP} </option>
                        {/if}
                        {/foreach}
                    </select>
                
                </td></tr>
                <tr>
                <td> Dokter Konsul 1</td>
                <td colspan="1"> 
                    <select name="KD_KONSUL_1" id="surat_dari" class="select2" style="width: 400px;">
                        <option value=""></option>
                        {foreach from=$rs_dokter item=data}
                    
                        <option value="{$data.NAMAUSER}" {if $asasmen_igd.KD_DOKTER_KONSUL eq $data.NAMAUSER} selected {/if}>{$data.NAMALENGKAP} </option>
                        {/foreach}
                    </select>
                 </td>
                 <td> Dokter Konsul 2</td>
                <td colspan="1"> 
                    <select name="KD_KONSUL_2" id="surat_dari" class="select2" style="width: 400px;">
                        <option value=""></option>
                        {foreach from=$rs_dokter item=data}    
                        <option value="{$data.NAMAUSER}" {if $asasmen_igd.KD_DOKTER_KONSUL2 eq $data.NAMAUSER} selected {/if}>{$data.NAMALENGKAP} </option>
                      
                        {/foreach}
                    </select>
                 </td>
             </tr>

             <input type="hidden" name="RUANG1" value="{$kamar.Kode_Ruang}">
             <tr> 
                <td  > Pindah  Ke Ruang </td>
                <td  >   <select name="RUANG2" id="surat_dari" class="select2" style="width: 200px;" required>
                        <option value=""></option> 
                        {foreach from=$ruang item=gata}
                        {if $daftar.RUANG1 eq $gata.Kode_Ruang}
                        <option value="{$gata.Kode_Ruang}" selected>{$gata.Nama_Ruang} </option>
                        {else}
                        <option value="{$gata.Kode_Ruang}">{$gata.Nama_Ruang} </option>
                        {/if}
                        {/foreach}
                    </select>
                  </td> 
                <td>  Tanggal/Jam Pindah</td>
                <td  > <input type="date" name="TGL_PINDAH" size="100" value="{$perawat.KEL_SEKARANG}" required> 
                    <input type="time" name="JAM_PINDAH" size="100" value="{$perawat.KEL_SEKARANG}">  </td>

             </tr>



            <tr class="headrow">
                <th colspan="4">RINGKASAN RIWAYAT PASIEN </th> 
            </tr>
            <tr>
                <td>Keluhan Utama  </td>
                <td colspan="3"> <input type="text" name="ANAMNESA" style="width:78% ;" value="{if $medis.FS_ANAMNESA neq ''}{$medis.FS_ANAMNESA}{elseif $asasmen_igd.FS_ANAMNESA neq ''}{$asasmen_igd.FS_ANAMNESA}{/if}">  </td></tr>
                
             <tr>
                <td >Riwayat Penyakit </td>
                <td  ><input type="text" name="RIWAYAT_SAKIT" value="{$asasmen_igd.RIW_PENYAKIT_DAHULU}"  size="30"> </td>
                   <td> Riwayat  Alergi  </td>
                   <td> <input type="text" name="RIWAYAT_ALERGI_MAKANAN" value="{$result.FS_ALERGI|default:'-'}" size="30">
                
                </td>
            </tr>
            <tr>
                <td >Diagnosa Awal </td>
                <td  >
                    <textarea name="DIAGNOSA1" id="" rows="6" style="width:100%">{if $medis.FS_DIAGNOSA neq ''}{$medis.FS_DIAGNOSA}{elseif $asasmen_igd.FS_DIAGNOSA neq ''}{$asasmen_igd.FS_DIAGNOSA}{/if}</textarea>
                  
                   <td> Diagnosa  Sekarang  </td>
                   <td> 
                    <textarea name="DIAGNOSA2" id="" rows="6" style="width:100%">{if $medis.FS_DIAGNOSA neq ''}{$medis.FS_DIAGNOSA}{elseif $asasmen_igd.FS_DIAGNOSA neq ''}{$asasmen_igd.FS_DIAGNOSA}{/if}</textarea>
             </td>
            </tr>
            <tr class="headrow">
                <th colspan="4">TINDAKAN MEDIS</th> 
            </tr>
            <tr>

                <td >TINDAKAN MEDIS </td>
                <td  ><textarea name="TINDAKAN_MEDIS" class="tindakan_medis" id="" rows="3" onkeypress="handle1(event)" style="width:100%"></textarea> </td>
                   
            </tr>
            <tr class="headrow">
                <th colspan="4">PEMERIKSAAN FISIK AWAL (dari triase awal)</th> 
            </tr>
            
                <tr>
                    <td >TEKANAN DARAH </td>
                    <td  ><input type="text"  value="{$triase.TD}"  size="30" readonly> </td>
                    <td> SUHU  </td>
                    <td> <input type="text"  value="{$triase.SUHU}" size="30" readonly>
                    
                    </td>
                </tr>
                <tr>
                    <td >NADI </td>
                    <td  ><input type="text"  value="{$triase.N}"  size="30" readonly> </td>
                       <td> RESPIRASI  </td>
                       <td> <input type="text"  value="{$triase.R}" size="30" readonly>
                    
                    </td>
                </tr>
                <tr>
                    <td >SPO2 </td>
                    <td  ><input type="text"  value="{$triase.O2}"  size="30" readonly> </td>  
                    
                </tr>

                <td >KESADARAN </td>
                <td  ><select  id="" class="select2" style="width: 200px;" disabled>
                    <option value="">--pilih--</option>
                    <option value="Sadar Penuh" {if $triase.KESADARAN eq 'Sadar'} selected {/if}>Sadar Penuh</option>
                    <option value="Respon Suara" {if $triase.KESADARAN eq 'Suara'} selected {/if}>Respon Suara</option>
                    <option value="Respon Nyeri" {if $triase.KESADARAN eq 'Nyeri'} selected {/if}>Respon Nyeri</option>
                    <option value="Tida Ada respon" {if $triase.KESADARAN eq 'Tidak'} selected {/if}>Tidak Ada respon</option>

                </select> </td>
                   <td> EWSS  </td>
                   <td> <input type="text" name="EWSS" value="" size="30">
                
                </td>
            </tr>
 
    
   
            <tr>
                <td> GCS  </td>
                <td> <input type="text" name="GCS" value="" size="30">
                    
                </td>
                <td >M</td>
                <td  ><input type="text" name="GCS_M" value=""  size="30"> </td>
            </tr>
            <tr>
                <td >E</td>
                <td  ><input type="text" name="GCS_E" value=""  size="30"> </td>
                   <td> V  </td>
                   <td> <input type="text" name="GCS_V" value="" size="30">
                
                </td>
            </tr>
    

            <tr class="headrow">
                <th colspan="2">Pemeriksaan Penunjang  </th> 
                <th colspan="2">  Pemberian Therapi </th> 
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="PENUNJANG" rows="12" class="penunjang" onkeypress="handle2(event)" style="width:100%">
                        Lab          : {$asasmen_igd.lab} 
                        Radiologi    :  {$asasmen_igd.rad}
                        Lain-lain    :
                        </textarea>
                    
                     </td>
                     <td colspan="2">
                        <textarea name="TERAPI" rows="12" class="terapi" onkeypress="handle3(event)" style="width:100%">{$asasmen_igd.FS_TERAPI}</textarea>
                        
                         </td>
                        </tr>
                        <tr class="headrow">
                            <th colspan="4">Konsulan Dokter DPJP</th> 
                         
                        </tr>
                        <tr>
                            <td>Konsulan Dokter 1</td>
                            <td>
                                  <textarea id="" rows="8" style="width: 100%;" readonly>{$asasmen_igd.KONSUL}</textarea>
                            </td>
                            <td>Konsulan Dokter 2</td>
                            <td>
                                  <textarea id="" rows="8" style="width: 100%;" readonly>{$asasmen_igd.KONSUL2}</textarea>
                            </td>
                       
                         </tr>
                
              <tr class="headrow">
                    <th colspan="4">Pemeriksaan Fisik Sebelum Transfer</th> 
                 
                </tr>
                <tr>

                    <td >KESADARAN </td>
                    <td  ><select name="KESADARAN" id="" class="select2" style="width: 200px;">
                        <option value="">--pilih--</option>
                        <option value="Sadar Penuh">Sadar Penuh</option>
                        <option value="Respon Suara">Respon Suara</option>
                        <option value="Respon Nyeri">Respon Nyeri</option>
                        <option value="Tida Ada respon">Tidak Ada respon</option>
    
                    </select> </td>
        
                </tr>
                <tr>
                    <td >TEKANAN DARAH </td>
                    <td  ><input type="text" name="TD"  size="30"> </td>
                    <td> SUHU  </td>
                    <td> <input type="text" name="SUHU"  size="30">
                    
                    </td>
                </tr>
                <tr>
                    <td >NADI </td>
                    <td  ><input type="text" name="N"   size="30"> </td>
                       <td> RESPIRASI  </td>
                       <td> <input type="text" name="R"  size="30">
                    
                    </td>
                </tr>
                <tr>
                    <td >SPO2 </td>
                    <td  ><input type="text" name="O2"   size="30"> </td>  
                    
                </tr>

                <tr>
                    <td>Catatan sebelum transfer</td>
                    <td>
                        <textarea name="CAT1" id="" rows="3" class="cat1" onkeypress="handle4(event)" style="width:100%"></textarea>
                    </td>
                </tr>
   
                <tr class="headrow">
              
                    <th colspan="4">Pemeriksaan Fisik Setelah Transfer</th> 
                </tr>
                <tr>

                    <td >KESADARAN </td>
                    <td  ><select name="KESADARAN_2" id="" class="select2" style="width: 200px;">
                        <option value="">--pilih--</option>
                        <option value="Sadar Penuh">Sadar Penuh</option>
                        <option value="Respon Suara">Respon Suara</option>
                        <option value="Respon Nyeri">Respon Nyeri</option>
                        <option value="Tida Ada respon">Tidak Ada respon</option>
    
                    </select> </td>
               
                </tr>
                <tr>
                    <td >TEKANAN DARAH </td>
                    <td  ><input type="text" name="TD_2"  size="30"> </td>
                    <td> SUHU  </td>
                    <td> <input type="text" name="SUHU_2"  size="30">
                    
                    </td>
                </tr>
                <tr>
                    <td >NADI </td>
                    <td  ><input type="text" name="N_2"  size="30"> </td>
                       <td> RESPIRASI  </td>
                       <td> <input type="text" name="R_2" size="30">
                    
                    </td>
                </tr>
                <tr>
                    <td >SPO2 </td>
                    <td  ><input type="text" name="O2_2"  size="30"> </td>  
                    
                </tr>

                <tr>
                    <td>Catatan setelah transfer</td>
                    <td>
                        <textarea name="CAT2" id="" rows="3" class="cat2" onkeypress="handle5(event)" style="width:100%"></textarea>
                    </td>
                </tr>

                <tr class="headrow">
                    <th colspan="4">LAIN-LAIN</th> 
                 
                </tr>
    
               <tr>
                  <td>Lain-Lain</td>
                  <td>
                        <textarea name="LAINNYA" id="" rows="6" class="lainnya" onkeypress="handle6(event)" style="width: 100%;"></textarea>
                  </td>
             
               </tr>
                <tr class="headrow">
                    <th colspan="4">Derajat Kebutuhan Transfer</th> 
                 
                </tr>
    
               <tr>
                  <td>Derajat Kebutuhan Transfer</td>
                  <td>
                     <input type="radio" name="DERAJAT" value="0">0
                     <input type="radio" name="DERAJAT" value="1">1
                     <input type="radio" name="DERAJAT" value="2">2
                     <input type="radio" name="DERAJAT" value="3">3
                  </td>
             
               </tr>
               <tr class="headrow">
                <th colspan="4">Kategori Pasien Transfer</th> 
                </tr>

             
                    <tr>
                        <th>Level</th>
                        <th>Kategori</th>
                        <th>Pendamping</th>
                        <th>Peralatan</th>
                    </tr>
                    <tr>
                        <td>- Derajat 0</td>
                        <td>Pasien membutuhkan ruang perawatan biasa</td>
                        <td>Pos</td>
                        <td>1. Semua rekam medik <br> 2. hasil pemeriksaan penunjang <br> 3. format transfer internal</td>
                    </tr>
                    <tr>
                        <td>- Derajat 1</td>
                        <td>1. pasien berisiko mengalami perburukan <br> 2. pasien baru pindah dari ICU <br> 3. pasien yang akan dirawat di ruang perawatan tim perawatan khusus</td>
                        <td>Petugas PK 1 / POS</td>
                        <td>peralatan derajat 0 + tabung O2 dan kanul, stand infus dan bedside monitor syringe pump</td>
                    </tr>
                    <tr>
                        <td>- Derajat 2</td>
                        <td>pasien memerlukan pengawasan ketat atau <br> intervensi khusus, mis : pada pasien yang mengalami kegagalan organ atau sistem organ</td>
                        <td>Dokter / Petugas PK II</td>
                        <td>peralatan derajat 1, + bedside monitor syringe pump</td>
                    </tr>
                    <tr>
                        <td>- Derajat 3</td>
                        <td>pasien mengalami kegagalan multi organ <br> dan memerlukan bantuan hidup jangka panjang ditambah dengan kebutuhan akan alat bantu nafas</td>
                        <td>Dokter / Petugas PK III</td>
                        <td>peralatan derajat 2, + alat bantu nafas</td>
                    </tr>
            
               

                     <tr class="submit-box">
                                <td colspan="4">
                                    <div style="font-weight: bold;">
                                        *Bismillahirohmanirrohim, saya dengan sadar dan penuh tanggung jawab mengisikan formulir ini dengan data yang benar
                                    </div>
                                    <br>
                                    <input type="submit" name="save" value="Simpan" class="edit-button"/>
                                </td>
                            </tr>
            </form>
            </div>

            <script>
                function handle1(e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
              var tindakan_medis = $(".tindakan_medis").val();
              $(".tindakan_medis").val(tindakan_medis + "\n");
            }
          }
                function handle2(e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
              var penunjang = $(".penunjang").val();
              $(".penunjang").val(penunjang + "\n");
            }
          }
                function handle3(e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
              var terapi = $(".terapi").val();
              $(".terapi").val(terapi + "\n");
            }
          }
                function handle4(e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
              var cat1 = $(".cat1").val();
              $(".cat1").val(cat1 + "\n");
            }
          }
                function handle5(e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
              var cat2 = $(".cat2").val();
              $(".cat2").val(cat2 + "\n");
            }
          }
                function handle6(e) {
            var key = e.keyCode || e.which;
            if (key == 13) {
              var lainnya = $(".lainnya").val();
              $(".lainnya").val(lainnya + "\n");
            }
          }
         
          </script>    
  
 