<script type="text/javascript">
    $(document).ready(function() {
    // date picker
    $(".tanggal").datepicker({
    changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
    });
            // timepicker
    $('.waktu').timepicker({
            timeFormat: 'HH:mm:ss',
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/clock.png",
            buttonImageOnly: true
    });
            $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
    });
            // dialog form
            $("#opendialogpengirim")
            .button()
            .click(function() {
            $("#dialog-form").dialog('open');
            });
            $("#opendialogklas")
            .button()
            .click(function() {
            $("#dialog-klas").dialog('open');
            });
            $("#dialog-form").dialog({
            autoOpen: false,
            resizable: false,
            height: 380,
            width: 750,
            modal: true
    });
            $("#dialog-klas").dialog({
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 750,
            modal: true
    });
    
            // auto select bukti kualitas
            $("#notes_judul").change(function(){
    var notes_id = $("#notes_judul").val();
            // nilai kualitas
            $.ajax({
            type: 'POST',
                    data: '&notes_id=' + notes_id,
                    url: '{$config->site_url("surat/draft_st/notes_deskripsi")}',
                    success: function(result) {
                    $("#notes_draft").val(result);
                    }
            });
    });
            // chain select
            // tujuan
            var user = $("#user").val();
            $('#tujuan').select2('data', null);
            $('#tujuan').select2('data', null);
            $("#tujuan").removeAttr("disabled");
            jQuery("#tujuan").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('nurse/rawat_jalan/list_masalah_kep/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#tujuan").html(showData);
                    }
            });
            //tags
            $("#tujuan").select2({});
            

    });

</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'tujuan_loop[]'}
{assign var=tujuan_loop value=$i}
{$tujuan_var=""}
{foreach from=$tujuan_loop key=key item=i}
{$tujuan_var=$tujuan_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=tujuan_loop value=$tujuan_var}
<script type="text/javascript">
            $(document).ready(function() {
    // date picker
    $(".tanggal").datepicker({
    changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
    });
            // chain select
            var user = $("#user").val();
            $('#tujuan').select2('data', null);
//        if (operator == '') {
//            $("#tipe_pesawat").attr("disabled", "disabled");
//        } else {
            $("#tujuan").removeAttr("disabled");
            jQuery("#tujuan").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('nurse/rawat_jalan/list_masalah_kep/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#tujuan").html(showData);
                            $('#tujuan').select2('val', [{$tujuan_loop}]);
                    }
            });
//        }
            $("#user").change(function() {
    user = $(this).val();
            $('#tujuan').select2('data', null);
//            if (user == '') {
//                $("#tipe_pesawat").attr("disabled", "disabled");
//            } else {
            $("#tujuan").removeAttr("disabled");
            jQuery("#tujuan").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('nurse/rawat_jalan/list_masalah_kep/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#tujuan").html(showData);
                    }
            });
//            }
    });
            //tags
            $("#tujuan").select2({});
    });</script>
{/if}
{/foreach}

{/if}


<!--edukasi-->
<script type="text/javascript">
            $(document).ready(function() {
    // chain select
    // edukasi
    var user = $("#user").val();
            $('#edukasi').select2('data', null);
            $('#edukasi').select2('data', null);
            $("#edukasi").removeAttr("disabled");
            jQuery("#edukasi").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('inap/ass_awal/list_edukasi/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#edukasi").html(showData);
                    }
            });
            //tags
            $("#edukasi").select2({});
    });</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'edukasi_loop[]'}
{assign var=edukasi_loop value=$i}
{$edukasi_var=""}
{foreach from=$edukasi_loop key=key item=i}
{$edukasi_var=$edukasi_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=edukasi_loop value=$edukasi_var}
<script type="text/javascript">
            $(document).ready(function() {
    // date picker
    $(".tanggal").datepicker({
    changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
    });
            // chain select
            var user = $("#user").val();
            $('#edukasi').select2('data', null);
//        if (operator == '') {
//            $("#tipe_pesawat").attr("disabled", "disabled");
//        } else {
            $("#edukasi").removeAttr("disabled");
            jQuery("#edukasi").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('inap/ass_awal/list_edukasi/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#edukasi").html(showData);
                            $('#edukasi').select2('val', [{$edukasi_loop}]);
                    }
            });
//        }
            $("#user").change(function() {
    user = $(this).val();
            $('#edukasi').select2('data', null);
//            if (user == '') {
//                $("#tipe_pesawat").attr("disabled", "disabled");
//            } else {
            $("#edukasi").removeAttr("disabled");
            jQuery("#edukasi").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('nurse/rawat_jalan/list_rencana_kep/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#edukasi").html(showData);
                    }
            });
//            }
    });
            //tags
            $("#edukasi").select2({});
    });</script>
{/if}
{/foreach}

{/if}


<!--Spiritual-->
<script type="text/javascript">
            $(document).ready(function() {
    // chain select
    // edukasi
    var user = $("#user").val();
            $('#spiritual').select2('data', null);
            $('#spiritual').select2('data', null);
            $("#spiritual").removeAttr("disabled");
            jQuery("#spiritual").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('inap/ass_awal/spiritual/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#spiritual").html(showData);
                    }
            });
            //tags
            $("#spiritual").select2({});
    });</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'spiritual_loop[]'}
{assign var=spiritual_loop value=$i}
{$spiritual_var=""}
{foreach from=$spiritual_loop key=key item=i}
{$spiritual_var=$spiritual_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=spiritual_loop value=$spiritual_var}
<script type="text/javascript">
            $(document).ready(function() {
    // date picker
    $(".tanggal").datepicker({
    changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
    });
            // chain select
            var user = $("#user").val();
            $('#spiritual').select2('data', null);
//        if (operator == '') {
//            $("#tipe_pesawat").attr("disabled", "disabled");
//        } else {
            $("#spiritual").removeAttr("disabled");
            jQuery("#spiritual").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('inap/ass_awal/spiritual/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#spiritual").html(showData);
                            $('#spiritual').select2('val', [{$edukasi_loop}]);
                    }
            });
//        }
            $("#user").change(function() {
    user = $(this).val();
            $('#spiritual').select2('data', null);
//            if (user == '') {
//                $("#tipe_pesawat").attr("disabled", "disabled");
//            } else {
            $("#spiritual").removeAttr("disabled");
            jQuery("#spiritual").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('surat/undangan/list_eksternal/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#spiritual").html(showData);
                    }
            });
//            }
    });
            //tags
            $("#spiritual").select2({});
    });</script>
{/if}
{/foreach}

{/if}
<!--Planning-->
<script type="text/javascript">
            $(document).ready(function() {
    // chain select
    // edukasi
    var user = $("#user").val();
            $('#planning').select2('data', null);
            $('#planning').select2('data', null);
            $("#planning").removeAttr("disabled");
            jQuery("#planning").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('inap/ass_awal/list_planning/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#planning").html(showData);
                    }
            });
            //tags
            $("#planning").select2({});
    });</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'planning_loop[]'}
{assign var=planning_loop value=$i}
{$planning_var=""}
{foreach from=$planning_loop key=key item=i}
{$planning_var=$planning_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=planning_loop value=$planning_var}
<script type="text/javascript">
            $(document).ready(function() {
    // date picker
    $(".tanggal").datepicker({
    changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
    });
            // chain select
            var user = $("#user").val();
            $('#planning').select2('data', null);
//        if (operator == '') {
//            $("#tipe_pesawat").attr("disabled", "disabled");
//        } else {
            $("#planning").removeAttr("disabled");
            jQuery("#planning").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('inap/ass_awal/list_planning/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#planning").html(showData);
                            $('#planning').select2('val', [{$edukasi_loop}]);
                    }
            });
//        }
            $("#user").change(function() {
    user = $(this).val();
            $('#planning').select2('data', null);
//            if (user == '') {
//                $("#tipe_pesawat").attr("disabled", "disabled");
//            } else {
            $("#planning").removeAttr("disabled");
            jQuery("#planning").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('surat/undangan/list_eksternal/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#planning").html(showData);
                    }
            });
//            }
    });
            //tags
            $("#planning").select2({});
    });</script>
{/if}
{/foreach}

{/if}
<script type="text/javascript">
    $(document).ready(function () {
        score();
        score_nutrisi();
        score_sna();
        
        $("#op1").change(function () {
            var sc = $(this).val();
            $("#sc1").html(sc);
            score();
        });
        $("#op2").change(function () {
            var sc = $(this).val();
            $("#sc2").html(sc);
            score();
        });
        $("#op3").change(function () {
            var sc = $(this).val();
            $("#sc3").html(sc);
            score();
        });
        $("#op4").change(function () {
            var sc = $(this).val();
            $("#sc4").html(sc);
            score();
        });
        $("#op5").change(function () {
            var sc = $(this).val();
            $("#sc5").html(sc);
            score();
        });
        $("#op6").change(function () {
            var sc = $(this).val();
            $("#sc6").html(sc);
            score();
        });
        $("#op7").change(function () {
            var sc = $(this).val();
            $("#sc7").html(sc);
            score();
        });
        score();
        
        $("#op8").change(function () {
            var scd = $(this).val();
            $("#sc8").html(scd);
            score();
        });
        $("#op9").change(function () {
            var scd = $(this).val();
            $("#sc9").html(scd);
            score();
        });
        $("#op10").change(function () {
            var scd = $(this).val();
            $("#sc10").html(scd);
            score();
        });
         //nutrisi
        $("#sn1").change(function () {
            var scn = $(this).val();
            $("#snh1").html(scn);
            score_nutrisi();
        });
        
        $("#sn2").change(function () {
            var scn = $(this).val();
            $("#snh2").html(scn);
            score_nutrisi();
        });
        $("#sna1").change(function () {
            var sna = $(this).val();
            $("#snha1").html(sna);
            score_sna();
        });
        
        $("#sna2").change(function () {
            var sna = $(this).val();
            $("#snha2").html(sna);
            score_sna();
        });
        $("#sna3").change(function () {
            var sna = $(this).val();
            $("#snha3").html(sna);
            score_sna();
        });
        $("#sna4").change(function () {
            var sna = $(this).val();
            $("#snha4").html(sna);
            score_sna();
        });
    });
    
    
    
    function score() {
        var sc = parseInt($("#sc1").text()) + parseInt($("#sc2").text()) + parseInt($("#sc3").text()) + parseInt($("#sc4").text()) + parseInt($("#sc5").text()) + parseInt($("#sc6").text()) + parseInt($("#sc7").text()) + parseInt($("#sc8").text()) + parseInt($("#sc9").text()) + parseInt($("#sc10").text());
        $("#totalsc").html(sc);
        if (sc >= 0 && sc <= 4) {
            $("#rjtkesimpulan").html("Ketergantungan Total");
        } else if (sc >= 5 && sc <= 8) {
            $("#rjtkesimpulan").html("Ketergantungan Berat");
        } else if (sc >= 9 && sc <= 11) {
            $("#rjtkesimpulan").html("Ketergantungan Sedang");
        } else if (sc >= 12 && sc <= 19) {
            $("#rjtkesimpulan").html("Ketergantungan Ringan");
        } else if (sc >= 20) {
            $("#rjtkesimpulan").html("Mandiri");
        }
    }
    function score_nutrisi() {
        var scn = parseInt($("#snh1").text()) + parseInt($("#snh2").text());
        $("#totalscn").html(scn);
        if (scn >= 0 && scn <= 1) {
            $("#kesimpulannutrisi").html("Tidak Berisiko Malnutrisi");
        } else if (scn >= 2) {
            $("#kesimpulannutrisi").html("Berisiko Malnutrisi");
        }
    }
    function score_sna() {
            var sna = parseInt($("#snha1").text()) + parseInt($("#snha2").text()) + parseInt($("#snha3").text()) + parseInt($("#snha4").text());
            $("#totalsna").html(sna);
            if (sna >= 1) {
                $("#kesimpulansna").html("Berisiko Malnutrisi");
            } else if (sna <= 0) {
                $("#kesimpulansna").html("Tidak Berisiko Malnutrisi");
            }
        }
    
</script>