<!-- include javascript -->
{include file="inap/mpp/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
  <p>
    <a href="{$config->site_url('inap/mpp/')}">MPP</a><span></span>
    <small>Add Data</small>
  </p>
  <div class="clear"></div>
</div>
<div class="head-content">
  <div class="head-content-nav">
    <ul>
      <li><a href="#">Data Umum</a></li>
      <li><a href="{$config->site_url('inap/mpp/add_catatan/'|cat:$rs_pasien.fs_kd_reg)}" class="active">Data Catatan Edukasi</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="content-entry">
  <!-- notification template -->
  {include file="base/templates/notification.html"}
  <!-- end of notification template-->
  <form action="{$config->site_url('inap/mpp/add_process')}" method="post">
    <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
    <input name="FS_MR" type="hidden" value="{$rs_pasien.fs_mr}" />

    <table class="table-info" width="100%">
      <tr class="headrow">
        <th colspan="2">Add MPP</th>
      </tr>
      <tr>
        <td>Nama</td>
        <td>
          {$rs_pasien.fs_nm_pasien}
        </td>
      </tr>
      <tr>
        <td>No RM</td>
        <td>
          {$rs_pasien.fs_mr}
        </td>
      </tr>
      <tr>
        <td>Tanggal Lahir</td>
        <td>
          {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"} ({$rs_pasien.fs_umur})
        </td>
      </tr>
      <tr>
        <td>Alamat</td>
        <td>{$rs_pasien.FS_ALM_PASIEN}</td>
      </tr>
      <tr>
        <td>Status Sosial / Pekerjaan / Pendidikan</td>
        <td>
          {$rs_pasien.FS_NM_PEKERJAAN_DK} / {$rs_pasien.FS_NM_PENDIDIKAN_DK}
        </td>
      </tr>
      <tr>
        <td>Agama</td>
        <td>
          {$rs_pasien.FS_NM_AGAMA}
        </td>
      </tr>
      <tr>
        <td>Dokter</td>
        <td>
          {$rs_pasien.fs_nm_medis2}
        </td>
      </tr>
    </table>
    <div class="navigation">
      <div class="pageRow">
        <div class="pageNav">
          <ul>
            <li class="info"></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="navigation-button">
        <ul>
          <li><a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_rm/'|cat:$rs_pasien.fs_kd_reg|cat:'/15')}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> Preview</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <table class="table-input" width="100%">
      <tr>
        <th colspan="6">Bukti Edukasi</th>
      </tr>
      <tr class="submit-box">
        <td colspan="6">
          <a href="#" id="opendialogpengirim"><img src="{$BASEURL}/resource/doc/images/icon/add-icon.png" style="height:20px;" alt="Tambah Diagnosis" /></a>
        </td>
      </tr>
      <tr>
        <td><center><b>Tanggal / Jam</b></center></td>
        <td><center><b>Implementasi</b></center></td>
        <td><center><b>Detail Implementasi</b></center></td>
        <td><center><b>Keterangan</b></center></td>
        <td><center><b>Verifikator</b></center></td>
      </tr>
      {foreach from=$rs_result item=data}
      <tr>
       <td>{$data.mdd_date} / {$data.mdd_time}</td>
       <td>{$data.FS_IMPLEMENTASI}</td>
       <td>{$data.FS_IMPLEMENTASI2}</td>
       <td>{$data.FS_KET}</td>
       <td>{$data.FS_NM_PEG}</td>
     </tr>
     {/foreach}
   </table>
 </form>
</div>

<!-------------------------------->
<!--open dialog form----->
<!-------------------------------->
<div id="dialog-form" title="Add Catatan Implementasi MPP">
  <!-- notification template -->
  {include file="base/templates/notification.html"}
  <!-- end of notification template-->
  <form action="{$config->site_url('inap/mpp/add_catatan_process')}" method="post">
    <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
    <table class="table-input" width="100%">
      <tr>
        <th colspan="2">Tambah Data</th>
      </tr>
      <tr>
        <td width="25%">Implementasi</td>
        <td width="75%">
          <select name="FS_KD_MPP" id="mpp" class="select2" style="width: 300px;">
            <option value="0">--Pilih Data--</option>.
            {foreach from=$rs_implementasi item=data}
            <option value="{$data.FS_KD_TRS}">{$data.FS_IMPLEMENTASI}</option>
            {/foreach}
          </select>
        </td>
      </tr>
      <tr>
        <td>Detil Implementasi</td>
        <td>
         <select name="FS_KD_MPP2" id="mpp2"  class="select2" style="width: 400px;">
          <option value="0">--Pilih Data--</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Keterangan</td>
      <td>
        <input type="text" name="FS_KET" size="80">
      </td>
    </tr>
    <tr class="submit-box">
      <td colspan="2">
       <div style="font-weight: bold;">
        *Bismillahirohmanirrohim, saya dengan sadar dan penuh tanggung jawab mengisikan formulir ini dengan data yang benar
      </div>
      <br>
      <input type="submit" name="save" value="Simpan" class="edit-button" >
    </td>
  </tr>
</table>
</form>
</div>