<script type="text/javascript">
    $(document).ready(function () {
        var htmlobjek;
//apabila terjadi event onchange terhadap object <select id=propinsi>
        $("#kep1").change(function () {
            var kep1 = $("#kep1").val();
            $.ajax({
                type: "POST",
                url: '{$config->site_url("inap/kep/list_diagnosa")}',
                data: "kep1=" + kep1,
                cache: false,
                success: function (msg) {
//jika data sukses diambil dari server kita tampilkan
//di <select id=kota>
                    $("#diag").html(msg);
                }
            });
        });
        $("#diag").change(function () {
            var diag = $("#diag").val();
            $.ajax({
                type: "POST",
                url: '{$config->site_url("inap/kep/list_noc")}',
                data: "diag=" + diag,
                cache: false,
                success: function (msg) {
//jika data sukses diambil dari server kita tampilkan
//di <select id=kota>
                    $("#noc").html(msg);
                }
            });
        });
        $("#noc").change(function () {
            var noc = $("#noc").val();
            $.ajax({
                type: "POST",
                url: '{$config->site_url("inap/kep/list_indikator")}',
                data: "noc=" + noc,
                cache: false,
                success: function (msg) {
//jika data sukses diambil dari server kita tampilkan
//di <select id=kota>
                    $("#indikator").html(msg);
                }
            });
        });
        $("#indikator").change(function () {
            var indikator = $("#indikator").val();
            $.ajax({
                type: "POST",
                url: '{$config->site_url("inap/kep/list_nic")}',
                data: "indikator=" + indikator,
                cache: false,
                success: function (msg) {
//jika data sukses diambil dari server kita tampilkan
//di <select id=kota>
                    $("#nic").html(msg);
                }
            });
        });
        $("#nic").change(function () {
            var nic = $("#nic").val();
            $.ajax({
                type: "POST",
                url: '{$config->site_url("inap/kep/list_nic2")}',
                data: "nic=" + nic,
                cache: false,
                success: function (msg) {
//jika data sukses diambil dari server kita tampilkan
//di <select id=kota>
                    $("#nic2").html(msg);
                }
            });
        });
        $(".tanggal").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        // timepicker
        $('.waktu').timepicker({
            timeFormat: 'HH:mm:ss',
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/clock.png",
            buttonImageOnly: true
        });
        $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
        });
        // dialog form
        $("#opendialogpengirim")
                .button()
                .click(function () {
                    $("#dialog-form").dialog('open');
                });
        $("#opendialogklas")
                .button()
                .click(function () {
                    $("#dialog-klas").dialog('open');
                });
        $("#dialog-form").dialog({
            autoOpen: false,
            resizable: false,
            height: 380,
            width: 750,
            modal: true
        });
        $("#dialog-klas").dialog({
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 750,
            modal: true
        });
        // auto select bukti kualitas
        $("#notes_judul").change(function () {
            var notes_id = $("#notes_judul").val();
            // nilai kualitas
            $.ajax({
                type: 'POST',
                data: '&notes_id=' + notes_id,
                url: '{$config->site_url("surat/draft_st/notes_deskripsi")}',
                success: function (result) {
                    $("#notes_draft").val(result);
                }
            });
        });
        // chain select
        // nic2
        var user = $("#user").val();
        $('#nic2').select2('data', null);
        $('#nic2').select2('data', null);
        $("#nic2").removeAttr("disabled");
        jQuery("#nic2").html('');
        $.ajax({
            type: "POST",
            url: "{$config->site_url('surat/undangan/list_instansi/')}",
            data: "user=" + user,
            dataType: 'json',
            success: function (data) {
                var showData;
                jQuery.each(data, function (index, result) {
                    if (result.value == 0) {
                    } else {
                        showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                    }
                })
                jQuery("#nic2").html(showData);
            }
        });
        //tags
        $("#nic2").select2({});
    });</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'nic2_loop[]'}
{assign var=nic2_loop value=$i}
{$nic2_var=""}
{foreach from=$nic2_loop key=key item=i}
{$nic2_var=$nic2_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=nic2_loop value=$nic2_var}
<script type="text/javascript">
    $(document).ready(function () {
        // date picker
        $(".tanggal").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        // chain select
        var user = $("#user").val();
        $('#nic2').select2('data', null);
//        if (operator == '') {
//            $("#tipe_pesawat").attr("disabled", "disabled");
//        } else {
        $("#nic2").removeAttr("disabled");
        jQuery("#nic2").html('');
        $.ajax({
            type: "POST",
            url: "{$config->site_url('surat/masuk/list_user/')}",
            data: "user=" + user,
            dataType: 'json',
            success: function (data) {
                var showData;
                jQuery.each(data, function (index, result) {
                    if (result.value == 0) {
                    } else {
                        showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                    }
                })
                jQuery("#nic2").html(showData);
                        $('#nic2').select2('val', [{$nic2_loop}]);
            }
        });
//        }
        $("#user").change(function () {
            user = $(this).val();
            $('#nic2').select2('data', null);
//            if (user == '') {
//                $("#tipe_pesawat").attr("disabled", "disabled");
//            } else {
            $("#nic2").removeAttr("disabled");
            jQuery("#nic2").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('surat/keluar/list_instansi/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function (data) {
                    var showData;
                    jQuery.each(data, function (index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#nic2").html(showData);
                }
            });
//            }
        });
        //tags
        $("#nic2").select2({});
    });</script>
{/if}
{/foreach}

{/if}


<!--Tembusan-->
<script type="text/javascript">
    $(document).ready(function () {
        // chain select
        // tembusan
        var user = $("#user").val();
        $('#tembusan').select2('data', null);
        $('#tembusan').select2('data', null);
        $("#tembusan").removeAttr("disabled");
        jQuery("#tembusan").html('');
        $.ajax({
            type: "POST",
            url: "{$config->site_url('surat/keluar/list_instansi/')}",
            data: "user=" + user,
            dataType: 'json',
            success: function (data) {
                var showData;
                jQuery.each(data, function (index, result) {
                    if (result.value == 0) {
                    } else {
                        showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                    }
                })
                jQuery("#tembusan").html(showData);
            }
        });
        //tags
        $("#tembusan").select2({});
    });</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'tembusan_loop[]'}
{assign var=tembusan_loop value=$i}
{$tembusan_var=""}
{foreach from=$tembusan_loop key=key item=i}
{$tembusan_var=$tembusan_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=tembusan_loop value=$tembusan_var}
<script type="text/javascript">
    $(document).ready(function () {
        // date picker
        $(".tanggal").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        // chain select
        var user = $("#user").val();
        $('#tembusan').select2('data', null);
//        if (operator == '') {
//            $("#tipe_pesawat").attr("disabled", "disabled");
//        } else {
        $("#tembusan").removeAttr("disabled");
        jQuery("#tembusan").html('');
        $.ajax({
            type: "POST",
            url: "{$config->site_url('surat/masuk/list_user/')}",
            data: "user=" + user,
            dataType: 'json',
            success: function (data) {
                var showData;
                jQuery.each(data, function (index, result) {
                    if (result.value == 0) {
                    } else {
                        showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                    }
                })
                jQuery("#tembusan").html(showData);
                        $('#tembusan').select2('val', [{$tembusan_loop}]);
            }
        });
//        }
        $("#user").change(function () {
            user = $(this).val();
            $('#tembusan').select2('data', null);
//            if (user == '') {
//                $("#tipe_pesawat").attr("disabled", "disabled");
//            } else {
            $("#tembusan").removeAttr("disabled");
            jQuery("#tembusan").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('surat/keluar/list_instansi/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function (data) {
                    var showData;
                    jQuery.each(data, function (index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#tembusan").html(showData);
                }
            });
//            }
        });
        //tags
        $("#tembusan").select2({});
    });</script>
{/if}
{/foreach}

{/if}


<!--Tujuan Eksternal-->
<script type="text/javascript">
    $(document).ready(function () {
        // chain select
        // tembusan
        var user = $("#user").val();
        $('#tujuan_eks').select2('data', null);
        $('#tujuan_eks').select2('data', null);
        $("#tujuan_eks").removeAttr("disabled");
        jQuery("#tujuan_eks").html('');
        $.ajax({
            type: "POST",
            url: "{$config->site_url('surat/undangan/list_eksternal/')}",
            data: "user=" + user,
            dataType: 'json',
            success: function (data) {
                var showData;
                jQuery.each(data, function (index, result) {
                    if (result.value == 0) {
                    } else {
                        showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                    }
                })
                jQuery("#tujuan_eks").html(showData);
            }
        });
        //tags
        $("#tujuan_eks").select2({});
    });</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'tujuan_eks_loop[]'}
{assign var=tujuan_eks_loop value=$i}
{$tujuan_eks_var=""}
{foreach from=$tujuan_eks_loop key=key item=i}
{$tujuan_eks_var=$tujuan_eks_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=tujuan_eks_loop value=$tujuan_eks_var}
<script type="text/javascript">
    $(document).ready(function () {
        // date picker
        $(".tanggal").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        // chain select
        var user = $("#user").val();
        $('#tujuan_eks').select2('data', null);
//        if (operator == '') {
//            $("#tipe_pesawat").attr("disabled", "disabled");
//        } else {
        $("#tujuan_eks").removeAttr("disabled");
        jQuery("#tujuan_eks").html('');
        $.ajax({
            type: "POST",
            url: "{$config->site_url('surat/undangan/list_eksternal/')}",
            data: "user=" + user,
            dataType: 'json',
            success: function (data) {
                var showData;
                jQuery.each(data, function (index, result) {
                    if (result.value == 0) {
                    } else {
                        showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                    }
                })
                jQuery("#tujuan_eks").html(showData);
                        $('#tujuan_eks').select2('val', [{$tembusan_loop}]);
            }
        });
//        }
        $("#user").change(function () {
            user = $(this).val();
            $('#tujuan_eks').select2('data', null);
//            if (user == '') {
//                $("#tipe_pesawat").attr("disabled", "disabled");
//            } else {
            $("#tujuan_eks").removeAttr("disabled");
            jQuery("#tujuan_eks").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('surat/undangan/list_eksternal/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function (data) {
                    var showData;
                    jQuery.each(data, function (index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#tujuan_eks").html(showData);
                }
            });
//            }
        });
        //tags
        $("#tujuan_eks").select2({});
    });</script>
{/if}
{/foreach}

{/if}
<script type="text/javascript">
    // autocomplete instansi
    $(function () {
        var availableTags = [
        {foreach from = $rs_instansi item = data}
        "{$data.instansi_name}",
        {/foreach}
        ];
                $("#tags").autocomplete({
            source: availableTags
        });
    });
    // multiple upload file
    var upload_number = 2;
    function addFileInput() {
        var d = document.createElement("div");
        var file = document.createElement("input");
        file.setAttribute("type", "file");
        file.setAttribute("name", "file_name" + upload_number);
        d.appendChild(file);
        document.getElementById("moreUploads").appendChild(d);
        upload_number++;
    }
</script>