<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/instansi')}">Data Instansi</a><span></span>
        <small>Delete Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/instansi')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pengaturan/instansi/delete_process')}" method="post">
    <input name="instansi_id" type="hidden" value="{$result.instansi_id|default:''}" />
    <table class="table-input" width="100%">
        <tr>
            <th colspan="4">Delete Data</th>
        </tr>
        <tr>
            <td width="10%">Nama Instansi</td>
            <td width="40%">{$result.instansi_name|default:''}</td>
            <td width="10%">No Telepon</td>
            <td width="40%">{$result.instansi_telp|default:''}</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>{$result.instansi_alamat|default:''}</td>
            <td>No Fax</td>
            <td>{$result.instansi_fax|default:''}</td>
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save[insert]" value="Delete" class="edit-button" />
            </td>
        </tr>
    </table>
</form>