{include file="farmasi/udd/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Farmasi</a><span></span>
        <small>UDD</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('farmasi/udd/proses_cari')}" method="post">
        <table class="table-search" width="100%">
            <tr>
                <th width="5%">Layanan</th>
                <th width="10%">
                    <select name="FS_KD_LAYANAN" class="select2" style="width: 200px;">
                        <option value=""></option>
                        {foreach from=$rs_layanan['response'] item=data}
                        <option value="{$data.FS_KD_LAYANAN}" {if $search.FS_KD_LAYANAN eq $data.FS_KD_LAYANAN} selected="selected"{/if}>{$data.FS_NM_LAYANAN}</option>
                        {/foreach}
                    </select>
                </th>
                <th width="15%">Tanggal Pelayanan</th>
                <th width='13%'>
                    <input name="FD_TGL_TRS" value="{$search.FD_TGL_TRS}" class="tanggal" size="10" style="text-align: center;"/>
                </th>
                <th width="5%" aligh="left">Shift</th>
                    <th>
                        <select name="FS_UDD_WAKTU">
                            <option value='0' {if $search.FS_UDD_WAKTU eq '0'} selected="selected"{/if}>--Pilih Data--</option>
                            <option value='1' {if $search.FS_UDD_WAKTU eq '1'} selected="selected"{/if}>Pagi</option>
                            <option value='2' {if $search.FS_UDD_WAKTU eq '2'} selected="selected"{/if}>Siang</option>
                            <option value='3' {if $search.FS_UDD_WAKTU eq '3'} selected="selected"{/if}>Malam</option>
                        </select>
                    </th>
                <td width="55%">
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="dashboard-container">
    <table class="table-view" width="100%" border="0">
        <thead>
            <tr>
                <th>Jam Order</th>
                <th>Jaminan</th>
                <th>No MR</th>
                <th>Layanan</th>
                <th>Nama Psien</th>
                <th>Dokter</th>
                <th>Status</th>
                <th width='5%'></th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$rs_pasien item=data}
            <tr>
                <td>{$data.fs_jam_trs}</td>
                <td>{$data.fs_nm_tipe_jaminan}</td>
                <td>{$data.FS_MR}</td>
                <td>{$data.fs_nm_layanan}</td>
                <td>{$data.fs_nm_pasien}</td>
                <td>{$data.fs_nm_peg}</td> 
                <td>
                    {if $data.fs_kd_du eq ' '}
                    <img src="{$BASEURL}resource/doc/images/icon/icon.waiting.png" alt="" />
                    Belum Terlayani
                    {else}
                    <img src="{$BASEURL}resource/doc/images/icon/icon.approve.png" alt="" />
                    Terlayani
                    {/if}
                </td> 
                <td>
                    <a href="{$config->site_url('farmasi/udd/add/'|cat:$data.fs_kd_trs|cat:'/'|cat:$data.fs_kd_reg)}" class="button-edit">Edit</a>
                    <!--<a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_resep/'|cat:$data.fs_kd_trs)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">Cetak Resep</a>
                    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_etiket_udd/'|cat:$data.fs_kd_reg|cat:'/'|cat:$data.fs_kd_trs)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">Cetak Etiket</a>
                    -->
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>