{include file="farmasi/rawat_jalan/add_script_js.html"}

<div class="breadcrum">
    <p>
        <a href="#">Nursing Record</a><span></span>
        <a href="{$config->site_url('farmasi/rawat_jalan/')}">Rawat Jalan</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('farmasi/rawat_jalan/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('farmasi/rawat_jalan/add_process')}" method="post">
    <input type="hidden" name="FS_KD_REG" id="FS_KD_REG" value="{$result.FS_KD_REG}" />
    <input type="hidden" name="FS_KD_MEDIS" value="{$FS_KD_MEDIS}" />
    <input type="hidden" name="FS_KD_LAYANAN" value="{$result.FS_KD_LAYANAN}" />
    <input type="hidden" name="FS_JNS_ASESMEN" value="{$FS_JNS_ASESMEN}" />
    <table class="table-info" width="100%">
        <tr class="headrow">
            <th colspan="4">Data Pasien</th>
        </tr>
        <tr>
            <td width='20%'>Kode Reg</td>
            <td width='30%'>{$result.FS_KD_REG}</td>
            <td width='20%'>No RM</td>
            <td width='30%'>{$result.FS_MR}</td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>{$result.FS_NM_PASIEN|default:''}</td>
            <td>Alamat</td>
            <td>{$result.FS_ALM_PASIEN|default:''}</td>
        </tr>
        <tr>
            <td>Umur</td>
            <td>{$result.fn_umur|default:''} Tahun</td>
            <td>Jenis Kelamin</td>
            <td>
                {if $result.FS_JNS_KELAMIN eq '1'}
                Perempuan
                {else}
                Laki-Laki
                {/if}
            </td>
        </tr>
        <tr>
            <td>Jaminan</td>
            <td>{$result.FS_NM_JAMINAN|default:''}</td>
            <td>Dokter</td>
            <td>{$result.FS_NM_PEG|default:''}</td>
        </tr>
        <tr>
            <td>Kelengkapan Berkas</td>
            <td>
                {if $result.FS_KD_TIPE_JAMINAN eq '95001' OR $result.FS_KD_TIPE_JAMINAN eq '96001'}
                {if $result.FS_NO_SJP eq ' '}
                <span style='color: red;font-weight: bold;font-size: 15px;'><blink>DATA BELUM DIVERIFIKASI</blink></span>
                {else}
                <span style='color: green;font-weight: bold;font-size: 15px;'><blink>DATA SUDAH DIVERIVIKASI</blink></span>
                {/if}
                {/if}
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="navigation">
        <div class="pageRow">
            <div class="pageNav">
                <ul>
                    <li class="info"></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="navigation-button">
            <ul>
                <li><a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm / rawat_jalan / resume / '|cat:$result.FS_MR)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> Profil Ringkas Medis Rawat Jalan</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="8">Copy Resep</th>
        </tr>
        <tr class="submit-box">
            <td colspan="8">
                <a href="#" id="opendialogadd"><img src="{$BASEURL}/resource/doc/images/icon/add-icon.png" style="height:20px;" alt="Tambah Data" /></a>
            </td>
        </tr>
        <tr>
            <td><center><b>Nama Barang</b></center></td>
        <td><center><b>Qty</b></center></td>
        <td><center><b>Satuan</b></center></td>
        <td><center><b>DET ORIG</b></center></td>
        <td><center><b>DET</b></center></td>
        <td><center><b>NEDET</b></center></td>
        <td><center><b>Keterangan</b></center></td>
        <td><center><b>Aksi</b></center></td>
        </tr>

        <tbody id="show_data">

        </tbody>

    </table>
</form>

<div id="ModalAdd">
    <table class="table-input" width="100%">
        <tr >
            <th colspan="2">Add Data <span id="loading">LOADING...</span></th>
        </tr>
        <tr>
            <td>Nama Barang</td>
            <td>
                <select name="FS_KD_BARANG" class="select2" style="width: 320px;" id="FS_KD_BARANG">
                    <option value="">--Pilih Data--</option>
                    {foreach $rs_resep as $data}
                    <option value="{$data.FS_KD_BARANG}">{$data.FS_NM_BARANG}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="show_data_obat"></div>
            </td>
        </tr>
        
            <tr>
            <td>DET ORIG</td>
            <td>
                <input name="FN_DET_ORIG" id="FN_DET_ORIG" class="form-control" type="text" size="2">
        </tr>
            <tr>
            <td>DET</td>
            <td>
                <input name="FN_DET" id="FN_DET" class="form-control" type="text" size="2">
        </tr>
            <tr>
            <td>NE DET</td>
            <td>
                <input name="FN_NEDET" id="FN_NEDET" class="form-control" type="text" size="2">
        </tr>
        <tr>
            <td>Keterangan</td>
            <td>
                <input name="FS_KETERANGAN" id="FS_KETERANGAN" class="form-control" type="text">
            </td>
        </tr>
        
        <tr class="submit-box">
            <td colspan="2">
                <button type="button" id="btn-add" class="btn-blue">Tambah</button>
            </td>
        </tr>
    </table>
</div>

<div id="ModalHapus">
    <table class="table-input" width="100%">
        <tr>
            <th colspan="2">Hapus Data <span id="loading-hapus">LOADING...</span></th>
        </tr>
        <tr>
        <input type="hidden" name="kode" id="textkode" value="" />
        <td><div class="alert alert-warning"><p>Apakah Anda yakin mau menghapus barang ini?</p></div></td>
        </tr>
        <tr class="submit-box">
            <td colspan="2">
                <button type="button" id="btn_hapus" class="btn-red">Hapus</button>
            </td>
        </tr>
    </table>
</div>