<!-- include javascript -->
{include file="inap/resume/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Data Arsip</a><span></span>
        <a href="{$config->site_url('inap/resume/cari')}">Resume Pasien Pulang</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('inap/resume/add/'|cat:$rs_pasien.fs_kd_reg)}" class="active">Data Resume</a></li>
            <li><a href="#">Data Diagnosis</a></li>
            <li><a href="#">Data Terapi Pasien</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('inap/resume/add_process')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
        <input name="FS_MR" type="hidden" value="{$rs_pasien.fs_mr}" />

        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Resume Pasien Pulang</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.fs_mr}
                </td>
            </tr>
             <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"} ({$rs_pasien.fs_umur})
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$rs_pasien.FS_ALM_PASIEN}</td>
            </tr>
             <tr>
                <td>Status Sosial / Pekerjaan / Pendidikan</td>
            <td>
                {$rs_pasien.FS_NM_PEKERJAAN_DK} / {$rs_pasien.FS_NM_PENDIDIKAN_DK}
            </td>
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr>
                <th colspan="2">KELUHAN UTAMA</th>
            </tr>
            <tr>
                <td>Diagnosa Saat Masuk</td>
                <td>
                    <textarea name="FS_KELUHAN_UTAMA" rows="3" cols="100">{$rs_pasien.fs_anamnese}</textarea>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">Indikasi Di Rawat</td>
                <td style="vertical-align: top" colspan="2">
                    <select name="tembusan[]" multiple id="tembusan" style="width:350px">
                        <option></option>
                    </select>
                    <input type="text" name="FS_KET_INDIKASI" size="25" placeholder="Keterangan Indikasi Dirawat ">
                    <!--<select name="FS_INDIKASI_DIRAWAT" id="opa1">
                        <option value="0">--Pilih--</option>
                        <option value="3">Evalusai Klinis</option>
                        <!--<option value="2">Pemberian Terapi</option>
                        <option value="1">Prosedur Diagnostik / Prosedur Terapi / Tindakan</option>
                    </select>-->
                </td>
            </tr>
            <tr>
                <td>Ringkasan riwayat penyakit / Anamnese</td>
                <td>
                    <textarea name="FS_RIWAYAT_PENYAKIT" rows="3" cols="100">
                        {$result.FS_ANAMNESA|strip_tags}
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>Pemeriksaan fisik Abnormal</td>
                <td>
                    <textarea name="FS_PEMERIKSAAN_FISIK" rows="3" cols="100">
                        {$result.FS_HASIL_PEMERIKSAAN_PENUNJANG|strip_tags}
                    </textarea>
                </td>
            </tr>
             <tr>
                <td>
                    Vital Sign Sebelum Dirawat
                </td>
                <td>
                    Suhu : <input type="text" name="FS_SUHU1" size="10">
                    Nadi : <input type="text" name="FS_NADI1" size="10">x/menit
                    R : <input type="text" name="FS_R1" size="10">x/menit
                    TD : <input type="text" name="FS_TD1" size="10">mmHg
                </td>
            </tr>
            <tr>
                <td>Pemeriksaan penunjang terpenting</td>
                <td>
                    <textarea name="FS_PEMERIKSAAN_PENUNJANG" rows="3" cols="100"></textarea>
                </td>
            </tr>
            <tr>
                <td>Terapi / Pengobatan selama di rumah sakit</td>
                <td>
                    <textarea name="FS_TERAPI" rows="3" cols="100">{foreach from=$rs_obat item=data3}{$data3.FS_NAMA_OBAT} {$data3.FS_DOSIS_OBAT}/{$data3.FS_INTERVAL},{/foreach}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Hasil laboratorium belum selesai
                </td>
                <td>
                    <select name="FS_HASIL_LAB">
                        <option value="NULL" onclick='document.getElementById("civstaton1").disabled = true'>-- Pilih --</option>
                        <option value="TIDAK" onclick='document.getElementById("civstaton1").disabled = true'>Tidak Ada</option>
                        <option onclick='document.getElementById("civstaton1").disabled = false'>Ada</option>
                    </select>
                    <input type="text" name="FS_HASIL_LAB" id="civstaton1" disabled="" size="30">
                </td>
            </tr>
            <tr>
                <td>
                    Alergi (reaksi obat)
                </td>
                <td>
                    <select name="FS_ALERGI">
                        <option value="NULL" onclick='document.getElementById("civstaton2").disabled = true'>-- Pilih --</option>
                        <option value="TIDAK" onclick='document.getElementById("civstaton2").disabled = true'>Tidak Ada</option>
                        <option onclick='document.getElementById("civstaton2").disabled = false'>Ada</option>
                    </select>
                    <input type="text" name="FS_ALERGI" id="civstaton2" disabled="" size="30">
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">Diet</td>
                <td style="vertical-align: top" colspan="2">
                    <select name="tujuan[]" multiple id="tujuan" style="width:350px">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Instruksi/Anjuran edukasi</td>
                <td>
                    <!--<textarea name="FS_INSTRUKSI" rows="3" cols="30"></textarea>-->
                    <input type='checkbox' name='FS_INSTRUKSI1'  value="YA">Istirahat Cukup<br>  
                    <input type='checkbox' name='FS_INSTRUKSI2'  value="YA">Kontrol Sesuai Waktu Yang Di Anjurkan<br>   
                    <input type='checkbox' name='FS_INSTRUKSI3'  value="YA">Minum Obat Sesuai Anjuran<br>   
                    <input type='checkbox' name='FS_INSTRUKSI4'  value="YA">Tingkatkan Latihan<br>   
                    <input type='checkbox' name='FS_INSTRUKSI5'  value="YA">Hubungi (0274)6499118 IGD RS PKU Muhammadiyah Gamping bila dalam keadaan gawat darurat<br>   
                </td>
            </tr>
            <tr>
                <td>
                    Pengobatan dilanjutkan
                </td>
                <td>
                    <select name="FS_KD_LAYANAN" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        {foreach from=$rs_layanan item=data}
                        <option value="{$data.FS_KD_LAYANAN}">{$data.FS_NM_LAYANAN}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tanggal Kontrol</td>
                <td>
                    <input name="FD_TGL_KONTROL" type="text" size="10" maxlength="10" value="{$result.FD_TGL_UND|default:''}" class="tanggal" style="text-align: center;" />
                </td>
            </tr>
            <tr>
                <td>Jam Kontrol</td>
                <td>
                    <input name="FS_JAM_KONTROL" type="text" value="{$result.FS_JAM_PESAN_RUANG_MEETING|default:''}" size="10" maxlength="10" style="text-align: center"/>
                </td>
            </tr>
            <tr>
                <td>Keterangan Kontrol</td>
                <td>
                    <input name="FS_KET_KONTROL" type="text" value="DI RS PKU MUH GAMPING" size="25" />
                </td>
            </tr>
            <tr>
                <td>
                    Pengobatan dilanjutkan 2
                </td>
                <td>
                    <select name="FS_KD_LAYANAN2" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        {foreach from=$rs_layanan item=data2}
                        <option value="{$data2.FS_KD_LAYANAN}">{$data2.FS_NM_LAYANAN}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tanggal Kontrol 2</td>
                <td>
                    <input name="FD_TGL_KONTROL2" type="text" size="10" maxlength="10" value="{$result.FD_TGL_UND2|default:''}" class="tanggal" style="text-align: center;" />
                </td>
            </tr>
            <tr>
                <td>Jam Kontrol 2</td>
                <td>
                    <input name="FS_JAM_KONTROL2" type="text" value="{$result.FS_JAM_PESAN_RUANG_MEETING2|default:''}" size="10" maxlength="10" style="text-align: center"/>
                </td>
            </tr>
            <tr>
                <td>Keterangan Kontrol 2</td>
                <td>
                    <input name="FS_KET_KONTROL2" type="text" value="DI RS PKU MUH GAMPING" size="25"/>
                </td>
            </tr>
            <tr>
                <td>Diagnosis Utama</td>
                <td>
                    <textarea name="FS_DIAG_UTAMA" rows="3" cols="100"></textarea>
                </td>
            </tr>
            <tr>
                <th colspan="2">KEADAAN PASIEN SAAT PULANG</th>
            </tr>
            <tr>
                <td>
                    Keadaan Umum
                </td>
                <td>
                    <input type='checkbox' name='FS_KEADAAN_UMUM_BAIK' onclick='document.getElementById("civstaton3").disabled = true' value="YA">Baik  
                    <input type='checkbox' name='FS_KEADAAN_UMUM_MASIH_SAKIT' onclick='document.getElementById("civstaton3").disabled = true' value="YA">Masih Sakit   
                    <input type='checkbox' name='FS_KEADAAN_UMUM_SESAK' onclick='document.getElementById("civstaton3").disabled = true' value="YA">Sesak   
                    <input type='checkbox' name='FS_KEADAAN_UMUM_PUCAT' onclick='document.getElementById("civstaton3").disabled = true' value="YA">Pucat   
                    <input type='checkbox' name='FS_KEADAAN_UMUM_LEMAH' onclick='document.getElementById("civstaton3").disabled = true' value="YA">Lemah   
                    <input type='checkbox' name='FS_KEADAAN_UMUM_LAIN' onclick='document.getElementById("civstaton3").disabled = false'>Lain-lain
                    <input type='text' name='FS_KEADAAN_UMUM_LAIN' id="civstaton3" disabled="">
                </td>
            </tr>
            <tr>
                <td>
                    Vital Sign
                </td>
                <td>
                    Suhu : <input type="text" name="FS_SUHU" size="10">
                    Nadi : <input type="text" name="FS_NADI" size="10">x/menit
                    R : <input type="text" name="FS_R" size="10">x/menit
                    TD : <input type="text" name="FS_TD" size="10">mmHg
                </td>
            </tr>
            <tr>
                <td>Pemeriksaan Fisik</td>
                <td>
                    <!--<textarea name="FS_PEM_FISIK" rows="3" cols="30"></textarea>-->
                     <!--<textarea name="FS_PEM_FISIK" rows="3" cols="30">{$rs_resume.FS_PEM_FISIK|default:''}</textarea>-->
                    <input type='checkbox' name='FS_PEM_FISIK1' onclick='document.getElementById("civstaton5").disabled = true' value="YA">Tak Anemis<br>  
                    <input type='checkbox' name='FS_PEM_FISIK2' onclick='document.getElementById("civstaton5").disabled = true' value="YA">Anemis<br>   
                    <input type='checkbox' name='FS_PEM_FISIK3' onclick='document.getElementById("civstaton5").disabled = true' value="YA">Cor Dalam Batas Normal<br>   
                    <input type='checkbox' name='FS_PEM_FISIK4' onclick='document.getElementById("civstaton5").disabled = true' value="YA">Kardiomegali<br>   
                    <input type='checkbox' name='FS_PEM_FISIK5' onclick='document.getElementById("civstaton5").disabled = true' value="YA">Paru Dalam Batas Normal<br>   
                    <input type='checkbox' name='FS_PEM_FISIK8' onclick='document.getElementById("civstaton5").disabled = true' value="YA">Abdomen Dalam Batas Normal<br>   
                    <input type='checkbox' name='FS_PEM_FISIK6' onclick='document.getElementById("civstaton5").disabled = true' value="YA">Ekstremitas Dalam Batas Normal<br>   
                    <input type='checkbox' name='FS_PEM_FISIK7' onclick='document.getElementById("civstaton5").disabled = false' value="YA">Lainnya  
                     <input type='text' name='FS_PEM_FISIK7' id="civstaton5" disabled="">
                </td>
            </tr>
            <!--<tr>
                <td>Catatan Hal Penting</td>
                <td>
                    <textarea name="FS_CAT_HAL_PENTING" rows="3" cols="30"></textarea>
                </td>
            </tr>-->
            <tr>
                <td>Tanggal Pulang</td>
                <td>
                    <input name="FD_TGL_PULANG" type="text" size="10" maxlength="10" value="{$result.FD_TGL_UND|default:''}" class="tanggal" style="text-align: center;" />
                </td>
            </tr>
            <tr>
                <td>
                    Cara Pulang
                </td>
                <td>
                    <select name="FS_CARA_PULANG">
                        <option value="" onclick='document.getElementById("civstaton4").disabled = true'>-- Pilih --</option>
                        <option value="1" onclick='document.getElementById("civstaton4").disabled = true'>Sembuh</option>
                        <option value="2" onclick='document.getElementById("civstaton4").disabled = true'>Tampak Masih Sakit</option>
                        <option value="3" onclick='document.getElementById("civstaton4").disabled = true'>Pulang Atas Permintaan Sendiri</option>
                        <option value="4" onclick='document.getElementById("civstaton4").disabled = true'>Meninggal</option>
                        <option value="5" onclick='document.getElementById("civstaton4").disabled = true'>Pindah Rumah Sakit</option>
                        <option onclick='document.getElementById("civstaton4").disabled = false'>Lain-Lain</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Keterangan Cara Pulang
                </td>
                <td>
                    <input type="text" name="FS_KET_CARA_PULANG" size="27"> <em>* Wajib Diisi Jika Pasien Kondisi Dirujuk (Dirujuk Kemana),APS(alasan apa) atau Meninggal(diagnosa apa)</em>
                </td>
            </tr>
            <tr class="submit-box">
                <td colspan="2">
                    <input type="submit" name="save" value="Lanjutkan & Simpan" class="edit-button" style="float:right;"/>
                </td>
            </tr>
        </table>
    </form>
</div>