<div class="breadcrum">
    <p>
        <a href="#">Data Arsip</a><span></span>
        <a href="{$config->site_url('inap/resume/cari')}">Resume Pasien Pulang</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('inap/resume/edit_terapi_process')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
        <input name="FS_KD_TERAPI" type="hidden" value="{$terapi.FS_KD_TERAPI}" />
        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="2">Edit Terapi</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.fs_mr}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$rs_pasien.FS_ALM_PASIEN}</td>
            </tr>
            <tr>
                <td>TANGGAL MASUK</td>
                <td>{$rs_pasien.fd_tgl_masuk|date_format:"%d %b %Y"}</td>
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr>
                <th colspan="2">Edit Terapi</th>
            </tr>
            <tr>
                <td>Nama Obat</td>
                <td><input type="text" name="FS_NM_OBAT" value="{$terapi.FS_NM_OBAT}"></td>
            </tr>
            <tr>
                <td>Jumlah</td>
            <td><input type="text" name="FS_JML_OBAT" value="{$terapi.FS_JML_OBAT}"></td>
            </tr>
            <tr>
                <td>Dosis</td>
            <td><input type="text" name="FS_DOSIS_OBAT" value="{$terapi.FS_DOSIS_OBAT}"></td>
            </tr>
            <tr>
                <td>Frekwensi</td>
            <td><input type="text" name="FS_FREK_OBAT" value="{$terapi.FS_FREK_OBAT}"></td>
            </tr>
            <tr>
                <td>Cara Pemberian</td>
            <td><input type="text" name="FS_CARA_PEM_OBAT" value="{$terapi.FS_CARA_PEM_OBAT}"></td>
            </tr>
            <tr class="submit-box">
                <td colspan="2">
                    <input type="submit" name="save" value="Edit" class="edit-button"/>
                </td>
            </tr>
        </table>
    </form>
</div>