<!-- include javascript -->
{include file="inap/cppt/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
  <p>
    <a href="#">Catatan Rawat Inap</a><span></span>
    <small>CPPT</small>
  </p>
  <div class="clear"></div>
</div>

<div class="head-content">
  <div class="head-content-nav">
    <!--<ul>
            <li><a href="{$config->site_url('inap/cppt/')}" class="active">Cari Data</a></li>
            <li><a href="{$config->site_url('inap/cppt/cari2')}">Cari History</a></li>
        </ul>-->
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="content-entry">
  <!-- notification template -->
  {include file="base/templates/notification.html"}
  <!-- end of notification template-->
  <form action="{$config->site_url('inap/cppt/cari_process')}" method="post">
    <!--<input name="masuk_id" type="hidden" value="{$result.masuk_id|default:''}" />-->
    <table class="table-input" width="100%">
      <tr class="headrow">
        <th colspan="4">CPPT</th>
      </tr>
      <tr>
        <td>NO MR</td>
        <td colspan="3">
          <select
            name="FS_RG"
            id="surat_dari"
            class="select2"
            style="width: 400px"
          >
            <option value=""></option>
            {foreach from=$rs_pasien item=data}
            <option value="{$data.NO_REG}">
              {$data.NO_MR}|{$data.NAMA_PASIEN}|{$data.NAMA_RUANG}
            </option>
            {/foreach}
          </select>
          <em>* wajib diisi</em>
        </td>
      </tr>
      <tr class="submit-box">
        <td colspan="4">
          <input type="submit" name="save" value="Cari" class="edit-button" />
        </td>
      </tr>
    </table>
  </form>
</div>
