{include file="nurse/rawat_jalan/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Medical Record</a><span></span>
        <small>Berkas Pasien Dalam Perawatan</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('rm/berkas_rawat/proses_cari')}" method="post">
        <table class="table-search" width="100%">
            <tr>
                <th width="10%" aligh="left">No Rekam Medis</th>
                <td width="90%">
                    <select name="FS_MR" id="surat_dari" class="select2" style="width: 400px;">
                        <option value=""></option>
                        {foreach from=$rs_pasien item=data}
                        <option value="{$data.FS_MR}" {if $search.FS_MR eq $data.FS_MR} selected="" {/if}>{$data.FS_MR}|{$data.fs_nm_pasien}|{$data.fs_nm_bed}</option>
                        {/foreach}
                    </select>
                    <select name="FS_KD_JENIS_REG" class="select2" style="width: 150px;">
                        <option value=''0'' {if $search.FS_KD_JENIS_REG eq '0'} selected="" {/if}> Rawat Jalan</option>
                        <option value='1' {if $search.FS_KD_JENIS_REG eq '1'} selected="" {/if}> Rawat Inap</option>
                        <option value='3' {if $search.FS_KD_JENIS_REG eq '3'} selected="" {/if}> Rawat Darurat</option>
                    </select>
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="dashboard-container">
   <table class="table-info" width="100%">
    <tr class="headrow">
        <th colspan="4">Data Pasien</th>
    </tr>
    <tr>
        <td width='15%'>No RM</td>
        <td width='35%'>{$result.FS_MR}</td>
        <td width='15%'>Nama</td>
        <td width='35%'>{$result.FS_NM_PASIEN|default:''}</td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>{$result.FS_ALM_PASIEN|default:''}</td>
        <td>Tanggal Lahir</td>
        <td>{$result.FD_TGL_LAHIR|default:''}</td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>{if $result.FS_JNS_KELAMIN eq '1'}
            Perempuan
            {else}
            Laki-Laki
        {/if}</td>
        <td></td>
        <td>

        </td>
    </tr>
    
</table>
<table class="table-view" width="100%" border="0">
    <thead>
        <tr>
            <th width='19%'>Tanggal Kunjungan</th>
            <th>Kode Reg</th>
            <th>Dokter</th>
            <th>Layanan</th>
            <th>Status</th>
            <th width='15%'>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$rs_pasien2 item=data}
            <!--
            {assign var=form_rm value=$m_rawat_jalan->get_berkas_by_rg(array($data.FS_KD_REG))}
            {assign var=cek_pinjam value=$m_rm->get_pinjam_berkas_by_rg(array($data.FS_KD_REG,$now))}
        -->
        <tr>
            <td>{$data.FD_TGL_MASUK|date_format :"%d %B %Y"} - {$data.FD_TGL_KELUAR|date_format :"%d %B %Y"}</td>
            <td>{$data.FS_KD_REG}</td>
            <td>{$data.FS_NM_PEG}</td> 
            <td>{$data.FS_NM_LAYANAN}</td> 
            <td>
                <center>
                    <b>
                        {if $data.FS_KD_JENIS_REG eq '0'}
                        <div style="color: blue;">Rawat Jalan</div>
                        {elseif $data.FS_KD_JENIS_REG eq '1'}
                        <div style="color: green;">Rawat Inap</div>
                        {elseif $data.FS_KD_JENIS_REG eq '3'}
                        <div style="color: red;">Rawat Darurat</div>
                        {/if}
                    </b>
                </center>
            </td> 
            <td>
                {if $form_rm.FS_JENIS_BERKAS eq '1'}
                
                {/if}
                {if $data.FS_KD_JENIS_REG eq '0'}
                <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_rm/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_FORM)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download">RM</a>
                {elseif $data.FS_KD_JENIS_REG eq '1'}
                <a href="{$config->site_url('rm/berkas/detail/'|cat:$data.FS_KD_REG|default:'')}"  class="button-download">Detail</a> 
                {elseif $data.FS_KD_JENIS_REG eq '3'}
                <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_rm/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_FORM)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download">RM</a>
                {/if}
                
                {if $data.FS_CARA_PULANG == '2'}
                <a  href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_skdp/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">SKDP</a>
                {else}
                {/if}
                {if $data.FS_CARA_PULANG == '1'}
                <a  href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_prb/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">PRB</a>
                {else}
                {/if}
                {if $data.FS_CARA_PULANG eq '4'}
                <a  href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_rujukan/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">Rujukan RS</a>
                {else}
                {/if}
                {if $data.FS_TERAPI eq '' OR $data.FS_TERAPI eq '<p>-</p>'}
                {else}
                <a href="javascript:void(0);" onclick="window.open('{$config->site_url('medis/rawat_jalan/cetak_resep/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-edit">Resep</a>
                {/if}
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>
</div>
