{include file="surat/jiwa/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Surat Medis Dokter</a><span></span>
        <small>Surat Sehat Jiwa</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('surat/jiwa/proses_cari')}" method="post">
        <table class="table-search" width="100%">
            <tr>
                <th width="10%" aligh="left">Dokter</th>
                <td>
                    <select name="FS_KD_PEG" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        {foreach from=$rs_dokter item=data}
                        <option value="{$data.FS_KD_PEG}" {if $search.FS_KD_PEG eq $data.FS_KD_PEG} selected="selected"{/if}>{$data.FS_NM_PEG}</option>
                        {/foreach}
                    </select>
                <th width="10%" aligh="left">Periode</th>
                <td width="75%">
                    <input name="FD_TGL_MASUK" value="{$search.FD_TGL_MASUK}" class="tanggal" size="10" style="text-align: center;"/>
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="dashboard-container">
    <table class="table-view" width="100%" border="0">
        <thead>
            <tr>
                <th width='5%'>Nomor Antrian</th>
                <th>No MR</th>
                <th>Nama Psien</th>
                <th>Alamat</th>
                <th width='23%'>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$rs_pasien item=data}
            {assign var=cek_surat value=$m_surat->get_cek_surat(array($data.FS_KD_REG))}
            <tr>
                <td>{$data.FN_NO_URUT}</td>
                <td>{$data.FS_MR}</td>
                <td>{$data.FS_NM_PASIEN}</td>
                <td>{$data.FS_ALM_PASIEN}</td> 
                <td>
                    {if $cek_surat >= '1'}
                    <a href="{$config->site_url('surat/jiwa/edit/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_KD_REG)}" class="button-edit">Edit</a>
                    <a href="javascript:void(0);" onclick="window.open('{$config->site_url('surat/jiwa/surat_jiwa/'|cat:$data.FS_KD_REG|cat:'/'|cat:$data.FS_KD_TRS)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download">Surat</a>  
                    {else}
                    <a href="{$config->site_url('surat/jiwa/add/'|cat:$data.FS_KD_REG|cat:'/'|cat:$search.FS_KD_PEG)}" class="button-edit">Add</a>
                    
                    {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>
