<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>Navigation</small>
    </p>
    <div class="clear"></div>
</div>
<table class="table-view" width="100%">
    <tr>
        <th width="5%">No</th>
        <th width="35%">Nama</th>
        <th width="45%">Deskripsi</th>
        <th width="15%"></th>
    </tr>
    {foreach from=$rs_id key=no item=result}
    <tr {if ($no % 2) <> 0}class="blink-row"{/if}>
        <td>{$no + 1}.</td>
        <td>{$result.role_nm}</td>
        <td>{$result.role_desc}</td>
        <td align="center">
            <a href="{$config->site_url({'pengaturan/navigation/access_update/'|cat:$result.role_id})}" class="button-edit">Permissions</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="5">Empty</td>
    </tr>
    {/foreach}
</table>
