
 
<div class="breadcrum">
    <p>
        <a href="#">IGD </a><span></span>
        <a href="#">Triase</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div> 
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('igd/triase/add_process')}" method="post" onkeypress="return event.keyCode != 13">
    <br>
        <table class="table-input" width="100%" style="text-align: justify;">
         
            <tr>
                <td colspan="2"> Pasien telah mendaftar 
                    <input type="radio" name="status"  class="rad" required value="Tidak" class="form-control">Belum
                    <input type="radio" name="status" class="rad" required value="Ya" class="form-control">Sudah
                    <br>
                    <br>
                    <div id="form2" style="display:none"  >
                          <table>
                            <tr>
                                <td width="20%">Nama Pasien </td>
                                <td width="20%">
                                    <select name="FS_KD_REG" id="surat_dari" class="select2" style="width: 400px;">
                                        <option value=""></option>
                                        {foreach from=$rs_pasien item=data}
                                        <option value="{$data.No_Reg}">{$data.Nama_Pasien} | {$data.No_MR}</option>
                                        {/foreach}
                                    </select>
                                </td>
                            </tr>
                          </table>
                        </div>

                        <div id="form3" style="display:none"  >
                            <table>
                              <tr>
                                  <td width="20%">Nama Pasien </td>
                                  <td width="20%">
                                    <input type="text" name="Nama_Pasien" style="width: 400px;" class="form-control">
                                  </td>
                              </tr>
                              <tr>
                                <td width="20%">  Alamat </td>
                                <td width="20%">
                                  <input type="text" name="Alamat" class="form-control" style="width: 400px;">
                                </td>
                            </tr>
                            </table>
                          </div>
            
                </td>
            </tr>
            
              
          </table>

          <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">TRIASE</th>
            
            </tr>
            <tr>
                <td>Kontak Awal Pasien</td>
            </tr>
            <tr>
                <td width='20%'>Tanggal</td>
                <td width='30%'><input type="date" required name="TGL_DATANG" size="10" value="{date('Y-m-d', strtotime(date('Y-m-d')))}" /> 
                    Pukul 
               <input type="time" name="JAM_DATANG" size="10" required /> 
             </tr>
             <tr>
                <td width='20%'>Cara masuk </td>
                <td colspan="3"> 
                    <input type="radio" name="CARA_MASUK" required  value="Jalan"  /> Jalan
                    <input type="radio" name="CARA_MASUK" required value="Brandkar"  /> Brandkar 
                    <input type="radio" name="CARA_MASUK" required  value="Kursi Roda"  /> Kursi Roda 
                    <input type="radio" name="CARA_MASUK" required value="Digendong"  /> Digendong</td>
             </tr>
             <tr>
                <td width='20%'>  Sudah terpasang </td>
                <td colspan="3"> 
                    <textarea name="SUDAH_TERPASANG" style="width:650px" required rows="1" class="form-control">-</textarea>
              </tr>
              <tr>
                <td width='20%'>  Alasan Kedatangan </td>
                <td colspan="3"> 
                    <input type="radio" name="ALASAN_DATANG" required value="Datang Sendiri" class="radal" /> Datang Sendiri
                    <input type="radio" name="ALASAN_DATANG" required value="Polisi" class="radal" /> Polisi
                    <input type="radio" name="ALASAN_DATANG" required value="Rujukan"  class="radal"/> Rujukan
                        <input type="text" name="rujukan_dari" id="formal" style="display:none ;"> 
                    <input type="radio" name="ALASAN_DATANG"  value="Dijemput" class="radal" /> Dijemput 
                        <input type="text" name="dijemput" id="formal2" style="display:none ;"> 

                    </td>
             </tr>
             <tr>
                <td width='20%'>  Kendaraan </td>
                <td colspan="3"> 
                    <input type="radio" name="KENDARAAN" required  value="Ambulance" class="radb"  /> Ambulance
                    <input type="radio" name="KENDARAAN" required value="Bukan" class="radb" /> Lainnya
                    <input type="text" name="KENDARAAN1" id="formb" style="display:none ;"> 

                    </td>
              </tr>

               
        
            <tr>
                <td width='20%'>Identitas Pengantar</td>
                <td colspan="3">Nama <input type="text" required name="NAMA_PENGANTAR" size="50" value="-" /> 
                    No Telp <input type="text" required value="0" name="TELP_PENGANTAR" size="10"  /> </td>
             </tr>
             <tr>
                <td width='20%'>  Kasus </td>
                <td colspan="3"> 
                    <input type="radio" name="JENIS_KASUS" required value="Trauma"  /> Trauma
                    <input type="radio" name="JENIS_KASUS" required  value="Non"  /> Non Trauma </td>
              </tr>
              </table>


              <table class="table-input" width="100%">
                <tr class="headrow">
                    <th colspan="4">MEKANISME TRAUMA</th>
                
                </tr>
                  <tr>
                     <td colspan="4"> 
                        <input type="radio" name="JENIS_TRAUMA" required value="1"  class="radt" /> Kll Tunggal 
                          <div id="formtunggal" style="display: none;">
                          <input type="text" name="TEMPAT_KEJADIAN"  > 
                          <input type="date" name="TGL_KEJADIAN"  > 
                          <input type="time" name="JAM_KEJADIAN"  > 
                        </div>
                        <br>
                         <input type="radio" name="JENIS_TRAUMA" required  value="2"  class="radt"/> Kll Ganda 
                         <div id="formtunggal1" style="display: none;">
                            <input type="text" name="URAIAN_TRAUMA"  > 
                            <input type="text" name="TEMPAT_KEJADIAN"  > 
                            <input type="date" name="TGL_KEJADIAN"  > 
                            <input type="time" name="JAM_KEJADIAN"  > 
                            </div>
                         <br>
                        <input type="radio" name="JENIS_TRAUMA" required value="3"  class="radt"/> Jatuh dari ketinggian 
                            <input type="text" name="URAIAN_TRAUMA" id="formj" style="display: none;"  > 
                            <br>

                            <input type="radio" name="JENIS_TRAUMA" required value="7"  class="radt"/> Luka Bakar
                            <input type="text" name="URAIAN_TRAUMA" id="formlb" style="display: none;"  > 
                            <br>

                        <input type="radio" name="JENIS_TRAUMA" required value="4"  class="radt"/> Trauma Listrik
                            <input type="text" name="URAIAN_TRAUMA" id="formlis" style="display: none;"  > 
                            <br>
                        <input type="radio" name="JENIS_TRAUMA" required  value="5"  class="radt"/> Trauma Zat Kimia 
                            <input type="text" name="URAIAN_TRAUMA" id="formz" style="display: none;"  > 
                           <br>
                        <input type="radio" name="JENIS_TRAUMA"  required value="6" class="radt" /> Lainnya 
                            <input type="text" name="URAIAN_TRAUMA" id="formlain" style="display: none;"  > 

                      
                         
                        </td>

                 </tr>
                 </table>
                 <table class="table-input" width="100%">
                    <tr class="headrow">
                        <th colspan="4">  KELUHAN UTAMA</th>
                     </tr>
                     <tr>
                         <td colspan="4">
                             <textarea name="KELUHAN" required style="width: 650px;" rows="3"></textarea>
                         </td>
                     </tr>
                   </table>
                 <table class="table-input" width="100%">
                    <!-- <tr class="headrow">
                        <th colspan="4">    LEVEL TRIAGE</th>
                     </tr>
                     <tr>
                         <td colspan="4">
                             <table>
                                 <tr>
                                     <td>  <div class="a" style="width: 200px; height:20px; background-color: red;">    <input type="radio" name="PACS" value="1">PACS 1  </div></td>
                                     <td> <div class="a" style="width: 200px; height:20px; background-color: yellow;">   <input type="radio" name="PACS" value="2">PACS 2</div></td>
                                     <td>  <div class="a" style="width: 200px; height:20px; background-color: yellowgreen;">  <input type="radio" name="PACS" value="3">PACS 3</div> </td>
                                     <td> <div class="a" style="width: 200px; height:20px; background-color: green;"> <input type="hidden" name="PACS" value="4">PACS 4</div></td>
                                 </tr>
                             </table> 
                         </td>
                     </tr> -->

                     <input type="hidden" name="PACS"  >

            <tr class="headrow">
                <th colspan="4">Vital Sign</th>
            </tr>
            <tr>
                <td>Kesadaran</td>
                <td colspan="3">
                    <input type="radio" name="KESADARAN" required class="SADAR" value="Sadar">Sadar Penuh
                    <input type="radio" name="KESADARAN" required class="SADAR" value="Suara">Respon Suara
                    <input type="radio" name="KESADARAN" required class="SADAR" value="Nyeri">Respon Nyeri
                    <input type="radio" name="KESADARAN" required class="SADAR" value="Tidak">Tida Ada respon
                </td>
            </tr>
            <tr>
                <td>Tekanan Darah</td>
                <td colspan="3"><input type="text" name="TD" required class="TD" size="10" />  
                      R <input type="text" name="R" size="10" class="R" required value=""/>
                                Satuarasi O2 <input type="text" class="O2" required name="O2" size="10" /></td>
            </tr>
            <tr> 
                <td width='20%'>Nadi</td>
                <td colspan="3"><input type="text" name="N" required size="10" class="N" value="{$result.FS_NADI|default:''}"/>
                    Suhu
                    <input type="text" name="SUHU" size="25" required class="S" value="{$result.FS_SUHU|default:''}" placeholder="gunakan titik contoh 36.5"/>
                    Nyeri
                    <input type="text" name="NYERI" size="10" required value="{$result.FS_SUHU|default:''}"/>
            </tr>
            <tr>
               
            </tr>
            <tr>
                <td>Tinggi Badan</td>
                <td><input type="text" name="TB" size="10" required value="{$result.FS_TB|default:''}"/> cm</td>
                <td>Berat Badan</td>
                <td><input type="text" name="BB" size="10" required value="{$result.FS_BB|default:''}"/> Kg</td>
            </tr>
            <tr><td><br><br></td></tr>

            <tr>
                <td>Skor</td>
                <td colspan="3">
                    <table>
                        <tr>
                            <td> Kesadaran </td>
                            <td>   <input readonly type="text" name="SKOR_KESADARAN" id="S_SADAR" value="0"></td>
                        </tr>
                        <tr>
                            <td>Tekanan Darah Sistolik </td>
                            <td><input type="text" readonly name="SKOR_TD" id="S_TD" value="0"></td>
                        </tr>
                        <tr>
                            <td> Nadi </td>
                            <td>  <input type="text" name="SKOR_N" readonly id="S_N" value="0"></td>
                        </tr>
                        <tr>
                            <td>Respirasi</td>
                            <td> <input type="text" name="SKOR_R" readonly id="S_R" value="0"></td>
                        </tr>
                        <tr>
                            <td>Temperatur</td>
                            <td> <input type="text" name="SKOR_SUHU" readonly id="S_S" value="0"></td>
                        </tr>
                        <tr>
                            <td>Staurasi O2</td>
                            <td><input type="text" name="SKOR_O2" readonly id="S_O2" value="0"></td>
                        </tr>
                    </table>
                  
                    Total   :   <input type="text" name="TOTAL_SKOR" readonly id="S_T" value="0"><br>
                     <table>
                        <tr>
                            <td>  <div class="a" style="width: 100px; height:20px; color: red;">    <input type="radio" id='radio_1' name="KES" value="1"><b>Priorotas I (>=5)  </b></div></td>
                            <td> <div class="a" style="width: 110px; height:20px; color: goldenrod;">   <input type="radio" id='radio_2' name="KES" value="2"><b>Prioritas II (2-4)</b></div></td>
                            <td> <div class="a" style="width: 130px; height:20px; color: green;"> <input type="radio" name="KES" id='radio_3' value="3"> <b>Prioritas III (0-1)</b></div></td>
                            <td> <div class="a" style="width: 130px; height:20px; color: grey;"> <input type="radio" name="KES" id='radio_4' value="DOA"><b>Death on Arrived </b></div></td>
                        </tr>
                    </table> 
                    </td>
                    
            </tr>
            <tr>
                <td> Catatan Khusus </td>
                <td>
                    <textarea name="CAT_KHUSUS" required rows="3" style="width: 300px;">-</textarea>
                </td>
                </tr>

            <tr> <td >Keputusan </td>
                <td colspan="3"> 
                    <input type="hidden" name="KEPUTUSAN" style="width:500px ;"> 
                    Pukul
 
                    <input type="time" required name="JAM_KEP" value="" id="jam_keperawatan"></input>
                  </td>
                
            </tr>

            

        

           <tr class="submit-box">
            <td colspan="4">
                <div style="font-weight: bold;">
                    *Bismillahirohmanirrohim, saya dengan sadar dan penuh tanggung jawab mengisikan formulir ini dengan data yang benar
                </div>
                <br>
                <input type="submit" name="save" value="Simpan" class="edit-button"/>
            </td>
        </tr>

        </table>
    </form>
</div>
 

 
<script>

     // Mendapatkan elemen input waktu
     const inputWaktu = document.getElementById('jam_keperawatan');
  
  // Mengatur waktu awal
  updateTime();

  // Fungsi untuk memperbarui waktu pada input
  function updateTime() {
    const waktuSekarang = new Date();
    const jam = waktuSekarang.getHours();
    const menit = waktuSekarang.getMinutes();
    const detik = waktuSekarang.getSeconds();
    const waktuDefault = jam.toString().padStart(2, '0') + ':' + menit.toString().padStart(2, '0');
    inputWaktu.value = waktuDefault;
  }

  // Memperbarui waktu setiap menit
  setInterval(updateTime, 1000);

// window.onload = function() {
//     const inputWaktu = document.getElementById('jam_keperawatan');
//     const waktuSekarang = new Date();
//     const jam = waktuSekarang.getHours();
//     const menit = waktuSekarang.getMinutes();
//     const waktuDefault = jam.toString().padStart(2, '0') + ':' + menit.toString().padStart(2, '0');
//     inputWaktu.value = waktuDefault;
//   };

       $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
        });

        $(function(){
      $(":radio.rad").click(function(){
        $("#form2").hide();
        $("#form3").hide();

        if($(this).val() == "Ya"){
          $("#form2").show();
          $("#form3").hide()
        }else if($(this).val() == "Tidak"){
          $("#form2").hide();
          $("#form3").show()
        }
      });
    });



    $(function(){
      $(":radio.radal").click(function(){
        $("#formal").hide();
        $("#formal2").hide();

        if($(this).val() == "Rujukan"){
          $("#formal").show();
          $("#formal2").hide()
        }else if($(this).val() == "Dijemput"){
          $("#formal").hide();
          $("#formal2").show()
        }
      });



      $(":radio.radb").click(function(){
        $("#formb").hide();

        if($(this).val() == "Bukan"){
          $("#formb").show();
        }else if($(this).val() == "Ambulance"){
          $("#formb").hide();
        }
      });

      $('.TD').on('keyup', function(){
        let text = $(this).val();
        var result = text.substring(0, 3);


        if(result>=100){
            $('#S_TD').val(0);
        }
        else  if(result<=99){
            $('#S_TD').val(2);
        }

        var TD=$('#S_TD').val();
            var N=$('#S_N').val();
            var R=$('#S_R').val();
            var S=$('#S_S').val();
            var O2=$('#S_O2').val();
            var SADAR=$('#S_SADAR').val();
               var Total=parseInt(TD) + parseInt(N) + parseInt(R) + parseInt(S) + parseInt(O2) + parseInt(SADAR);
           $('#S_T').val(Total);
           if(Total>=5){
            
            // $("#radio_1").attr('checked', 'checked');
            $("#radio_1").prop( "checked", true );
            $("#radio_2").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           
           }
           else  if(Total>1 && Total<5){
           
            $("#radio_2").prop( "checked", true );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           }
           else  if(Total<=1 ){
            // $("#radio_3").attr('checked', 'checked');
            $("#radio_2").prop( "checked", false );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", true );
           }


      });

      $('.N').on('keyup', function(){
        if($(this).val()<=101){
            $('#S_N').val(0);
        }
        else  if($(this).val()>=102){
            $('#S_N').val(1);
        }

        var TD=$('#S_TD').val();
            var N=$('#S_N').val();
            var R=$('#S_R').val();
            var S=$('#S_S').val();
            var O2=$('#S_O2').val();
            var SADAR=$('#S_SADAR').val();
               var Total=parseInt(TD) + parseInt(N) + parseInt(R) + parseInt(S) + parseInt(O2) + parseInt(SADAR);
           $('#S_T').val(Total);

           if(Total>=5){
            
            // $("#radio_1").attr('checked', 'checked');
            $("#radio_1").prop( "checked", true );
            $("#radio_2").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           
           }
           else  if(Total>1 && Total<5){
           
            $("#radio_2").prop( "checked", true );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           }
           else  if(Total<=1 ){
            // $("#radio_3").attr('checked', 'checked');
            $("#radio_2").prop( "checked", false );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", true );
           }

      });


      $('.R').on('keyup', function(){
        if($(this).val()<=19){
            $('#S_R').val(0);
        }
        else  if($(this).val()==20 || $(this).val()==21){
            $('#S_R').val(1);
        }
        else  if($(this).val()>=22){
            $('#S_R').val(2);
        }
        var TD=$('#S_TD').val();
            var N=$('#S_N').val();
            var R=$('#S_R').val();
            var S=$('#S_S').val();
            var O2=$('#S_O2').val();
            var SADAR=$('#S_SADAR').val();
               var Total=parseInt(TD) + parseInt(N) + parseInt(R) + parseInt(S) + parseInt(O2) + parseInt(SADAR);
           $('#S_T').val(Total);
           if(Total>=5){
            
            // $("#radio_1").attr('checked', 'checked');
            $("#radio_1").prop( "checked", true );
            $("#radio_2").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           
           }
           else  if(Total>1 && Total<5){
           
            $("#radio_2").prop( "checked", true );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           }
           else  if(Total<=1 ){
            // $("#radio_3").attr('checked', 'checked');
            $("#radio_2").prop( "checked", false );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", true );
           }

      });


      $('.S').on('keyup', function(){
        if($(this).val()>=35.3){
            $('#S_S').val(0);
        }
        else {
            $('#S_S').val(3);
        }

        var TD=$('#S_TD').val();
            var N=$('#S_N').val();
            var R=$('#S_R').val();
            var S=$('#S_S').val();
            var O2=$('#S_O2').val();
            var SADAR=$('#S_SADAR').val();
               var Total=parseInt(TD) + parseInt(N) + parseInt(R) + parseInt(S) + parseInt(O2) + parseInt(SADAR);
           $('#S_T').val(Total);
           if(Total>=5){
            
            // $("#radio_1").attr('checked', 'checked');
            $("#radio_1").prop( "checked", true );
            $("#radio_2").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           
           }
           else  if(Total>1 && Total<5){
           
            $("#radio_2").prop( "checked", true );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           }
           else  if(Total<=1 ){
            // $("#radio_3").attr('checked', 'checked');
            $("#radio_2").prop( "checked", false );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", true );
           }

      });



      
      $('.O2').on('keyup', function(){
        if($(this).val()<92){
            $('#S_O2').val(3);
        }   
        else if($(this).val()>=92 && $(this).val()<=93){
            $('#S_O2').val(2);
        }
        else if($(this).val()>=94 && $(this).val()<=95){
            $('#S_O2').val(1);
        }
        else if($(this).val()>=96 && $(this).val()<=100){
            $('#S_O2').val(0);
        }
        var TD=$('#S_TD').val();
            var N=$('#S_N').val();
            var R=$('#S_R').val();
            var S=$('#S_S').val();
            var O2=$('#S_O2').val();
            var SADAR=$('#S_SADAR').val();
               var Total=parseInt(TD) + parseInt(N) + parseInt(R) + parseInt(S) + parseInt(O2) + parseInt(SADAR);
           $('#S_T').val(Total);
           if(Total>=5){
            
            // $("#radio_1").attr('checked', 'checked');
            $("#radio_1").prop( "checked", true );
            $("#radio_2").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           
           }
           else  if(Total>1 && Total<5){
           
            $("#radio_2").prop( "checked", true );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           }
           else  if(Total<=1 ){
            // $("#radio_3").attr('checked', 'checked');
            $("#radio_2").prop( "checked", false );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", true );
           }
       });


      $(":radio.SADAR").click(function(){
        if($(this).val() == "Sadar"){
            $('#S_SADAR').val(0);
        }
        else{
            $('#S_SADAR').val(3);
        }

        var TD=$('#S_TD').val();
            var N=$('#S_N').val();
            var R=$('#S_R').val();
            var S=$('#S_S').val();
            var O2=$('#S_O2').val();
            var SADAR=$('#S_SADAR').val();
               var Total=parseInt(TD) + parseInt(N) + parseInt(R) + parseInt(S) + parseInt(O2) + parseInt(SADAR);
           $('#S_T').val(Total);
           if(Total>=5){
            
            // $("#radio_1").attr('checked', 'checked');
            $("#radio_1").prop( "checked", true );
            $("#radio_2").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           
           }
           else  if(Total>1 && Total<5){
           
            $("#radio_2").prop( "checked", true );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", false );
           }
           else  if(Total<=1 ){
            // $("#radio_3").attr('checked', 'checked');
            $("#radio_2").prop( "checked", false );
            $("#radio_1").prop( "checked", false );
            $("#radio_3").prop( "checked", true );
           }
    });

   

      

      $(":radio.radt").click(function(){
       

        if($(this).val() == "1"){
          $("#formtunggal").show();
          $("#formtunggal1").hide();
          $("#formj").hide(); 
          $("#formlis").hide(); 
          $("#formlb").hide(); 
          $("#formz").hide(); 
          $("#formlain").hide(); 
        }else if($(this).val() == "2"){
            $("#formtunggal").hide();
          $("#formtunggal1").show();
          $("#formj").hide(); 
          $("#formlis").hide(); 
          $("#formlb").hide(); 
          $("#formz").hide(); 
          $("#formlain").hide(); 
        }else if($(this).val() == "3"){
            $("#formtunggal").hide();
          $("#formlb").hide(); 
          $("#formtunggal1").hide();
          $("#formj").show(); 
          $("#formlis").hide(); 
          $("#formz").hide(); 
          $("#formlain").hide(); 
        }else if($(this).val() == "4"){
            $("#formtunggal").hide();
          $("#formtunggal1").hide();
          $("#formj").hide(); 
          $("#formlis").show(); 
          $("#formlb").hide(); 
          $("#formz").hide(); 
          $("#formlain").hide(); 
        }else if($(this).val() == "5"){
          $("#formlb").hide(); 
            $("#formtunggal").hide();
          $("#formtunggal1").hide();
          $("#formj").hide(); 
          $("#formlis").hide(); 
          $("#formz").show(); 
          $("#formlain").hide(); 
        }else if($(this).val() == "6"){
            $("#formtunggal").hide();
          $("#formtunggal1").hide();
          $("#formj").hide(); 
          $("#formlis").hide(); 
          $("#formz").hide(); 
          $("#formlain").show(); 
          $("#formlb").hide(); 

        }else if($(this).val() == "7"){
            $("#formtunggal").hide();
          $("#formtunggal1").hide();
          $("#formj").hide(); 
          $("#formlis").hide(); 
          $("#formz").hide(); 
          $("#formlain").hide(); 
          $("#formlb").show(); 

        }

    
      });

    });
</script>










  