<div class="breadcrum">
    <p>
        <a href="#">  IGD  </a><span></span>
        <small>  Triase </small>
    </p>
    <div class="clear"></div>
</div> 
{if $rolenya eq 'IGD'} 
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('igd/triase/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" />  Tambah Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
{/if}
 
<div class="dashboard-container">
    <table class="table-view" width="100%" border="0" style="font-size: 12px;">
        <thead>
            <tr>
                <th width='2%'>No</th>
                <th>No MR</th>
                <th>Nama Pasien</th>
                <th>Alamat</th> 
                <th>Petugas</th> 
                <th>Status</th>
                <th width='18%'>Detail</th>
            </tr>
        </thead>
        <tbody>{$no=1}
            {foreach from=$rs_triase item=data}
            <tr>
                <td>{$no++}</td>
                <td>{$data.No_MR}</td>
                <td>{$data.Nama_Pasien}</td>
                <td>{$data.Alamat}</td>  
                <td>{$data.KD_PERAWAT}</td>  
                <td>{if $data.No_MR neq ''} <p style="color:green"><b> Selesai</b> </p> {else} <b>Belum </b>{/if}</td>  
                <td>
                     <a href="{$config->site_url('igd/triase/edit/'|cat:$data.id)}" class="button-edit">Edit</a>
 
                               
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
 </div>