 
<div class="breadcrum"> 
    <p>
        <a href="#">Nursing Record</a><span></span>
        <a href="{$config->site_url('medis/rawat_inap/')}">Asesmen Awal Rawat Inap</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('medis/rawat_inap/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template--> 
<form action="{$config->site_url('medis/asesmenawal/edit_process')}" method="post" onkeypress="return event.keyCode != 13">
     <input type="hidden" name="FS_KD_REG" value="{$rs_pasien.NO_REG}" />
        <input type="hidden" name="FS_KD_MEDIS" value="{$FS_KD_MEDIS}" />
        <input type="hidden" name="FS_KD_LAYANAN" value="{$rs_pasien.KODE_BANGSAL}" />
        <input type="hidden" name="FS_MR" value="{$rs_pasien.NO_MR}" />

    <table class="table-info" width="100%">
        <tr class="headrow">
            <th colspan="2">Edit Asesmen Awal Rawat Inap</th>
        </tr>
        <tr>
            <td>NAMA</td>
            <td> 
                {$rs_pasien.NAMA_PASIEN}
            </td>
        </tr>
        <tr>
            <td>NO MR</td>
            <td>
                {$rs_pasien.NO_MR}
            </td>
        </tr>
        <tr>
            <td>TANGGAL LAHIR</td>
            <td>
                {$rs_pasien.TGL_LAHIR|date_format:"%d %b %Y"}
            </td>
        </tr>
        <tr>
            <td>ALAMAT</td>
            <td>{$rs_pasien.ALAMAT}</td>
        </tr>
    </table>
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="2">Anamnesa</th>
            <th colspan="2">Pemeriksaan Fisik</th>
        </tr>
        <tr>  
            <td colspan="2">
                <textarea cols="80" rows="4" name="FS_ANAMNESA">{$result.FS_ANAMNESA}</textarea>
            </td>
            <td colspan="2">
                <textarea cols="80"  rows="4" name="FS_CATATAN_FISIK">{$result.FS_CATATAN_FISIK}</textarea>

            </td>
        </tr>

        <tr>
            <td width='20%'>Riweayat Penyakit dahulu</td>
            <td width='40%'>
                <input type="text" name="FS_RIW_PENYAKIT_DAHULU" value="{$result.FS_RIW_PENYAKIT_DAHULU|default:'-'}" size="32">
            </td>
            <td width='20%'>Riwayat penyakit keluarga</td>
            <td width='30%'>
                <input type="text" name="FS_RIW_PENYAKIT_DAHULU2" value="{$result.FS_RIW_PENYAKIT_DAHULU2|default:'-'}" size="32">
            </td>
        </tr>

        <tr>
            <td width='20%'>Riwayat Alergi</td>
            <td width='30%'>
                <input type="text" name="FS_ALERGI"   value="{$result.FS_ALERGI}">
                <em style="color:red">* Wajib Diisi</em>
            </td>
            <td width='20%'>Reaksi Alergi</td>
            <td width='30%'>
                <input type="text" name="FS_REAK_ALERGI"  value="{$result.FS_REAK_ALERGI}">
                <em style="color:red">* Wajib Diisi</em>
            </td>
        </tr>

        <tr>
            <td width='20%'>Status Psikologis</td>
            <td width='30%'>
                <select name="FS_STATUS_PSIK">
                    <option value=""  {if $ases2.FS_STATUS_PSIK eq ''} selected="" {/if}  onclick='document.getElementById("civstaton3").disabled = true'>--Pilih Data--</option>
                    <option value="1" {if $ases2.FS_STATUS_PSIK eq '1'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Tenang</option>
                    <option value="2" {if $ases2.FS_STATUS_PSIK eq '2'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Cemas</option>
                    <option value="3" {if $ases2.FS_STATUS_PSIK eq '3'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Takut</option>
                    <option value="4" {if $ases2.FS_STATUS_PSIK eq '4'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Marah</option>
                    <option value="5" {if $ases2.FS_STATUS_PSIK eq '5'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Sedih</option>
                    <option value="6" {if $ases2.FS_STATUS_PSIK neq '' &&  $ases2.FS_STATUS_PSIK neq '1' && $ases2.FS_STATUS_PSIK neq '2'&& $ases2.FS_STATUS_PSIK neq '3'&& $ases2.FS_STATUS_PSIK neq '4'&& $ases2.FS_STATUS_PSIK neq '5'}selected="" {/if}onclick='document.getElementById("civstaton3").disabled = false'>Lainnya</option>
                </select>
                <br><br>
                <input type="text" name="FS_STATUS_PSIK2" id="civstaton3" {if $ases2.FS_STATUS_PSIK2 eq '0'}disabled=""{/if} size="27" value="{$ases2.FS_STATUS_PSIK2}">
            </td>
            <td width='39%'>Hubungan dengan anggota keluarga</td>
            <td width='30%'>
                <select name="FS_HUB_KELUARGA" id="surat_dari" class="select2" style="width: 170px;">
                    <option value="" {if $ases2.FS_HUB_KELUARGA eq ''} selected="" {/if}>--Pilih Data--</option>
                    <option value="1" {if $ases2.FS_HUB_KELUARGA eq '1'} selected="" {/if}>Baik</option>
                    <option value="2" {if $ases2.FS_HUB_KELUARGA eq '2'} selected="" {/if}>Tidak Baik</option>

                </select>
            </td>
        </tr>

        <tr class="headrow">
            <th colspan="2">KEPALA  </th>
            <th colspan="2"> LEHER </th>
        </tr>
        <tr>
            <td width='40%'>Konjungtiva  </td>
            <td width='40%'>
                <input type="checkbox" name="KONJUNGTIVA" {if $result.KONJUNGTIVA eq 'Pucat'} checked="" {/if} value="Pucat">Pucat
                <input type="checkbox" name="KONJUNGTIVA" {if $result.KONJUNGTIVA eq 'Pink'} checked="" {/if} value="Pink">Pink
             </td>
            <td width='40%'>Deviasi Trakea  </td>
            <td width='40%'>
                <input type="checkbox" name="DEVIASI" {if $result.DEVIASI eq 'Kanan'} checked="" {/if}  value="Kanan">Kanan
                <input type="checkbox" name="DEVIASI" {if $result.DEVIASI eq 'Kiri'} checked="" {/if} value="Kiri"> Kiri
                <input type="checkbox" name="DEVIASI" {if $result.DEVIASI eq ''} checked="" {/if} value=""> Tidak Ada
            </td>
         </tr>
         <tr>
            <td width='20%'>Skelera  </td>
            <td width='40%'>
                <input type="checkbox" name="SKELERA" {if $result.SKELERA eq 'Ikterik'} checked="" {/if} value="Ikterik">Ikterik
                <input type="checkbox" name="SKELERA" {if $result.SKELERA eq 'Tidak'} checked="" {/if} value="Tidak"> Tidak Ikterik
            </td>
            <td width='20%'>JVP  </td>
            <td width='40%'>
                <input type="checkbox" name="JVP" {if $result.JVP eq 'Meningkat'} checked="" {/if}  value="Meningkat">Meningkat
                <input type="checkbox" name="JVP" {if $result.JVP eq 'Tidak'} checked="" {/if}   value="Tidak"> Tidak 
            
         </tr>
         <tr>
            <td width='20%'>Bibir/Lidah  </td>
            <td width='40%'>
                <input type="checkbox" name="BIBIR" {if $result.BIBIR eq 'Sianosis'} checked="" {/if}  value="Sianosis">Sianosis
                <input type="checkbox" name="BIBIR" {if $result.BIBIR eq 'Tidak'} checked="" {/if}  value="Tidak"> Tidak
            </td>
         </tr>
         <tr>
            <td width='20%'>Mukosa </td>
            <td width='40%'>
                <input type="checkbox" name="MUKOSA" {if $result.MUKOSA eq 'Kering'} checked="" {/if}  value="Sianosis">Kering
                <input type="checkbox" name="MUKOSA" {if $result.MUKOSA eq 'Tidak'} checked="" {/if}  value="Tidak"> Basah
            </td>
         </tr>

         <tr class="headrow">
            <th colspan="2">THORAX  </th>
            <th colspan="2"> JANTUNG </th>
        </tr>
        <tr>
            <td colspan="2">
                <textarea cols="80" rows="1" name="THORAX"> {$result.THORAX}</textarea>
            </td>
            <td colspan="2">
                <textarea cols="80" rows="1" name="JANTUNG">{$result.JANTUNG}</textarea>

            </td>
        </tr>

        <tr class="headrow">
            <th colspan="2">PARU  </th>
            <th colspan="2"> ABDOMEN & PINGGANG </th>
        </tr>
        <tr>
            <td colspan="2">
                <textarea cols="80" rows="1" name="ABDOMEN">{$result.ABDOMEN} </textarea>
            </td>
            <td colspan="2">
                <textarea cols="80" rows="1" name="PINGGANG"> {$result.PINGGANG} </textarea>

            </td>
        </tr>

        <tr class="headrow">
            <th colspan="4">EKSTREMITAS  </th> 
        </tr>
        <tr>
            <td colspan="2"> Atas
                <textarea cols="80" rows="1" name="EKS_ATAS">{$result.EKS_ATAS} </textarea>
            </td>
            <td colspan="2">Bawah
                <textarea cols="80" rows="1" name="EKS_BAWAH">{$result.EKS_BAWAH} </textarea>

            </td>
        </tr>
         
        <tr class="headrow">
            <th colspan="2">Hasil Pemeriksaan Penunjang</th>
            <th colspan="2">Diagnosa</th>
        </tr>
        <tr>
            <td colspan="2">
                <textarea cols="80" rows="4" name="FS_HASIL_PEMERIKSAAN_PENUNJANG">{$result.FS_HASIL_PEMERIKSAAN_PENUNJANG}</textarea>
            </td>
            <td colspan="2">
                <textarea cols="80" rows="4" name="FS_DIAGNOSA">{$result.FS_DIAGNOSA}</textarea>

            </td>
        </tr>

        
        <tr class="headrow">
            <th colspan="2">Daftar Masalah</th>
            <th colspan="2">Rencana Tindakan</th>
        </tr>
        <tr>
            <td colspan="2">
                <textarea cols="80" rows="4" name="FS_DAFTAR_MASALAH">{$result.FS_DAFTAR_MASALAH}</textarea>
            </td>
            <td colspan="2">
                <textarea cols="80" rows="4" name="FS_TINDAKAN">{$result.FS_TINDAKAN}</textarea>

            </td>
        </tr>
        <tr class="headrow">
            <th colspan="2">Rencana Pemeriksaan Penunjang Lab</th>
            <th colspan="2">Rencana Pemeriksaan Penunjang Radiologi</th>
        </tr>
        <tr>
            <td colspan="2">
                {if $result.FS_PLANNING_LAB=='0'||$result.FS_PLANNING_LAB==''}
                <select name="FS_PLANNING_LAB[]" multiple id="rlab" style="width:350px">
                        <option></option>
                    </select> 
                    {else}
                <textarea cols="80" name="FS_PLANNING_LAB">{$result.FS_PLANNING_LAB}</textarea>
                {/if}
          <input type="hidden" value="{$result.FS_PLANNING_LAB}" class="inilablama" >
            </td>
            <td colspan="2">
                 {if $result.FS_PLANNING_RAD=='0'||$result.FS_PLANNING_RAD==''}
                  <select name="FS_PLANNING_RAD[]" multiple id="rrad" style="width:350px">
                        <option></option>
                    </select>  
                    {else}
                <textarea cols="80" name="FS_PLANNING_RAD">{$result.FS_PLANNING_RAD}</textarea>
                {/if}
                <input type="hidden" value="{$result2.FS_PLANNING_RAD}" class="iniradlama" >

            </td>
        </tr> 

          <tr class="headrow">
            <th colspan="2"> Terapi</th>
            <th colspan="2"> Resep Racikan</th>
        </tr>
        <tr>
            <td colspan="2">
                    <table>
                    <tr>
                        <td> Nama Obat </td>
                        <td> Numero </td>
                        <td> Signa </td>
                    </tr>
                     <tr> 
                            <td>  <select name="namaobat[]" class="namaobat select2"   multiple id="namaobat" cols="80" style="width:210px">
                                 <option></option> 
                              </select>
                            </td>
                            <td ><input cols="5" type="text" class="numero" name="numero" style="width: 40px;" onkeypress="handleKeyPress(event)" ></td>
                            <td><input cols="20" type="text" name="dosis" class="dosis" style="width: 50px;" onkeypress="handleKeyPress(event)"></td>
                        </tr>
                   </table>


                    <textarea rows="15" class="form-control resep"  cols="60" name="FS_TERAPI"> 
                        {$result.FS_TERAPI}
                        
                    </textarea> 
            </td>
            <td colspan="2">
                  <table>
                            <tr>
                                <td> Nama Obat </td>
                                <td> Numero </td>
                                <td> m.f  </td>
                                <td> Signa  </td>
                            </tr>
                             <tr> 
                                    <td>  <select name="namaobat1[]" class="namaobat1 select2"   multiple id="namaobat1" cols="80" style="width:170px">
                                         <option></option> 
                                      </select>
                                    </td>
                                    <td ><input cols="5" type="text" class="numero1" name="numero1" style="width: 40px;" onkeypress="handle2(event)" ></td>
                                    <td><input cols="20" type="text" name="mf1" class="mf1" style="width: 50px;" onkeypress="handle2(event)"  ></td>
                                    <td><input cols="20" type="text" name="dosis1" class="dosis1" style="width: 50px;" onkeypress="handle3(event)"></td>
                                </tr>
                           </table>
                          <textarea rows="15" class="form-control resepracik"   cols="60" name="FS_TERAPI2"> 
                      </textarea> 

            </td>
        </tr>


        <tr class="headrow">
            <th colspan="2"> </th>
            <th colspan="2">  {if $com_user.role_nm=='Perawat Poli'} Catatan/Pesan  {else}
                    {/if}</th>
        </tr>
        <tr>
            
            <td colspan="2">
               <!--  <textarea cols="80" rows="8" name="FS_TERAPI">{$result.FS_TERAPI}</textarea> -->

            </td>
            <td colspan="2">
                    {if $com_user.role_nm=='Perawat Poli'}
                     
                 <textarea rows="5" cols="80" name="FS_PESAN">{$result.FS_PESAN}
              
                 </textarea>
          
                    {else}
                                        <input type="hidden" name="FS_PESAN">
                    {/if}
                </td>
        </tr>


        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="edit-button"/>
            </td>
        </tr>
    </table>
</form>



<script>
   
  var user = $("#user").val();
 
//rencana lab
           $('#rlab').select2('data', null);
            $('#rlab').select2('data', null);
            $("#rlab").removeAttr("disabled");
            jQuery("#rlab").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('medis/rawat_jalan/list_pemeriksaan_rlab/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#rlab").html(showData);
                    }
            });
             $("#rlab").select2({});



             //rencana radiologi
               $('#rrad').select2('data', null);
            $('#rrad').select2('data', null);
            $("#rrad").removeAttr("disabled");
            jQuery("#rrad").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('medis/rawat_jalan/list_pemeriksaan_rrad/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#rrad").html(showData);
                    }
            });
             $("#rrad").select2({});
</script>


<script type="text/javascript"> 
    var user = $("#user").val(); 
           
            $("#namaobat").select2({});
    
     
//rencana lab
           $('#rlab').select2('data', null);
            $('#rlab').select2('data', null);
            $("#rlab").removeAttr("disabled");
            jQuery("#rlab").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('medis/rawat_jalan/list_pemeriksaan_rlab/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#rlab").html(showData);
                    }
            });
             $("#rlab").select2({});



             //rencana radiologi
               $('#rrad').select2('data', null);
            $('#rrad').select2('data', null);
            $("#rrad").removeAttr("disabled");
            jQuery("#rrad").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('medis/rawat_jalan/list_pemeriksaan_rrad/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#rrad").html(showData);
                    }
            });
             $("#rrad").select2({});
</script>


<script>
        var namaa = $(".namaa").val();
               $('.namaa').val(namaa+'\n R/ \t   no. \n S                    \n ----------------------------------------\n '); 
       
       
                $('.resepracik').val('\n /R');
 

               function tambahkop(e){
                   var yhr= new XMLHttpRequest();
                var key=e.keyCode || e.which;
                 if (key==13){
                               var resepracik = $(".resepracik").val(); 
                                   $('.resepracik').val(resepracik+'S                 \n ---------------------------------------- \n \n'+'R/  '); // Close / Tutup Modal Dialog
                 //    // alert(namaa);
                 }
               }
        
       
       
   function handleKeyPress(e){
                   var yhr= new XMLHttpRequest();
                var key=e.keyCode || e.which;
                 if (key==13){
                               var namaobat = $("#namaobat").val();
                               var numero = $(".numero").val();
                               var dosis = $(".dosis").val();
                             var kolomresep= document.getElementById("kolomresep");
                              var resep = $(".resep").val();
       
       $('.resep').val(resep+'\n /R   '+namaobat+'   no. '+numero+'\n S    '+dosis+'\n ----------------------------------------------- \n '); 
               //    alert(namaobat+numero+dosis);
                  $('#namaobat').select2('data', null);
                  $('.numero').val(null);
                  $('.dosis').val(null);
        
               //    $("#namaobat").select2({}).focus();
                  $("#namaobat").select2('open');
        
                 }
               }

var x=event.key;
if(x=='a'||x=='A'){
    alert("hore");
}
           

 function handle2(e){
                   var key=e.keyCode || e.which;
                 if (key==13){
                               var namaobat1 = $("#namaobat1").val();
                               var numero1 = $(".numero1").val();
                            //    var dosis1 = $(".dosis1").val();
                                var resepracik = $(".resepracik").val();
       
       $('.resepracik').val(resepracik+'    '+namaobat1+'   no. '+numero1+'\n     '); 
               //    alert(namaobat+numero+dosis);
                  $('#namaobat1').select2('data', null);
                  $('.numero1').val(null);
                  $('.dosis1').val(null);
        
               //    $("#namaobat").select2({}).focus();
                  $("#namaobat1").select2('open');
        
                 }
               }


               
 function handle3(e){
                   var key=e.keyCode || e.which;
                 if (key==13){
                               var namaobat1 = $("#namaobat1").val();
                               var numero1 = $(".numero1").val();
                               var dosis1 = $(".dosis1").val();
                               var mf1 = $(".mf1").val();
                                var resepracik = $(".resepracik").val();
       if(namaobat1==null){
        $('.resepracik').val(resepracik+'          '+mf1+'\n   S  '+dosis1+'\n ------------------------------------------------- \n \n   /R'); 
       }
       else{
       $('.resepracik').val(resepracik+'    '+namaobat1+'   no. '+numero1+'\n'+'           '+mf1+'\n    S      '+dosis1+'\n ------------------------------------------ \n \n  /R'); 
            }     //    alert(namaobat+numero+dosis);
                  $('#namaobat1').select2('data', null);
                  $('.numero1').val(null);
                  $('.dosis1').val(null);
                  $('.mf1').val(null);
        
               //    $("#namaobat").select2({}).focus();
                  $("#namaobat1").select2('open');
        
                 }
               }
       
    </script> 
       
       
       <script type="text/javascript"> 
           var user = $("#user").val(); 
       
           $('#namaobat').select2('data', null);
                   $('#namaobat').select2('data', null);
                   $("#namaobat").removeAttr("disabled");
       
                   jQuery("#namaobat").html('');
                   $.ajax({
                   type: "POST", 
                           url: "{$config->site_url('medis/rawat_jalan/list_nama_obat/')}",
                           data: "user=" + user,
                           dataType: 'json',
                           success: function(data) {
                           var showData;
                                   jQuery.each(data, function(index, result) {
                                   if (result.value == 0) {
                                   } else {
                                   showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                                   }
                                   })
                                   jQuery("#namaobat").html(showData);
                           }
                   });
                   //tags
                  

                   $('#namaobat1').select2('data', null);
                   $('#namaobat1').select2('data', null);
                   $("#namaobat1").removeAttr("disabled");
       
                   jQuery("#namaobat1").html('');
                   $.ajax({
                   type: "POST", 
                           url: "{$config->site_url('medis/rawat_jalan/list_nama_obat/')}",
                           data: "user=" + user,
                           dataType: 'json',
                           success: function(data) {
                           var showData;
                                   jQuery.each(data, function(index, result) {
                                   if (result.value == 0) {
                                   } else {
                                   showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                                   }
                                   })
                                   jQuery("#namaobat1").html(showData);
                           }
                   });

                    $("#namaobat1").select2({});
       </script>