<div class="dashboard-home">
    <!--<div class="dashboard-home-content">
        <div class="left">
            <h3>Surat Tanda Registrasi</h3>
            <div class="dashboard-home-box">
                <div class="scroll">
                    <table width="97%">
                        <tr class="head-dashboard">
                            <td>NO</td>
                            <td>NAMA</td>
                            <td>TANGGAL BERAKHIR</td>
                        </tr>
                        {foreach $rs_str as $str}
                        <tr>
                            <td><center>{$no++}</center></td>
                        <td>
                            {$str.FS_NM_PEG}
                        </td>
                        <td>
                        <center>{$str.FD_TGL_EXP_REGISTER|date_format:"%d-%m-%Y"}</center>
                        </td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="dashboard-home-box">
                <h3>Surat Ijin Praktek</h3>
                <div class="scroll">
                    <table width="97%">
                        <tr class="head-dashboard">
                            <td>NO</td>
                            <td>NAMA</td>
                            <td>TANGGAL BERAKHIR</td>
                        </tr>
                        {foreach $rs_sip as $sip}
                        <tr>
                            <td><center>{$no2++}</center></td>
                        <td>
                            {$sip.FS_NM_PEG}
                        </td>
                        <td>
                        <center>{$sip.FD_TGL_AKHIR_IJIN_PRAKTEK|date_format:"%d-%m-%Y"}</center>
                        </td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-home-content">
        <div class="left">
            <h3>Surat Ijin Kerja</h3>
            <div class="dashboard-home-box">
                <div class="scroll">
                    <table width="97%">
                        <tr class="head-dashboard">
                            <td>NO</td>
                            <td>NAMA</td>
                            <td>TANGGAL BERAKHIR</td>
                        </tr>
                        {foreach $rs_sik as $sik}
                        <tr>
                            <td><center>{$no3++}</center></td>
                        <td>
                            {$sik.FS_NM_PEG}
                        </td>
                        <td>
                        <center>{$sik.FD_TGL_AKHIR_IJIN_KERJA|date_format:"%d-%m-%Y"}</center>
                        </td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
        </div>
    </div>-->
</div>