<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>Unit Kerja</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"><strong>{$pagination.total|default:0}</strong> Record&nbsp;</li>{$pagination.data|default:''}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/unitkerja/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <thead>
        <tr>
            <th width="4%">No</th>
            <th width="15%">Kode Unit</th>
            <th width="40%">Unit Kerja</th>
            <th width="30%">Kepala Unit Kerja</th>
            <th width="11%"></th>
        </tr>
    </thead>
    {foreach from=$rs_unit item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td align="center">{$result.unit_cd}</td>
        <td>{$result.indent} {$result.unit_name}</td>
        <td>{$result.unit_lead}</td>
        <td align="center">
            <a href="{$config->site_url('pengaturan/unitkerja/edit/'|cat:$result.unit_id|default:'')}" class="button-edit">Edit</a>
            <a href="{$config->site_url('pengaturan/unitkerja/delete/'|cat:$result.unit_id|default:'')}" class="button-hapus">Hapus</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="5">Data not found!</td>
    </tr>
    {/foreach}
</table>
