<script type="text/javascript">
    $(document).ready(function () {
        // date picker
        $(".tanggal").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
        });
// tujuan
        var user = $("#user").val();
        $('#tujuan').select2('data', null);
//            $('#tujuan').select2('data', null);
        if (user == '') {
            $("#tujuan").attr("disabled", "disabled");
        } else {
                $("#tujuan").removeAttr("disabled");
                jQuery("#tujuan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('mutu/daftar/list_unit/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tujuan").html(showData);
                        $('#tujuan').select2('val', [{$rs_tujuan}]);
                    }
                });
        }
        $("#user").change(function() {
            user = $(this).val();
            //get icao code by airlines_id
//            $.ajax({
//                type: "POST",
//                url: "{$config->site_url('angud/ijin_rute/get_airlines_by_id/')}",
//                data: "user=" + user,
//                dataType: 'json',
//                success: function(data) {
//
//                    $('input[name="airlines_icao_cd"]').val(user);
//                }
//            });
            $('#tujuan').select2('data', null);
            if (user == '') {
                $("#tujuan").attr("disabled", "disabled");
            } else {
                $("#tujuan").removeAttr("disabled");
                jQuery("#tujuan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('mutu/daftar/list_unit/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tujuan").html(showData);
                    }
                });
            }
        });
        //tags
        $("#tujuan").select2({});
    });
</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'tujuan_loop[]'}
{assign var=tujuan_loop value=$i}
{$tujuan_var=""}
{foreach from=$tujuan_loop key=key item=i}
{$tujuan_var=$tujuan_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=tujuan_loop value=$tujuan_var}
<script type="text/javascript">
    $(document).ready(function() {
        // chain select
        var user = $("#user").val();
        $('#tujuan').select2('data', null);
//        if (user == '') {
//            $("#tujuan").attr("disabled", "disabled");
//        } else {
            $("#tujuan").removeAttr("disabled");
            jQuery("#tujuan").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('mutu/daftar/list_unit/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function(data) {
                    var showData;
                    jQuery.each(data, function(index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#tujuan").html(showData);
                    $('#tujuan').select2('val', [{$tujuan_loop}]);

                }
            });
//        }
        $("#user").change(function() {
            user = $(this).val();
            $('#tujuan').select2('data', null);
//            if (user == '') {
//                $("#tujuan").attr("disabled", "disabled");
//            } else {
                $("#tujuan").removeAttr("disabled");
                jQuery("#tujuan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('mutu/daftar/list_unit/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tujuan").html(showData);
                    }
                });
//            }
        });
        //tags
        $("#tujuan").select2({});
    });
</script>
{/if}
{/foreach}

{/if}


<!--Tembusan-->
<script type="text/javascript">
    $(document).ready(function () {
        // chain select
        // tembusan
        var user = $("#user").val();
        $('#tembusan').select2('data', null);
        if (user == '') {
            $("#tembusan").attr("disabled", "disabled");
        } else {
//            $('#tembusan').select2('data', null);
            $("#tembusan").removeAttr("disabled");
            jQuery("#tembusan").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('mutu/daftar/list_pegawai/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function (data) {
                    var showData;
                    jQuery.each(data, function (index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#tembusan").html(showData);
                            $('#tembusan').select2('val', [{$rs_tembusan}]);
                }
            });
        }
        $("#user").change(function () {
            user = $(this).val();
            //get icao code by airlines_id
//            $.ajax({
//                type: "POST",
//                url: "{$config->site_url('angud/ijin_rute/get_airlines_by_id/')}",
//                data: "user=" + user,
//                dataType: 'json',
//                success: function(data) {
//
//                    $('input[name="airlines_icao_cd"]').val(user);
//                }
//            });
            $('#tembusan').select2('data', null);
            if (user == '') {
                $("#tembusan").attr("disabled", "disabled");
            } else {
                $("#tembusan").removeAttr("disabled");
                jQuery("#tembusan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('mutu/daftar/list_pegawai/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function (data) {
                        var showData;
                        jQuery.each(data, function (index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tembusan").html(showData);
                    }
                });
            }
        });
        //tags
        $("#tembusan").select2({});
    });</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'tembusan_loop[]'}
{assign var=tembusan_loop value=$i}
{$tembusan_var=""}
{foreach from=$tembusan_loop key=key item=i}
{$tembusan_var=$tembusan_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=tembusan_loop value=$tembusan_var}
<script type="text/javascript">
    $(document).ready(function () {
       
        // chain select
        var user = $("#user").val();
        $('#tembusan').select2('data', null);
//        if (user == '') {
//            $("#tujuan").attr("disabled", "disabled");
//        } else {
        $("#tembusan").removeAttr("disabled");
        jQuery("#tembusan").html('');
        $.ajax({
            type: "POST",
            url: "{$config->site_url('mutu/daftar/list_pegawai/')}",
            data: "user=" + user,
            dataType: 'json',
            success: function (data) {
                var showData;
                jQuery.each(data, function (index, result) {
                    if (result.value == 0) {
                    } else {
                        showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                    }
                })
                jQuery("#tembusan").html(showData);
                        $('#tembusan').select2('val', [{$tembusan_loop}]);
            }
        });
//        }
        $("#user").change(function () {
            user = $(this).val();
            $('#tembusan').select2('data', null);
//            if (user == '') {
//                $("#tujuan").attr("disabled", "disabled");
//            } else {
            $("#tembusan").removeAttr("disabled");
            jQuery("#tembusan").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('mutu/daftar/list_pegawai/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function (data) {
                    var showData;
                    jQuery.each(data, function (index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#tembusan").html(showData);
                }
            });
//            }
        });
        //tags
        $("#tembusan").select2({});
    });</script>
{/if}
{/foreach}

{/if}

<!--Analisa-->
<script type="text/javascript">
    $(document).ready(function () {
        // chain select
        // tembusan
        var user = $("#user").val();
        $('#analisa').select2('data', null);
        if (user == '') {
            $("#analisa").attr("disabled", "disabled");
        } else {
//            $('#analisa').select2('data', null);
            $("#analisa").removeAttr("disabled");
            jQuery("#analisa").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('mutu/daftar/list_analisa/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function (data) {
                    var showData;
                    jQuery.each(data, function (index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#analisa").html(showData);
                            $('#analisa').select2('val', [{$rs_analisa}]);
                }
            });
        }
        $("#user").change(function () {
            user = $(this).val();
            //get icao code by airlines_id
//            $.ajax({
//                type: "POST",
//                url: "{$config->site_url('angud/ijin_rute/get_airlines_by_id/')}",
//                data: "user=" + user,
//                dataType: 'json',
//                success: function(data) {
//
//                    $('input[name="airlines_icao_cd"]').val(user);
//                }
//            });
            $('#analisa').select2('data', null);
            if (user == '') {
                $("#analisa").attr("disabled", "disabled");
            } else {
                $("#analisa").removeAttr("disabled");
                jQuery("#analisa").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('mutu/daftar/list_analisa/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function (data) {
                        var showData;
                        jQuery.each(data, function (index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#analisa").html(showData);
                    }
                });
            }
        });
        //tags
        $("#analisa").select2({});
    });</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'analisa_loop[]'}
{assign var=analisa_loop value=$i}
{$analisa_var=""}
{foreach from=$analisa_loop key=key item=i}
{$analisa_var=$analisa_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=analisa_loop value=$analisa_var}
<script type="text/javascript">
    $(document).ready(function () {
       
        // chain select
        var user = $("#user").val();
        $('#analisa').select2('data', null);
//        if (user == '') {
//            $("#tujuan").attr("disabled", "disabled");
//        } else {
        $("#analisa").removeAttr("disabled");
        jQuery("#analisa").html('');
        $.ajax({
            type: "POST",
            url: "{$config->site_url('mutu/daftar/list_analisa/')}",
            data: "user=" + user,
            dataType: 'json',
            success: function (data) {
                var showData;
                jQuery.each(data, function (index, result) {
                    if (result.value == 0) {
                    } else {
                        showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                    }
                })
                jQuery("#analisa").html(showData);
                        $('#analisa').select2('val', [{$analisa_loop}]);
            }
        });
//        }
        $("#user").change(function () {
            user = $(this).val();
            $('#analisa').select2('data', null);
//            if (user == '') {
//                $("#tujuan").attr("disabled", "disabled");
//            } else {
            $("#analisa").removeAttr("disabled");
            jQuery("#analisa").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('mutu/daftar/list_analisa/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function (data) {
                    var showData;
                    jQuery.each(data, function (index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#analisa").html(showData);
                }
            });
//            }
        });
        //tags
        $("#analisa").select2({});
    });</script>
{/if}
{/foreach}

{/if}