<!-- include javascript -->
{include file="mutu/daftar/add_script_js.html"}
<!-- end of include javascript-->
<script>
    tinymce.init({
    selector: "textarea",
            theme: "modern",
            plugins: [
            ],
            external_plugins: {
//"moxiemanager": "/moxiemanager-php/plugin.js"
            },
            content_css: "css/development.css",
            add_unload_trigger: false,
            toolbar: "bold italic",
            image_advtab: true,
            setup: function (ed) {
            /*ed.on(
             'Init PreInit PostRender PreProcess PostProcess BeforeExecCommand ExecCommand Activate Deactivate ' +
             'NodeChange SetAttrib Load Save BeforeSetContent SetContent BeforeGetContent GetContent Remove Show Hide' +
             'Change Undo Redo AddUndo BeforeAddUndo', function(e) {
             console.log(e.type, e);
             });*/
            },
            spellchecker_callback: function (method, data, success) {
            if (method == "spellcheck") {
            var words = data.match(this.getWordCharPattern());
                    var suggestions = {};
                    for (var i = 0; i < words.length; i++) {
            suggestions[words[i]] = ["First", "second"];
            }

            success();
            }

            if (method == "addToDictionary") {
            success();
            }
            }
    });</script>
<div class="breadcrum">
    <p>
        <a href="#">Mutu</a><span></span>
        <a href="{$config->site_url('mutu/insiden/cari')}">Daftar Indikator Mutu</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('mutu/daftar/edit_process')}" method="post">
        <input name="indicator_id" type="hidden" value="{$result.indicator_id}" />
        <table class="table-input" width="100%">
            <tr>
                <th colspan="2">Daftar Indikator Mutu</th>
            </tr>
            <tr>
                <td>Unit</td>
                <td>
                     <select name="tujuan[]" multiple id="tujuan" style="width:250px">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Penanggung Jawab</td>
                <td>
                     <select name="tembusan[]" multiple id="tembusan" style="width:250px">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Judul Indikator Mutu</td>
                <td>
                    <input name="indicator_element" value="{$result.indicator_element}" type="text" size="105"/>
                </td>
            </tr>
            <tr>
                <td>Definisi Operasional</td>
                <td>
                    <textarea name="indicator_definition" rows="4" cols="100">{$result.indicator_definition}</textarea>
                </td>
            </tr>
            <tr>
                <td>Kriteria Inklusi</td>
                <td>
                    <textarea name="indicator_criteria_inclusive" rows="4" cols="100">{$result.indicator_criteria_inclusive}</textarea>
                </td>
            </tr>
            <tr>
                <td>Kriteria Eksklusi</td>
                <td>
                    <textarea name="indicator_criteria_exclusive" rows="4" cols="100">{$result.indicator_criteria_exclusive}</textarea>
                </td>
            </tr>

            <tr>
                <td>Sumber Data</td>
                <td>
                    <input name="indicator_source_of_data" value="{$result.indicator_source_of_data}" type="text" size="105"/>
                </td>
            </tr>
            <tr>
                <td>Tipe Indikator</td>
                <td>
                    <select name='indicator_type'>
                        <option value=''  {if $result.indicator_type|default:'' eq ''}selected="selected"{/if}>--Pilih Data--</option>
                        <option value='Input'  {if $result.indicator_type|default:'' eq 'Input'}selected="selected"{/if}>Input</option>
                        <option value='Proses' {if $result.indicator_type|default:'' eq 'Proses'}selected="selected"{/if}>Proses</option>
                        <option value='Outcome' {if $result.indicator_type|default:'' eq 'Outcome'}selected="selected"{/if}>Outcome</option>
                        <option value='Proses-outcome' {if $result.indicator_type|default:'' eq 'Proses-outcome'}selected="selected"{/if}>Outcome & Proses</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Area Monitoring</td>
                <td>
                    <textarea name="indicator_monitoring_area" rows="4" cols="100">{$result.indicator_monitoring_area}</textarea>
                </td>
            </tr>
            <tr>
                <td>Frekwensi Pengumpulan Data</td>
                <td>
                    <select name='indicator_frequency'>
                        <option value=''  {if $result.indicator_frequency|default:'' eq ''}selected="selected"{/if}>--Pilih Data--</option>
                        <option value='T'  {if $result.indicator_frequency|default:'' eq 'T'}selected="selected"{/if}>Tahunan</option>
                        <option value='B' {if $result.indicator_frequency|default:'' eq 'B'}selected="selected"{/if}>Bulanan</option>
                        <option value='M' {if $result.indicator_frequency|default:'' eq 'M'}selected="selected"{/if}>Mingguan</option>
                        <option value='H' {if $result.indicator_frequency|default:'' eq 'H'}selected="selected"{/if}>Harian</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Dasar Pemikiran</td>
                <td>
                    <textarea name="fs_dasar_pemikiran" rows="4" cols="100">{$result.fs_dasar_pemikiran}</textarea>
                </td>
            </tr>
            <tr>
                <td>Numerator</td>
                <td>
                    <input name="fs_numeraror" value="{$rs_numerator.variable_name}" type="text" size="105"/>
                </td>
            </tr>
            <tr>
                <td>Denominator</td>
                <td>
                    <input name="fs_denominator" value="{$rs_denumerator.variable_name}" type="text" size="105"/>
                </td>
            </tr>
            <tr>
                <td>Formula</td>
                <td>
                    <textarea name="fs_formula" rows="4" cols="100">{$result.fs_formula}</textarea>
                </td>
            </tr>
            <tr>
                <td>Metodologi Pengumpulan Data</td>
                <td>
                    <select name='fs_metodologi'>
                        <option value=''  {if $result.fs_metodologi|default:'' eq ''}selected="selected"{/if}>--Pilih Data--</option>
                        <option value='C'  {if $result.fs_metodologi|default:'' eq 'C'}selected="selected"{/if}>Concurrent (Pengamatan Langsung) </option>
                        <option value='R' {if $result.fs_metodologi|default:'' eq 'R'}selected="selected"{/if}>Retrospective (Berdasarkan Data) </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Metodologi Analisa</td>
                <td>
                    <select name="analisa[]" multiple id="analisa" style="width:250px">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Waktu Pelaporan / Analisis</td>
                <td>
                    <select name='fs_waktu_pelaporan'>
                        <option value=''  {if $result.fs_waktu_pelaporan|default:'' eq ''}selected="selected"{/if}>--Pilih Data--</option>
                        <option value='B'  {if $result.fs_waktu_pelaporan|default:'' eq 'B'}selected="selected"{/if}>Bulanan</option>
                        <option value='T' {if $result.fs_waktu_pelaporan|default:'' eq 'T'}selected="selected"{/if}>Triwulan</option>
                        <option value='S' {if $result.fs_waktu_pelaporan|default:'' eq 'S'}selected="selected"{/if}>Semester</option>
                        <option value='TH' {if $result.fs_waktu_pelaporan|default:'' eq 'TH'}selected="selected"{/if}>Tahunan</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Nilai Standar</td>
                <td>
                    <input name="indicator_value_standard" value="{$result.indicator_value_standard}" type="text" size="105"/>
                </td>
            </tr>
            <tr>
                <td>Target Kinerja</td>
                <td>
                    <input name="indicator_target" value="{$result.indicator_target}" type="text" size="105"/>
                </td>
            </tr>
            <tr>
                <td>Cakupan Data</td>
                <td>
                    <input name="fs_jumlah_sample" value="{$result.fs_jumlah_sample}" type="text" size="105"/>
                </td>
            </tr>
            <tr>
                <td>Komunikasi Hasil</td>
                <td>
                    <textarea name="fs_komunikasi_hasil" rows="4" cols="100">{$result.fs_komunikasi_hasil}</textarea>
                </td>
            </tr>
            <tr class="submit-box">
                <td colspan="2">
                    <input type="submit" name="save" value="Simpan" class="edit-button"/>
                </td>
            </tr>
        </table>
    </form>
</div>