<!-- include javascript -->
{include file="mutu/imut/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Mutu</a><span></span>
        <a href="{$config->site_url('mutu/imut/')}">Rekap Indikator Mutu Sismadak</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('mutu/daftar/')}" class="active">Indikator Mutu Nasional</a></li>
            <li><a href="{$config->site_url('mutu/daftar/lokal')}">Indikator Mutu Lokal</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="dashboard-container">
    <table class="table-view" width="100%" border="0">
        <thead>
            <tr>
                <th width='2%'>No</th>
                <th>Judul Indikator</th>
                <th>Unit</th>
                <th width='11%'></th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$rs_indikator item=r}
            <!--
            {assign var=unit value=$m_daftar->list_unit_mutu_by_id(array($r.indicator_id))}
            -->
            <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
                <td><center>{$no++}</center></td>
        <td>{$r.indicator_element}</a></td>
        <td>
                {foreach from=$unit item=data}
                {$data.department_name},
                {/foreach}
        </td>
        <td>
        <center>
            <a href="{$config->site_url('mutu/daftar/edit/'|cat:$r.indicator_id)}" class="button-edit">Edit</a>
            <a href="{$config->site_url('mutu/daftar/cetak/'|cat:$r.indicator_id)}" target="_blank" class="button-download">Print</a>
        </center>
        </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>