<script type="text/javascript">
    $(document).ready(function() {
        // date picker
        $(".tanggal").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
         $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
        });
       
        // tujuan
        var user = $("#user").val();
        $('#tujuan').select2('data', null);
//            $('#tujuan').select2('data', null);
        if (user == '') {
            $("#tujuan").attr("disabled", "disabled");
        } else {
                $("#tujuan").removeAttr("disabled");
                jQuery("#tujuan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('medis/igd/list_jenis_spesimen/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tujuan").html(showData);
                        $('#tujuan').select2('val', [{$rs_tujuan}]);
                    }
                });
        }
        $("#user").change(function() {
            user = $(this).val();
            $('#tujuan').select2('data', null);
            if (user == '') {
                $("#tujuan").attr("disabled", "disabled");
            } else {
                $("#tujuan").removeAttr("disabled");
                jQuery("#tujuan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('medis/igd/list_jenis_spesimen/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tujuan").html(showData);
                    }
                });
            }
        });
        //tags
        $("#tujuan").select2({});
    });
</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'tujuan_loop[]'}
{assign var=tujuan_loop value=$i}
{$tujuan_var=""}
{foreach from=$tujuan_loop key=key item=i}
{$tujuan_var=$tujuan_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=tujuan_loop value=$tujuan_var}
<script type="text/javascript">
    $(document).ready(function() {
        // chain select
        var user = $("#user").val();
        $('#tujuan').select2('data', null);
            $("#tujuan").removeAttr("disabled");
            jQuery("#tujuan").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('medis/igd/list_jenis_spesimen/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function(data) {
                    var showData;
                    jQuery.each(data, function(index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#tujuan").html(showData);
                    $('#tujuan').select2('val', [{$tujuan_loop}]);

                }
            });
//        }
        $("#user").change(function() {
            user = $(this).val();
            $('#tujuan').select2('data', null);
                $("#tujuan").removeAttr("disabled");
                jQuery("#tujuan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('medis/igd/list_jenis_spesimen/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tujuan").html(showData);
                    }
                });
//            }
        });
        //tags
        $("#tujuan").select2({});
    });
</script>
{/if}
{/foreach}

{/if}

<script type="text/javascript">
    $(document).ready(function () {
        $(".item_add").click(function () {
            $("#ModalAdd").dialog('open');
        });
        
        $("#ModalAdd").dialog({
            autoOpen: false,
            resizable: false,
            height: 230,
            width: 600,
            modal: true
        });
        
        $("#ModalHapus").dialog({
            autoOpen: false,
            resizable: false,
            height: 175,
            width: 400,
            modal: true
        });
        
        $("#loading").hide();
        $("#loading-hapus").hide();
        
        var FS_KD_REG2 = $('#FS_KD_REG').val();
        tampil_kontak(FS_KD_REG2);

        function tampil_kontak(FS_KD_REG2) {
            $.ajax({
                type: "POST",
                url: '{$config->site_url("medis/igd/list_kontak_pasien")}',
                async: false,
                data: '&FS_KD_REG2=' + FS_KD_REG2,
                dataType: 'json',
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    var html = '';
                    var i;
                    for (i = 0; i < data.length; i++) {
                        html += '<tr>' +
                                '<tr>' +
                                '<td>' + data[i].FS_NM_KONTAK + '</td>' +
                                '<td><center>' + data[i].FS_NM_DOMISILI + '</center></td>' +
                                '<td><center>' + data[i].FS_NO_HP + '</center></td>' +
                                '<td><center>' +
                                '<a href="javascript:;" class="btn-red item_hapus" data="' + data[i].FS_KD_TRS + '">Hapus</a>' +
                                '</center></td>' +
                                '</tr>';
                    }
                    $('#show_data_kontak').html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }

            });
        }
        
        $("#btn-add").click(function () {
            $("#loading").show();
            //Simpan Barang
            var FS_KD_REG = $('#FS_KD_REG').val();
            var FS_NM_KONTAK = $('#FS_NM_KONTAK').val();
            var FS_NM_DOMISILI = $('#FS_NM_DOMISILI').val();
            var FS_NO_HP = $('#FS_NO_HP').val();


            var dataString =
                    '&FS_NM_KONTAK=' + FS_NM_KONTAK +
                    '&FS_NM_DOMISILI=' + FS_NM_DOMISILI +
                    '&FS_NO_HP=' + FS_NO_HP +
                    '&FS_KD_REG=' + FS_KD_REG;

            $.ajax({
                type: "POST",
                url: "{$config->site_url('medis/igd/add_kontak_process')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loading").hide();
                    $('#ModalAdd').dialog('close');
                    $('[name="FS_NM_KONTAK"]').val("");
                    $('[name="FS_NM_DOMISILI"]').val("");
                    $('[name="FS_NO_HP"]').val("");
                    tampil_kontak(FS_KD_REG2);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }
            });
        });
        
        $('#show_data_kontak').on('click', '.item_hapus', function () {
            var id = $(this).attr('data');
            $("#ModalHapus").dialog('open');
            $('[name="FS_KD_TRS"]').val(id);
        });
        
        $('#btn_hapus').on('click', function () {
            $("#loading-hapus").show();
            var kode = $('#FS_KD_TRS').val();
            var dataString = '&kode=' + kode
            $.ajax({
                type: "POST",
                url: "{$config->site_url('medis/igd/delete_kontak_process')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loading-hapus").hide();
                    $('#ModalHapus').dialog('close');

                    tampil_kontak(FS_KD_REG2);
                }
            });
        });
        
        });
    </script>