<div class="breadcrum">
    <p><a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/leaflet')}">Leaflet Edukasi</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pengaturan/leaflet/process_edit')}" method="post">
    <input name="FS_KD_TRS" type="hidden" value="{$rs_kategori.FS_KD_TRS|default:''}">
    <table class="table-input" width="100%">
        <tr>
            <th colspan="2">Edit Data</th>
        </tr>
        <tr>
            <td width="15%">Judul</td>
            <td width="85%">
                <input name="FS_NM_JUDUL" type="text" value="{$rs_kategori.FS_NM_JUDUL|default:''}" size="40" maxlength="30" />
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td width="15%">File</td>
            <td width="85%">
                {if $rs_kategori.filename neq NULL}
                <label><a href="{$config->site_url('pengaturan/leaflet/download/'|cat:$rs_kategori.filename|default:'')}">
                        <img src="{$BASEURL}resource/doc/images/icon/pdf.png" alt="" height="15"/>
                        <b>{$rs_kategori.filename} ({$rs_kategori.filesize}K)</b></a>
                </label>
                <br />
                {/if}
                <br />
                <input type="file" name="att_name" tabindex="11"/>
                <em>* pdf only</em>
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="2">
                <input type="submit" name="save[insert]" value="Simpan" class="edit-button" />
                <input type="reset" name="save[reset]" value="Reset" class="edit-button" />
            </td>
        </tr>
    </table>
</form>