<script type="text/javascript">
    $(document).ready(function () {
        $(".opendialogadd").click(function () {
            $("#ModalAdd").dialog('open');
        });
        
        $("#ModalAdd").dialog({
            autoOpen: false,
            resizable: false,
            height: 250,
            width: 600,
            modal: true
        });
        
        $("#ModalHapus").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 600,
            modal: true
        });

        $("#loading").hide();  
        $("#loading-hapus").hide(); 
        var FS_KD_REG2 = $('#FS_KD_REG').val();
       
        tampil_data_barang(FS_KD_REG2);

        function tampil_data_barang(FS_KD_REG2) {
            $.ajax({
                type: "POST",
                url: '{$config->site_url("nurse/fisio/list_fisio1")}',
                async: false,
                data: '&FS_KD_REG2=' + FS_KD_REG2,
                dataType: 'json',
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    var html = '';
                    var i;
                    for (i = 0; i < data.length; i++) {
                        html += '<tr>' +
                                '<td colspan="2"><center>' + data[i].FS_NM_GERAK + '</center></td>' +
                                '<td colspan="2"><center>' + data[i].FS_NM_ROM + '</center></td>' +
                                '<td><center>' + data[i].FS_NM_NYERI + '</center></td>' +
                                '<td><center>' +
                                '<a href="javascript:;" class="btn-red item_hapus" data="' + data[i].FS_KD_TRS + '">Hapus</a>' +
                                '</center></td>' +
                                '</tr>';
                    }
                    $('#show_data').html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }

            });
        }

        $("#btn-add").click(function () {
            $("#loading").show();
            //Simpan Barang
            var FS_KD_REG = $('#FS_KD_REG').val();
            var FS_NM_GERAK = $('#FS_NM_GERAK').val();
            var FS_NM_ROM = $('#FS_NM_ROM').val();
            var FS_NM_NYERI = $('#FS_NM_NYERI').val();

            var dataString = '&FS_KD_REG=' + FS_KD_REG + '&FS_NM_GERAK=' + FS_NM_GERAK + '&FS_NM_ROM=' + FS_NM_ROM + '&FS_NM_NYERI=' + FS_NM_NYERI;

            $.ajax({
                type: "POST",
                url: "{$config->site_url('nurse/fisio/add_process_fisio1')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loading").hide();
                    $('#ModalAdd').dialog('close');
                    $('[name="FS_NM_GERAK"]').val("");
                    $('[name="FS_NM_ROM"]').val("");
                    $('[name="FS_NM_NYERI"]').val("");
                    tampil_data_barang(FS_KD_REG2);
                    // set textbox dengan id jenis kelamin

                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }
            });


        });

        $('#show_data').on('click', '.item_hapus', function () {
            var id = $(this).attr('data');
            $("#ModalHapus").dialog('open');
            $('[name="kode"]').val(id);
        });


        $('#btn_hapus').on('click', function () {
            $("#loading-hapus").show();
            var kode = $('#textkode').val();
            var dataString = '&kode=' + kode
            $.ajax({
                type: "POST",
                url: "{$config->site_url('nurse/fisio/delete_process_fisio1')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                 success: function (data) {
                   $("#loading-hapus").hide();
                   $('#ModalHapus').dialog('close');
                    tampil_data_barang(FS_KD_REG2);
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".opendialogaddPasif").click(function () {
            $("#ModalAddPasif").dialog('open');
        });
                
        $("#ModalAddPasif").dialog({
            autoOpen: false,
            resizable: false,
            height: 270,
            width: 600,
            modal: true
        });
        
        $("#ModalHapusPasif").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 600,
            modal: true
        });

        $("#loadingPasif").hide();  
        $("#loading-hapusPasif").hide(); 
        var FS_KD_REG2 = $('#FS_KD_REG').val();
       
        tampil_data_barang_pasif(FS_KD_REG2);

        function tampil_data_barang_pasif(FS_KD_REG2) {
            $.ajax({
                type: "POST",
                url: '{$config->site_url("nurse/fisio/list_fisioPasif")}',
                async: false,
                data: '&FS_KD_REG2=' + FS_KD_REG2,
                dataType: 'json',
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    var html = '';
                    var i;
                    for (i = 0; i < data.length; i++) {
                        html += '<tr>' +
                                '<td colspan="2"><center>' + data[i].FS_NM_GERAK_PASIF + '</center></td>' +
                                '<td><center>' + data[i].FS_NM_ROM_PASIF + '</center></td>' +
                                '<td><center>' + data[i].FS_NM_NYERI_PASIF + '</center></td>' +
                                '<td><center>' + data[i].FS_NM_END_FEEL + '</center></td>' +
                                '<td><center>' +
                                '<a href="javascript:;" class="btn-red item_hapusPasif" data="' + data[i].FS_KD_TRS + '">Hapus</a>' +
                                '</center></td>' +
                                '</tr>';
                    }
                    $('#show_dataPasif').html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }

            });
        }

        $("#btn-add-pasif").click(function () {
            $("#loadingPasif").show();
            //Simpan Barang
            var FS_KD_REG = $('#FS_KD_REG').val();
            var FS_NM_GERAK_PASIF = $('#FS_NM_GERAK_PASIF').val();
            var FS_NM_ROM_PASIF = $('#FS_NM_ROM_PASIF').val();
            var FS_NM_NYERI_PASIF = $('#FS_NM_NYERI_PASIF').val();
            var FS_NM_END_FEEL = $('#FS_NM_END_FEEL').val();

            var dataString = '&FS_KD_REG=' + FS_KD_REG + 
                    '&FS_NM_GERAK_PASIF=' + FS_NM_GERAK_PASIF + 
                    '&FS_NM_ROM_PASIF=' + FS_NM_ROM_PASIF + 
                    '&FS_NM_NYERI_PASIF=' + FS_NM_NYERI_PASIF +
                    '&FS_NM_END_FEEL=' + FS_NM_END_FEEL;

            $.ajax({
                type: "POST",
                url: "{$config->site_url('nurse/fisio/add_process_fisioPasif')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loadingPasif").hide();
                    $('#ModalAddPasif').dialog('close');
                    $('[name="FS_NM_GERAK_PASIF"]').val("");
                    $('[name="FS_NM_ROM_PASIF"]').val("");
                    $('[name="FS_NM_NYERI_PASIF"]').val("");
                    $('[name="FS_NM_END_FEEL"]').val("");
                    tampil_data_barang_pasif(FS_KD_REG2);
                    // set textbox dengan id jenis kelamin

                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }
            });


        });

        $('#show_dataPasif').on('click', '.item_hapusPasif', function () {
            var id = $(this).attr('data');
            $("#ModalHapusPasif").dialog('open');
            $('[name="kode"]').val(id);
        });


        $('#btn_hapusPasif').on('click', function () {
            $("#loading-hapusPasif").show();
            var kode = $('#textkode').val();
            var dataString = '&kode=' + kode
            $.ajax({
                type: "POST",
                url: "{$config->site_url('nurse/fisio/delete_process_fisioPasif')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                 success: function (data) {
                   $("#loading-hapusPasif").hide();
                   $('#ModalHapusPasif').dialog('close');
                    tampil_data_barang_pasif(FS_KD_REG2);
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".opendialogaddIsom").click(function () {
            $("#ModalAddIsom").dialog('open');
        });
        
        $("#ModalAddIsom").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 600,
            modal: true
        });
        
        $("#ModalHapusIsom").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 600,
            modal: true
        });

        $("#loadingIsom").hide();  
        $("#loading-hapusIsom").hide(); 
        var FS_KD_REG2 = $('#FS_KD_REG').val();
       
        tampil_data_barang_isom(FS_KD_REG2);

        function tampil_data_barang_isom(FS_KD_REG2) {
            $.ajax({
                type: "POST",
                url: '{$config->site_url("nurse/fisio/list_fisioIsom")}',
                async: false,
                data: '&FS_KD_REG2=' + FS_KD_REG2,
                dataType: 'json',
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    var html = '';
                    var i;
                    for (i = 0; i < data.length; i++) {
                        html += '<tr>' +
                                '<td colspan="2"><center>' + data[i].FS_NM_GERAK_ISOM + '</center></td>' +
                                '<td colspan="2"><center>' + data[i].FS_NM_MMT + '</center></td>' +
                                '<td colspan="2"><center>' +
                                '<a href="javascript:;" class="btn-red item_hapusIsom" data="' + data[i].FS_KD_TRS + '">Hapus</a>' +
                                '</center></td>' +
                                '</tr>';
                    }
                    $('#show_dataIsom').html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }

            });
        }

        $("#btn-add-isom").click(function () {
            $("#loadingIsom").show();
            //Simpan Barang
            var FS_KD_REG = $('#FS_KD_REG').val();
            var FS_NM_GERAK_ISOM = $('#FS_NM_GERAK_ISOM').val();
            var FS_NM_MMT = $('#FS_NM_MMT').val();

            var dataString = '&FS_KD_REG=' + FS_KD_REG + 
                    '&FS_NM_GERAK_ISOM=' + FS_NM_GERAK_ISOM + 
                    '&FS_NM_MMT=' + FS_NM_MMT;

            $.ajax({
                type: "POST",
                url: "{$config->site_url('nurse/fisio/add_process_fisioIsom')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loadingIsom").hide();
                    $('#ModalAddIsom').dialog('close');
                    $('[name="FS_NM_GERAK_ISOM"]').val("");
                    $('[name="FS_NM_MMT"]').val("");
                    tampil_data_barang_isom(FS_KD_REG2);
                    // set textbox dengan id jenis kelamin

                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }
            });


        });

        $('#show_dataIsom').on('click', '.item_hapusIsom', function () {
            var id = $(this).attr('data');
            $("#ModalHapusIsom").dialog('open');
            $('[name="kode"]').val(id);
        });


        $('#btn_hapusIsom').on('click', function () {
            $("#loading-hapusIsom").show();
            var kode = $('#textkode').val();
            var dataString = '&kode=' + kode
            $.ajax({
                type: "POST",
                url: "{$config->site_url('nurse/fisio/delete_process_fisioIsom')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                 success: function (data) {
                   $("#loading-hapusIsom").hide();
                   $('#ModalHapusIsom').dialog('close');
                    tampil_data_barang_isom(FS_KD_REG2);
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        // chain select
        // tujuan
        var user = $("#user").val();
        $('#tujuan').select2('data', null);
//            $('#tujuan').select2('data', null);
        if (user == '') {
            $("#tujuan").attr("disabled", "disabled");
        } else {
                $("#tujuan").removeAttr("disabled");
                jQuery("#tujuan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('nurse/fisio/list_intervensi_umum/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tujuan").html(showData);
                        $('#tujuan').select2('val', [{$rs_tujuan}]);
                    }
                });
        }
        $("#user").change(function() {
            user = $(this).val();
            //get icao code by airlines_id
//            $.ajax({
//                type: "POST",
//                url: "{$config->site_url('angud/ijin_rute/get_airlines_by_id/')}",
//                data: "user=" + user,
//                dataType: 'json',
//                success: function(data) {
//
//                    $('input[name="airlines_icao_cd"]').val(user);
//                }
//            });
            $('#tujuan').select2('data', null);
            if (user == '') {
                $("#tujuan").attr("disabled", "disabled");
            } else {
                $("#tujuan").removeAttr("disabled");
                jQuery("#tujuan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('nurse/fisio/list_intervensi_umum/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tujuan").html(showData);
                    }
                });
            }
        });
        //tags
        $("#tujuan").select2({});
    });
</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'tujuan_loop[]'}
{assign var=tujuan_loop value=$i}
{$tujuan_var=""}
{foreach from=$tujuan_loop key=key item=i}
{$tujuan_var=$tujuan_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=tujuan_loop value=$tujuan_var}
<script type="text/javascript">
    $(document).ready(function() {
        // chain select
        var user = $("#user").val();
        $('#tujuan').select2('data', null);
//        if (user == '') {
//            $("#tujuan").attr("disabled", "disabled");
//        } else {
            $("#tujuan").removeAttr("disabled");
            jQuery("#tujuan").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('nurse/fisio/list_intervensi_umum/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function(data) {
                    var showData;
                    jQuery.each(data, function(index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#tujuan").html(showData);
                    $('#tujuan').select2('val', [{$tujuan_loop}]);

                }
            });
//        }
        $("#user").change(function() {
            user = $(this).val();
            $('#tujuan').select2('data', null);
//            if (user == '') {
//                $("#tujuan").attr("disabled", "disabled");
//            } else {
                $("#tujuan").removeAttr("disabled");
                jQuery("#tujuan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('nurse/fisio/list_intervensi_umum/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tujuan").html(showData);
                    }
                });
//            }
        });
        //tags
        $("#tujuan").select2({});
    });
</script>
{/if}
{/foreach}

{/if}

<script type="text/javascript">
    $(document).ready(function() {
        // chain select
        // tujuan
        var user = $("#user").val();
        $('#tembusan').select2('data', null);
//            $('#tembusan').select2('data', null);
        if (user == '') {
            $("#tembusan").attr("disabled", "disabled");
        } else {
                $("#tembusan").removeAttr("disabled");
                jQuery("#tembusan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('nurse/fisio/list_intervensi_umum/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tembusan").html(showData);
                        $('#tembusan').select2('val', [{$rs_tembusan}]);
                    }
                });
        }
        $("#user").change(function() {
            user = $(this).val();
            //get icao code by airlines_id
//            $.ajax({
//                type: "POST",
//                url: "{$config->site_url('angud/ijin_rute/get_airlines_by_id/')}",
//                data: "user=" + user,
//                dataType: 'json',
//                success: function(data) {
//
//                    $('input[name="airlines_icao_cd"]').val(user);
//                }
//            });
            $('#tembusan').select2('data', null);
            if (user == '') {
                $("#tembusan").attr("disabled", "disabled");
            } else {
                $("#tembusan").removeAttr("disabled");
                jQuery("#tembusan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('nurse/fisio/list_intervensi_umum/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tembusan").html(showData);
                    }
                });
            }
        });
        //tags
        $("#tembusan").select2({});
    });
</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'tembusan_loop[]'}
{assign var=tembusan_loop value=$i}
{$tembusan_var=""}
{foreach from=$tembusan_loop key=key item=i}
{$tembusan_var=$tembusan_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=tembusan_loop value=$tembusan_var}
<script type="text/javascript">
    $(document).ready(function() {
        // chain select
        var user = $("#user").val();
        $('#tembusan').select2('data', null);
//        if (user == '') {
//            $("#tembusan").attr("disabled", "disabled");
//        } else {
            $("#tembusan").removeAttr("disabled");
            jQuery("#tembusan").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('nurse/fisio/list_intervensi_umum/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function(data) {
                    var showData;
                    jQuery.each(data, function(index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#tembusan").html(showData);
                    $('#tembusan').select2('val', [{$tembusan_loop}]);

                }
            });
//        }
        $("#user").change(function() {
            user = $(this).val();
            $('#tembusan').select2('data', null);
//            if (user == '') {
//                $("#tembusan").attr("disabled", "disabled");
//            } else {
                $("#tembusan").removeAttr("disabled");
                jQuery("#tembusan").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('nurse/fisio/list_intervensi_umum/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#tembusan").html(showData);
                    }
                });
//            }
        });
        //tags
        $("#tembusan").select2({});
    });
</script>
{/if}
{/foreach}

{/if}