<!-- include javascript -->
{include file="inap/cppt/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Data Arsip</a><span></span>
        <a href="{$config->site_url('inap/cppt/cari')}">Rm 17 Catatan Pemberian Obat</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
        <table class="table-view" width="100%">
            <tr>
                <th>NOMOR MR</th>
                <th>NOMOR REG</th>
                <th>NAMA</th>
                <th>TGL MASUK</th>
                <th>TGL KELUAR</th>
                <th>LAYANAN</th>
                <th width="11%"></th>
            </tr>
            {foreach from=$rs_pasien item=data}
            <tr>
                <td>{$data.fs_mr}</td>
                <td>{$data.FS_KD_REG}</td>
                <td>{$data.FS_NM_PASIEN}</td>
                <td>{$data.fd_tgl_masuk}</td>
                <td>{$data.fd_tgl_keluar}</td>
                <td>{$data.FS_NM_LAYANAN}</td>
                <td>
                    <a href="{$config->site_url('inap/rm17/add/'|cat:$data.FS_KD_REG)}" class="button-edit" title="Add">Add</a>
                    
                </td>
            </tr>
            {/foreach}
        </table>
    </form>
</div>