{include file="rm/estp/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Medical Record</a><span></span>
        <small>eSTP</small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('rm/estp')}" class="active">Laporan Rawat Jalan</a></li>
            <!--<li><a href="{$config->site_url('rm/estp/index2')}">Laporan Rawat Jalan [2]</a></li>
            <li><a href="{$config->site_url('rm/estp/index3')}">Laporan Rawat Jalan [3]</a></li>
            <li><a href="{$config->site_url('rm/estp/index4')}">Laporan Rawat Jalan [4]</a></li>-->
            <li><a href="{$config->site_url('rm/estp/index_2')}" >Laporan Rawat Inap</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="content-entry"></div>

<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('rm/estp/proses_cari')}" method="post">
        <table class="table-search" width="100%" >
            <tr>
                <td> 
                    Periode
                    <input name="tanggal" type="text" size="10" maxlength="10" value="{$search.tanggal|default:''}" class="tanggal" readonly="readonly" style="text-align: center;" />
                    s/d
                    <input name="tanggal2" type="text" size="10" maxlength="10" value="{$search.tanggal2|default:''}" class="tanggal" readonly="readonly" style="text-align: center;" />
                </td>
                <td>
                    <input class="button" type="submit" value="SEARCH" name="save" />
                    <input class="button" type="submit" value="RESET" name="save" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="content-entry">
    <!--<div class="action">
        <a class="btn-blue" href="{$config->site_url('laporan/espt/print_all')}"><span class="icon-print-small"></span> Cetak Laporan TXT</a>
    </div>-->
    <div class="clear"></div>
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
<div class="dashboard-container">
    <table class="table-view" width="100%" style='font-size: 9px !important;'>
        <tr>
            <th>No</th>
            <th>Kasus</th>
            <th>Laki-Laki</th>
            <th>Perempuan</th>
            <th>Jumlah Kasus</th>
            <th>Kunjungan</th>
            <th>0-7 hari Laki-Laki</th>
            <th>0-7 hari Perempuan</th>
            <th>8-28 hari Laki-Laki</th>
            <th>8-28 hari Perempuan</th>
            <th>< 1 Tahun Laki-Laki</th>
            <th>< 1 Tahun Perempuan</th>
            <th>1-4 Tahun Laki-Laki</th>
            <th>1-4 Tahun Perempuan</th>
            <th>5-9 Tahun Laki-Laki</th>
            <th>5-9 Tahun Perempuan</th>
            <th>10-14 Tahun Laki-Laki</th>
            <th>10-14 Tahun Perempuan</th>
            <th>15-19 Tahun Laki-Laki</th>
            <th>15-19 Tahun Perempuan</th>
            <th>20-44 Tahun Laki-Laki</th>
            <th>20-44 Tahun Perempuan</th>
            <th>45-54 Tahun Laki-Laki</th>
            <th>45-54 Tahun Perempuan</th>
            <th>55-58 Tahun Laki-Laki</th>
            <th>55-58 Tahun Perempuan</th>
            <th>59-69 Tahun Laki-Laki</th>
            <th>59-69 Tahun Perempuan</th>
            <th>>=70 Tahun Laki-Laki</th>
            <th>>=70 Tahun Perempuan</th>

        </tr>
        {foreach from=$rs_id item=result}
        {assign var=rs_det_rj_1 value=$m_rm_estp->get_det_rj_1(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_12 value=$m_rm_estp->get_det_rj_2(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_13 value=$m_rm_estp->get_det_rj_3(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_14 value=$m_rm_estp->get_det_rj_4(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_15 value=$m_rm_estp->get_det_rj_5(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_16 value=$m_rm_estp->get_det_rj_6(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_17 value=$m_rm_estp->get_det_rj_7(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_18 value=$m_rm_estp->get_det_rj_8(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_19 value=$m_rm_estp->get_det_rj_9(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_110 value=$m_rm_estp->get_det_rj_10(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_111 value=$m_rm_estp->get_det_rj_11(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_112 value=$m_rm_estp->get_det_rj_12(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_113 value=$m_rm_estp->get_det_rj_13(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_114 value=$m_rm_estp->get_det_rj_14(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_115 value=$m_rm_estp->get_det_rj_15(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_116 value=$m_rm_estp->get_det_rj_16(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_117 value=$m_rm_estp->get_det_rj_17(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_118 value=$m_rm_estp->get_det_rj_18(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_119 value=$m_rm_estp->get_det_rj_19(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_120 value=$m_rm_estp->get_det_rj_20(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_121 value=$m_rm_estp->get_det_rj_21(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_122 value=$m_rm_estp->get_det_rj_22(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_123 value=$m_rm_estp->get_det_rj_23(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_124 value=$m_rm_estp->get_det_rj_24(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_125 value=$m_rm_estp->get_det_rj_25(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_126 value=$m_rm_estp->get_det_rj_26(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_127 value=$m_rm_estp->get_det_rj_27(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        {assign var=rs_det_rj_128 value=$m_rm_estp->get_det_rj_28(array($result.FS_KD_DTD,$result.FS_RANGE,$search.tanggal,$search.tanggal2))}
        <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
            <td align="center">{$no++}.</td>
            <td>{$result.FS_SURVEILANS}</td>
            <td>{$rs_det_rj_1.fn_jumlah}</td>
            <td>{$rs_det_rj_12.fn_jumlah}</td>
            <td>{$rs_det_rj_13.fn_jumlah}</td>
            <td>{$rs_det_rj_14.fn_jumlah}</td>
            <td>{$rs_det_rj_15.fn_jumlah}</td>
            <td>{$rs_det_rj_16.fn_jumlah}</td>
            <td>{$rs_det_rj_17.fn_jumlah}</td>
            <td>{$rs_det_rj_18.fn_jumlah}</td>
            <td>{$rs_det_rj_19.fn_jumlah}</td>
            <td>{$rs_det_rj_110.fn_jumlah}</td>
            <td>{$rs_det_rj_111.fn_jumlah}</td>
            <td>{$rs_det_rj_112.fn_jumlah}</td>
            <td>{$rs_det_rj_113.fn_jumlah}</td>
            <td>{$rs_det_rj_114.fn_jumlah}</td>
            <td>{$rs_det_rj_115.fn_jumlah}</td>
            <td>{$rs_det_rj_116.fn_jumlah}</td>
            <td>{$rs_det_rj_117.fn_jumlah}</td>
            <td>{$rs_det_rj_118.fn_jumlah}</td>
            <td>{$rs_det_rj_119.fn_jumlah}</td>
            <td>{$rs_det_rj_120.fn_jumlah}</td>
            <td>{$rs_det_rj_121.fn_jumlah}</td>
            <td>{$rs_det_rj_122.fn_jumlah}</td>
            <td>{$rs_det_rj_123.fn_jumlah}</td>
            <td>{$rs_det_rj_124.fn_jumlah}</td>
            <td>{$rs_det_rj_125.fn_jumlah}</td>
            <td>{$rs_det_rj_126.fn_jumlah}</td>
            <td>{$rs_det_rj_127.fn_jumlah}</td>
            <td>{$rs_det_rj_128.fn_jumlah}</td>

        </tr>
        {foreachelse}
        <tr>
            <td colspan="30">Data not found!</td>
        </tr>
        {/foreach}
    </table>
    <div class="clear"></div>