{include file="medis/rawat_jalan/add_script_js.html"}
<script type="text/javascript">
    
</script>
<div class="breadcrum">
    <p>
        <a href="#">Pemeriksaan Dokter</a><span></span>
        <a href="#">History Pasien</a><span></span>
        <a href="{$config->site_url('medis/rawat_jalan/')}">Rawat Jalan</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('medis/rawat_jalan/history/'|cat:$result.NO_MR)}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('igd/medis/add_rujuk_process')}" method="post">
    <input type="hidden" name="FS_KD_TRS" value="{$result.id}" />
    <input type="hidden" name="FS_KD_REG" value="{$result.NO_REG}" />
    <table class="table-info" width="100%">
        <tr class="headrow">
            <th colspan="4">Data Pasien</th>
        </tr>
        <tr>
            <td width='15%'>Kode Reg</td>
            <td width='35%'>{$result.NO_REG}</td>
            <td width='15%'>No RM</td>
            <td width='35%'>{$result.NO_MR}</td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>{$result.NAMA_PASIEN|default:''}</td>
            <td>Alamat</td>
            <td>{$result.ALAMAT|default:''}</td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td>{$result.TGL_LAHIR|default:''}</td>
            <td>Jenis Kelamin</td>
            <td>
                {if $result.JENIS_KELAMIN eq 'P'}
                Perempuan
                {else}
                Laki-Laki
                {/if}
            </td>
        </tr>

    </table>
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Surat Rujukan</th>
        </tr>
        <tr>
            <td width='15%'>Kepada</td>
            <td width='85%'>
                 <select name="FS_TUJUAN_DPJP" multiple id="tujuankonsul" required="" style="width:250px">
                    <option></option>
                    </select>

            </td>

        </tr>
      
                <input type="hidden" name="FS_RS_TUJUAN" size="55" value="RSU Muhammadiyah Metro"/>  
                <tr>
                    <td>Status Gawat Darurat</td>
                    <td>
                <input type="text" name="FS_STATUS_GAWAT_DARURAT" size="55"/>  
                <!-- <textarea rows="3" cols="60" name="FS_STATUS_GAWAT_DARURAT" required=""></textarea> <em>*wajib diisi</em> -->
            </td>

        </tr>
                <tr>
                    <td>Pelayanan Yang Telah Diberikan</td>
                    <td>
                <input type="text" name="FS_PELAYANAN_TELAH_DIBERIKAN" size="55"/>  
                <!-- <textarea rows="3" cols="60" name="FS_STATUS_GAWAT_DARURAT" required=""></textarea> <em>*wajib diisi</em> -->
            </td>

        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="edit-button" /> 
            </td>
        </tr>
    </table>
</form>


<script type="text/javascript"> 
    var user = $("#user").val(); 

    $('#tujuankonsul').select2('data', null);
            $('#tujuankonsul').select2('data', null);
            $("#tujuankonsul").removeAttr("disabled");

            jQuery("#tujuankonsul").html('');
            $.ajax({
            type: "POST", 
                    url: "{$config->site_url('medis/rawat_jalan/list_nama_dokter_igd/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#tujuankonsul").html(showData);
                    }
            });
            //tags
            $("#tujuankonsul").select2({});
            </script>