{include file="inap/ass_awal_bidan/add_script_js.html"}

 

<div class="breadcrum">
    <p>
        <a href="#">IGD</a><span></span>
         <small>Add Data Asesmen Medis IGD</small>
    </p>
    <div class="clear"></div>
</div> 
<div class="content-entry">
    <!-- notification template -->
     <!-- end of notification template-->
    <form action="{$config->site_url('igd/medis/edit_process')}" method="post" onkeypress="return event.keyCode != 13">
        <input name="FS_KD_REG" id="FS_KD_REG" type="hidden" value="{$rs_pasien.NO_REG}" />
        <input name="FS_MR" type="hidden" value="{$rs_pasien.NO_MR}" />
        <input name="id" type="hidden" value="{$data.id}" />
        <input name="FS_KD_LAYANAN" type="hidden" value="{$rs_pasien.KODE_BANGSAL}" />
        <input name="FS_KD_PETUGAS_MEDIS" type="hidden" value="{$rs_pasien.fs_kd_medis}" />

        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2"></th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.NAMA_PASIEN}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.NO_MR}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$rs_pasien.ALAMAT}</td>
            </tr>
            <tr>
                <td>UMUR</td>
                <td>{$rs_pasien.fn_umur} Tahun</td>
            </tr>
        </table>
       
        <table class="table-input" width="100%">
            <tr>
               <td>Kendaraan</td>
               <td>  
                <input type="text" name="KENDARAAN" size="40" value="{$data.KENDARAAN}">
                 </td></tr>  
             <tr>
                <td>Rujukan Dari</td>
                <td> <input type="text" name="RUJUKAN" size="40" value="{$data.RUJUKAN}">  </td></tr>  
                
                <tr class="headrow">
                    <th colspan="4">I. SUBYEKTIF  </th>
                    
                </tr>
                <tr>
                    <td>Anamnesa</td>
                    <td colspan="3"> 
                        <input type="checkbox" name="jenis_anamnesa[]" value="alloanamnesis" {if in_array('alloanamnesis', $jenis_anamnesa)}checked="checked"{/if}>alloanamnesis<br>
                        <input type="checkbox" name="jenis_anamnesa[]" value="autoanamnesis" {if in_array('autoanamnesis', $jenis_anamnesa)}checked="checked"{/if}>autoanamnesis<br>
                       
                    </td>
                   
                    
                </tr>
            <tr>
                <td>Keluhan Utama</td>
                <td colspan="3"><textarea style="width: 600px;" name="FS_ANAMNESA"  value="{$data.FS_ANAMNESA}">{$data.FS_ANAMNESA}</textarea></td>
                
            </tr>
            <tr> 
                <td width='20%'>Riwayat Penyakit Sekarang</td>
                <td width='40%'>
                    <textarea style="width: 300px;" name="RIW_PENYAKIT_NOW">{$data.RIW_PENYAKIT_NOW} </textarea> 
                </td>
               
                <td width='20%'>Riwayat Penyakit dahulu</td>
                <td width='40%'>
                    <input type="text" name="FS_RIW_PENYAKIT_DAHULU" value="{$data.RIW_PENYAKIT_DAHULU}" size="32">
                </td>
            </tr>
            <tr>
                <td width='20%'>Riwayat Perawatan Sebelumnya</td>
                <td width='40%'>
                    <input type="text" name="RIW_PERAWATAN" value="{$data.RIW_PERAWATAN}" size="32">
                </td>
                <td width='20%'>Terapi & Tindakan yang pernah dilakukan</td>
                <td width='30%'>
                    <input type="text" name="RIW_TINDAKAN" value="{$data.RIW_TINDAKAN}" size="32">
                </td>
                <!-- <td width='20%'>Riwayat penyakit keluarga</td>
                <td width='30%'>
                    <input type="text" name="FS_RIW_PENYAKIT_DAHULU2" value="{$result3.FS_RIW_PENYAKIT_DAHULU2|default:'-'}" size="32">
                </td> -->
            </tr>
 
            <tr>
                <td width='20%'>Riwayat Alergi</td>
                <td width='30%'>
                    <input type="text" name="FS_ALERGI"   value="{$alergi.FS_ALERGI}">
                    <em style="color:red">* Wajib Diisi</em>
                </td>
                <td width='20%'>Reaksi Alergi</td>
                <td width='30%'>
                    <input type="text" name="FS_REAK_ALERGI"  value="{$alergi.FS_REAK_ALERGI}">
                    <em style="color:red">* Wajib Diisi</em>
                </td>
            </tr>

            <tr><td colspan="4"> <br><br>Bio Sosio Kultural</td></tr>
            <tr>
                <td width='20%'>Status Pernikahan  </td>
                <td width='30%'>
                     <input type="radio" name="PERNIKAHAN"  {if $ases2.PERNIKAHAN eq 'Belum'} checked {/if}   value="Belum">Belum
                     <input type="radio" name="PERNIKAHAN" {if $ases2.PERNIKAHAN eq 'Menikah'} checked {/if}   value="Menikah">Menikah
                     <input type="radio" name="PERNIKAHAN"  {if $ases2.PERNIKAHAN eq 'Janda/Duda'} checked {/if}  value="Janda/Duda">Janda/Duda
                </td>
                <td width='20%'>Pekerjaan    </td>
                <td width='30%'>
                     <input type="text" name="JOB" value="{$ases2.JOB}"> 
                </td>
            </tr>

            <tr>
                <td width='20%'>Agama</td>
                <td width='30%'>
                    <select name="FS_AGAMA" id="surat_dari" class="select2" style="width: 190px;">
                        <option value="1" {if $data.AGAMA eq '1'} selected="" {/if} >Islam</option>
                        <option value="2" {if $data.AGAMA eq '2'} selected="" {/if}>Kristen</option>
                        <option value="3" {if $data.AGAMA eq '3'} selected="" {/if}>Katholik</option>
                        <option value="4" {if $data.AGAMA eq '4'} selected="" {/if}>Hindu</option>
                        <option value="5" {if $data.AGAMA eq '5'} selected="" {/if}>Buda</option>
                        <option value="6" {if $data.AGAMA eq '6'} selected="" {/if}>Konghucu</option>
                    </select>
                </td>
                <td width='20%'>Suku    </td>
                <td>
                    <input type="text" name="SUKU"  value="{$ases2.SUKU}"> 

                </td>
             </tr>

             <tr class="headrow">
                <th colspan="4">II. OBJEKTIF  </th>
                
            </tr>
            <tr>
                <td width='20%'>Status Psikologis</td>
                <td width='30%'>
                    <select name="FS_STATUS_PSIK" class="select2" >
                        <option value=""  {if $data.FS_STATUS_PSIK eq ''} selected="" {/if}  onclick='document.getElementById("civstaton3").disabled = true'>--Pilih Data--</option>
                        <option value="1" {if $data.FS_STATUS_PSIK eq '1'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Tenang</option>
                        <option value="2" {if $data.FS_STATUS_PSIK eq '2'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Cemas</option>
                        <option value="3" {if $data.FS_STATUS_PSIK eq '3'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Takut</option>
                        <option value="4" {if $data.FS_STATUS_PSIK eq '4'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Marah</option>
                        <option value="5" {if $data.FS_STATUS_PSIK eq '5'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Sedih</option>
                        <option value="6" {if $data.FS_STATUS_PSIK neq '' &&  $data.FS_STATUS_PSIK neq '1' && $data.FS_STATUS_PSIK neq '2'&& $data.FS_STATUS_PSIK neq '3'&& $data.FS_STATUS_PSIK neq '4'&& $data.FS_STATUS_PSIK neq '5'}selected="" {/if}onclick='document.getElementById("civstaton3").disabled = false'>Lainnya</option>
                    </select>
                    <br><br>
                    <!-- <input type="text" name="FS_STATUS_PSIK2" id="civstaton3" {if $ases2.FS_STATUS_PSIK2 eq '0'}disabled=""{/if} size="27" value="{$ases2.FS_STATUS_PSIK2}"> -->
                </td>
                <td width='20%'>Status Mental</td>
                <td width='30%'>
                    <select name="MENTAL" class="select2" >
                         <option value="Kooperatif" {if $ases2.MENTAL eq '1'} selected="" {/if} 
                         onclick='document.getElementById("civstaton3").disabled = true'>Kooperatif</option>
                         <option value="Tidak Kooperatif" {if $ases2.MENTAL eq '1'} selected="" {/if} 
                         onclick='document.getElementById("civstaton3").disabled = true'>Tidak Kooperatif</option>
                         <option value="Gelisah" {if $ases2.MENTAL eq '1'} selected="" {/if} 
                         onclick='document.getElementById("civstaton3").disabled = true'>Gelisah</option>
                       </select>
                    <br><br>
                 </td>
                <!-- <td width='39%'>Hubungan dengan anggota keluarga</td>
                <td width='30%'>
                    <select name="FS_HUB_KELUARGA" id="surat_dari" class="select2" style="width: 170px;">
                        <option value="" {if $ases2.FS_HUB_KELUARGA eq ''} selected="" {/if}>--Pilih Data--</option>
                        <option value="1" {if $ases2.FS_HUB_KELUARGA eq '1'} selected="" {/if}>Baik</option>
                        <option value="2" {if $ases2.FS_HUB_KELUARGA eq '2'} selected="" {/if}>Tidak Baik</option>
    
                    </select>
                </td> -->
            </tr>
            <tr><td width='40%'>Tanda Tanda Vital  </td>
                <td width='40%'>
                    <textarea name="PEMERIKSAAN_FISIK" rows="10" style="width:250px;">{$data.PEMERIKSAAN_FISIK}
                 </textarea>

                </td>
                <td colspan="2">
                    <table>
                        <tr>  <td>  Lingkar Kepala</td><td><input type="text" name="LINGKAR_KEPALA" value="{$data.LINGKAR_KEPALA}"></td></tr>
                      
                         <tr>  <td> Skor Nyeri</td><td>  <input type="text" name="SKOR_NYERI" value="{$data.SKOR_NYERI}"></td></tr>
                         <tr>  <td> Alat Bantu</td><td>  <input type="text" name="ALAT_BANTU" value="{$data.ALAT_BANTU}"></td></tr>
                         <tr>  <td>    Cacat Tubuh</td><td>  <input type="text" name="CACAT" value="{$data.CACAT}"></td></tr>
                         <tr>  <td>    ADL</td><td>  <input type="text" name="ADL" value="{$data.ADL}"></td></tr>
                       
                         
                    </table>
                   
                  
                </td>
            </tr>
            <tr>  <td>  Status Gizi</td>
                  <td> 
                    <input type="radio" {if $data.STATUS_GIZI eq 'Baik'} checked {/if}  name="STATUS_GIZI" value="Baik">Baik
                    <input type="radio" {if $data.STATUS_GIZI eq 'Cukup'} checked {/if}  name="STATUS_GIZI" value="Cukup">Cukup
                    <input type="radio" {if $data.STATUS_GIZI eq 'Kurang'} checked {/if}  name="STATUS_GIZI" value="Kurang">Kurang
                </td> 
                 <td>    Resiko Jatuh</td><td>  
                    <input type="radio" {if $data.RESIKO_JATUH eq 'RESIKO RENDAH'} checked {/if}  name="RESIKO_JATUH" value="RESIKO RENDAH">RESIKO RENDAH
                    <input type="radio" {if $data.RESIKO_JATUH eq 'RESIKO SEDANG'} checked {/if}  name="RESIKO_JATUH" value="RESIKO SEDANG">RESIKO SEDANG
                    <input type="radio" {if $data.RESIKO_JATUH eq 'RESIKO TINGGI'} checked {/if}  name="RESIKO_JATUH" value="RESIKO TINGGI">RESIKO TINGGI
                </td></tr>
       
 <tr class="headrow">
            <th colspan="4"> </th> 
        </tr>
        <tr>
            <td width='40%'>Konjungtiva  </td>
            <td width='40%'>
                <input type="radio" name="KONJUNGTIVA" {if $data.KONJUNGTIVA eq 'Pucat'} checked="" {/if} value="Pucat">Pucat
                <input type="radio" name="KONJUNGTIVA" {if $data.KONJUNGTIVA eq 'Pink'} checked="" {/if} value="Pink">Pink
             </td>
            <td width='40%'>Deviasi Trakea  </td>
            <td width='40%'>
                <input type="radio" name="DEVIASI" {if $data.DEVIASI eq 'Kanan'} checked="" {/if}  value="Kanan">Kanan
                <input type="radio" name="DEVIASI" {if $data.DEVIASI eq 'Kiri'} checked="" {/if} value="Kiri"> Kiri
                <input type="radio" name="DEVIASI" {if $data.DEVIASI eq 'Tidak Ada'} checked="" {/if} value="Tidak Ada"> Tidak Ada
            </td>
         </tr>
         <tr>
            <td width='20%'>Skelera  </td>
            <td width='40%'>
                <input type="radio" name="SKELERA" {if $data.SKELERA eq 'Ikterik'} checked="" {/if} value="Ikterik">Ikterik
                <input type="radio" name="SKELERA" {if $data.SKELERA eq 'Tidak Ikterik'} checked="" {/if} value="Tidak Ikterik"> Tidak Ikterik
            </td>
            <td width='20%'>JVP  </td>
            <td width='40%'>
                <input type="radio" name="JVP" {if $data.JVP eq 'Meningkat'} checked="" {/if}  value="Meningkat">Meningkat
                <input type="radio" name="JVP" {if $data.JVP eq 'Tidak'} checked="" {/if}   value="Tidak"> Tidak 
            
         </tr>
         <tr>
            <td width='20%'>Bibir/Lidah  </td>
            <td width='40%'>
                <input type="radio" name="BIBIR" {if $data.BIBIR eq 'Sianosis'} checked="" {/if}  value="Sianosis">Sianosis
                <input type="radio" name="BIBIR" {if $data.BIBIR eq 'Tidak'} checked="" {/if}  value="Tidak"> Tidak
            </td>
         </tr>
         <tr>
            <td width='20%'>Mukosa </td>
            <td width='40%'>
                <input type="radio" name="MUKOSA" {if $data.MUKOSA eq 'Kering'} checked="" {/if}  value="Kering">Kering
                <input type="radio" name="MUKOSA" {if $data.MUKOSA eq 'Tidak'} checked="" {/if}  value="Tidak"> Basah
            </td>
         </tr>
         <tr class="headrow">
            <th colspan="4">THORAX  </th>
            <!-- <th colspan="2"> JANTUNG </th> -->
        </tr>
         <tr class="headrow">
            <th colspan="2" style="background-color:darkblue; color: white;">PARU  </th>
            <th colspan="2" style="background-color:darkblue; color: white;"> JANTUNG </th>
        </tr>
        <tr>
            <td colspan="2">
                <textarea cols="80" rows="1" name="PARU">{$data.PARU} </textarea>
                <!-- <textarea cols="80" rows="1" name="THORAX"> {$data.THORAX}</textarea> -->
            </td>
            <td colspan="2">
                <textarea cols="80" rows="1" name="JANTUNG">{$data.JANTUNG}</textarea>

            </td>
        </tr>

        <tr class="headrow">
            <th colspan="2">ABDOMEN  </th>
            <th colspan="2">PINGGANG </th>
        </tr>
        <tr>
            <td colspan="2">
                <textarea cols="80" rows="1" name="ABDOMEN">{$data.ABDOMEN} </textarea>
            </td>
            <td colspan="2">
                <textarea cols="80" rows="1" name="PINGGANG"> {$data.PINGGANG} </textarea>

            </td>
        </tr>

        <tr class="headrow">
            <th colspan="4">EKSTREMITAS  </th> 
        </tr>
        <tr>
            <td colspan="2"> Atas
                <textarea cols="75" rows="1" name="EKS_ATAS">{$data.EKS_ATAS} </textarea>
            </td>
            <td colspan="2">Bawah
                <textarea cols="73" rows="1" name="EKS_BAWAH">{$data.EKS_BAWAH} </textarea>

            </td>
        </tr>
             
        <tr class="headrow">
            
            <th colspan="4">  Pemeriksaan Penunjang  </th>
        </tr>

        <tr>
            <td>Laboratorium</td>
  
            <td><select name="rlab[]" multiple style="width:220px" class="select2">

                {foreach from=$lab_edit item=lab}
                {if $data.lab}
                <option value="{$lab}" selected>{$lab}</option>
                
                {/if}
                {/foreach}
                {foreach from=$rs_labb item=lab}
                <option value="{$lab.JENIS}">{$lab.JENIS}</option>
                {/foreach}

                </select></td>
            <td>Radiologi</td>

            <td>   <select name="rrad[]" multiple  style="width:165px"  class="select2">
                
                {foreach from=$rad_edit item=rad}
                {if $data.rad}
                <option value="{$rad}" selected>{$rad}</option>
                
                {/if}
                {/foreach}
                {foreach from=$rs_rad_igd item=rad}
                <option value="{$rad.KET_TINDAKAN}">{$rad.KET_TINDAKAN}</option>
                {/foreach}
            </select>
            
        </td>
        
        </tr>
    
    <tr>
        <td width='20%'>EKG </td>
        <td width='40%'>
            <input type="radio" name="EKG" {if $data.EKG eq 'Ya'} checked="" {/if} value="Ya">Ya
            <input type="radio" name="EKG" {if $data.EKG eq 'Tidak'} checked="" {/if} value="Tidak"> Tidak
        </td>

        <td width='20%'>Bagian Radiologi</td>
        <td width='20%'>

            <select name="BAGIAN_RADIOLOGI" style="width: 70px">
              <option value=""></option>
              <option value="Sinistra" {if $data.BAGIAN_RADIOLOGI eq 'Sinistra'} selected="" {/if}>Sinistra</option>
              <option value="Dextra" {if $data.BAGIAN_RADIOLOGI eq 'Dextra'} selected="" {/if}>Dextra</option>
              <option value="Bilateral" {if $data.BAGIAN_RADIOLOGI eq 'Bilateral'} selected="" {/if}>Bilateral</option>
            </select>
        </td>
    </tr>
 

            <tr class="headrow">
                <th colspan="2">Daftar Masalah</th>
                <th colspan="2">Diagnosa</th>
            </tr>
            <tr>
                <td colspan="2">
                      <textarea cols="80" rows="2"  name="MASALAH_KES"> {$data.MASALAH_KES}  </textarea>

                </td>
                <td colspan="2">
                    <textarea cols="80" rows="1" name="FS_DIAGNOSA">{$data.FS_DIAGNOSA}</textarea><br>
                    Kode ICD 10 ( bila terdiagnosa TBC)
                    <select name="kode_icd_x"  class="select2" id="kode" style="width:300px">
                     <option value=""></option>
                     {foreach $icd as $kode} 
                     <option value="{$kode.KODE}">{$kode.KET} | {$kode.KODE}</option>
                     {/foreach}
                     </select>
                </td>
            </tr>
            <tr class="headrow">
                    <th colspan="2">Rencana Tindakan</th>
                    <th colspan="2">Diet</th>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea cols="80" rows="1" name="RENCANA">{$data.RENCANA}</textarea>
                    
                 </td>
                 <td colspan="2">
                    <textarea cols="80" rows="1" name="DIET">{$data.DIET} </textarea>
                 </td>
            </tr>
         
            <tr class="headrow">
                <th colspan="2">Resep</th>
                <th colspan="2">  KONSUL DPJP</th>
            </tr>
            <tr>
                <td colspan="2">   
                     <table>
                    <tr>
                        <td> Nama Obat </td>
                        <td> Numero </td>
                        <td> Signa </td>
                    </tr>
                     <tr> 
                            <td>  <select name="namaobat[]" class="namaobat select2"   multiple id="namaobat" cols="80" style="width:210px">
                                 <option></option> 
                              </select>
                            </td>
                            <td ><input cols="5" type="text" class="numero" name="numero" style="width: 40px;" onkeypress="handleKeyPress(event)" ></td>
                            <td><input cols="20" type="text" name="dosis" class="dosis" style="width: 50px;" onkeypress="handleKeyPress(event)"></td>
                        </tr>
                   </table>


                    <textarea rows="15" class="form-control resep" onkeypress="handle17(event)"  cols="60" name="FS_TERAPI">{$data.FS_TERAPI}</textarea> 
                </td> 
               <td colspan="2"> Dokter Spesialis
                DPJP UTAMA
                <select name="KD_DOKTER_KONSUL" id="surat_dari" class="select2" style="width: 300px;">
                                <option value="">tidak pilih</option>
                                {foreach from=$rs_dokter_sp item=gata}
                                {if $data.KD_DOKTER_KONSUL eq $gata.NAMAUSER}
                                <option value="{$gata.NAMAUSER}" selected>{$gata.NAMALENGKAP}</option>
                                {else}
                                <option value="{$gata.NAMAUSER}">{$gata.NAMALENGKAP}</option>
                                {/if}
                                {/foreach}
                            </select>
                            <br>Uraian Konsul (Tanggal, Jam, Instruksi) <br>
                            <textarea rows="15" class="form-control konsul" onkeypress="handle1(event)"  cols="60" name="KONSUL">{$data.KONSUL} </textarea>
                             <br><br>
                 DPJP 1
                 <select name="KD_DOKTER_KONSUL2" id="surat_dari" class="select2" style="width: 300px;">
                    <option value="">tidak pilih</option>
                    {foreach from=$rs_dokter_sp item=gata}
                    {if $data.KD_DOKTER_KONSUL2 eq $gata.NAMAUSER}
                    <option value="{$gata.NAMAUSER}" selected>{$gata.NAMALENGKAP}</option>
                    {else}
                    <option value="{$gata.NAMAUSER}">{$gata.NAMALENGKAP}</option>
                    {/if}
                    {/foreach}
                </select>
                <br>Uraian Konsul (Tanggal, Jam, Instruksi) <br>
                <textarea rows="15" class="form-control konsul2" onkeypress="handle2(event)"  cols="60" name="KONSUL2">{$data.KONSUL2} </textarea>
                 <br><br>
                 DPJP 2
                 <select name="KD_DOKTER_KONSUL3" id="surat_dari" class="select2" style="width: 300px;">
                    <option value="">tidak pilih</option>
                    {foreach from=$rs_dokter_sp item=gata}
                    {if $data.KD_DOKTER_KONSUL3 eq $gata.NAMAUSER}
                    <option value="{$gata.NAMAUSER}" selected>{$gata.NAMALENGKAP}</option>
                    {else}
                    <option value="{$gata.NAMAUSER}">{$gata.NAMALENGKAP}</option>
                    {/if}
                    {/foreach}
                </select>
                <br>Uraian Konsul (Tanggal, Jam, Instruksi) <br>
                <textarea rows="15" class="form-control konsul3" onkeypress="handle3(event)"  cols="60" name="KONSUL3">{$data.KONSUL3} </textarea>
                 <br><br>
                      
                            <!-- <input type="checkbox" name="KRITERIA_DISCHARGE[]" value="Umur>65" {if in_array('ALBUMIN/ALP ', $lab_edit)}checked="checked"{/if}>Umur>65<br> -->
                            <!-- <input type="checkbox" name="KRITERIA_DISCHARGE[]" value="Terbatas Mobilitas" {if in_array('Terbatas Mobilitas', $lab_edit)}checked="checked"{/if}>Terbatas Mobilitas<br> -->
           
                           
                            
   
                
               </td>
               
            </tr>

            <tr>
                <td>Edukasi</td>
                <td>
                   <input type="text" name="EDUKASI" value="{$data.EDUKASI}">
                </td></tr>
           <tr>
                 <td>Discharge Planning</td>
                <td colspan="1">
                 <input type="radio" {if $data.D_PLANNING eq 'Pulang'} checked {/if}  name="D_PLANNING" class="rad" value="Pulang"> Pulang
                 <input type="radio" {if $data.D_PLANNING eq 'Inap'} checked {/if}  name="D_PLANNING" class="rad" value="Inap"> Inap
                 <input type="radio" {if $data.D_PLANNING eq 'Kontrol'} checked {/if}  name="D_PLANNING" class="rad" value="Kontrol"> Kontrol Poli
                 <input type="radio" {if $data.D_PLANNING eq 'Rujuk'} checked {/if}  name="D_PLANNING" class="rad" value="Rujuk"> Rujuk
                 <input type="radio" {if $data.D_PLANNING eq 'Rujuk Internal'} checked {/if} name="D_PLANNING" class="rad" value="Rujuk Internal"> Rujuk Internal
                 </td>
                 </tr>
            <tr id="form2" {if $data.D_PLANNING eq 'Rujuk'} style="display: show;" {/if} style="display: none;">
                <td  > Alasan Rujuk   <input type="text" name="ALASAN_RUJUK" value="{$data.ALASAN_RUJUK}"></td>
                <td  > Rekomendasi Rujuk   <input type="text" name="REKOMENDASI_RUJUK" value="{$data.REKOMENDASI_RUJUK}"></td>
                <td >  Transport keluar<br>  
                         <input type="radio" {if $data.TRANSPORT_KELUAR eq 'Ambulance RS'} checked {/if}  name="TRANSPORT_KELUAR" value="Ambulance RS">Ambulance RS <br>
                     <input type="radio" {if $data.TRANSPORT_KELUAR eq 'Ambulance 118'} checked {/if}  name="TRANSPORT_KELUAR" value="Ambulance 118">Ambulance 118<br>
                     <input type="radio" {if $data.TRANSPORT_KELUAR eq 'Pribadi'} checked {/if}  name="TRANSPORT_KELUAR" value="Pribadi">Pribadi <br>
                    </td>
                  
           </tr>
           <tr id="form3" {if $data.D_PLANNING eq 'Kontrol'} style="display: show;" {/if} style="display: none;">
            <td  > Rekomendasi Poli   <input type="text" name="REKOMENDASI_POLI" value="{$data.REKOMENDASI_POLI}"></td>
      
              
       </tr>
           <tr>
            <td>Kondisi Akhir Pasien</td>
            <td>
               <input type="radio" {if $data.KONDISI_AKHIR eq 'Membaik'} checked {/if}  name="KONDISI_AKHIR" value="Membaik">Membaik
               <input type="radio" {if $data.KONDISI_AKHIR eq 'Tetap'} checked {/if}  name="KONDISI_AKHIR" value="Tetap">Tetap
               <input type="radio" {if $data.KONDISI_AKHIR eq 'Memburuk'} checked {/if}  name="KONDISI_AKHIR" value="Memburuk">Memburuk
               <input type="radio" {if $data.KONDISI_AKHIR eq 'Meninggal'} checked {/if}  name="KONDISI_AKHIR" value="Meninggal">Meninggal
            </td>
            <td>Jama Selesai diperiksa</td>
            <td><input type="time" name="JAM_SELESAI" value="{date('H:i',strtotime($data.RUJUKAN))}"></td>
       </tr>

 
           

          <tr class="submit-box">
                <td colspan="4">
                    <input type="submit" name="save" value="Simpan" class="edit-button"/>
                </td>
            </tr>
           



        </table>
    </form>
</div>
<!-- <script type="text/javascript">
    $(document).ready(function() {
        // chain select
        // tembusan
        var user = $("#user").val();
        $('#rlab').select2('data', null);
        if (user == '') {
            $("#rlab").attr("disabled", "disabled");
        } else {
//            $('#rlab').select2('data', null);
                $("#rlab").removeAttr("disabled");
                jQuery("#rlab").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('medis/rawat_jalan/list_pemeriksaan_rlab/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#rlab").html(showData);
                        $('#rlab').select2('val', [{$rs_lab}]);
                }
            });
        }
        $("#user").change(function() {
            user = $(this).val();
            //get icao code by airlines_id
//            $.ajax({
//                type: "POST",
//                url: "{$config->site_url('angud/ijin_rute/get_airlines_by_id/')}",
//                data: "user=" + user,
//                dataType: 'json',
//                success: function(data) {
//
//                    $('input[name="airlines_icao_cd"]').val(user);
//                }
//            });
            $('#rlab').select2('data', null);
            if (user == '') {
                $("#rlab").attr("disabled", "disabled");
            } else {
                $("#rlab").removeAttr("disabled");
                jQuery("#rlab").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('medis/rawat_jalan/list_pemeriksaan_rlab/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#rlab").html(showData);
                    }
                });
            }
        });
        //tags
        $("#rlab").select2({});
    });
</script> -->
<script type="text/javascript"> 
// 
    var user = $("#user").val(); 
           
//             $("#namaobat").select2({});
// //rencana lab
//            $('#rlab').select2('data', null);
//             $('#rlab').select2('data', null);
//             $("#rlab").removeAttr("disabled");
//             jQuery("#rlab").html('');
//             $.ajax({
//             type: "POST",
//                     url: "{$config->site_url('medis/rawat_jalan/list_pemeriksaan_rlab/')}",
//                     data: "user=" + user,
//                     dataType: 'json',
//                     success: function(data) {
//                     var showData;
//                             jQuery.each(data, function(index, result) {
//                             if (result.value == 0) {
//                             } else {
//                                 console.log(result)
//                             showData += "<option value='" + result.value + "'>" + result.label + "</option>";
//                             }
//                             })
//                             jQuery("#rlab").html(showData);
                            
//                     }
//             });
//              $("#rlab").select2();



             //rencana radiologi
               $('#rrad').select2('data', null);
            $('#rrad').select2('data', null);
            $("#rrad").removeAttr("disabled");
            jQuery("#rrad").html('');
            $.ajax({
            type: "POST",
                    url: "{$config->site_url('medis/rawat_jalan/list_pemeriksaan_rrad/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                    var showData;
                            jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                            })
                            jQuery("#rrad").html(showData);
                    }
            });
             $("#rrad").select2({});
</script>


<script>
        var namaa = $(".namaa").val();
               $('.namaa').val(namaa+'\n R/ \t   no. \n S                    \n ----------------------------------------\n '); 
       
       
                $('.resepracik').val('\n /R');
 

               function tambahkop(e){
                   var yhr= new XMLHttpRequest();
                var key=e.keyCode || e.which;
                 if (key==13){
                               var resepracik = $(".resepracik").val(); 
                                   $('.resepracik').val(resepracik+'S                 \n ---------------------------------------- \n \n'+'R/  '); // Close / Tutup Modal Dialog
                 //    // alert(namaa);
                 }
               }
        
       
       
   function handleKeyPress(e){
                   var yhr= new XMLHttpRequest();
                var key=e.keyCode || e.which;
                 if (key==13){
                               var namaobat = $("#namaobat").val();
                               var numero = $(".numero").val();
                               var dosis = $(".dosis").val();
                             var kolomresep= document.getElementById("kolomresep");
                              var resep = $(".resep").val();
       
       $('.resep').val(resep+'\n /R   '+namaobat+'   no. '+numero+'\n S    '+dosis+'\n ----------------------------------------------- \n '); 
               //    alert(namaobat+numero+dosis);
                  $('#namaobat').select2('data', null);
                  $('.numero').val(null);
                  $('.dosis').val(null);
        
               //    $("#namaobat").select2({}).focus();
                  $("#namaobat").select2('open');
        
                 }
               }

var x=event.key;
if(x=='a'||x=='A'){
    alert("hore");
}
           

 function handle2(e){
                   var key=e.keyCode || e.which;
                 if (key==13){
                               var namaobat1 = $("#namaobat1").val();
                               var numero1 = $(".numero1").val();
                            //    var dosis1 = $(".dosis1").val();
                                var resepracik = $(".resepracik").val();
       
       $('.resepracik').val(resepracik+'    '+namaobat1+'   no. '+numero1+'\n     '); 
               //    alert(namaobat+numero+dosis);
                  $('#namaobat1').select2('data', null);
                  $('.numero1').val(null);
                  $('.dosis1').val(null);
        
               //    $("#namaobat").select2({}).focus();
                  $("#namaobat1").select2('open');
        
                 }
               }
 
       
    </script> 
       
       
       <script type="text/javascript"> 
           var user = $("#user").val(); 
       
           $('#namaobat').select2('data', null);
                   $('#namaobat').select2('data', null);
                   $("#namaobat").removeAttr("disabled");
       
                   jQuery("#namaobat").html('');
                   $.ajax({
                   type: "POST", 
                           url: "{$config->site_url('medis/rawat_jalan/list_nama_obat/')}",
                           data: "user=" + user,
                           dataType: 'json',
                           success: function(data) {
                           var showData;
                                   jQuery.each(data, function(index, result) {
                                   if (result.value == 0) {
                                   } else {
                                   showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                                   }
                                   })
                                   jQuery("#namaobat").html(showData);
                           }
                   });
                   //tags
                  

                   $('#namaobat1').select2('data', null);
                   $('#namaobat1').select2('data', null);
                   $("#namaobat1").removeAttr("disabled");
       
                   jQuery("#namaobat1").html('');
                   $.ajax({
                   type: "POST", 
                           url: "{$config->site_url('medis/rawat_jalan/list_nama_obat/')}",
                           data: "user=" + user,
                           dataType: 'json',
                           success: function(data) {
                           var showData;
                                   jQuery.each(data, function(index, result) {
                                   if (result.value == 0) {
                                   } else {
                                   showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                                   }
                                   })
                                   jQuery("#namaobat1").html(showData);
                           }
                   });

                    $("#namaobat1").select2({});


               
      $(":radio.rad").click(function(){
        $("#form2").hide(); 

        if($(this).val() == "Rujuk"){
          $("#form2").show(); 
          $("#form3").hide(); 
        }    
        else if($(this).val() == "Kontrol"){
            $("#form3").show(); 
        }        
        else{
            $("#form3").hide(); 
          $("#form2").hide(); 
        }
      });


       </script>

<script>
    function handle1(e) {
var key = e.keyCode || e.which;
if (key == 13) {
var konsul = $(".konsul").val();
$(".konsul").val(konsul + "\n");
}
}
    function handle17(e) {
var key = e.keyCode || e.which;
if (key == 13) {
var resep = $(".resep").val();
$(".resep").val(resep + "\n");
}
}

function handle2(e) {
var key = e.keyCode || e.which;
if (key == 13) {
var konsul2 = $(".konsul2").val();
$(".konsul2").val(konsul2 + "\n");
}
}

function handle3(e) {
var key = e.keyCode || e.which;
if (key == 13) {
var konsul3 = $(".konsul3").val();
$(".konsul3").val(konsul3 + "\n");
}
}
 </script>
