<!-- belum selesai -->
<div class="breadcrum">
    <p>
        <a href="#">Pemeriksaan Medis</a><span></span>
        <small>History Pasien</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('medis/rawat_jalan/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<table class="table-info" width="100%">
    <tr class="headrow">
        <th colspan="4">Data Pasien</th>
    </tr>
    <tr>
        <td width='15%'>No RM</td>
        <td width='35%'>{$result.NO_MR}</td>
        <td width='15%'>Nama</td>
        <td width='35%'>{$result.NAMA_PASIEN|default:''}</td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>{$result.ALAMAT|default:''}</td>
        <td>Tanggal Lahir</td>
        <td>{$result.TGL_LAHIR|default:''}</td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>{if $result.JENIS_KELAMIN eq 'P'}
            Perempuan
            {else}
            Laki-Laki
        {/if}</td>
        <td></td>
        <td></td>
    </tr>
</table>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/resume/'|cat:$result.NO_MR)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> Profil Ringkas Medis Rawat Jalan</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<table class="table-view" width="100%" border="0">
    <thead>
        <tr>
            <th width='10%'>Tanggal Kunjungan</th>

            <th>Dokter</th>
            <th>Catatan</th>
            <th>Cara Masuk</th>
            <th>Status</th>
            <th width='24%'>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$rs_pasien item=data}
      {assign var=cek_labA value=$m_rawat_jalan->get_data_cek_lab_aja(array($data.NO_REG))}
        {assign var=form_rm value=$m_rawat_jalan->get_berkas_by_rg(array($data.NO_REG))}
        {assign var=cek_resep_igd value=$m_rawat_jalan->get_data_cek_resep_aja(array($data.NO_REG))}
        {assign var=cek_konsulan value=$m_rawat_jalan->get_data_konsulan(array($data.NO_REG))}
        {assign var=cek_medis_igd value=$m_rawat_jalan->get_data_medis_igd(array($data.NO_REG))}
      

                <tr {if ($no++ % 2) <> 1}class="blink-row"{/if}>
                    <td>{$data.TANGGAL|date_format :"%d %B %Y"}</td>
                    
                    <td>
                        {$data.NAMA_DOKTER}

                        {if $data.TANGGAL eq $noww}
                           {if $cek_konsulan neq ''}
                                 {if $data.FS_KD_MEDIS eq $com_user.user_name}
                                    {foreach from=$cek_konsulan item=cck}
                                     <br> {$cck.NAMA_DOKTER}
                                     {/foreach}
                                {else} 
                                {/if}
                           {else}
                           {/if}
                        {else}

                          {if $data.KODE_RUANG neq ''}
                            {assign var=visite value=$m_rawat_jalan->get_data_visite(array($data.NO_REG))}
                           {foreach from=$visite item=vst}
                             <br>{$vst.NAMA_DOKTER}
                            {/foreach}
                                {/if}
                        <br>
                        {$data.DOK2}
                        {/if}
                    </td> 
                    <td>
                        {if $cek_labA >= '1'}
                        -  <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_lab/'|cat:$data.NO_REG|cat:'/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_FORM)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" >Hasil Laboratorium</a>
                        <br>
                        {/if}
                        
                        {if $cek_resep_igd >= '1'}
                        - <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_resep/'|cat:$data.NO_REG|cat:'/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_FORM)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" >Resep</a>
                        {/if}
                    </td>
                    <td>
                        {$data.KET_MASUK}
                    </td>
                    <td>
                        <center>
                            <b>
                                {if $data.KODE_RUANG eq ''}
                                <div style="color: blue;">Rawat Jalan</div>
                                {elseif $data.KODE_RUANG neq ''}
                                <div style="color: green;">Rawat Inap</div>
                                {/if}
                            </b>
                        </center>
                    </td> 
                    <td>
                        {$x = $this->com_user['user_name']}
                        {if $form_rm.att_name neq ''}
                        <a href="{$config->site_url('rm/upload/download/'|cat:$form_rm.att_name)}" class="button-download" target="_blank">Berkas Scan</a>  
                        {/if}
                        
                        
                        {if $data.KODE_RUANG eq ''}
                        <a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_jalan/cetak_rm/'|cat:$data.NO_REG|cat:'/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_FORM)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')" class="button-download">RM</a>
                        
                        {else}
                        <a href="{$config->site_url('rm/berkas/detail/'|cat:$data.NO_REG|default:'')}"  class="button-detail">Detail</a>             
                        {/if}
                        
                        
                        {if date('Y-m-d', strtotime($data.TANGGAL)) eq $now || date('Y-m-d', strtotime($data.TANGGAL)) eq $noww} 
                        
                        {if $cek_medis_igd < '1'}
                        <a href="{$config->site_url('igd/medis/add/'|cat:$data.NO_REG)}" class="button-edit">Copyy</a> 
                        
                        {else} 
                        <a href="{$config->site_url('igd/medis/edit/'|cat:$data.NO_REG)}" class="button-edit">Edit</a>
                        {/if}
                        {/if}
                        
                        
                        
                        
                       

                        
                       <!--  {if $data.NO_REG eq $data.MAX_RG && ($data.FS_KD_MEDIS eq $com_user.user_name)}
                        <a href="{$config->site_url('medis/rawat_jalan/edit/'|cat:$data.NO_REG|cat:'/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_KD_TRS_KP)}" class="button-edit">Edit</a>
                        {else} 
                        {/if} -->
             

            </td>
            </tr>
        {/foreach}
    </tbody>
</table>
<script type="text/javascript">
    function view(data) {
        var att_name = data;
        $.getJSON("{$BASEURL}index.php/rm/upload/view_file/" + data, function(result) {
            var output = "<embed src='{$BASEURL}" + result['file'] + "#toolbar=0&navpanes=0&zoom=100' width='100%' height='750' />";
            document.getElementById("result").innerHTML = output;
        });
    }
</script>
