 <!-- belum selesai -->
<div class="breadcrum">
    <p>
        <a href="#">Catatan IGD</a><span></span>
        <small></small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <!--<ul>
            <li><a href="{$config->site_url('inap/cppt/')}" class="active">Cari Data</a></li>
            <li><a href="{$config->site_url('inap/cppt/cari2')}">Cari History</a></li>
        </ul>-->
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('igd/medis/cari_process')}" method="post">
        <!--<input name="masuk_id" type="hidden" value="{$result.masuk_id|default:''}" />-->
        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">Asesmen Awal Medis IGD</th>
            </tr>
            <tr>
                <td>NO MR</td>
                <td colspan="3">
                     <select name="FS_RG" id="surat_dari" class="select2" style="width: 400px;">
                        <option value=""></option>
                        {foreach from=$rs_pasien item=data}
                        <option value="{$data.NO_REG}">{$data.NO_MR}|{$data.NAMA_PASIEN}|{$data.NAMA_RUANG}</option>
                        {/foreach}
                    </select>
                    <em>* wajib diisi</em>
                </td>
            </tr>
            <tr class="submit-box">
                <td colspan="4">
                    <input type="submit" name="save" value="Cari" class="edit-button" />
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="g" style="overflow-y:auto; overflow-x:scroll; "> 
    <div class="dashboard-container" style="margin: 10px;">
        <table class="table-view" width="100%" border="0">
            <thead style="background-color: lightblue;">
                <tr>
                    <th width='2%' >No</th>
                    <th>No MR</th>
                    <th>Nama Psien</th>
                    <th>Alamat</th>
                  <!--   <th>Dokter</th> -->
                    <th>Status</th>
                    <th width='13%'>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {$no=1}
                {foreach from=$rs_pasien item=data}
                <tr>
                    <td>{$no++}</td>
                    <td>{$data.NO_MR}</td>
                    <td>{$data.NAMA_PASIEN}</td>
                    <td>{$data.ALAMAT}</td> 
                   <!--  <td>{$data.NAMA_DOKTER}</td>  -->
                    <td>
                        
                        {if $data.FS_STATUS eq ''}
                        <img src="{$BASEURL}resource/doc/images/icon/icon.waiting.png" alt="" />
                      Perawat
                        {elseif $data.FS_STATUS eq '1'}
                        <img src="{$BASEURL}resource/doc/images/icon/icon.waiting.dokter.png" alt="" />
                       Dokter
                        {elseif $data.FS_STATUS eq '2'}
                         {if $data.FS_TERAPI eq '' OR $data.FS_TERAPI eq '<p>-</p>'}
                         <img src="{$BASEURL}resource/doc/images/icon/icon.approve.png" alt="" />
                         Selesai
                         {else}
                        <img src="{$BASEURL}resource/doc/images/icon/icon.waiting.farmasi.png" alt="" />
                        Farmasi
                        {/if}
                         
                        {/if}
                    </td> 
                    <td>
                        <a href="{$config->site_url('igd/medis/history/'|cat:$data.NO_MR|default:'')}" class="button-edit">Entry</a>
                      
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        </div>
        </div>
<script>
     $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
        });
</script>