{include file="nurse/rawat_jalan/edit_script_js.html"}
<script type="text/javascript">
    $(document).ready(function () {
        score();
        $("#op1").change(function () {
            var sc = $(this).val();
            $("#sc1").html(sc);
            score();
        });
        $("#op2").change(function () {
            var sc = $(this).val();
            $("#sc2").html(sc);
            score();
        });
        $("#op3").change(function () {
            var sc = $(this).val();
            $("#sc3").html(sc);
            score();
        });
        $("#sn1").change(function () {
            var sn = $(this).val();
            $("#snh1").html(sn);
            score_sn();
        });
        $("#sn2").change(function () {
            var sn = $(this).val();
            $("#snh2").html(sn);
            score_sn();
        });
        $("#sna1").change(function () {
            var sna = $(this).val();
            $("#snha1").html(sna);
            score_sna();
        });
        $("#sna2").change(function () {
            var sna = $(this).val();
            $("#snha2").html(sna);
            score_sna();
        });
        $("#sna3").change(function () {
            var sna = $(this).val();
            $("#snha3").html(sna);
            score_sna();
        });
        $("#sna4").change(function () {
            var sna = $(this).val();
            $("#snha4").html(sna);
            score_sna();
        });
    });
</script>
<script type="text/javascript">
    function score() {
        var sc = parseInt($("#sc1").text()) + parseInt($("#sc2").text()) + parseInt($("#sc3").text());
        $("#totalsc").html(sc);
        if (sc >= 45) {
            $("#rjtkesimpulan").html(">=45 (RISIKO TINGGI)");
        } else if (sc >= 25 && sc <= 44) {
            $("#rjtkesimpulan").html("25-44 (risiko rendah)");
        } else if (sc <= 24) {
            $("#rjtkesimpulan").html("0-24 (TIDAK ADA RISIKO)");
        }
    }
     function score_sn() {
        var sn = parseInt($("#snh1").text()) + parseInt($("#snh2").text());
        $("#totalsn").html(sn);
        if (sn >= 2) {
            $("#kesimpulansn").html("LAPORKAN KE DOKTER");
        } else if (sn < 2) {
            $("#kesimpulansn").html("NORMAL");
        }
    }
    function score_sna() {
        var sna = parseInt($("#snha1").text()) + parseInt($("#snha2").text())+ parseInt($("#snha3").text())+ parseInt($("#snha4").text());
        $("#totalsna").html(sna);
        if (sna >= 1) {
            $("#kesimpulansna").html("LAPORKAN KE DOKTER");
        } else if (sna <= 0) {
            $("#kesimpulansna").html("NORMAL");
        }
    }
</script>
<div class="breadcrum">
    <p>
        <a href="#">Nursing Record</a><span></span>
        <a href="{$config->site_url('nurse/antenatal/')}">Rawat Jalan</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('nurse/antenatal/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('nurse/antenatal/edit_process')}" method="post">
    <input type="hidden" name="FS_KD_REG" value="{$result.FS_KD_REG}" />
    <table class="table-info" width="100%">
        <tr class="headrow">
            <th colspan="4">Data Pasien</th>
        </tr>
        <tr>
            <td width='15%'>Kode Reg</td>
            <td width='35%'>{$result.FS_KD_REG}</td>
            <td width='15%'>No RM</td>
            <td width='35%'>{$result.FS_MR}</td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>{$result.FS_NM_PASIEN|default:''}</td>
            <td>Alamat</td>
            <td>{$result.FS_ALM_PASIEN|default:''}</td>
        </tr>
        <tr>
            <td>Umur</td>
            <td>{$result.fn_umur|default:''} Tahun</td>
            <td>Jenis Kelamin</td>
            <td>
                {if $result.FS_JNS_KELAMIN eq '1'}
                Perempuan
                {else}
                Laki-Laki
                {/if}
            </td>
        </tr>
        <tr>
            <td>Jaminan</td>
            <td>{$result.FS_NM_JAMINAN|default:''}</td>
            <td>Dokter</td>
            <td>{$result.FS_NM_PEG|default:''}</td>
        </tr>
    </table>
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Anamnesa</th>
        </tr>
         <tr>
            <td>Anamnesa</td>
            <td>
                <textarea cols="50" name="FS_ANAMNESA">{$ases2.FS_ANAMNESA}</textarea>
            </td>
            <td>Usia Kehamilan</td>
            <td>
                <input type="text" name="FS_USIA_KEHAMILAN" size="35" value="{$ases2.FS_USIA_KEHAMILAN}"/>
            </td>
        </tr>
       
        <tr class="headrow">
            <th colspan="4">Vital Sign</th>
        </tr>
        <tr>
            <td width='15%'>Suhu</td>
            <td width='35%'><input type="text" name="FS_SUHU" size="10" value="{$vs.FS_SUHU}"/></td>
            <td width='15%'>Nadi</td>
            <td width='35%'><input type="text" name="FS_NADI" size="10" value="{$vs.FS_NADI}" /> x/menit</td>
        </tr>
        <tr>
            <td>R</td>
            <td><input type="text" name="FS_R" size="10" value="{$vs.FS_R}" /> x/menit</td>
            <td>TD</td>
            <td><input type="text" name="FS_TD" size="10" value="{$vs.FS_TD}" /> mmHg</td>
        </tr>
        <tr>
            <td>Tinggi Badan</td>
            <td><input type="text" name="FS_TB" size="10" value="{$vs.FS_TB}"/> cm</td>
            <td>Berat Badan</td>
            <td><input type="text" name="FS_BB" size="10" value="{$vs.FS_BB}"/> Kg</td>
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="edit-button" /> 
            </td>
        </tr>
    </table>
</form>