<script type="text/javascript">
    $(document).ready(function () {
        $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
        });

        $(".item_add").click(function () {
            $("#ModalAdd").dialog('open');
        });

        $("#ModalAdd").dialog({
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 700,
            modal: true
        });
        $("#loading").hide();

        var FS_KD_REG2 = $('#FS_KD_REG').val();
        tampil_catatan(FS_KD_REG2);

        function tampil_catatan(FS_KD_REG2) {
            $.ajax({
                type: "POST",
                url: '{$config->site_url("inap/dp/list_catatan")}',
                async: false,
                data: '&FS_KD_REG2=' + FS_KD_REG2,
                dataType: 'json',
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    var html = '';
                    var i;
                    var hubungan;
                    var verifikasi;
                    for (i = 0; i < data.length; i++) {
                        
                        if (data[i].FS_HUBUNGAN == 1) {
                            hubungan = "Istri";
                        } else if (data[i].FS_HUBUNGAN == 2) {
                            hubungan = "Suami";
                        } else if (data[i].FS_HUBUNGAN == 3) {
                            hubungan = "Anak";
                        } else if (data[i].FS_HUBUNGAN == 4) {
                            hubungan = "Saudara";
                        }
                        
                        if (data[i].FS_VERIFIKASI == 1) {
                            verifikasi = "Dapat menjelaskan kembali dengan baik";
                        } else if (data[i].FS_VERIFIKASI == 2) {
                            verifikasi = "Tidak dapat menjelaskan kembali";
                        } else if (data[i].FS_VERIFIKASI == 3) {
                            verifikasi = "Dapat menjelaskan kembali dan mendemonstrasikan";
                        }
                        
                        html += '<tr>' +
                                '<tr>' +
                                '<td>' + data[i].mdd_date + '/' +data[i].mdd_time + '</td>' +
                                '<td><center>' + data[i].FS_AKTIFITAS + '</center></td>' +
                                '<td><center>' + data[i].FS_NM_JUDUL + '</center></td>' +
                                '<td><center>' + data[i].FS_DIBERIKAN + '</center></td>' +
                                '<td><center>' + hubungan + '</center></td>' +
                                '<td><center>' + verifikasi + '</center></td>' +
                                '</tr>';
                    }
                    $('#show_data_catatan').html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }

            });
        }

        $("#btn-add").click(function () {
            $("#loading").show();
            //Simpan Barang
            var FS_KD_REG = $('#FS_KD_REG').val();
            var FS_AKTIFITAS = $('#FS_AKTIFITAS').val();
            var FS_DIBERIKAN = $('#FS_DIBERIKAN').val();
            var FS_HUBUNGAN = $('#FS_HUBUNGAN').val();
            var FS_VERIFIKASI = $('#FS_VERIFIKASI').val();
            var FS_KD_EDUKASI = $('#FS_KD_EDUKASI').val();

            var dataString =
                    '&FS_KD_REG=' + FS_KD_REG +
                    '&FS_AKTIFITAS=' + FS_AKTIFITAS +
                    '&FS_DIBERIKAN=' + FS_DIBERIKAN +
                    '&FS_HUBUNGAN=' + FS_HUBUNGAN +
                    '&FS_VERIFIKASI=' + FS_VERIFIKASI+
                    '&FS_KD_EDUKASI=' + FS_KD_EDUKASI;

            $.ajax({
                type: "POST",
                url: "{$config->site_url('inap/dp/add_process_catatan')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loading").hide();
                    $('#ModalAdd').dialog('close');
                    $('[name="FS_AKTIFITAS"]').val("");
                    $('[name="FS_DIBERIKAN"]').val("");
                    $('[name="FS_HUBUNGAN"]').val("");
                    $('[name="FS_VERIFIKASI"]').val("");
                    $('[name="FS_KD_EDUKASI"]').val("");
                    tampil_catatan(FS_KD_REG2);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }
            });
        });
    });
</script>

<!--FS_NM_TINGGAL-->
<script type="text/javascript">
    $(document).ready(function() {
        var user = $("#user").val();
        $('#FS_NM_TINGGAL').select2('data', null);
//            $('#FS_NM_TINGGAL').select2('data', null);
        if (user == '') {
            $("#FS_NM_TINGGAL").attr("disabled", "disabled");
        } else {
                $("#FS_NM_TINGGAL").removeAttr("disabled");
                jQuery("#FS_NM_TINGGAL").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('inap/dp/FS_NM_TINGGAL/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#FS_NM_TINGGAL").html(showData);
                        $('#FS_NM_TINGGAL').select2('val', [{$rs_FS_NM_TINGGAL}]);
                    }
                });
        }
        $("#user").change(function() {
            user = $(this).val();
            //get icao code by airlines_id
//            $.ajax({
//                type: "POST",
//                url: "{$config->site_url('angud/ijin_rute/get_airlines_by_id/')}",
//                data: "user=" + user,
//                dataType: 'json',
//                success: function(data) {
//
//                    $('input[name="airlines_icao_cd"]').val(user);
//                }
//            });
            $('#FS_NM_TINGGAL').select2('data', null);
            if (user == '') {
                $("#FS_NM_TINGGAL").attr("disabled", "disabled");
            } else {
                $("#FS_NM_TINGGAL").removeAttr("disabled");
                jQuery("#FS_NM_TINGGAL").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('inap/dp/FS_NM_TINGGAL/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#FS_NM_TINGGAL").html(showData);
                    }
                });
            }
        });
        //tags
        $("#FS_NM_TINGGAL").select2({});
    });
</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'FS_NM_TINGGAL_loop[]'}
{assign var=FS_NM_TINGGAL_loop value=$i}
{$FS_NM_TINGGAL_var=""}
{foreach from=$FS_NM_TINGGAL_loop key=key item=i}
{$FS_NM_TINGGAL_var=$FS_NM_TINGGAL_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=FS_NM_TINGGAL_loop value=$FS_NM_TINGGAL_var}
<script type="text/javascript">
    $(document).ready(function() {
        // date picker
        $(".tanggal").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        // chain select
        var user = $("#user").val();
        $('#FS_NM_TINGGAL').select2('data', null);
//        if (user == '') {
//            $("#FS_NM_TINGGAL").attr("disabled", "disabled");
//        } else {
            $("#FS_NM_TINGGAL").removeAttr("disabled");
            jQuery("#FS_NM_TINGGAL").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('nurse/rawat_jalan/list_masalah_kep/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function(data) {
                    var showData;
                    jQuery.each(data, function(index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#FS_NM_TINGGAL").html(showData);
                    $('#FS_NM_TINGGAL').select2('val', [{$FS_NM_TINGGAL_loop}]);

                }
            });
//        }
        $("#user").change(function() {
            user = $(this).val();
            $('#FS_NM_TINGGAL').select2('data', null);
//            if (user == '') {
//                $("#FS_NM_TINGGAL").attr("disabled", "disabled");
//            } else {
                $("#FS_NM_TINGGAL").removeAttr("disabled");
                jQuery("#FS_NM_TINGGAL").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('nurse/rawat_jalan/list_masalah_kep/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#FS_NM_TINGGAL").html(showData);
                    }
                });
//            }
        });
        //tags
        $("#FS_NM_TINGGAL").select2({});
    });
</script>
{/if}
{/foreach}

{/if}

<!--FS_LANJUTAN_PERAWATAN-->
<script type="text/javascript">
    $(document).ready(function() {
        var user = $("#FS_LANJUTAN_PERAWATAN").val();
        $('#FS_LANJUTAN_PERAWATAN').select2('data', null);
        if (user == '') {
            $("#FS_LANJUTAN_PERAWATAN").attr("disabled", "disabled");
        } else {
//            $('#FS_LANJUTAN_PERAWATAN').select2('data', null);
                $("#FS_LANJUTAN_PERAWATAN").removeAttr("disabled");
                jQuery("#FS_LANJUTAN_PERAWATAN").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('inap/dp/FS_LANJUTAN_PERAWATAN/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#FS_LANJUTAN_PERAWATAN").html(showData);
                        $('#FS_LANJUTAN_PERAWATAN').select2('val', [{$rs_FS_LANJUTAN_PERAWATAN}]);
                }
            });
        }
        $("#user").change(function() {
            user = $(this).val();
            //get icao code by airlines_id
//            $.ajax({
//                type: "POST",
//                url: "{$config->site_url('angud/ijin_rute/get_airlines_by_id/')}",
//                data: "user=" + user,
//                dataType: 'json',
//                success: function(data) {
//
//                    $('input[name="airlines_icao_cd"]').val(user);
//                }
//            });
            $('#FS_LANJUTAN_PERAWATAN').select2('data', null);
            if (user == '') {
                $("#FS_LANJUTAN_PERAWATAN").attr("disabled", "disabled");
            } else {
                $("#FS_LANJUTAN_PERAWATAN").removeAttr("disabled");
                jQuery("#FS_LANJUTAN_PERAWATAN").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('inap/dp/FS_LANJUTAN_PERAWATAN/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#FS_LANJUTAN_PERAWATAN").html(showData);
                    }
                });
            }
        });
        //tags
        $("#FS_LANJUTAN_PERAWATAN").select2({});
    });
</script>
{if isset($result)}
{foreach from=$result key=key item=i}
{if $key eq 'FS_LANJUTAN_PERAWATAN_loop[]'}
{assign var=FS_LANJUTAN_PERAWATAN_loop value=$i}
{$FS_LANJUTAN_PERAWATAN_var=""}
{foreach from=$FS_LANJUTAN_PERAWATAN_loop key=key item=i}
{$FS_LANJUTAN_PERAWATAN_var=$FS_LANJUTAN_PERAWATAN_var|cat:"'"|cat:$i|cat:"',"}
{/foreach}
{assign var=FS_LANJUTAN_PERAWATAN_loop value=$FS_LANJUTAN_PERAWATAN_var}
<script type="text/javascript">
    $(document).ready(function() {
        // chain select
        var user = $("#user").val();
        $('#FS_LANJUTAN_PERAWATAN').select2('data', null);
//        if (user == '') {
//            $("#tujuan").attr("disabled", "disabled");
//        } else {
            $("#FS_LANJUTAN_PERAWATAN").removeAttr("disabled");
            jQuery("#FS_LANJUTAN_PERAWATAN").html('');
            $.ajax({
                type: "POST",
                url: "{$config->site_url('inap/dp/FS_LANJUTAN_PERAWATAN/')}",
                data: "user=" + user,
                dataType: 'json',
                success: function(data) {
                    var showData;
                    jQuery.each(data, function(index, result) {
                        if (result.value == 0) {
                        } else {
                            showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                        }
                    })
                    jQuery("#FS_LANJUTAN_PERAWATAN").html(showData);
                    $('#FS_LANJUTAN_PERAWATAN').select2('val', [{$FS_LANJUTAN_PERAWATAN_loop}]);

                }
            });
//        }
        $("#user").change(function() {
            user = $(this).val();
            $('#FS_LANJUTAN_PERAWATAN').select2('data', null);
//            if (user == '') {
//                $("#tujuan").attr("disabled", "disabled");
//            } else {
                $("#FS_LANJUTAN_PERAWATAN").removeAttr("disabled");
                jQuery("#FS_LANJUTAN_PERAWATAN").html('');
                $.ajax({
                    type: "POST",
                    url: "{$config->site_url('inap/dp/FS_LANJUTAN_PERAWATAN/')}",
                    data: "user=" + user,
                    dataType: 'json',
                    success: function(data) {
                        var showData;
                        jQuery.each(data, function(index, result) {
                            if (result.value == 0) {
                            } else {
                                showData += "<option value='" + result.value + "'>" + result.label + "</option>";
                            }
                        })
                        jQuery("#FS_LANJUTAN_PERAWATAN").html(showData);
                    }
                });
//            }
        });
        //tags
        $("#FS_LANJUTAN_PERAWATAN").select2({});
    });
</script>
{/if}
{/foreach}

{/if}