<!-- include javascript -->
{include file="inap/prog_obat/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="{$config->site_url('inap/prog_obat/lists')}">Catatan Rawat Inap</a><span></span>
        <a href="{$config->site_url('inap/prog_obat/cari')}">Program Obat</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <table class="table-info" width="100%">
        <input name="FS_KD_REG" id="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
        <tr class="headrow">
            <th colspan="2">Add Program Obat</th>
        </tr>
        <tr>
            <td>Nama</td>
            <td>
                {$rs_pasien.fs_nm_pasien}
            </td>
        </tr>
        <tr>
            <td>No RM</td>
            <td>
                {$rs_pasien.fs_mr}
            </td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td>
                {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"} ({$rs_pasien.fs_umur})
            </td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>{$rs_pasien.FS_ALM_PASIEN}</td>
        </tr>
        <tr>
            <td>Status Sosial / Pekerjaan / Pendidikan</td>
            <td>
                {$rs_pasien.FS_NM_PEKERJAAN_DK} / {$rs_pasien.FS_NM_PENDIDIKAN_DK}
            </td>
        </tr>
        <tr>
            <td>Agama</td>
            <td>
                {$rs_pasien.FS_NM_AGAMA}
            </td>
        </tr>
        <tr class="headrow">
            <th colspan="2">Program Obat</th>
        </tr>
        <tr>
            <td>Terapi</td>
            <td>
                {$rs_ases_medis.FS_TERAPI}
            </td>
        </tr>
        {foreach from=$rs_resep_dokter item=data}
        <tr>
            <td></td>
            <td>
                {$data.FS_NM_BARANG}
                {$data.FN_QTY_BARANG}
                {$data.FS_KD_SATUAN}
                {$data.FN_ETIKET_QTY}x{$data.FN_ETIKET_HARI}
            </td>
        </tr>
        {/foreach}
    </table>
    <table class="table-info" width="100%">
        <tr>
            <th colspan="9">Program Pemberian Obat</th>
        </tr>
        <tr>
            <td width="7%"><center>Tanggal</center></td>
            <td><center>Nama Obat</center></td>
            <td><center>Dosis</center></td>
            <td><center>Rute</center></td>
            <td><center>Interval</center></td>
            <td><center>Keterangan</center></td>
            <td><center>Ket Pemakaian</center></td>
        </tr>
        {foreach from=$rs_rm17 item=data}
        <tr
        {if $data.FS_KET2 eq 1}
        style="color:red;"
        {/if}
        >
        <td>{$data.FD_TGL_PEMBERIAN_OBAT}</td>
        <td>{$data.FS_NAMA_OBAT}</td>
        <td>{$data.FS_DOSIS_OBAT}</td>
        <td>
            {if $data.FS_RUTE eq 1}
            ORAL
            {elseif $data.FS_RUTE eq 2}
            TOPIKAL
            {elseif $data.FS_RUTE eq 3}
            TETES MATA
            {elseif $data.FS_RUTE eq 4}
            IV
            {elseif $data.FS_RUTE eq 5}
            IM
            {elseif $data.FS_RUTE eq 6}
            SC
            {elseif $data.FS_RUTE eq 7}
            IC
            {elseif $data.FS_RUTE eq 8}
            TETES TELINGA
            {elseif $data.FS_RUTE eq 9}
            IV DRIP
            {elseif $data.FS_RUTE eq 10}
            INHALASI
            {elseif $data.FS_RUTE eq 11}
            TETES HIDUNG
            {/if}
        </td>
        <td>{$data.FS_INTERVAL}</td>
        <td>{$data.FS_KET}</td>
        <td>{if $data.FS_KET2 eq 1}
            Stop
            {else}
            -
        {/if}</td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="9">Data not found!</td>
    </tr>
    {/foreach}
</table>
<div class="notification red">
    <p><strong>High Risk :</strong> {$rs_pasien.FS_HIGH_RISK|default:'-'} </p>
    <p><strong>Alergi :</strong> {$rs_pasien.FS_ALERGI|default:'-'} ({$rs_pasien.FS_REAK_ALERGI|default:'-'})</p>
    <div class="clear"></div>
</div>

<div class="clear"></div>
<table class="table-input" width="100%">
    <tr class="submit-box">
        <td colspan="7">
            <a href="javascript:;" class="btn-blue item_add">Tambah Resep</a>
        </td> 
    </tr>
</table>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('inap/prog_obat/proses_cari')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
        <table class="table-search" width="100%">
            <tr>
                <th width="5%" aligh="left">Tanggal</th>
                <td width="14%">
                    <input type="text" class='tanggal' name="FD_TGL_TRS" value="{$search.FD_TGL_TRS}" size="8"/>
                </td>
                <th width="5%" aligh="left">Shift</th>
                <td>
                    <select name="FS_UDD_WAKTU">
                        <option value='0' {if $search.FS_UDD_WAKTU eq '0'} selected="selected"{/if}>--Pilih Data--</option>
                        <option value='1' {if $search.FS_UDD_WAKTU eq '1'} selected="selected"{/if}>Pagi</option>
                        <option value='2' {if $search.FS_UDD_WAKTU eq '2'} selected="selected"{/if}>Siang</option>
                        <option value='3' {if $search.FS_UDD_WAKTU eq '3'} selected="selected"{/if}>Sore</option>
                        <option value='4' {if $search.FS_UDD_WAKTU eq '4'} selected="selected"{/if}>Malam</option>
                    </select>
                </td>
                <td width="70%">
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation-button">
    <ul>
        <li><a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_etiket_udd_all/'|cat:$rs_pasien.fs_kd_reg|cat:'/'|cat:$search.FD_TGL_TRS|cat:'/'|cat:$search.FS_UDD_WAKTU)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> Cetak Etiket All Data</a></li>
        <li><a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_etiket_udd_sebelum/'|cat:$rs_pasien.fs_kd_reg|cat:'/'|cat:$search.FD_TGL_TRS|cat:'/'|cat:$search.FS_UDD_WAKTU)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> Cetak Etiket Sebelum Makan</a></li>
        <li><a href="javascript:void(0);" onclick="window.open('{$config->site_url('rm/rawat_inap/cetak_etiket_udd_sesudah/'|cat:$rs_pasien.fs_kd_reg|cat:'/'|cat:$search.FD_TGL_TRS|cat:'/'|cat:$search.FS_UDD_WAKTU)}', 'nama_window_pop_up', 'scrollbars=yes,resizeable=no')"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> Cetak Etiket Sesudah Makan</a></li>
        <li><a href="{$config->site_url('rm/rawat_inap/cetak_rm/'|cat:{$rs_pasien.fs_kd_reg}|cat:'/'|cat:'1')}" target="_blank"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> CPPT</a></li>
    </ul>
</div>
<table class="table-view" width="100%">
    <tr>
        <th colspan="8">Program Pemberian Obat</th>
    </tr>
    <tr>
        <th width="7%"><center>Tanggal</center></th>
        <th><center>Nama Obat</center></th>
        <th><center>Jumlah</center></th>
        <th><center>Satuan</center></th>
        <th><center>Keterangan</center></th>
        <th><center>Cara Pemakaian</center></th>
        <th><center>Shift</center></th>
        <th width="11%"><center>Aksi</center></th>
    </tr>
    {foreach from=$rs_resep_dokter2 item=data}
    <tr>
        <td>{$data.FD_TGL_TRS}</td>
        <td>{$data.FS_NM_BARANG}</td>
        <td>{$data.FN_QTY_BARANG}</td>
        <td>{$data.FS_KD_SATUAN}</td>
        <td>{$data.FS_ETIKET_CATATAN} </td>
        <td> 
            {if $data.FS_KETERANGAN eq 1}
            Sebelum Makan
            {elseif $data.FS_KETERANGAN eq 2}
            Sesudah Makan
            {elseif $data.FS_KETERANGAN eq 3}
            All Data
            {/if}
        </td>
        <td>
            {if $data.FS_UDD_WAKTU eq 1}
            Pagi
            {elseif $data.FS_UDD_WAKTU eq 2}
            Siang
            {elseif $data.FS_UDD_WAKTU eq 3}
            Sore
            {elseif $data.FS_UDD_WAKTU eq 4}
            Malam
            {/if}
        </td>
        <td>
            <center>
                {if $data.FD_TGL_TRS <> $now}
                {else}
                <a href="{$config->site_url('inap/prog_obat/delete_process/'|cat:$data.FS_KD_TRS2|cat:'/'|cat:$rs_pasien.fs_kd_reg)}" onclick="return confirm('Apakah data akan di hapus???');" class="button-hapus" title="Hapus" >Hapus</a>
                {/if}
            </center>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="6">Data not found!</td>
    </tr>
    {/foreach}
</table>
</div>

<div id="ModalAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <input name="FN_ITER_BARANG" id="FN_ITER_BARANG" value="0" type="hidden" size="2">
            <form action="{$config->site_url('inap/prog_obat/add_process')}" method="post">
                <input name="FS_KD_REG" id="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
                <input name="FS_KD_LAYANAN" type="hidden" value="{$rs_pasien.fs_kd_layanan}" />
                <input name="FS_KD_MEDIS" type="hidden" value="{$rs_pasien.fs_kd_medis}" />
                <table class="table-input" width="100%">
                    <tr >
                        <th colspan="2">Add Data <span id="loading">LOADING...</span></th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <em style="color:red;">* Entrykan data per shift kemudian simpan</em>
                        </td>
                    </tr>
                    <tr>
                        <td>Nama Barang</td>
                        <td>
                            <select name="FS_KD_BARANG" class="select2" style="width: 320px;" id="FS_KD_BARANG">
                                <option value="">--Pilih Data--</option>
                                {foreach $rs_resep as $data}
                                <option value="{$data.FS_KD_BARANG}">{$data.FS_NM_BARANG}</option>
                                {/foreach}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Jumlah</td>
                        <td>
                            <input name="FN_QTY_BARANG" id="FN_QTY_BARANG" class="form-control" type="text" size="2">
                            <em style="color:red;">* Masukkan Angka</em>
                        </tr>
                        <tr>
                            <td>Satuan</td>
                            <td>
                                <div id="show_data_obat"></div>
                            </tr>
                    <!--<tr>
                        <td>Waktu Pemberian</td>
                        <td>
                            <input name="FN_ETIKET_QTY" id="FN_ETIKET_QTY" class="form-control" type="text" size="2">
                            x 
                            <input name="FN_ETIKET_HARI" id="FN_ETIKET_HARI" class="form-control" type="text" size="2">
                            Per Hari
                            <em style="color:red;">* Masukkan Angka</em>
                        </td>
                    </tr>-->
                    <tr>
                        <td>Catatan</td>
                        <td>
                            <textarea name="FS_ETIKET_CATATAN" id="FS_ETIKET_CATATAN" cols="50">{$rs_resep.FS_ETIKET_CATATAN}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Keterangan Pemberian</td>
                        <td>
                            <select name="FS_KETERANGAN" id="FS_KETERANGAN">
                                <option value="3" {if $rs_resep.FS_KETERANGAN eq '3'}selected=""{/if}>All Data</option>
                                <option value="1" {if $rs_resep.FS_KETERANGAN eq '1'}selected=""{/if}>Sebelum Makan</option>
                                <option value="2" {if $rs_resep.FS_KETERANGAN eq '2'}selected=""{/if}>Sesudah Makan</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Shift</td>
                        <td>
                            <select name="FS_UDD_WAKTU" id="FS_UDD_WAKTU">
                                <option value="">--Pilih Data--</option>
                                <option value="1">Pagi</option>
                                <option value="2">Siang</option>
                                <option value="3">Sore</option>
                                <option value="4">Malam</option>
                            </select>
                        </td>
                    </tr>

                    <tr class="submit-box">
                        <td colspan="2">
                            <button type="button" id="btn-add" class="btn-blue">Tambah</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <table width='100%'>

                                <thead>
                                    
                                    <tr class="headrow">
                                        <th colspan="7"><center>Program Obat</center></th>
                                    </tr>
                                    <tr class="headrow">
                                        <th><center>Nama Obat</center></th>
                                        <th><center>Jumlah</center></th>
                                        <th><center>Satuan</center></th>
                                        <th><center>Catatan</center></th>
                                        <th><center>Keterangan</center></th>
                                        <th><center>Shift</center></th>
                                        <th><center>Aksi</center></th>

                                    </tr>
                                </thead>
                                <tbody id="show_data_resep_baru"></tbody>
                                <thead>
                                    <tr class="headrow">
                                        <th>Tanggal UDD</th>
                                        <th colspan="6"><input type="text" class='tanggal' name="FD_TGL_TRS" size="9"/></th>
                                    </tr>
                                </thead>
                            </table>

                        </td>
                    </tr>
                    <tr class="submit-box">
                        <td colspan="2">
                            <input type="submit" name="save" value="Simpan" class="edit-button"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div id="ModalHapus">
    <table class="table-input" width="100%">
        <tr>
            <th colspan="2">Hapus Data <span id="loading-hapus">LOADING...</span></th>
        </tr>
        <tr>
            <input type="hidden" name="FS_KD_TRS2" id="FS_KD_TRS2" value="" />
            <td><div class="alert alert-warning"><p>Apakah Anda yakin mau menghapus barang ini?</p></div></td>
        </tr>
        <tr class="submit-box">
            <td colspan="2">
                <button type="button" id="btn_hapus" class="btn-red">Hapus</button>
            </td>
        </tr>
    </table>
</div>
