<script type="text/javascript">
    $(document).ready(function () {
        // date picker
        $(".tanggal").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".select2").select2({
            placeholder: "Pilih",
            allowClear: true
        });
        // timepicker
        $('.waktu').timepicker({
            timeFormat: 'HH:mm:ss',
            showOn: "both",
            buttonImage: "{$BASEURL}/resource/doc/images/icon/clock.png",
            buttonImageOnly: true
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".item_add").click(function () {
            $("#ModalAdd").dialog('open');
        });

        $("#ModalAdd").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 1000,
            modal: true
        });
       

        $("#ModalHapus").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 400,
            modal: true
        });

        $("#loading").hide();
        $("#loading-hapus").hide();

        var FS_KD_REG2 = $('#FS_KD_REG').val();
        tampil_resep(FS_KD_REG2);

        function tampil_resep(FS_KD_REG2) {
            $.ajax({
                type: "POST",
                url: '{$config->site_url("inap/prog_obat/list_resep_baru")}',
                async: false,
                data: '&FS_KD_REG2=' + FS_KD_REG2,
                dataType: 'json',
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    var html = '';
                    var i;
                    var shift;
                    var waktu;
                   
                    
                    for (i = 0; i < data.length; i++) {
                         if (data[i].FS_UDD_WAKTU == 1) {
                            shift = "Pagi";
                        } else if (data[i].FS_UDD_WAKTU == 2) {
                            shift = "Siang";
                        } else if (data[i].FS_UDD_WAKTU == 3) {
                            shift = "Sore";
                        }else if (data[i].FS_UDD_WAKTU == 4) {
                            shift = "Malam";
                        }

                        if (data[i].FS_KETERANGAN == 1){
                            waktu = "Sebelum Makan";
                        }else if (data[i].FS_KETERANGAN == 2){
                            waktu = "Sesudah Makan";
                        }else if (data[i].FS_KETERANGAN == 3){
                            waktu = "All";
                        }

                        html += '<tr>' +
                                '<tr>' +
                                '<td>' + data[i].FS_NM_BARANG + '</td>' +
                                '<td><center>' + data[i].FN_QTY_BARANG + '</center></td>' +
                                '<td><center>' + data[i].FS_KD_SATUAN + '</center></td>' +
                                '<td><center>' + data[i].FS_ETIKET_CATATAN + '</center></td>' +
                                '<td><center>' + waktu + '</center></td>' +
                                '<td><center>' + shift + '</center></td>' +
                                '<td><center>' +
                                '<a href="javascript:;" class="btn-red item_hapus" data="' + data[i].FS_KD_TRS2 + '">Hapus</a>' +
                                '</center></td>' +
                                '</tr>';
                    }
                    $('#show_data_resep_baru').html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }

            });
        }

        $("#FS_KD_BARANG").change(function () {
            var FS_KD_BARANG = $("#FS_KD_BARANG").val();

            var dataString = '&FS_KD_BARANG=' + FS_KD_BARANG;

            $.ajax({
                type: "POST",
                url: '{$config->site_url("inap/cppt/SatBarang")}',
                data: dataString,
                async: false,
                dataType: 'json',
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    var html = '';
                    var i;
                    for (i = 0; i < data.length; i++) {
                        html +=
                                '<input id="FS_KD_SATUAN" name="FS_KD_SATUAN" value="' + data[i].FS_KD_SAT_JUAL + '" class="form-control" type="text" disabled="disabled">' +
                                '<input id="FS_NM_BARANG" name="FS_NM_BARANG" value="' + data[i].FS_NM_BARANG + '" type="hidden">';

                    }
                    $("#show_data_obat").html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }
            });
        });

        $("#btn-add").click(function () {
            $("#loading").show();
            //Simpan Barang
            var FS_KD_REG = $('#FS_KD_REG').val();
            var FS_KD_BARANG = $('#FS_KD_BARANG').val();
            var FS_NM_BARANG = $('#FS_NM_BARANG').val();
            var FS_KD_SATUAN = $('#FS_KD_SATUAN').val();
            var FN_QTY_BARANG = $('#FN_QTY_BARANG').val();
            var FS_ETIKET_CATATAN = $('#FS_ETIKET_CATATAN').val();
            var FS_KETERANGAN = $('#FS_KETERANGAN').val();
            var FS_UDD_WAKTU = $('#FS_UDD_WAKTU').val();


            var dataString =
                    '&FS_KD_BARANG=' + FS_KD_BARANG +
                    '&FS_KD_SATUAN=' + FS_KD_SATUAN +
                    '&FS_NM_BARANG=' + FS_NM_BARANG +
                    '&FN_QTY_BARANG=' + FN_QTY_BARANG +
                    '&FS_KETERANGAN=' + FS_KETERANGAN +
                    '&FS_ETIKET_CATATAN=' + FS_ETIKET_CATATAN +
                    '&FS_UDD_WAKTU=' + FS_UDD_WAKTU +
                    '&FS_KD_REG=' + FS_KD_REG;

            $.ajax({
                type: "POST",
                url: "{$config->site_url('inap/prog_obat/add_process_resep')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loading").hide();
                    $('[name="FS_KD_BARANG"]').val("");
                    $('[name="FS_KD_SATUAN"]').val("");
                    $('[name="FS_NM_BARANG"]').val("");
                    $('[name="FN_QTY_BARANG"]').val("");
                    $('[name="FS_ETIKET_CATATAN"]').val("");
                    $('[name="FS_KETERANGAN"]').val("");
                    $('[name="FS_UDD_WAKTU"]').val("");
                    tampil_resep(FS_KD_REG2);
                },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika ada error
                    alert(xhr.responseText);
                }
            });
        });

        $('#show_data_resep_baru').on('click', '.item_hapus', function () {
            var id = $(this).attr('data');
            $("#ModalHapus").dialog('open');
            $('[name="FS_KD_TRS2"]').val(id);
        });

        $('#btn_hapus').on('click', function () {
            $("#loading-hapus").show();
            var kode = $('#FS_KD_TRS2').val();
            var dataString = '&kode=' + kode
            $.ajax({
                type: "POST",
                url: "{$config->site_url('inap/prog_obat/delete_resep_process')}",
                dataType: "JSON",
                data: dataString,
                beforeSend: function (e) {
                    if (e && e.overrideMimeType) {
                        e.overrideMimeType("application/json;charset=UTF-8");
                    }
                },
                success: function (data) {
                    $("#loading-hapus").hide();
                    $('#ModalHapus').dialog('close');

                    tampil_resep(FS_KD_REG2);
                }
            });
        });
    });
</script>