<!-- include javascript -->
{include file="inap/rm10/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="{$config->site_url('inap/rm10/cari')}">Catatan Edukasi</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('inap/rm10/add/'|cat:$rs_pasien.fs_kd_reg)}" class="active">Data Umum</a></li>
            <li><a href="{$config->site_url('inap/rm10/add_catatan/'|cat:$rs_pasien.fs_kd_reg)}">Data Catatan Edukasi</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('inap/rm10/edit_process')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
        <input name="FS_RM_10" type="hidden" value="{$rs_rm10.FS_RM_10}" />

        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Catatan Edukasi</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.fs_mr}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$rs_pasien.FS_ALM_PASIEN}</td>
            </tr>
            <tr>
                <td>TANGGAL MASUK</td>
                <td>{$rs_pasien.fd_tgl_masuk|date_format:"%d %b %Y"}</td>
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr>
                <th colspan="2">Asesmen Edukasi</th>
            </tr>
            <tr>
                <td width='20%'>
                    Keyakinan serta nilai-nilai pasien dan keluarga (Khusus)
                </td>
                <td width='80%'>
                    <select name="FS_NILAI">
                        <option value="1" {if $rs_rm10.FS_NILAI eq '1'}selected="selected"{/if} onclick='document.getElementById("civstaton1").disabled = true'>Tidak Ada</option>
                        <option VALUE="2" {if $rs_rm10.FS_NILAI eq '2'}selected="selected"{/if} onclick='document.getElementById("civstaton1").disabled = false'>Ada</option>
                    </select>
                    <input type="text" name="FS_NILAI2" id="civstaton1" {if $rs_rm10.FS_NILAI2 eq ''}disabled=""{/if} size="32" value="{$rs_rm10.FS_NILAI2}">
                </td>
            </tr>
              <tr>
                <td>
                    Kemampuan Membaca
                </td>
                <td>
                    <select name="FS_MEMBACA" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1" {if $rs_rm10.FS_MEMBACA eq '1'}selected="selected"{/if}>BAIK</option>
                        <option value="2" {if $rs_rm10.FS_MEMBACA eq '2'}selected="selected"{/if}>TIDAK BISA MEMBACA</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>
                    Kemampuan Berbahasa 1
                </td>
                <td>
                    <select name="FS_TIPE_BAHASA1" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1" {if $rs_rm10.FS_TIPE_BAHASA1 eq '1'}selected="selected"{/if}>BAHASA INDONESIA</option>
                        <option value="2" {if $rs_rm10.FS_TIPE_BAHASA1 eq '2'}selected="selected"{/if}>BAHASA JAWA</option>
                        <option value="3" {if $rs_rm10.FS_TIPE_BAHASA1 eq '3'}selected="selected"{/if}>BAHASA INGGRIS</option>
                        <option value="4" {if $rs_rm10.FS_TIPE_BAHASA1 eq '4'}selected="selected"{/if}>BAHASA ARAB</option>
                    </select>
                    
                    <select name="FS_BAHASA1" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1" {if $rs_rm10.FS_BAHASA1 eq '1'}selected="selected"{/if}>BAIK</option>
                        <option value="2" {if $rs_rm10.FS_BAHASA1 eq '2'}selected="selected"{/if}>CUKUP BAIK</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Kemampuan Berbahasa 2
                </td>
                <td>
                    <select name="FS_TIPE_BAHASA2" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1" {if $rs_rm10.FS_TIPE_BAHASA2 eq '1'}selected="selected"{/if}>BAHASA INDONESIA</option>
                        <option value="2" {if $rs_rm10.FS_TIPE_BAHASA2 eq '2'}selected="selected"{/if}>BAHASA JAWA</option>
                        <option value="3" {if $rs_rm10.FS_TIPE_BAHASA2 eq '3'}selected="selected"{/if}>BAHASA INGGRIS</option>
                        <option value="4" {if $rs_rm10.FS_TIPE_BAHASA2 eq '4'}selected="selected"{/if}>BAHASA ARAB</option>
                    </select> 
                    
                    <select name="FS_BAHASA2" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1" {if $rs_rm10.FS_BAHASA2 eq '1'}selected="selected"{/if}>BAIK</option>
                        <option value="2" {if $rs_rm10.FS_BAHASA2 eq '2'}selected="selected"{/if}>CUKUP BAIK</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Hambatan Emosional dan Motivasi
                </td>
                <td>
                    <select name="FS_HAMBATAN_EMOSI">
                        <option value="1" {if $rs_rm10.FS_HAMBATAN_EMOSI eq '1'}selected="selected"{/if} onclick='document.getElementById("civstaton2").disabled = true'>Tidak Ada</option>
                        <option VALUE="2" {if $rs_rm10.FS_HAMBATAN_EMOSI eq '2'}selected="selected"{/if} onclick='document.getElementById("civstaton2").disabled = false'>Ada</option>
                    </select>
                    <input type="text" name="FS_HAMBATAN_EMOSI2" id="civstaton2" {if $rs_rm10.FS_HAMBATAN_EMOSI eq '1'}disabled="" {/if} size="32" value="{$rs_rm10.FS_HAMBATAN_EMOSI2}">
                </td>
            </tr>
            <tr>
                <td>
                    Keterbatasan Fisik
                </td>
                <td>
                    <select name="FS_KETERBATASAN_FISIK">
                        <option value="1" {if $rs_rm10.FS_KETERBATASAN_FISIK eq '1'}selected="selected"{/if} onclick='document.getElementById("civstaton3").disabled = true'>Tidak Ada</option>
                        <option VALUE="2" {if $rs_rm10.FS_KETERBATASAN_FISIK eq '2'}selected="selected"{/if} onclick='document.getElementById("civstaton3").disabled = false'>Ada</option>
                    </select>
                    <input type="text" name="FS_KETERBATASAN_FISIK2" id="civstaton3" {if $rs_rm10.FS_KETERBATASAN_FISIK eq '1'}disabled=""{/if}  size="32" value="{$rs_rm10.FS_KETERBATASAN_FISIK2}">
                </td>
            </tr>
            <tr>
                <td>
                    Keterbatasan Kognitif
                </td>
                <td>
                    <select name="FS_KETERBATASAN_KOGNITIF">
                        <option value="1" {if $rs_rm10.FS_KETERBATASAN_KOGNITIF eq '1'}selected="selected"{/if} onclick='document.getElementById("civstaton4").disabled = true'>Tidak Ada</option>
                        <option VALUE="2" {if $rs_rm10.FS_KETERBATASAN_KOGNITIF eq '2'}selected="selected"{/if} onclick='document.getElementById("civstaton4").disabled = false'>Ada</option>
                    </select>
                    <input type="text" name="FS_KETERBATASAN_KOGNITIF2" {if $rs_rm10.FS_KETERBATASAN_KOGNITIF eq '1'}disabled=""{/if} id="civstaton4"  size="32" value="{$rs_rm10.FS_KETERBATASAN_KOGNITIF2}">
                </td>
            </tr>
             <tr>
                <td>
                    Kesediaan menerima informasi
                </td>
                <td>
                    <select name="FS_MENERIMA_INFO" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1" {if $rs_rm10.FS_MENERIMA_INFO eq '1'}selected="selected"{/if}>BERSEDIA</option>
                        <option value="2" {if $rs_rm10.FS_MENERIMA_INFO eq '2'}selected="selected"{/if}>TIDAK BERSEDIA</option>
                    </select>
                </td>
            </tr>
            <tr class="submit-box">
                <td colspan="2">
                     <div style="font-weight: bold;">
                    *Bismillahirohmanirrohim, saya dengan sadar dan penuh tanggung jawab mengisikan formulir ini dengan data yang benar
                </div>
                <br>
                    <input type="submit" name="save" value="Lanjutkan & Simpan" class="edit-button" style="float:right;"/>
                </td>
            </tr>
        </table>
    </form>
</div>