{include file="nurse/rawat_jalan/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Medical Record</a><span></span>
        <small>Berkas</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('rm/upload/proses_cari')}" method="post">
        <table class="table-search" width="100%">
            <tr>
                <th width="10%" aligh="left">No Rekam Medis</th>
                <td width="90%">
                    <input name="FS_MR" value="{$search.FS_MR}" size="25" style="text-align: center;" maxlength="15"/>
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="dashboard-container">
    <table class="table-view" width="100%" border="0">
        <thead>
            <tr>
                <th width='10%'>Tanggal Kunjungan</th>
                <th>Kode Reg</th>
                <th>Nama Pasien</th>
                <th>Dokter</th>
                <th>Layanan</th>
                <th>Status</th>
                <th width='10%'>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$rs_pasien item=data}
            <tr>
                <td>{$data.TANGGAL|date_format :"%d %B %Y"}</td>
                <td>{$data.NO_REG}</td>
                <td>{$data.NAMA_PASIEN}</td> 
                <td>{$data.NAMA_DOKTER}</td> 
                <td>{$data.NAMA_RUANG}{$data.SPESIALIS}</td> 
                <td>
       <center>
            <b>
               {if $data.MEDIS eq 'RAWAT JALAN'}
                <div style="color: blue;">Rawat Jalan</div>
                {else}
                <div style="color: green;">Rawat Inap</div>
                {/if}
            </b>
        </center>
        </td> 
        <td>
            <a href="{$config->site_url('rm/upload/add/'|cat:$data.NO_REG|cat:'/'|cat:$search.FS_KD_PEG)}" class="button-edit">Upload</a> 
        </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
