<!-- include javascript -->
{include file="surat/undangan/add_script_js.html"}
{include file="surat/maintenance/add_foto_js.html"}
<!-- end of include javascript-->
<div class="breadcrumb">
    <ul>
        <li><a href="#">Data Arsip</a></li>
        <li><a href="{$config->site_url('surat/kelengkapan_mr/cari')}">Kelengkapan MR</a></li>
        <li class="active"><a href="#">Add Data</a></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('surat/kelengkapan_mr/add_process')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
        <table class="table-input" width="100%">
            <tr>
                <th>MR</th>
                <th>REG</th>
                <th>NAMA</th>
                <th>TGL MASUK</th>
                <th>TGL KELUAR</th>
                <th>LAYANAN</th>
                <th></th>
            </tr>
             {foreach from=$rs_pasien item=data}
            <tr>
                <td>{$data.fs_mr}</td>
                <td>{$data.FS_KD_REG}</td>
                <td>{$data.FS_NM_PASIEN}</td>
                <td>{$data.fd_tgl_masuk}</td>
                <td>{$data.fd_tgl_keluar}</td>
                <td>{$data.FS_NM_LAYANAN}</td>
                <td>
                    <a href="{$config->site_url('surat/kelengkapan_mr/add/'|cat:$data.FS_KD_REG)}" class="btn-blue"><span class="icon-edit"></span></a>
                </td>
            </tr>
            {/foreach}
        </table>
    </form>
</div>