<!-- include javascript -->
{include file="inap/kep/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p> 
        <a href="#">Catatan Rawat Inap</a><span></span>
        <a href="{$config->site_url('inap/kep/')}">Rencana Keperawatan</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div> 
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('inap/kep/add_process')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.NO_REG}" />
        <input name="FS_MR" type="hidden" value="{$rs_pasien.NO_MR}" />

        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Rencana Keperawatan</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.NAMA_PASIEN}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.NO_MR}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$rs_pasien.ALAMAT}</td>
            </tr>
            
        </table>
        <div class="head-content">
            <div class="head-content-nav">
                <ul>
                    <li><a href="{$config->site_url('inap/kep/add/'|cat:$rs_pasien.NO_REG)}" class="active">Rencana Keperawatan</a></li>
                    <li><a href="{$config->site_url('inap/kep/add_tindakan/'|cat:$rs_pasien.NO_REG)}">Tindakan Keperawatan</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
         <!-- <div class="notification red">
            <p><strong>High Risk :</strong> {$rs_pasien.FS_HIGH_RISK|default:'-'} </p>
            <p><strong>Alergi :</strong> {$rs_pasien.FS_ALERGI|default:'-'} ({$rs_pasien.FS_REAK_ALERGI|default:'-'})</p>
            <div class="clear"></div>
        </div> -->
        <div class="content-entry">
            <table class="table-input" width="100%">

                <tr class="headrow">
                    <th colspan="4">Rencana Keperawatan</th>
                </tr>
                <tr>
                    <td width='20%'>Masalah Keperawatan</td>
                    <td width='80%' colspan="2">
                       {foreach from=$rs_masalah_kep item=data}
                       {$data.FS_NM_DIAGNOSA},
                       {/foreach}
                    </td>
                </tr>
                <tr> 
                    <td>Diagnosa</td>
                    <td>
                        <select name="FS_KD_DAFTAR_DIAGNOSA" id="diag" class="select2" style="width: 300px;">
                            <option value="0">--Pilih Data--</option>.
                            {foreach from=$rs_diagnosa item=data}
                            <option value="{$data.FS_KD_DAFTAR_DIAGNOSA}">{$data.FS_NM_DIAGNOSA}</option>
                            {/foreach}
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>Tujuan</td>
                    <td colspan="2">
                        <select name="FS_KD_NOC" id="noc"  class="select2" style="width: 300px;">
                            <option value="0">--Pilih Data--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tanggal Akan Dicapai</td>
                    <td colspan="2">
                        <input name="FD_TGL_DICAPAI" type="text" size="10" maxlength="10" value="{$result.FD_TGL_DICAPAI|default:''}" class="tanggal" style="text-align: center;" />
                    </td>
                </tr>
                <tr>
                    <td>Waktu Akan Dicapai</td>
                    <td colspan="2">
                        <input name="FD_JAM_DICAPAI" type="text" value="{$result.FD_JAM_DICAPAI|default:''}" size="10" class="waktu" maxlength="10" style="text-align: center"/>
                    </td>
                </tr>
                <tr>
                    <td>Kriteria</td>
                    <td colspan="2">
                        <select name="FS_KD_INDIKATOR"  id="indikator"  class="select2" style="width: 300px;">
                            <option value="0">--Pilih Data--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Perencanaan</td>
                    <td colspan="2">
                        <select name="FS_KD_NIC" id="nic"  class="select2" style="width: 300px;">
                            <option value="0">--Pilih Data--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Rincian Perencanaan</td>
                    <td colspan="2">

                        <select name="FS_KD_NIC2[]" id="nic2"  multiple class="select2" style="width: 300px;">
                        </select>
                    </td>
                </tr>
                <tr class="submit-box">
                    <td colspan="4">
                         <div style="font-weight: bold;">
                    *Bismillahirohmanirrohim, saya dengan sadar dan penuh tanggung jawab mengisikan formulir ini dengan data yang benar
                </div>
                <br>
                        <input type="submit" name="save" value="Simpan" class="edit-button"/>
                    </td>
                </tr>
            </table>
    </form>
</div>
        <div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('rm/rawat_inap/cetak_rm/'|cat:$rs_pasien.NO_REG|cat:'/'|cat:'7')}" target="_blank"><img src="{$BASEURL}resource/doc/images/icon/printer-icon.png" alt="" /> Print</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<table class="table-view" width="100%">
    <tr>
        <th width="5%">No</th>
        <th>Tanggal / Jam</th>
        <th>Diagnosa</th>
        <th>Tujuan</th>
        <th>Target Waktu Tercapai</th>
        <th>Kriteria</th>
        <th>Perencanaan</th>
        <th>Rincian</th>
        <th width="10%">Aksi</th>
    </tr>
    {foreach $result as $data}
    {assign var=rs_rincian value=$m_kep->get_rincian_kep_by_id(array($data.FS_KD_TRS))}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td>{$no++}</td>
        <td>{$data.mdd} {$data.mdd_time|date_format:'%H:%M'}</td>
        <td>{$data.FS_NM_DIAGNOSA}</td>
        <td>{$data.FS_NM_NOC}</td>
        <td>{$data.FD_TGL_DICAPAI} {$data.FD_JAM_DICAPAI|date_format:'%H:%M'}</td>
        <td>{$data.FS_NM_INDIKATOR}</td>
        <td>{$data.FS_NM_NIC}</td>
        <td>
            {foreach $rs_rincian as $data2}
            -{$data2.FS_NM_NIC2}<br>
            {/foreach}
        </td>
        <td align="center">
          
           {if $data.mdd >= $tgl_kemarin || $com_user.role_nm eq 'Admin E-MR'}   
           <a  href="{$config->site_url('inap/kep/edit_rencana/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_KD_REG)}" class="button-edit" title="Tambah Catatan" >Edit</a>               
           <a href="{$config->site_url('inap/kep/delete_process_ren/'|cat:$data.FS_KD_TRS|cat:'/'|cat:$data.FS_KD_REG)}" class="button-hapus" title="Tambah Catatan" onclick="return confirm('Apakah Anda Yakin Akan Menghapus?');">Hapus</a>
           {/if}

            </td>
    </tr>
    {/foreach}
</table>