{include file="inap/ass_awal_bidan/edit_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Nursing Record</a><span></span>
        <a href="{$config->site_url('inap/ass_awal_bidan/')}">Asesmen Awal Kebidanan Rawat Inap</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>


<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('inap/ass_awal_bidan/edit/'|cat:$rs_pasien.NO_REG)}" class="active">Asesmen</a></li>
            <li><a href="{$config->site_url('inap/ass_awal_bidan/riwayat_hamil2/'|cat:$rs_pasien.NO_REG)}"> Riwayat Kehamilan</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>


<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('inap/ass_awal_bidan/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('inap/ass_awal_bidan/edit_process')}" method="post">
    <input type="hidden" name="FS_KD_REG" value="{$rs_pasien.NO_REG}" />
    <input type="hidden" name="FS_MR" value="{$rs_pasien.NO_MR}" />
     <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Edit Asesmen Awal Rawat Inap</th>
            </tr>
           <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.NAMA_PASIEN}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.NO_MR}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$rs_pasien.ALAMAT}</td>
            </tr>
        </table>
    <div class="notification red">
            <p><strong>High Risk :</strong> {$rs_pasien.FS_HIGH_RISK|default:'-'} </p>
            <p><strong>Alergi :</strong> {$rs_pasien.FS_ALERGI|default:'-'} ({$rs_pasien.FS_REAK_ALERGI|default:'-'})</p>
            <div class="clear"></div>
        </div>
    <table class="table-input" width="100%">

        <tr class="headrow">
            <th colspan="2">Data Suami</th>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td width='20%'>Nama</td>
            <td width='30%'><input type="text" value="{$ases2.NAMA_SUAMI}" name="NAMA_SUAMI" size="10"  /></td>
            <td width='20%'>Tanggal Lahir </td>
            <td width='30%'><input type="date" value="{$ases2.TGL_LAHIR_SUAMI}" name="TGL_LAHIR_SUAMI" size="10"  /></td>
        </tr>
        <tr>
            <td width='20%'>Agama</td>
            <td width='30%'><input type="text" value="{$ases2.AGAMA_SUAMI}" name="AGAMA_SUAMI" size="10"  /></td>
            <td width='20%'>  Pekerjaan </td>
            <td width='30%'><input type="text" value="{$ases2.JOB_SUAMI}" name="JOB_LAHIR_SUAMI" size="10"  /> </td>
        </tr>
        <tr>
            <td width='20%'>Pendidikan</td>
            <td width='30%'><input type="text" value="{$ases2.PENDIDIKAN_SUAMI}" name="PENDIDIKAN_SUAMI" size="10"  /></td>
            <td width='20%'>    </td>
            <td width='30%'> </td>
        </tr>

        <tr class="headrow">
            <th colspan="4">Data pasien</th>
        </tr>
        <tr>
            <td width='20%'>Agama</td>
            <td width='30%'>
                <select name="FS_AGAMA" id="surat_dari" class="select2" style="width: 100px;">
                    <option selected value="1">Islam</option>
                    <option value="2">Kristen</option>
                    <option value="3">Katholik</option>
                    <option value="4">Hindu</option>
                    <option value="5">Buda</option>
                    <option value="6">Konghucu</option>
                </select>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr> <td width='20%'>Pendidikan Pasien</td>
            <td width='30%'>
                <input type="text" name="PENDIDIKAN_PASIEN" value="{$ases2.PENDIDIKAN_PASIEN}" size="50"  />
            </td>

         
        </tr>
        <TR>  <td width='20%'>Pekerjaan Pasien</td>
            <td width='30%'>
                <input type="text" name="JOB_PASIEN" value="{$ases2.JOB_PASIEN}" size="50"  />
            </td></TR>

         <tr class="headrow">
                <th colspan="4">Anamnesa/Riwayat Masuk Rumah Sakit</th>
               
            </tr>
            <tr>
                <td colspan="2">
                    <textarea cols="50" name="FS_ANAMNESA">{$ases2.FS_ANAMNESA}</textarea>
                </td>
                <input type="hidden" name="FS_PEMERIKSAAN_FISIK" >
             </tr>

            <tr class="headrow">
                <th colspan="4">RIWAYAT HAID</th>
            </tr>
            <tr>
                <td width='20%'>Menarche</td>
                <td width='30%'><input type="text" name="FS_HAID_MEN"  value="{$ases2.FS_HAID_MEN}"  size="10"  /></td>
                <td width='20%'>Siklus</td>
                <td width='30%'>
                    <input type="checkbox" name="FS_HAID_SIKLUS" {if $ases2.FS_HAID_SIKLUS eq 'Teratur'} checked="" {/if} value="Teratur">Teratur
                    <input type="checkbox" name="FS_HAID_SIKLUS" {if $ases2.FS_HAID_SIKLUS eq 'Tidak'} checked="" {/if} value="Tidak"> Tidak
                </td>
            </tr>
            <tr>
                <td>Lama Haid</td>
                <td><input type="text" name="FS_HAID_LAMA"  value="{$ases2.FS_HAID_LAMA}" size="10"  /> Hari</td>
                <td>HPPT</td>
                <td><input type="text" name="FS_HAID_HPHT"  value="{$ases2.FS_HAID_HPHT}" size="10"  />  </td>
            </tr>
            <tr>
                <td>  HPL</td>
                <td><input type="text" name="FS_HAID_HPL"  value="{$ases2.FS_HAID_HPL}" size="10"  />  </td>
                <td>Keluhan</td>
                <td><input type="text" name="FS_HAID_KELUHAN"  value="{$ases2.FS_HAID_KELUHAN}" size="10"  />  </td>
            </tr>

            <tr class="headrow">
                <th colspan="4">STATUS PERKAWINAN </th>
            </tr>
            <tr>
                <td width='20%'>Status</td>
                <td width='30%'><input type="text" name="FS_STATUS_PERKAWINAN"  value="{$ases2.FS_STATUS_PERKAWINAN}" size="10"  /></td>
                <td width='20%'>Lama</td>
                <td width='30%'><input type="text" name="FS_LAMA_MENIKAH"  value="{$ases2.FS_LAMA_MENIKAH}" size="10"  /> </td>
            </tr>

           <!--  <tr class="headrow">
                <th colspan="4">RIWAYAT KEHAMILAN (tgl partus, tempat partus, umur hamil, jenis persalinan, penolong persalinan, penyulit, anak JK/BB)  </th>

            </tr>
            <tr>
                <td width='100%' colspan="4" > 
                  <textarea cols="100" name="RIWAYAT_KEHAMILAN">{$ases2.RIWAYAT_KEHAMILAN}</textarea>  </td> 
                 
            </tr> -->

 <input type="hidden" name="RIWAYAT_KEHAMILAN">
            
 

        </table>

        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">Riwayat Kesehatan</th>
            </tr>
           <tr>
                <td width='20%'>Riweayat Penyakit dahulu</td>
                <td width='30%'>
                   <input type="text" name="FS_RIW_PENYAKIT_DAHULU" value="{$rs_pasien.FS_RIW_PENYAKIT_DAHULU}" size="32">
                </td>
                <td width='20%'>Riwayat penyakit keluarga</td>
                <td width='30%'>
                    <input type="text" name="FS_RIW_PENYAKIT_DAHULU2" value="{$rs_pasien.FS_RIW_PENYAKIT_DAHULU2}" size="32">
                
                </td>
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">  RIWAYAT PENYAKIT PADA KEHAMILAN SEKARANG</th>
                 
            </tr>
            <tr>
                <td width='20%'>Asma</td>
                <td width='30%'> Mulai Tahun 
                   <input type="text" name="FS_ASMA_MULAI" value="{$ases2.FS_ASMA_MULAI}"  size="32">
                </td>
                <td width='20%'>Dalam Terapi</td>
                <td width='30%'>
                    <input type="text" name="FS_ASMA_TERAPI" value="{$ases2.FS_ASMA_TERAPI}"  size="32">
                
                </td>
            </tr>
            <tr>
                <td width='20%'>Jantung</td>
                <td width='30%'> Mulai Tahun 
                   <input type="text" name="FS_JANTUNG_MULAI" value="{$ases2.FS_JANTUNG_MULAI}"  size="32">
                </td>
                <td width='20%'>Dalam Terapi</td>
                <td width='30%'>
                    <input type="text" name="FS_JANTUNG_TERAPI" value="{$ases2.FS_JANTUNG_TERAPI}"  size="32">
                
                </td>
            </tr>
            <tr>
                <td width='20%'>Diabetes</td>
                <td width='30%'> Mulai Tahun 
                   <input type="text" name="FS_DIABETES_MULAI" value="{$ases2.FS_DIABETES_MULAI}"   size="32">
                </td>
                <td width='20%'>Dalam Terapi</td>
                <td width='30%'>
                    <input type="text" name="FS_DIABETES_TERAPI" value="{$ases2.FS_DIABETES_TERAPI}" size="32">
                
                </td>
            </tr>
            <tr>
                <td width='20%'>Hipertensi</td>
                <td width='30%'> Mulai Tahun 
                   <input type="text" name="FS_HIPERTENSI_MULAI" value="{$ases2.FS_HIPERTENSI_MULAI}"   size="32">
                </td>
                <td width='20%'>Dalam Terapi</td>
                <td width='30%'>
                    <input type="text" name="FS_HIPERTENSI_TERAPI" value="{$ases2.FS_HIPERTENSI_TERAPI}"  size="32">
                
                </td>
            </tr>
            <tr>
                <td width='20%'>Penyakit Lain</td>
                <td width='30%'> Mulai Tahun 
                   <input type="text" name="FS_SAKIT_LAIN" value="{$ases2.FS_SAKIT_LAIN}"  size="32">
                </td>
               
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">Riwayat Gynekologi</th>
            </tr>
            <tr>
                <td width='70%'> 
                  <textarea cols="100" name="FS_RIWAYAT_GYNEKOLOGI">{$ases2.FS_RIWAYAT_GYNEKOLOGI}</textarea> 
                </td>
                <!-- <td width='20%'>Riwayat penyakit keluarga</td>
                <td width='30%'>
                    <input type="text" name="FS_RIW_PENYAKIT_DAHULU2" value="{$rs_pasien.FS_RIW_PENYAKIT_DAHULU|default:'-'}" size="32">
                
                </td> -->
            </tr>
        </table>

        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">Riwayat KB</th>
            </tr>
            <tr>
                <td width='20%'>Riwayat KB </td>
                <td width='30%'>  
                    <textarea cols="50" name="FS_RIWAYAT_KB">{$ases2.FS_RIWAYAT_KB}</textarea>  
                </td>
                <td width='20%'>Riwayat Komplikasi KB</td>
                <td width='30%'>
                    <textarea cols="50" name="FS_RIWAYAT_KOMPLIKASI_KB">{$ases2.FS_RIWAYAT_KOMPLIKASI_KB}</textarea>   
                
                </td>
            </tr>
        </table>

        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">Riwayat Alergi</th>
            </tr>
            <tr>
                <td width='20%'>Riwayat Alergi</td>
                <td width='30%'>
                    <input type="text" name="FS_ALERGI" size="35" value="{$rs_pasien.FS_ALERGI|default:'-'}">
                    <em style="color:red">* Wajib Diisi</em>
                </td>
                <td width='20%'>Reaksi Alergi</td>
                <td width='30%'>
                    <input type="text" name="FS_REAK_ALERGI" size="35" value="{$rs_pasien.FS_REAK_ALERGI|default:'-'}">
                    <em style="color:red">* Wajib Diisi</em>
                </td>
            </tr>
        </table>


        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">Pola Makan/Minum/Eliminasi</th>
            </tr>
            <tr>
                <td> Pola Makan</td>
                <td> <input type="text" name="POLA_MAKAN" value="{$ases2.POLA_MAKAN}"> x/hari </td>
                <td>  Makan Terakhir Jam</td>
                <td> <input type="text" value="{$ases2.JAM_TERAKHIR_MAKAN}" name="JAM_TERAKHIR_MAKAN">   </td>
            </tr>
            <tr>
                <td> Pola Minum</td>
                <td> <input type="text" value="{$ases2.POLA_MINUM}" name="POLA_MINUM"> cc/hari </td>
                <td>  Minum Terakhir Jam</td>
                <td> <input type="text" value="{$ases2.JAM_TERAKHIR_MINUM}" name="JAM_TERAKHIR_MINUM">   </td>
            </tr>
            <tr>
                <td> Pola BAK</td>
                <td> <input type="text" value="{$ases2.POLA_BAK}"  name="POLA_BAK"> x/hari </td>
                <td>  BAK Terakhir Jam</td>
                <td> <input type="text" value="{$ases2.JAM_TERAKHIR_BAK}" name="JAM_TERAKHIR_BAK">   </td>
            </tr>
            <tr>
                <td> Pola BAB</td>
                <td> <input type="text" value="{$ases2.POLA_BAB}" name="POLA_BAB"> x/hari </td>
                <td>  BAB Terakhir Jam</td>
                <td> <input type="text" value="{$ases2.JAM_TERAKHIR_BAB}" name="JAM_TERAKHIR_BAB">   </td>
            </tr>
        </table>

        
     <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="2">Status Psikologis</th>
            <th colspan="2">Status Sosial</th>
        </tr>
        <tr>
            <td width='20%'>Status Psikologis</td>
            <td width='30%'>
                <select name="FS_STATUS_PSIK">
                    <option value=""  {if $ases2.FS_STATUS_PSIK eq ''} selected="" {/if}  onclick='document.getElementById("civstaton3").disabled = true'>--Pilih Data--</option>
                    <option value="1" {if $ases2.FS_STATUS_PSIK eq '1'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Tenang</option>
                    <option value="2" {if $ases2.FS_STATUS_PSIK eq '2'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Cemas</option>
                    <option value="3" {if $ases2.FS_STATUS_PSIK eq '3'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Takut</option>
                    <option value="4" {if $ases2.FS_STATUS_PSIK eq '4'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Marah</option>
                    <option value="5" {if $ases2.FS_STATUS_PSIK eq '5'} selected="" {/if} onclick='document.getElementById("civstaton3").disabled = true'>Sedih</option>
                    <option value="6" {if $ases2.FS_STATUS_PSIK neq '' &&  $ases2.FS_STATUS_PSIK neq '1' && $ases2.FS_STATUS_PSIK neq '2'&& $ases2.FS_STATUS_PSIK neq '3'&& $ases2.FS_STATUS_PSIK neq '4'&& $ases2.FS_STATUS_PSIK neq '5'}selected="" {/if}onclick='document.getElementById("civstaton3").disabled = false'>Lainnya</option>
                </select>
                <br><br>
                        <input type="hidden" name="FS_STATUS_PSIK2" size="32">


                <input type="text" name="FS_STATUS_PSIK2" id="civstaton3" {if $ases2.FS_STATUS_PSIK2 eq '0'}disabled=""{/if} size="27" value="{$ases2.FS_STATUS_PSIK2}">
            </td>
            <td width='20%'>Hubungan dengan anggota keluarga</td>
            <td width='30%'>
                <select name="FS_HUB_KELUARGA" id="surat_dari" class="select2" style="width: 170px;">
                    <option value="" {if $ases2.FS_HUB_KELUARGA eq ''} selected="" {/if}>--Pilih Data--</option>
                    <option value="1" {if $ases2.FS_HUB_KELUARGA eq '1'} selected="" {/if}>Baik</option>
                    <option value="2" {if $ases2.FS_HUB_KELUARGA eq '2'} selected="" {/if}>Tidak Baik</option>

                </select>
            </td>
        </tr>
    </table>
    
     

        <table class="table-input" width="100%">
            <tr class="headrow">
               <th colspan="4">  Pemeriksaan Umum</th>
           </tr>
           <tr>
               <td width='20%'>Keadaan Umum</td>
               <td width='30%'><input type="text" name="KEADAAN_UMUM" size="10" value="{$ases2.KEADAAN_UMUM|default:'-'}"/></td>
               <td width='20%'>Alat Bantu</td>
               <td width='30%'><input type="text" name="ALAT_BANTU" size="10" value="{$ases2.ALAT_BANTU|default:'-'}"/>  </td>
           </tr> 
        <tr class="headrow">
            <th colspan="4">Vital Sign</th>
        </tr>
        <tr>
            <td width='15%'>Suhu</td>
            <td width='35%'><input type="text" name="FS_SUHU" size="10" value="{$vs.FS_SUHU}"/></td>
            <td width='15%'>Nadi</td>
            <td width='35%'><input type="text" name="FS_NADI" size="10" value="{$vs.FS_NADI}" /> x/menit</td>
        </tr>
        <tr>
            <td>R</td>
            <td><input type="text" name="FS_R" size="10" value="{$vs.FS_R}" /> x/menit</td>
            <td>TD</td>
            <td><input type="text" name="FS_TD" size="10" value="{$vs.FS_TD}" /> mmHg</td>
        </tr>
        <tr>
            <td>Tinggi Badan</td>
            <td><input type="text" name="FS_TB" size="10" value="{$vs.FS_TB}"/> cm</td>
            <td>Berat Badan</td>
            <td><input type="text" name="FS_BB" size="10" value="{$vs.FS_BB}"/> Kg</td>
        </tr>
        
    </table>

    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Pemeriksaaan Fisik  </th>
        </tr>
        <tr> 
            <td>  Mata </td>
            <td>
                <input type="checkbox" {if $ases2.MATA eq 'Kabur'} checked="" {/if} name="MATA" value="Kabur">Pandangan Kabur
                <input type="checkbox" {if $ases2.MATA eq 'Tidak'} checked="" {/if}  name="MATA" value="Tidak"> Tidak
            </td>
        </tr>
        <tr>
             <td>Skelera</td>
            <td>
                <input type="checkbox"  {if $ases2.SCLERA eq 'Ikterik'} checked="" {/if} name="SCLERA" value="Ikterik">  Ikterik
                <input type="checkbox"  {if $ases2.SCLERA eq 'Tidak'} checked="" {/if} name="SCLERA" value="Tidak"> Tidak
            </td>
          </tr>
          <tr>
              <td>Konjungtiva</td>
            <td>
                <input type="checkbox"  {if $ases2.KONJUNGTIVA eq 'Ikterik'} checked="" {/if}  name="KONJUNGTIVA" value="Ikterik">  Anemis
                <input type="checkbox"  {if $ases2.KONJUNGTIVA eq 'Tidak'} checked="" {/if} name="KONJUNGTIVA" value="Tidak"> Tidak
            </td>
        </tr>
        <tr> 
            <td>Kepala</td>
            <td>
                <input type="text" name="KEPALA" value="{$ases2.KEPALA}">  Normal/Kelainan  
             </td> </tr>
        <tr>  <td>Telinga</td>
            <td>
                <input type="text" name="TELINGA" value="{$ases2.TELINGA}">  Normal/Kelainan  
             </td></tr>
        <tr>  <td>Hidung</td>
            <td>
                <input type="text" name="HIDUNG" value="{$ases2.HIDUNG}">  Normal/Kelainan  
             </td>
        </tr>
        <tr>  <td>Tenggorokan</td>
            <td>
                <input type="text" name="TENGGOROKAN" value="{$ases2.TENGGOROKAN}">  Normal/Kelainan  
             </td>
        </tr>
        <tr>  <td>Leher</td>
            <td>
                <input type="text" name="LEHER" value="{$ases2.LEHER}">  Normal/Kelainan  
             </td>
        </tr>
        <tr>  <td>Dada</td>
            <td>
                <input type="text" name="DADA" value="{$ases2.DADA}">  Normal/Kelainan  
             </td>
        </tr>
        <tr>  <td>Jantung</td>
            <td>
                <input type="text" name="JANTUNG" value="{$ases2.JANTUNG}">  Normal/Kelainan  
             </td>
        </tr>
        <tr>  <td>Paru-Paru</td>
            <td>
                <input type="text" name="PARU_PARU" value="{$ases2.PARU_PARU}">  Normal/Kelainan  
             </td>
        </tr>
        <tr>  <td>Abdomen</td>
            <td>
                <input type="text" name="ABDOMEN" value="{$ases2.ABDOMEN}">  Normal/Kelainan  
             </td>
        </tr>
        <tr>  <td>Anggota Gerak Atas</td>
            <td>
                <input type="text" name="BADAN_GERAK_ATAS" value="{$ases2.BADAN_GERAK_ATAS}">  Normal/Kelainan  
             </td>
        </tr>
        <tr>  <td>Anggota Gerak Bawah</td>
            <td>
                <input type="text" name="BADAN_GERAK_BAWAH" value="{$ases2.BADAN_GERAK_BAWAH}">  Normal/Kelainan  
             </td>
        </tr>
        </table>

        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">  Pemeriksaan Khusus</th>
            </tr>
            <tr class="headrow">
                <th colspan="4">  Pemeriksaan Khusus</th>
            </tr>
            <tr>
                <td rowspan="4">Dada</td>
                <td> <input type="radio" name="CEK_DADA" required {if $ases2.CEK_DADA eq 'Mammae Simetris'} checked {/if} value="Mammae Simetris">  Mammae Simetris </td>
                <td> <input type="radio" name="CEK_DADA" {if $ases2.CEK_DADA eq 'Mammae Asimetris'} checked {/if}  value="Mammae Asimetris">  Mammae ASimetris </td>
                <td> <input type="radio" name="CEK_DADA" {if $ases2.CEK_DADA eq 'Puting Menonjol'} checked {/if} value="Puting Menonjol">    Puting Menonjol </td></tr>
            <tr> 
                 <td>
                      <input type="radio" name="CEK_DADA" {if $ases2.CEK_DADA eq 'Puting Tidak Menonjol'} checked {/if}  value="Puting Tidak Menonjol">    Puting Tidak Menonjol </td>
                <td> 
                    <input type="radio" name="CEK_DADA" {if $ases2.CEK_DADA eq 'Aerola Hiperpigmentasi'} checked {/if} value="Aerola Hiperpigmentasi"> Aerola Hiperpigmentasi </td>
                <td> 
                    <input type="radio" name="CEK_DADA" {if $ases2.CEK_DADA eq 'Kolostrum'} checked {/if} value="Kolostrum">   Kolostrum </td>
                </tr>
              <tr>
                    <td > </td>
               <tr> 
               <tr> 
                   <td>Inspeksi Abdomen</td>
                    <td colspan="3"> <input type="radio" name="INSPEKSI_ABDOMEN" {if $ases2.INSPEKSI_ABDOMEN eq 'Luka Bekas OP'} checked {/if} value="Luka Bekas OP">  Luka Bekas OP  
                        <input type="radio" name="INSPEKSI_ABDOMEN" {if $ases2.INSPEKSI_ABDOMEN eq 'Linea Alba'} checked {/if} value="Linea Alba"> Linea Alba  
                        <input type="radio" name="INSPEKSI_ABDOMEN" {if $ases2.INSPEKSI_ABDOMEN eq 'Linea Nigra'} checked {/if} value="Linea Nigra">   Linea Nigra  
                            <input type="radio" name="INSPEKSI_ABDOMEN" {if $ases2.INSPEKSI_ABDOMEN eq 'Striae Lividae'} checked {/if} value="Striae Lividae">     Striae Lividae  
                          <input type="radio" name="INSPEKSI_ABDOMEN" {if $ases2.INSPEKSI_ABDOMEN eq 'Striae Albican'} checked {/if} value="Striae Albican">     Striae Albican </td>
                        
                    </tr>
            <tr> 
                        <td>Palpasi Abdomen</td></tr>
                <tr> 
                         <td>Leopod I     </td>
                         <td> <input type="text" name="LEOPOD_1"  value="{$ases2.LEOPOD_1}">    cm </td></tr>
                <tr> 
                         <td>Leopod II      </td>
                         <td>
                            <input type="radio" name="LEOPOD_2" required {if $ases2.LEOPOD_2 eq 'Punggung Kanan'} checked {/if} value="Punggung Kanan">  Punggung Kanan 
                            <input type="radio" name="LEOPOD_2" required {if $ases2.LEOPOD_2 eq 'Punggung Kiri'} checked {/if} value="Punggung Kiri">   Punggung Kiri
                           
                           </td>
                    </tr>
            <tr> 
                   <td>Leopod III      </td>
                           <td>
                              <input type="radio" name="LEOPOD_3" required {if $ases2.LEOPOD_3 eq 'Kepala'} checked {/if} value="Kepala">    Kepala 
                              <input type="radio" name="LEOPOD_3" required {if $ases2.LEOPOD_3 eq 'Bokong'} checked {/if} value="Bokong">     Bokong
                              
                             </td>
                         </tr>
          <tr> 
                <td>Leopod IV     </td>
                                    <td>
                                       <input type="radio" name="LEOPOD_4" required {if $ases2.LEOPOD_4 eq 'Floating'} checked {/if}  value="Floating">    Floating 
                                       <input type="radio" name="LEOPOD_4" required {if $ases2.LEOPOD_4 eq 'Enganged'} checked {/if} value="Enganged">     Enganged
                                     
                                      </td>
                                  </tr>
          <tr>
              <td>Auskultasi</td>
              <td colspan="3">
                  <input type="radio" name="AUSKULTASI" required {if $ases2.AUSKULTASI eq 'Teratur'} checked {/if} value="Teratur">Teratur
                  <input type="radio" name="AUSKULTASI" {if $ases2.AUSKULTASI eq 'Tidak'} checked {/if} value="Tidak">Tidak Teratur  
                  
                <input type="text" name=" DURASI_AUSKULTASI" value="{$ases2.DURASI_AUSKULTASI}" >kali/menit
              </td>
              
          </tr>
          <tr>
            <td>Kontraksi</td>
            <td colspan="3">
                <input type="radio" name="KONTRAKSI" required {if $ases2.KONTRAKSI eq 'Kuat'} checked {/if} value="Kuat">Kuat
                <input type="radio" name="KONTRAKSI" required {if $ases2.KONTRAKSI eq 'Sedang'} checked {/if} value="Sedang">Sedang
                <input type="radio" name="KONTRAKSI" required {if $ases2.KONTRAKSI eq 'Lemah'} checked {/if} value="Lemah">Lemah
                
                
              <input type="text" name=" DURASI_KONTRAKSI" value="{$ases2.DURASI_KONTRAKSI}" >kali/menit
            </td>
        </tr>

        <tr>
            <td>Inspeksi Ano Genital</td>
            <td>
              <input type="text" name="INSPEKSI_ANO_GENITAS" value="{$ases2.INSPEKSI_ANO_GENITAS}" >
            </td>
        </tr>
        <tr>
            <td> Vagina Toucher</td>
            <td>
              <input type="text" name="VAGINA_TOUCHER" value="{$ases2.VAGINA_TOUCHER}" >
            </td>
        </tr>
</table>

<table class="table-input" width="100%">
    <tr class="headrow">
        <th colspan="4">Kebutuhan Fungsional</th>
    </tr>
    <tr>
        <td width='20%'>Pemenuhan ADL</td>
        <td width='30%'>
            <select name="FS_FUNGSIONAL1" id="op1" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL1 eq '0'} selected="" {/if}>Tidak Mampu</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL1 eq '1'} selected="" {/if}>Butuh bantuan</option>
                        <option value="2" {if $fungsi.FS_FUNGSIONAL1 eq '2'} selected="" {/if}>Mandiri</option>
                    </select>
                     <span id="sc1"></span>
        </td>
         <td width='20%'>Kesimpulan</td>
        <td width='30%'>
            <b><span id="rjtkesimpulan"></span></b>
        </td>
    </tr>
    <tr>
                <td>Mandi</td>
                <td>
                    <select name="FS_FUNGSIONAL2" id="op2" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL2 eq '0'} selected="" {/if}>Tergantung orang lain</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL2 eq '1'} selected="" {/if}>Mandiri</option>
                    </select>
                    <span id="sc2"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Perawatan diri</td>
                <td>
                    <select name="FS_FUNGSIONAL3" id="op3" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL3 eq '0'} selected="" {/if}>Membutuhkan bantuan orang lain</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL3 eq '1'} selected="" {/if}>Mandiri</option>
                    </select>
                    <span id="sc3"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Berpakaian</td>
                <td>
                    <select name="FS_FUNGSIONAL4" id="op4" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL4 eq '0'} selected="" {/if}>Tergantung orang lain</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL4 eq '1'} selected="" {/if}>Sebagian dibantu</option>
                        <option value="2" {if $fungsi.FS_FUNGSIONAL4 eq '2'} selected="" {/if}>Mandiri</option>
                    </select>
                    <span id="sc4"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Buang air kecil</td>
                <td>
                    <select name="FS_FUNGSIONAL5" id="op5" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL5 eq '0'} selected="" {/if}>Tidak terkontrol atau pakai kateter</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL5 eq '1'} selected="" {/if}>Kadang inkontensia</option>
                        <option value="2" {if $fungsi.FS_FUNGSIONAL5 eq '2'} selected="" {/if}>Kontensia / teratur (lebih dari 7 hari)</option>
                    </select>
                    <span id="sc5"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Buang air besar</td>
                <td>
                    <select name="FS_FUNGSIONAL6" id="op6" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL6 eq '0'} selected="" {/if}>Inkontensia (Tidak teratur atau perlu)</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL6 eq '1'} selected="" {/if}>Kadang inkontensia (sekali seminggu)</option>
                        <option value="2" {if $fungsi.FS_FUNGSIONAL6 eq '2'} selected="" {/if}>Kontensia (teratur)</option>
                    </select>
                    <span id="sc6"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Penggunaan toilet</td>
                <td>
                    <select name="FS_FUNGSIONAL7" id="op7" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL7 eq '0'} selected="" {/if}>Tergantung</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL7 eq '1'} selected="" {/if}>Membutuhkan bantuan, tapi dapat melakukan beberapa hal sendiri</option>
                        <option value="2" {if $fungsi.FS_FUNGSIONAL7 eq '2'} selected="" {/if}>Mandiri</option>
                    </select>
                    <span id="sc7"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Transfer</td>
                <td>
                    <select name="FS_FUNGSIONAL8" id="op8" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL8 eq '0'} selected="" {/if}>Tidak mampu</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL8 eq '1'} selected="" {/if}>Butuh bantuan untuk bisa duduk (2 Orang)</option>
                        <option value="2" {if $fungsi.FS_FUNGSIONAL8 eq '2'} selected="" {/if}>Bantuan kecil (1 orang)</option>
                        <option value="3" {if $fungsi.FS_FUNGSIONAL8 eq '3'} selected="" {/if}>Mandiri</option>
                    </select>
                    <span id="sc8"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Mobilitas</td>
                <td>
                    <select name="FS_FUNGSIONAL9" id="op9" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL9 eq '0'} selected="" {/if}>Immobile (tidak mampu)</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL9 eq '1'} selected="" {/if}>Menggunakan kursi roda</option>
                        <option value="2" {if $fungsi.FS_FUNGSIONAL9 eq '2'} selected="" {/if}>Berjalan dengan bantuan satu orang</option>
                        <option value="3" {if $fungsi.FS_FUNGSIONAL9 eq '3'} selected="" {/if}>Mandiri (meskipun menggunakan alat bantu seperti tongkat)</option>
                    </select>
                    <span id="sc9"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Naik turun tangga</td>
                <td>
                    <select name="FS_FUNGSIONAL10" id="op10" class="select2" style="width: 190px;">
                        <option value="">--Pilih Data--</option>
                        <option value="0" {if $fungsi.FS_FUNGSIONAL10 eq '0'} selected="" {/if}>Tidak mampu</option>
                        <option value="1" {if $fungsi.FS_FUNGSIONAL10 eq '1'} selected="" {/if}>Membutuhkan bantuan (alat bantu)</option>
                        <option value="2" {if $fungsi.FS_FUNGSIONAL10 eq '2'} selected="" {/if}>Mandiri</option>
                    </select>
                    <span id="sc10"></span>
                </td>
                <td></td>
                <td></td>
            </tr>
</table>

<table>
    <table class="table-input" width="100%">
<tr class="headrow">
    <th colspan="4">Risiko Jatuh</th>
</tr>
{if $rs_pasien.fn_umur < '15'}
<tr>
    <td width='20%'>Humty Dumpty Scale</td>
    <td width='30%'>
        <select name="FS_SCORE" id="surat_dari" class="select2" style="width: 190px;">
            <option value="0" {if $jatuh.FS_SCORE eq '0'} selected="" {/if}>-Pilih Data-</option>
            <option value="1" {if $jatuh.FS_SCORE eq '1'} selected="" {/if}>7-11 (Risiko Rendah)</option>
            <option value="2" {if $jatuh.FS_SCORE eq '2'} selected="" {/if}> >12 (Risiko Tinggi)</option>

        </select>
    </td>
    <td width='20%'></td>
    <td width='30%'></td>
</tr>
{elseif $rs_pasien.fn_umur >= '15' && $rs_pasien.fn_umur <= '60'}
<tr>
    <td width='20%'>Morse Fall Scale</td>
    <td width='30%'>
        <select name="FS_SCORE" id="surat_dari" class="select2" style="width: 190px;">
            <option value="0" {if $jatuh.FS_SCORE eq '0'} selected="" {/if}>-Pilih Data-</option>
            <option value="3" {if $jatuh.FS_SCORE eq '3'} selected="" {/if}>0-24  (Risiko Rendah)</option>
            <option value="4" {if $jatuh.FS_SCORE eq '4'} selected="" {/if}>25-45 (Risiko Sedang)</option>
            <option value="5" {if $jatuh.FS_SCORE eq '5'} selected="" {/if}>>45   (Risiko Tinggi)</option>

        </select>
    </td>
    <td width='20%'></td>
    <td width='30%'></td>
</tr>
{elseif $rs_pasien.fn_umur > '60'}
<tr>
    <td width='20%'>Ontario modified Stratify - Sydney Scoring</td>
    <td width='30%'>
        <select name="FS_SCORE" id="surat_dari" class="select2" style="width: 190px;">
            <option value="0" {if $jatuh.FS_SCORE eq '0'} selected="" {/if}>-Pilih Data-</option>
            <option value="6" {if $jatuh.FS_SCORE eq '6'} selected="" {/if}>0-5  (Risiko Rendah)</option>
            <option value="7" {if $jatuh.FS_SCORE eq '7'} selected="" {/if}>6-16 (Risiko Sedang)</option>
            <option value="8" {if $jatuh.FS_SCORE eq '8'} selected="" {/if}>17-30   (Risiko Tinggi)</option>

        </select>
    </td>
    <td width='20%'></td>
    <td width='30%'></td>
</tr>
{/if}
</table>

    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Asesmen Nyeri</th>
        </tr>
        <tr>
            <td width='20%'>Ada Nyeri ?</td>
            <td width='30%'>
                <select name="FS_NYERI" id="surat_dari" class="select2" style="width: 170px;">
                    <option value="0" {if $nyeri.FS_NYERI eq '0'} selected="" {/if}>Tidak</option>
                    <option value="1" {if $nyeri.FS_NYERI eq '1'} selected="" {/if}>Ya</option>
                </select>
            </td>
            <td width='20%'></td>
            <td width='30%'></td>
        </tr>
        <tr>
            <td>Provokatif</td>
            <td>
                <select name="FS_NYERIP" id="surat_dari" class="select2" style="width: 150px;">
                    <option value="0" {if $nyeri.FS_NYERIP eq '0'} selected="" {/if}>Tidak Ada Nyeri</option>
                    <option value="1" {if $nyeri.FS_NYERIP eq '1'} selected="" {/if}>Biologik</option>
                    <option value="2" {if $nyeri.FS_NYERIP eq '2'} selected="" {/if}>Kimiawi</option>
                    <option value="3" {if $nyeri.FS_NYERIP eq '3'} selected="" {/if}>Mekanik / Rudapaksa</option>
                </select>
            </td>
            <td>Quality</td>
            <td>
                <select name="FS_NYERIQ" id="surat_dari" class="select2" style="width: 170px;">
                    <option value="0" {if $nyeri.FS_NYERIQ eq '0'} selected="" {/if}>Tidak Ada</option>
                    <option value="1" {if $nyeri.FS_NYERIQ eq '1'} selected="" {/if}>Seperti Di Tusuk-Tusuk</option>
                    <option value="2" {if $nyeri.FS_NYERIQ eq '2'} selected="" {/if}>Seperti Terbakar</option>
                    <option value="3" {if $nyeri.FS_NYERIQ eq '3'} selected="" {/if}>Seperti Tertimpa Beb</option>
                    <option value="4" {if $nyeri.FS_NYERIQ eq '4'} selected="" {/if}>Ngilu</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Regio</td>
            <td>
                <input type="text" name="FS_NYERIR" size="30" value="{$nyeri.FS_NYERIR}"/>
            </td>
            <td>Severity</td>
            <td>
                <select name="FS_NYERIS" id="surat_dari" class="select2" style="width: 170px;">
                    <option value="0" {if $nyeri.FS_NYERIS eq '0'} selected="" {/if}>0</option>
                    <option value="1" {if $nyeri.FS_NYERIS eq '1'} selected="" {/if}>1</option>
                    <option value="2" {if $nyeri.FS_NYERIS eq '2'} selected="" {/if}>2</option>
                    <option value="3" {if $nyeri.FS_NYERIS eq '3'} selected="" {/if}>3</option>
                    <option value="4" {if $nyeri.FS_NYERIS eq '4'} selected="" {/if}>4</option>
                    <option value="5" {if $nyeri.FS_NYERIS eq '5'} selected="" {/if}>5</option>
                    <option value="6" {if $nyeri.FS_NYERIS eq '6'} selected="" {/if}>6</option>
                    <option value="7" {if $nyeri.FS_NYERIS eq '7'} selected="" {/if}>7</option>
                    <option value="8" {if $nyeri.FS_NYERIS eq '8'} selected="" {/if}>8</option>
                    <option value="9" {if $nyeri.FS_NYERIS eq '9'} selected="" {/if}>9</option>
                    <option value="10"{if $nyeri.FS_NYERIS eq '10'} selected="" {/if}>10</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Time</td>
            <td>
                <select name="FS_NYERIT" id="surat_dari" class="select2" style="width: 170px;">
                        <option value="0" {if $nyeri.FS_NYERIT eq '0'} selected="" {/if}>Tidak Ada</option>
                        <option value="1" {if $nyeri.FS_NYERIT eq '1'} selected="" {/if}>Kadang-kadang</option>
                        <option value="2" {if $nyeri.FS_NYERIT eq '2'} selected="" {/if}>Sering</option>
                        <option value="3" {if $nyeri.FS_NYERIT eq '3'} selected="" {/if}>Menetap</option>
                    </select>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
 
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Skrining Nutrisi</th>
        </tr>
        <tr>
            <td width='20%'>Penurunan berat badan yang tidak diinginkan selama 6 bulan terakhir</td>
            <td width='30%'>
                <select name="FS_NUTRISI1" class="select2" style="width: 190px;" id="sn1">
                    <option value="">--Pilih Data--</option>
                    <option value="0" {if $nutrisi.FS_NUTRISI1 eq '0'}selected=""{/if}>Tidak</option>
                    <option value="2" {if $nutrisi.FS_NUTRISI1 eq '2'}selected=""{/if}>Tidak Yakin</option>
                    <option value="1" {if $nutrisi.FS_NUTRISI1 eq '1'}selected=""{/if}>Ya (1-5 Kg)</option>
                    <option value="3" {if $nutrisi.FS_NUTRISI1 eq '3'}selected=""{/if}>Ya (6-10 Kg)</option>
                    <option value="4" {if $nutrisi.FS_NUTRISI1 eq '4'}selected=""{/if}>Ya (11-15 Kg)</option>
                    <option value="5" {if $nutrisi.FS_NUTRISI1 eq '5'}selected=""{/if}>Ya (>15 Kg)</option>

                </select>
                <span id="snh1"></span>
            </td>
            <td width='20%'>Kesimpulan</td>
            <td width='30%'><b><span id="kesimpulannutrisi"></span></b></td>
        </tr>
        <tr>
            <td>Asupan makanan menurun dikarenakan adanya penurunan nafsu makan</td>
            <td>
                <select name="FS_NUTRISI2" class="select2" style="width: 190px;" id="sn2">
                    <option value="">--Pilih Data--</option>
                    <option value="0" {if $nutrisi.FS_NUTRISI2 eq '0'}selected=""{/if}>Tidak</option>
                    <option value="1" {if $nutrisi.FS_NUTRISI2 eq '1'}selected=""{/if}>Ya</option>
                </select>
                <span id="snh2"></span>
            </td>
            <td></td>
            <td>
            </td>
        </tr>
    </table>
     
   
    
  
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Spiritual dan Kultural pasien</th>
        </tr>
        <tr>
            <td width='20%'>Agama</td>
            <td width='30%'>
                <select name="FS_AGAMA" id="surat_dari" class="select2" style="width: 170px;">
                    <option value="" {if $ases2.FS_AGAMA eq ''} selected="" {/if}>--Pilih Data--</option>
                    <option value="1" {if $ases2.FS_AGAMA eq '1'} selected="" {/if}>Islam</option>
                    <option value="2" {if $ases2.FS_AGAMA eq '2'} selected="" {/if}>Kristen</option>
                    <option value="3" {if $ases2.FS_AGAMA eq '3'} selected="" {/if}>Katholik</option>
                    <option value="4" {if $ases2.FS_AGAMA eq '4'} selected="" {/if}>Hindu</option>
                    <option value="5" {if $ases2.FS_AGAMA eq '5'} selected="" {/if}>Buda</option>
                    <option value="6" {if $ases2.FS_AGAMA eq '6'} selected="" {/if}>Konghucu</option>
                </select>
            </td>
            <td width='20%'>Nilai/Kepercayaan khusus</td>
            <td width='30%'>
                 <select name="FS_NILAI_KHUSUS">
                     <option value="" {if $ases2.FS_NILAI_KHUSUS eq ''} selected="" {/if} onclick='document.getElementById("civstaton4").disabled = true'>--Pilih Data--</option>
                    <option value="1" {if $ases2.FS_NILAI_KHUSUS eq '1'} selected="" {/if} onclick='document.getElementById("civstaton4").disabled = true'>Tidak Ada</option>
                    <option value="2" {if $ases2.FS_NILAI_KHUSUS neq '' && $ases2.FS_NILAI_KHUSUS neq '1'}selected="" {/if}onclick='document.getElementById("civstaton4").disabled = false'>Ada</option>
                </select>
                <br><br>
                        <input type="hidden" name="FS_NILAI_KHUSUS2" id="civstaton4"  size="32">

                <input type="text" name="FS_NILAI_KHUSUS2" id="civstaton4" {if $ases2.FS_NILAI_KHUSUS2 eq '0'}disabled=""{/if} size="27" value="{$ases2.FS_NILAI_KHUSUS2}">
            </td>
        </tr>
             <tr>
            <td>Bantuan Pemenuhan Kebutuhan Spiritual</td>
            <td>
                <select name="keb_spirit[]" multiple id="spiritual" style="width:250px">
                    <option></option>
                </select>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
     <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Kebutuhan Edukasi</th>
        </tr>
        <tr>
            <td width='20%'>Edukasi</td>
            <td width='30%'>
                <select name="edukasi[]" multiple id="edukasi" style="width:250px">
                    <option></option>
                </select>
            </td>
            <td width='20%'></td>
            <td width='30%'></td>
        </tr>
         </table>
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Scrinning Discharge Planning</th>
        </tr>
        <tr>
            <td width='20%'>Discharge Planning</td>
            <td width='30%'>
                <select name="planning[]" multiple id="planning" style="width:250px">
                    <option></option>
                </select>
            </td>
            <td width='20%'></td>
            <td width='30%'></td>
        </tr>
         </table>
         <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">ANALISIS</th>
            </tr>
            <tr>
                <td width='20%'>Masalah Kebidanan</td>
                <td width='30%'>
                    <input type="text" name="MASALAH_KEBIDANAN" value="{$ases2.MASALAH_KEBIDANAN}">

                </td>
                <td width='20%'></td>
                <td width='30%'></td>
            </tr>
            <tr>
                <td width='20%'>Diagnosa Kebidanan</td>
                <td width='30%'>
                   <input type="text" name="DIAGNOSA" value="{$ases2.DIAGNOSA}">
                </td>
                <td width='20%'></td>
                <td width='30%'></td>
            </tr>
            <tr class="submit-box">
                <td colspan="4">
                    <div style="font-weight: bold;">
                        *Bismillahirohmanirrohim, saya dengan sadar dan penuh tanggung jawab mengisikan formulir ini dengan data yang benar
                    </div>
                    <br>
                    <input type="submit" name="save" value="Simpan" class="edit-button"/>
                </td>
            </tr>
        </table>
</form>