<!-- include javascript -->
{include file="inap/resume/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Data Arsip</a><span></span>
        <a href="{$config->site_url('inap/resume/cari')}">Resume Pasien Pulang</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="#">Data Resume</a></li>
            <li><a href="#">Data Diagnosis</a></li>
            <li><a href="#">Data Terapi Pasien</a></li>
            <li><a href="#" class="active">Keterangan Meninggal</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('inap/resume/add_ket_kematian_process')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.NO_REG}" />
        <input name="FS_MR" type="hidden" value="{$rs_pasien.FS_MR}" />

        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Resume Pasien Pulang</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.NAMA_PASIEN}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.NO_MR}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$rs_pasien.ALAMAT}</td>
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr>
                <th colspan="2">Data Kematian</th>
            </tr>
            <tr>
                <td>Sebab Kematian</td>
                <td>
                    <textarea name="FS_SEBAB_KEMATIAN" rows="3" cols="100"></textarea>
                    <br>
                    <em style="font-weight: bold;color: red;">*Wajib diisi, Harap konfirmasi ke dpjp terkait sebab kematian</em>
                </td>
            <tr class="submit-box">
                <td colspan="2">
                    <input type="submit" name="save" value="Lanjutkan & Simpan" class="edit-button" style="float:right;"/>
                </td>
            </tr>
        </table>
    </form>
</div>