{include file="mutu/kelengkapan_mr/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Mutu</a><span></span>
        <small>Kelengkapan RM</small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('mutu/kelengkapan_mr')}" class="active">Laporan Rekap</a></li>
            <li><a href="{$config->site_url('mutu/kelengkapan_mr/index_2')}">Laporan Rekap</a></li>
            <li><a href="{$config->site_url('mutu/kelengkapan_mr/index_3')}">Laporan Dokter</a></li>
            <li><a href="{$config->site_url('mutu/kelengkapan_mr/index_4')}">Laporan Detail</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('mutu/kelengkapan_mr/proses_cari')}" method="post">
        <table class="table-search" width="100%" >
            <tr>
                <td>
                    Periode
                    <input name="tanggal" type="text" size="10" maxlength="10" value="{$search.tanggal|default:''}" class="tanggal" readonly="readonly" style="text-align: center;" />
                    s/d
                    <input name="tanggal2" type="text" size="10" maxlength="10" value="{$search.tanggal2|default:''}" class="tanggal" readonly="readonly" style="text-align: center;" />
                    
                </td>
                <td>
                    <input class="button" type="submit" value="SEARCH" name="save" />
                    <input class="button" type="submit" value="RESET" name="save" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="content-entry">
    <div class="clear"></div>
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <div class="content-inner">
        <div class="row">
            <div class="report-map">
                <div class="report-tabless">
                    <h4 style='font-size: 16px !important;'>            
                        Daftar Laporan Ketidak Lengkapan Berkas RM
                        {foreach from=$rs_bulan key=i item=bulan}
                        {if $search2.bulan|default:'' eq $i}
                        Bulan {$bulan}
                        {/if}
                        {/foreach}
                        {$search2.tahun}
                        s/d
                        {foreach from=$rs_bulan2 key=i item=bulan2}
                        {if $search22.bulan2|default:'' eq $i}
                        Bulan {$bulan2}
                        {/if}
                        {/foreach}
                        {$search22.tahun2}
                    </h4>
                    <div style="height: available;" class="report-tabless-content">
                        <table width="100%" class="table-info" style='font-size: 12px !important;'>
                            <tbody>
                                <tr>
                                    <th width="10%">LAYANAN</th>
                                    <th>LEMBAR IGD</th>
                                    <th>ASESMEN AWAL RAWAT INAP</th>
                                    <th>CPPT</th>
                                    <th>LEMBAR EDUKASI</th>
                                    <th>DISCHARGE PLANNING</th>
                                    <th>ASESMEN AWAL KEPERAWATAN</th>
                                    <th>LEMBAR ORIENTASI</th>
                                    <th>CATATAN OPERASI</th>
                                    <th>CATATAN ANESTESI</th>
                                    <th>RESUME MEDIS</th>
                                    <th>PERSETUJUAN UMUM</th>
                                    <th>INFORMED CONCENT TINDAKAN MEDIS</th>
                                    <th>INFORMED CONCERN PEMBIUSAN</th>
                                    <th>HHC</th>
                                    <th>TOTAL</th>
                                </tr>
                                {foreach from=$rs_id item=result}
                                {assign var=rs_1 value=$m_kelengkapan_mr->get_total_kelengkapanmr1(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_2 value=$m_kelengkapan_mr->get_total_kelengkapanmr2(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_3 value=$m_kelengkapan_mr->get_total_kelengkapanmr3(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_4 value=$m_kelengkapan_mr->get_total_kelengkapanmr4(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_5 value=$m_kelengkapan_mr->get_total_kelengkapanmr5(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_6 value=$m_kelengkapan_mr->get_total_kelengkapanmr6(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_7 value=$m_kelengkapan_mr->get_total_kelengkapanmr7(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_8 value=$m_kelengkapan_mr->get_total_kelengkapanmr8(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_9 value=$m_kelengkapan_mr->get_total_kelengkapanmr9(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_10 value=$m_kelengkapan_mr->get_total_kelengkapanmr10(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_11 value=$m_kelengkapan_mr->get_total_kelengkapanmr11(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_12 value=$m_kelengkapan_mr->get_total_kelengkapanmr12(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_13 value=$m_kelengkapan_mr->get_total_kelengkapanmr13(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_14 value=$m_kelengkapan_mr->get_total_kelengkapanmr14(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                {assign var=rs_15 value=$m_kelengkapan_mr->get_total_kelengkapanmr15(array($result.FS_KD_LAYANAN,$search.tanggal,$search.tanggal2))}
                                <tr>

                                    <td>{$result.FS_NM_LAYANAN}</td>
                                    <td align="center">{$rs_1.total|default:0}</td>
                                    <td align="center">{$rs_2.total|default:0}</td>                                  
                                    <td align="center">{$rs_3.total|default:0}</td>                                  
                                    <td align="center">{$rs_4.total|default:0}</td>                                  
                                    <td align="center">{$rs_5.total|default:0}</td>                                  
                                    <td align="center">{$rs_13.total|default:0}</td>                                  
                                    <td align="center">{$rs_6.total|default:0}</td>                                
                                    <td align="center">{$rs_14.total|default:0}</td>                                
                                    <td align="center">{$rs_7.total|default:0}</td>                                
                                    <td align="center">{$rs_8.total|default:0}</td>                                
                                    <td align="center">{$rs_9.total|default:0}</td>                                
                                    <td align="center">{$rs_10.total|default:0}</td>                                
                                    <td align="center">{$rs_11.total|default:0}</td>                                
                                    <td align="center">{$rs_12.total|default:0}</td>                                
                                    <td align="center"><b>{$rs_15.total|default:0}</b></td>                                
                                </tr>
                                {/foreach}
                                <tr>
                                    <th><b>TOTAL</b></th>
                                    <th><b>{$rs_total1}</b></th>
                                    <th><b>{$rs_total2}</b></th>
                                    <th><b>{$rs_total3}</b></th>
                                    <th><b>{$rs_total4}</b></th>
                                    <th><b>{$rs_total5}</b></th>
                                    <th><b>{$rs_total13}</b></th>
                                    <th><b>{$rs_total6}</b></th>
                                    <th><b>{$rs_total14}</b></th>
                                    <th><b>{$rs_total7}</b></th>
                                    <th><b>{$rs_total8}</b></th>
                                    <th><b>{$rs_total9}</b></th>
                                    <th><b>{$rs_total10}</b></th>
                                    <th><b>{$rs_total11}</b></th>
                                    <th><b>{$rs_total12}</b></th>
                                </tr>
                            </tbody>
                        </table> 
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>