{include file="mutu/kelengkapan_mr/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Medical Record</a><span></span>
        <small>Kelengkapan RM</small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('mutu/kelengkapan_mr')}" >Laporan Rekap</a></li>
            <li><a href="{$config->site_url('mutu/kelengkapan_mr/index_2')}">Laporan Rekap</a></li>
            <li><a href="{$config->site_url('mutu/kelengkapan_mr/index_3')}">Laporan Dokter</a></li>
            <li><a href="{$config->site_url('mutu/kelengkapan_mr/index_4')}" class="active">Laporan Detail</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('mutu/kelengkapan_mr/proses_cari4')}" method="post">
        <table class="table-search" width="100%" >
            <tr>
                <td>Jenis Berkas</td>
                <td>
                    <select name="FS_KD_PARAMETER_MR">
                        <option value="">Jenis Berkas</option>
                        {foreach from=$rs_param_mr item=data}
                        <option value="{$data.FS_KD_PARAMETER_MR}" {if $search.FS_KD_PARAMETER_MR|default:'' eq $data.FS_KD_PARAMETER_MR}selected="selected"{/if}>{$data.FS_NM_PARAMETER_MR}</option>
                        {/foreach}
                    </select>
                </td>
                <td>Dokter</td>
                <td>
                    <select name="FS_KD_PEG">
                        <option value="">-SEMUA DOKTER-</option>
                        {foreach from=$rs_medis item=data}
                        <option value="{$data.FS_KD_PEG}" {if $search.FS_KD_PEG|default:'' eq $data.FS_KD_PEG}selected="selected"{/if}>{$data.FS_NM_PEG}</option>
                        {/foreach}
                    </select>
                </td>
                <td>Periode</td>
                <td>
                <input name="tanggal" type="text" size="10" maxlength="10" value="{$search.tanggal|default:''}" class="tanggal" readonly="readonly" style="text-align: center;" />
                    s/d
                    <input name="tanggal2" type="text" size="10" maxlength="10" value="{$search.tanggal2|default:''}" class="tanggal" readonly="readonly" style="text-align: center;" />
                </td> 
                <td>
                    <input class="button" type="submit" value="SEARCH" name="save" />
                    <input class="button" type="submit" value="RESET" name="save" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="content-entry">
    <div class="clear"></div>
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <table class="table-info" width="100%" style='font-size: 9px !important;'>
        <tr>
            <th>No</th>
            <th>No RM</th>
            <th>No Reg</th>
            <th>Nama Pasien</th>
            <th>Layanan</th>
            <th>Tanggal Pulang</th>
            <th>DPJP</th>
        </tr>
        {foreach from=$rs_id item=result}
        <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
            <td align="center">{$no++}.</td>
            <td>{$result.FS_MR}</td>
            <td>{$result.FS_KD_REG}</td>
            <td>{$result.FS_NM_PASIEN}</td>
            <td>{$result.FS_NM_LAYANAN}</td>
            <td align="center">{$result.FD_TGL_KELUAR|date_format:"%d %b %Y"}</td>
            <td>{$result.FS_NM_PEG}</td>
        </tr>
        {foreachelse}
        <tr>
            <td colspan="5">Data not found!</td>
        </tr>
        {/foreach}
    </table>
    <div class="clear"></div>
</div>