<!--{include file="nurse/rawat_jalan/add_script_js.html"}-->
<script>
    tinymce.init({
        selector: "textarea",
        theme: "modern",
        plugins: [
            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "save table contextmenu directionality emoticons template paste textcolor importcss colorpicker textpattern"
        ],
        external_plugins: {
//"moxiemanager": "/moxiemanager-php/plugin.js"
        },
        content_css: "css/development.css",
        add_unload_trigger: false,
        toolbar: "bold italic | alignleft aligncenter alignright alignjustify",
        image_advtab: true,
        setup: function (ed) {
            /*ed.on(
             'Init PreInit PostRender PreProcess PostProcess BeforeExecCommand ExecCommand Activate Deactivate ' +
             'NodeChange SetAttrib Load Save BeforeSetContent SetContent BeforeGetContent GetContent Remove Show Hide' +
             'Change Undo Redo AddUndo BeforeAddUndo', function(e) {
             console.log(e.type, e);
             });*/
        },
        spellchecker_callback: function (method, data, success) {
            if (method == "spellcheck") {
                var words = data.match(this.getWordCharPattern());
                var suggestions = {};

                for (var i = 0; i < words.length; i++) {
                    suggestions[words[i]] = ["First", "second"];
                }

                success();
            }

            if (method == "addToDictionary") {
                success();
            }
        }
    });
</script>
<div class="breadcrum">
    <p>
        <a href="#">Pemeriksaan Dokter</a><span></span>
        <a href="{$config->site_url('medis/hd/')}">Rawat Jalan</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('medis/hd/history/'|cat:$result.FS_MR)}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('medis/hd/edit_process')}" method="post">
    <input type="hidden" name="FS_KD_KP" value="{$medis.FS_KD_KP}" />
    <input type="hidden" name="FS_KD_LAYANAN" value="{$result.FS_KD_LAYANAN}" />
    <input type="hidden" name="FS_KD_PETUGAS_MEDIS" value="{$result.FS_KD_MEDIS}" />
    <input type="hidden" name="FS_KD_REG" value="{$result.FS_KD_REG}" />
    <input type="hidden" name="FS_KD_TRS" value="{$medis.FS_KD_TRS}" />
    <table class="table-info" width="100%">
        <tr class="headrow">
            <th colspan="4">Data Pasien</th>
        </tr>
        <tr>
            <td width='15%'>Kode Reg</td>
            <td width='35%'>{$result.FS_KD_REG}</td>
            <td width='15%'>No RM</td>
            <td width='35%'>{$result.FS_MR}</td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>{$result.FS_NM_PASIEN|default:''}</td>
            <td>Alamat</td>
            <td>{$result.FS_ALM_PASIEN|default:''}</td>
        </tr>
        <tr>
            <td>Umur</td>
            <td>{$result.fn_umur|default:''} Tahun</td>
            <td>Jenis Kelamin</td>
            <td>
                {if $result.FS_JNS_KELAMIN eq '1'}
                Perempuan
                {else}
                Laki-Laki
                {/if}
            </td>
        </tr>
        <tr>
            <td>Jaminan</td>
            <td>{$result.FS_NM_JAMINAN|default:''}</td>
            <td>Dokter</td>
            <td>1. {$result.FS_NM_PEG|default:''}<br> 2. {$result.DOK2}</td>
        </tr>
    </table>
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Pemeriksaan Dokter</th>
        </tr>
        <tr>
            <td width='15%'>Anamnesa (S)</td>
            <td width='35%'>
                <textarea rows="3" cols="50" name="FS_ANAMNESA">{$medis.FS_ANAMNESA}</textarea>
            </td>
            <td width='15%'>Daftar Masalah</td>
            <td width='35%'>
                <textarea rows="3" cols="50" name="FS_DAFTAR_MASALAH">
                    {$medis.FS_DAFTAR_MASALAH}
                </textarea>
            </td>
        </tr>
        <tr>
            <td>Pemeriksaan Fisik (O)</td>
            <td>
                <textarea rows="3" cols="50" name='FS_CATATAN_FISIK'>{$medis.FS_CATATAN_FISIK}</textarea>
            </td>
            <td>Tindakan (P)</td>
            <td>
                <textarea rows="3" cols="50" name="FS_TINDAKAN">{$medis.FS_TINDAKAN}</textarea>
            </td>
        </tr>
        <tr>
            <td>Diagnosa (A)</td>
            <td>
                <textarea rows="3" cols="50" name="FS_DIAGNOSA">{$medis.FS_DIAGNOSA}</textarea>
            </td>
            <td>
                Terapi
            </td>
            <td>
                <textarea rows="5" cols="60" name="FS_TERAPI">{$medis.FS_TERAPI}</textarea>
            </td>
        </tr>
        <tr>
            <td> Kondisi Pulang</td>
            <td>
                <select name="FS_CARA_PULANG">
                    <option value="" {if $medis.FS_CARA_PULANG eq ''}selected=""{/if}>--Pilih Cara Pulang--</option>
                    <option value="1" {if $medis.FS_CARA_PULANG eq '1'}selected=""{/if}>Rujuk Balik</option>
                    <option value="2" {if $medis.FS_CARA_PULANG eq '2'}selected=""{/if}>Kontrol</option>
                     <option value="3" {if $medis.FS_CARA_PULANG eq '3'}selected=""{/if}>Rawat Inap</option>
                    <option value="4" {if $medis.FS_CARA_PULANG eq '4'}selected=""{/if}>Rujuk Luar RS</option>
                </select>
                <br>
                <em><b>*Wajib Diisi Untuk Pembuatan SKDP Elektronik</b></em>
            </td>
            <td>
                Planning
            </td>
            <td>
                <input type="text" name="FS_PLANNING" size="55" value="{$medis.FS_PLANNING}"/>
            </td>
        </tr>
         <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">INSTRUKSI MEDIC</th>
            </tr>

            <tr>
                <td>Resep HD</td>
                <td>
                    <input name="instruksi_resepHD" type="radio" value="1" {if $medis.instruksi_resepHD eq '1'}checked=""{/if}/> Inisiasi &nbsp;
                           <input name="instruksi_resepHD" type="radio" value="2" {if $medis.instruksi_resepHD eq '2'}checked=""{/if}/> Akut &nbsp;
                           <input name="instruksi_resepHD" type="radio" value="3" {if $medis.instruksi_resepHD eq '3'}checked=""{/if}/> Rutin &nbsp;
                           <input name="instruksi_resepHD" type="radio" value="4" {if $medis.instruksi_resepHD eq '4'}checked=""{/if}/> SLED
                </td>
                <td>UF Goal</td>
                <td><input type="text" name="instruksi_resepHD_UFgoal" size="6" value="{$medis.instruksi_resepHD_UFgoal}"> ml</td>
            </tr>
            <tr> 
                <td>TD</td>
                <td><input type="text" name="instruksi_resepHD_TD" size="6"  value="{$medis.instruksi_resepHD_TD}"> Jam</td>
                <td>Conductivity</td>
                <td><input type="text" name="instruksi_dialisat_conductivity_text" value="{$medis.instruksi_dialisat_conductivity_text}">
                </td>
            </tr>
            <tr>
                <td>QB</td>
                <td><input type="text" name="instruksi_resepHD_QB" size="6"  value="{$medis.instruksi_resepHD_QB}"> ml/mnt</td>
                <td>Temperatur</td>
                <td><input type="text" name="instruksi_dialisat_temperatur_text" value="{$medis.instruksi_dialisat_temperatur_text}"></td>
            </tr>
            <tr>
                <td>QD</td>
                <td><input type="text" name="instruksi_resepHD_QD" size="6" value="{$medis.instruksi_resepHD_QD}"> ml/mnt</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dialisat </td>
                <td>
                    <input name="instruksi_dialisat_asetat" type="checkbox" {if $medis.instruksi_dialisat_asetat eq '1'}checked=""{/if} value="1" /> Asetat &nbsp;
                           <input name="instruksi_dialisat_bicarbonat" type="checkbox" {if $medis.instruksi_dialisat_bicarbonat eq '1'}checked=""{/if} value="1"/> Bicarbonat <br>

                </td>
                <td></td>
                <td>
                </td>
            </tr>

            <tr class="headrow">
                <th colspan="4">Heparinisasi</th>
            </tr>
            <tr>
                <td>Dosis Awal </td>
                <td><input type="text" name="instruksi_dosis_awal_text" size="6" value="{$medis.instruksi_dosis_awal_text}"> iu</td>
                <td>Dosis sirkulasi</td>
                <td>
                    <input type="text" name="instruksi_dosis_sirkulasi_text" size="6" value="{$medis.instruksi_dosis_sirkulasi_text}"> iu
                </td>
            </tr>
            <tr>
                <td>LMWH</td>
                <td><input type="text" name="instruksi_LMWH_text"  size="6" value="{$medis.instruksi_LMWH_text}">
                </td>
                <td>Dosis Maintenance</td>
                <td>
                    Continue &nbsp;
                    <input type="text" name="instruksi_dosis_main_continue_text"  size="6" value="{$medis.instruksi_dosis_main_continue_text}">ui/jam <br><br>
                    Intermitten &nbsp;
                    <input type="text" name="instruksi_dosis_main_intermitten_text" size="6" value="{$medis.instruksi_dosis_main_intermitten_text}"> ui/jam
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Tanpa Heparin, Penyebab</td>
                <td><input type="text" name="instruksi_tanpa_heparin_text" value="{$medis.instruksi_tanpa_heparin_text}"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td colspan="2"><input name="instruksi_program_bilas" type="checkbox" {if $medis.instruksi_program_bilas eq '1'}checked=""{/if} value="1" /> Program bilas NaCl  0,9 % 100 cc/jam/ ½ jam</td>
            </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="edit-button" /> 
            </td>
        </tr>
    </table>
</form>