<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>File Configuration</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Cari Data</a></h3>
    <form action="{$config->site_url('pengaturan/format_file/proses_cari')}" method="post">
        <table class="table-search" width="100%">
            <tr>
                <th width="10%">Jenis Format</th>
                <td width="20%">
                    <input name="jenis" type="text" value="{$search.jenis|default:''}" size="35" maxlength="255" />
                </td>
                <th width="10%">Lokasi Folder</th>
                <td width="60%">
                    <input name="dir_location" type="text" value="{$search.dir_location|default:''}" size="35" maxlength="255" />
                    <input class="blue" name="save" type="submit" value="Cari" />
                    <input class="orange" name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"><strong>{$pagination.total|default:0}</strong> Record&nbsp;</li>{$pagination.data|default:''}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="4%">No</th>
        <th width="10%">Jenis Format</th>
        <th width="23%">Lokasi Folder</th>
        <th width="30%">Judul</th>
        <th width="8%">Header Row Index</th>
        <th width="8%">Header Col Index</th>
        <th width="5%">First Content</th>
        <th width="5%">Selisih Footer</th>
        <th width="7%"></th>
    </tr>
    {foreach from=$rs_formatfile item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>          
        <td align="center">{$result.jenis|default:''}</td>
        <td>{$result.dir_location|default:''}</td>
        <td>{$result.header|default:''}</td>
        <td align="center">{$result.header_row_index|default:''}</td>
        <td align="center">{$result.header_column_index|default:''}</td>
        <td align="center">{$result.first_content_row|default:''}</td>
        <td align="center">{$result.selisih_count_footer|default:''}</td>
        <td align="center">
            <a href="{$config->site_url('pengaturan/format_file/edit/'|cat:$result.id|default:'')}" class="button-edit">Edit</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="9">Data not found!</td>
    </tr>
    {/foreach}
</table>
