<!-- include javascript -->
{include file="mutu/insiden/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Mutu</a><span></span>
        <a href="{$config->site_url('mutu/insiden/cari')}">Laporan Insiden</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('mutu/insiden/add_process')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />

        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="2">Add Identitas Pasien</th>
            </tr>
            <tr>
                <td>NAMA</td>
                <td>
                    {$rs_pasien.fs_nm_pasien}
                </td>
            </tr>
            <tr>
                <td>NO MR</td>
                <td>
                    {$rs_pasien.fs_mr}
                </td>
            </tr>
            <tr>
                <td>TANGGAL LAHIR</td>
                <td>
                    {$rs_pasien.FD_TGL_LAHIR|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>ALAMAT</td>
                <td>{$rs_pasien.FS_ALM_PASIEN}</td>
            </tr>
        </table>
        <table class="table-input" width="100%">
            <tr>
                <th colspan="2">LAPORAN INSIDEN KESELAMATAN PASIEN</th>
            </tr>
            <tr>
                <td>Tanggal Insiden</td>
                <td>
                    <input name="FD_TGL_KEJADIAN" type="text" size="10" maxlength="10" class="tanggal" readonly="readonly" style="text-align: center;" />
                </td>
            </tr>
            <tr>
                <td>Insiden</td>
                <td>
                    <input type="text" name="FS_KASUS" size="50">
                    <em>*wajib diisi</em>
                </td>
            </tr>
            <tr>
                <td>
                    Grade Risiko
                </td>
                <td>
                    <select name="FS_KD_GRADE_RISIKO" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1">Biru</option>
                        <option value="2">Hijau</option>
                        <option value="3">Kuning</option>
                        <option value="4">Merah</option>
                    </select>
                     <em>*wajib diisi</em>
                </td>
            </tr>
            <tr>
                <td>Kronologis Kejadian</td>
                <td> 
                    <textarea name="FS_KRONOLOGIS" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Jenis Insiden
                <td>
                    <select name="FS_IKP" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1">KNC</option>
                        <option value="2">KTD</option>
                        <option value="3">Sentinel</option>
                        <option value="4">KTC</option>
                        <option value="5">KPC</option>
                    </select>
                     <em>*wajib diisi</em>
                </td>
            </tr>
             <tr>
                <td>
                    Pemberi Laporan
                </td>
                <td>
                    <select name="FS_PEMBERI_LAPORAN" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1">Karyawan : Dokter/Perawat/Petugas Lainnya</option>
                        <option value="2">Pasien</option>
                        <option value="3">Keluarga / Pendamping Pasien</option>
                        <option value="4">Pengunjung</option>
                        <option value="5">Lainnya</option>
                    </select>
                     
                </td>
            </tr>
            <tr>
                <td>
                    Lokasi Kejadian
                </td>
                <td>
                    <select name="FS_KD_LAYANAN" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        {foreach from=$rs_unit item=data2}
                        <option value="{$data2.FS_KD_LAYANAN}">{$data2.FS_NM_LAYANAN}</option>
                        {/foreach}
                    </select>
                     <em>*wajib diisi</em>
                </td>
            </tr>
           <tr>
                <td>
                    Insiden Terjadi Pada
                </td>
                <td>
                    <select name="FS_KD_SMF" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        {foreach from=$rs_smf item=data2}
                        <option value="{$data2.FS_KD_SMF}">{$data2.FS_NM_SMF}</option>
                        {/foreach}
                    </select>
                     <em>*wajib diisi</em>
                </td>
            </tr>
            <tr>
                <td>
                    Unit Kerja Penyebab
                </td>
                <td>
                    <select name="FS_KD_LAYANAN_PENYEBAB" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        {foreach from=$rs_unit item=data2}
                        <option value="{$data2.FS_KD_LAYANAN}">{$data2.FS_NM_LAYANAN}</option>
                        {/foreach}
                    </select>
                     <em>*wajib diisi</em>
                </td>
            </tr>
            <tr>
                <td>
                    Dampak pada pasien
                </td>
                <td>
                    <select name="FS_KD_DAMPAK_PASIEN" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        <option value="1">Kematian</option>
                        <option value="2">Cedera Berat</option>
                        <option value="3">Cedera Sedang</option>
                        <option value="4">Cedera Ringan</option>
                        <option value="5">Tidak Ada Cedera</option>
                    </select>
                     <em>*wajib diisi</em>
                </td>
            </tr>
            <!--<tr>
                <td>
                    Sasaran Keselamatan Pasien
                <td>
                    <select name="FS_KD_SASARAN" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        {foreach from=$rs_sasaran item=data3}
                        <option value="{$data3.FS_KD_SASARAN}">{$data3.FS_NM_SASARAN}</option>
                        {/foreach}
                    </select>
                     <em>*wajib diisi</em>
                </td>
            </tr>-->
            
            
            <tr>
                <td>Tindakan Yang Telah Dilakukan</td>
                <td>
                    <textarea name="FS_TINDAKAN" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <tr>
                <td>Tindakan Dilakukan Oleh</td>
                <td>
                    <textarea name="FS_TINDAKAN_OLEH" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <tr>
                <td>Insiden serupa pernah terjadi</td>
                <td>
                    <textarea name="FS_INSIDEN_SERUPA" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <tr>
                <td>Analisa RCA</td>
                <td>
                    <textarea name="FS_ANALISA_RCA" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <!--<tr>
                <td>Mengapa 1</td>
                <td>
                    <textarea name="FS_PENYEBAB_LANGSUNG" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <tr>
                <td>Mengapa 2</td>
                <td>
                    <textarea name="FS_PENYEBAB_LATAR_BELAKANG" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <tr>
                <td>Mengapa 3</td>
                <td>
                    <textarea name="FS_MENGAPA3" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <tr>
                <td>Mengapa 4</td>
                <td>
                    <textarea name="FS_MENGAPA4" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <tr>
                <td>Mengapa 5</td>
                <td>
                    <textarea name="FS_MENGAPA5" rows="3" cols="36"></textarea>
                </td>
            </tr>
            <tr>
                <td>Rekomendasi dan Rencana Tindak Lanjut</td>
                <td>
                    <textarea name="FS_REKOMENDASI" rows="3" cols="36"></textarea>
                </td>
            </tr>
            
            <tr>
                <td>Tanggal Mulai Investigasi</td>
                <td>
                    <input name="FD_TGL_MULAI" type="text" size="10" maxlength="10" class="tanggal" readonly="readonly" style="text-align: center;" />
                </td>
            </tr>
            <tr>
                <td>Tanggal Selesai Investigasi</td>
                <td>
                    <input name="FD_TGL_SELESAI" type="text" size="10" maxlength="10" class="tanggal" readonly="readonly" style="text-align: center;" />
                </td>
            </tr>
             <tr>
                <td>
                    Penanggung Jawab
                </td>
                <td>
                    <select name="FS_KD_PEG" id="surat_dari" class="select2" style="width: 300px;">
                        <option value=""></option>
                        {foreach from=$rs_peg item=data}
                        <option value="{$data.FS_KD_PEG}">{$data.FS_NM_PEG}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>-->
            <tr class="submit-box">
                <td colspan="2">
                    <input type="submit" name="save" value="Simpan" class="edit-button"/>
                </td>
            </tr>
        </table>
    </form>
</div>