<!-- include javascript -->
{include file="mutu/insiden/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Mutu</a><span></span>
        <a href="{$config->site_url('mutu/insiden/cari')}">Laporan Insiden</a><span></span>
        <small>Rekap Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="head-content">
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('mutu/insiden/')}" >Add Data</a></li>
            <li><a href="{$config->site_url('mutu/insiden/rekap')}" class="active">Rekap Data</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <div class="search-box">
        <h3><a href="#">Search</a></h3>
        <form action="{$config->site_url('mutu/insiden/rekap_cari_process')}" method="post">
            <table class="table-search" width="100%">
                <tr>
                    <th aligh="left">Periode</th>
                    <td width="25%" >
                        <input name="periode1" value="{$search.periode1}" type="text" size="10" maxlength="10" class="tanggal" readonly="readonly" style="text-align: center;" />
                        s/d
                        <input name="periode2" value="{$search.periode2}" type="text" size="10" maxlength="10" class="tanggal" readonly="readonly" style="text-align: center;" />
                    
                    <td width="75%">
                        <input name="save" type="submit" value="Tampilkan" />
                        <input name="save" type="submit" value="Reset" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    
</div>

<div class="dashboard-container">
    <table class="table-view" width="100%" border="0">
        <thead>
            <tr>
                <th>No MR</th>
                <th>Nama Pasien</th>
                <th>Tanggal Kejadian</th>
                <th>Kasus</th>
                <th>Tim investigasi</th>
                <th>Kejadian</th>
                <th>Jenis Insiden</th>
                <th>Petugas Entry</th>
                <th width='5%'>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$rs_result item=data}
            
            <tr>
                <td>{$data.FS_MR}</td>
                <td>{$data.FS_NM_PASIEN}</td>
                <td>{$data.FD_TGL_KEJADIAN|date_format:"%d %b %Y"}</td>
                <td>{$data.FS_KASUS}</td>
                <td>{$data.FS_NM_PEG}</td> 
                
                <td>
                    {if $data.FS_IKP eq '1'}
                KNC
                {elseif $data.FS_IKP eq '2'}
                KTD
                {elseif $data.FS_IKP eq '3'}
                SENTINEL
                {elseif $data.FS_IKP eq '4'}
                KTC
                {elseif $data.FS_IKP eq '5'}
                KPC
                {/if}
                </td> 
                <td>
                    {$data.FS_NM_SASARAN}
                </td>
                <td>
                    {$data.FS_NM_PEG2}
                </td>
                <td align="center">
                <a href="{$config->site_url('mutu/insiden/cetak/'|cat:$data.FS_KD_LAP_INVESTIGASI|default:'')}" class="button-download" target="_blank">Print</a>
                
            </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>
