{include file="surat/kelengkapan_mr/add_script_js.html"}
<div class="breadcrumb">
    <ul>
        <li><a href="#">Data Arsip</a></li>
        <li><a href="{$config->site_url('surat/kelengkapan_mr/cari')}">Kelengkapan MR</a></li>
        <li class="active"><a href="#">Edit Data</a></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
<form action="{$config->site_url('surat/kelengkapan_mr/edit_diagnosis_process')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_diag_sek.FS_KD_REG}" />
        <input name="FS_KD_DIAG_SEK" type="hidden" value="{$rs_diag_sek.FS_KD_DIAG_SEK}" />
        <table class="table-input" width="100%">
            <tr>
                <th colspan="2">Edit Data</th>
            </tr>
            <tr>
                <td width="25%">ICD 10</td>
                <td width="75%">
                    <input type="text" name="ICD10" size="20" id="FS_KD_ICD" value="{$rs_diag_sek.ICD10}">
                    <button type="button" id="btn-search">Cari</button> <span id="loading">LOADING...</span>
                </td>
            </tr>
            <tr>
                <td>Diagnosis Sekunder</td>
                <td>
                    <input type="text" name="FS_NM_DIAG_SEK" size="40" id="FS_KET_ICD" value="{$rs_diag_sek.FS_NM_DIAG_SEK}" readonly="">
                </td>
            </tr>
            <tr class="submit-box">
                <td colspan="2">
                    <input type="submit" name="save" value="Edit" class="btn-blue" >
                </td>
            </tr>
        </table>
    </form>
</div>