<!-- include javascript -->
{include file="rm/kelengkapan_mr/add_script_js.html"}
<!-- end of include javascript-->
<div class="breadcrum">
    <p>
        <a href="#">Rekam Medis</a><span></span>
        <a href="{$config->site_url('rm/kelengkapan_mr_nurse/')}">Kelengkapan MR</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('rm/kelengkapan_mr_nurse/edit_process')}" method="post">
        <input name="FS_KD_REG" type="hidden" value="{$rs_pasien.fs_kd_reg}" />
        <input name="FS_KD_KELENGKAPAN_MR" type="hidden" value="{$rs_pasien.FS_KD_KELENGKAPAN_MR}" />
        
        <table class="table-info" width="100%">
            <tr class="headrow">
                <th colspan="4">Add Kelengkapan MR</th>
            </tr>
            <tr>
                <td>NAMA / NO RM</td>
                <td colspan="3">
                    {$rs_pasien.fs_nm_pasien} / {$rs_pasien.fs_mr}
                </td>
            </tr>
            <!--<tr>
                <td width='25%'>MR</td>
                <td width='75%' colspan="3">
                    <input name="FS_KD_REG" type="text" size="50" maxlength="10" value="{$result.FD_TGL_MAIN|default:''}" />
                    <em>* wajib diisi</em>
                </td>
            </tr>-->
            <tr>
                <td>RUANG / KELAS</td>
                <td colspan="3">
                    {$rs_pasien.fs_nm_layanan}
                </td>
            </tr>
            <tr>
                <td>TANGGAL MASUK</td>
                <td colspan="3">
                     {$rs_pasien.fd_tgl_masuk|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>TANGGAL KELUAR</td>
                <td colspan="3">
                    {$rs_pasien.fd_tgl_keluar|date_format:"%d %b %Y"}
                </td>
            </tr>
            <tr>
                <td>DPJP</td>
                <td colspan="3">{$rs_pasien.fs_nm_medis}</td>
            </tr>
            <!--<tr>
                <td>RUANG / KELAS</td>
                <td colspan="3">{$rs_pasien.fs_nm_layanan}</td>
            </tr>
            <tr>
                <td>TANGGAL MASUK</td>
                <td colspan="3">{$rs_pasien.fd_tgl_masuk}</td>
            </tr>-->
        </table>
        <table class="table-input" width="100%">
            <tr>
                <th colspan="4">KELENGKAPAN BERKAS</th>
            </tr>
           <!-- <tr>
                <td>Diagnosis Utama</td>
                <td>
                    {if $FS_RG eq $rs_resume.FS_KD_REG}
                    <input type="text" name="FS_DIAG_UTAMA" size="50" value="{$rs_resume.FS_DIAG_UTAMA}"/>
                    {else}
                    <input type="text" name="FS_DIAG_UTAMA" size="50"/>
                    {/if}
                    <input type="text" name="FS_ICD_DIAG_UTAMA" size="15" value="{$rs_resume.FS_ICD_DIAG_UTAMA}"/>
                </td>
            </tr>
            <tr>
                <td>DOKTER IGD</td>
                <td>
                    <select name="FS_KD_MEDIS_IGD" id="surat_dari" class="select2" style="width: 250px;">
                        {foreach from=$rs_medis item=data}
                        <option value="{$data.FS_KD_PEG}" {if $rs_pasien.FS_KD_MEDIS_IGD eq $data.FS_KD_PEG}selected="selected"{/if}>{$data.FS_NM_PEG}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>-->
            {foreach from=$rs_param_mr item=data}
            <!--{assign var=rs_id value=$m_kelengkapan_mr_nurse->get_param_mr_by_id(array($rs_pasien.fs_kd_reg,$data.FS_KD_PARAMETER_MR))}-->
            <input type="hidden" name="FS_KD_PARAMETER_MR[]" value="{$data.FS_KD_PARAMETER_MR}">

            <tr>
                <td>{$data.FS_NM_PARAMETER_MR}</td>
                <td>
                    <select name="FS_HASIL[]" id="surat_dari" class="select2" style="width: 100px;">
                        <option value="">-</option>
                        <option value="1" {if $rs_id.FS_HASIL eq '1'} selected="selected"{/if}>YA</option>
                        <option value="2" {if $rs_id.FS_HASIL eq '2'} selected="selected"{/if}>TIDAK</option>
                        <option value="0" {if $rs_id.FS_HASIL eq '0'} selected="selected"{/if}>TDD</option>
                    </select>
                </td>
            </tr>
            {/foreach}
             <!--{if $data.FS_KD_PARAMETER_MR eq '9'}
           <tr>
               <td>PETUGAS</td>
            <td>
                <select name="FS_KD_PEG_MR" id="surat_dari" class="select2" style="width: 250px;">
                        <option value="">-PILIH PETUGAS-</option>
                        {foreach from=$rs_peg_mr item=data4}
                        <option value="{$data4.FS_KD_PEG}" {if $rs_pasien.FS_KD_PEG_MR eq $data4.FS_KD_PEG}selected="selected"{/if}>{$data4.FS_NM_PEG}</option>
                        {/foreach}
                    </select>
            </td>
           </tr>
            {/if}
            
             <tr>
                <td>Tanggal Operasi</td>
                <td>
                    <input name="FD_TGL_KEJADIAN" type="text" size="10" maxlength="10" value="{$rs_id2.FD_TGL_KEJADIAN}" class="tanggal" readonly="readonly" style="text-align: center;" />
                    <em>* wajib diisi</em>
                </td>
            </tr>
            <tr>
                <td>DOKTER OPERASI</td>
                <td>
                    <select name="FS_KD_MEDIS_OP" id="surat_dari" class="select2" style="width: 250px;">
                        {foreach from=$rs_medis item=data2}
                        <option value="{$data2.FS_KD_PEG}" {if $rs_pasien.FS_KD_MEDIS_OP eq $data2.FS_KD_PEG}selected="selected"{/if}>{$data2.FS_NM_PEG}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td>DOKTER ANESTESI</td>
                <td>
                    <select name="FS_KD_MEDIS_AN" id="surat_dari" class="select2" style="width: 250px;">
                        {foreach from=$rs_medis item=data3}
                        <option value="{$data3.FS_KD_PEG}" {if $rs_pasien.FS_KD_MEDIS_AN eq $data3.FS_KD_PEG}selected="selected"{/if}>{$data3.FS_NM_PEG}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Diagnosis Pre Operasi</td>
                <td>
                    <input type="text" name="FS_DIAG_PRE" size="50" value="{$rs_id2.FS_DIAG_PRE}"/>
                </td>
            </tr>
            <tr>
                <td>Diagnosis Post Operasi</td>
                <td>
                     <input type="text" name="FS_DIAG_POST" size="50" value="{$rs_id2.FS_DIAG_POST}"/>
                </td>
            </tr>
             <tr>
               <td>Kelengkapan MR</td>
            <td>
                <select name="FS_STATUS_MR" id="surat_dari" class="select2" style="width: 250px;">
                        <option value="1" {if $rs_pasien.FS_STATUS_MR eq '1'}selected="selected"{/if}>TERBACA</option>
                        <option value="0" {if $rs_pasien.FS_STATUS_MR eq '0'}selected="selected"{/if}>TIDAK TERBACA</option>
                    </select>
            </td>
           </tr>
              <!--<tr>
                <th colspan="2">Alanisis Clinical Pathway</th>
            </tr>
            {foreach from=$rs_param_cp item=datacp}
            <input type="hidden" name="FS_KD_COM_PAR_CP[]" value="{$datacp.FS_KD_COM_PAR_CP}">

            <tr>
                <td>{$datacp.FS_NM_COM_PAR_CP}</td>
                <td>
                    <select name="FS_HASIL_CP[]" id="surat_dari" class="select2" style="width: 100px;">
                        <option value="">-</option>
                        <option value="1">YA</option>
                        <option value="2">TIDAK</option>
                        <option value="0">TDD</option>
                    </select>
                    <input type="text" name="FS_KET_HASIL_CP[]" size="50"/>
                </td>
            </tr>
            {/foreach}-->
            <tr class="submit-box">
                <td colspan="4">
                    <input type="submit" name="save" value="Simpan" class="btn-blue" />
                </td>
            </tr>
        </table>
    </form>
</div>