<!-- include javascript -->
{include file="surat/undangan/add_script_js.html"}
{include file="surat/maintenance/add_foto_js.html"}
<!-- end of include javascript-->
<div class="breadcrumb">
    <ul>
        <li><a href="#">Data Arsip</a></li>
        <li><a href="{$config->site_url('surat/kelengkapan_mr/cari')}">Kelengkapan MR</a></li>
        <li class="active"><a href="#">Add Data</a></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="content-entry">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <form action="{$config->site_url('surat/kelengkapan_mr/cari_process')}" method="post">
        <!--<input name="masuk_id" type="hidden" value="{$result.masuk_id|default:''}" />-->
        <table class="table-input" width="100%">
            <tr class="headrow">
                <th colspan="4">Add Kelengkapan MR</th>
            </tr>
            <tr>
                <td>NO MR</td>
                <td colspan="3">
                     <input type="text" size="15" name="FS_MR">
                    <em>* wajib diisi</em>
                </td>
            </tr>
            </tr>
            <tr class="submit-box">
                <td colspan="4">
                    <input type="submit" name="save" value="Simpan" class="btn-blue" />
                </td>
            </tr>
        </table>
    </form>
</div>