 
<div class="breadcrum">
    <p>
        <a href="#">Pemeriksaan Dokter</a><span></span>
         <a href="{$config->site_url('medis/rawat_jalan/')}">Rawat Jalan</a><span></span>
        <small>Add Surat Keterangan Sakit</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('medis/rawat_jalan/history/'|cat:$result.NO_MR)}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />  Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('medis/surat_sakit/simpan_suratsakit')}" method="post">
    <!-- <input type="hidden" name="FS_KD_TRS" value="{$result.FS_KD_TRS}" /> -->
    <input type="hidden" name="FS_KD_REG" value="{$result.NO_REG}" />
    <table class="table-info" width="100%">
        <tr class="headrow">
            <th colspan="4">Data Pasien</th>
        </tr>
         <tr>
            <td width='15%'>Kode Reg</td>
            <td width='35%'>{$result.NO_REG}</td></tr>
        <tr>
            <td width='15%'>No RM</td>
            <td width='35%'>{$result.NO_MR}</td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>{$result.NAMA_PASIEN|default:''}</td></tr>
        <tr>    <td>Alamat</td>
            <td>{$result.ALAMAT|default:''}</td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td>{$result.TGL_LAHIR|default:''}</td></tr>
         <tr>    <td>Jenis Kelamin</td>
            <td>
                {if $result.JENIS_KELAMIN eq 'P'}
                Perempuan
                {else}
                Laki-Laki
                {/if}
            </td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
    </table>
    <br> 
    <center> 
    <table class="table-input" width="80%">
        <tr class="headrow">
            <th colspan="4">Form Surat Keterangan Sakit</th>
        </tr>
        <tr><td> </td></tr>
        <tr>
            <td>
                 Sekolah 
            </td>
            <td > <input type="text" value="-" name="sekolah" style="width: 400px;">
            </td>
        </tr>
        <tr>
            <td>
               Pekerjaan
            </td>
            <td > <input type="text" value="-" name="pekerjaan" style="width: 400px;">
            </td>
        </tr>
        <tr>
            <td>
               Tanggal Mulai Sakit
            </td>
            <td > <input type="date" name="tglmulai"  value="{$now}" style="width: 400px;">
            </td>
        </tr>
        <tr>
            <td>
               Jumlah Hari
            </td>
            <td > <input type="text" name="jumlahhari" onkeypress="return angka(event);" style="width: 400px;">
            </td>
        </tr>
        <tr><td> </td></tr>
      
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="edit-button" /> 
            </td>
        </tr>
    </table>
    </center>
</form>

<script type="text/javascript">
  function angka(evt){
    var charCode=(evt.which)?evt.which:event.keyCode
    if(charCode>31 && (charCode<48||charCode>57))
      return false;
    return true;
  }
</script> 